SSTCoreV2/Workflows/PAAPPCalculationCreateCalculationfromGAEB-FileImpo-F9BE5BB7-8EA6-EF11-B8E9-000D3ADF95E4.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationSharePoint"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EnvVar | PQC | GAEB API Subscription Key (hso_EnvVarPQCGAEBAPISubscriptionKey)": {
          "defaultValue": "6fb770454e4547aebeec9c97e006904e",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarPQCGAEBAPISubscriptionKey",
            "description": "The Subscription Key for the Azure API to process GAEB Import / Export "
          }
        },
        "EnvVar | PQC | GAEB API Import Endpoint (hso_EnvVarPQCGAEBAPIImportEndpoint)": {
          "defaultValue": "https://dev-schulz-integrationapi.azure-api.net/i810-gaeb/gaeb-import",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarPQCGAEBAPIImportEndpoint",
            "description": "The API Endpoint called when importing a GAEB-File"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d400eec7-fac4-4fab-b5ac-20b0e04f6c6a"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "title": "File Content",
                  "type": "object",
                  "x-ms-dynamically-added": true,
                  "description": "The GAEB file that has been uploaded",
                  "x-ms-content-hint": "FILE",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "contentBytes": {
                      "type": "string",
                      "format": "byte"
                    }
                  }
                },
                "text": {
                  "title": "Calculation",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The GUID of the created Calculation",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "description": "The GUID of the User that initiated the operation",
                  "title": "User",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_varLog": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1247b7ac-73a8-42e3-85fb-b4aca47aa84a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLog",
                "type": "string",
                "value": "[INF] - [@{utcNow()}] - Initializing Flow Run. @{decodeUriComponent('%0A')}"
              }
            ]
          }
        },
        "Processing_Log": {
          "actions": {
            "Create_Processing_Log": {
              "runAfter": {
                "Convert_time_zone": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9ebbbacb-26b7-4141-90d5-c2d219b550d9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "GAEB-Angebotsaufforderung importieren - @{body('Convert_time_zone')}",
                  "item/hso_processingtask": 100000017,
                  "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['text_1']})",
                  "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])\n",
                  "item/hso_calculationid@odata.bind": "hso_calculations(@{triggerBody()?['text']})",
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_processingstatus": 100000001
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Convert_time_zone": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c2f001a2-f7ba-41e8-8675-3a971e2ac227"
              },
              "type": "Expression",
              "kind": "ConvertTimeZone",
              "inputs": {
                "baseTime": "@{utcNow()}",
                "formatString": "u",
                "sourceTimeZone": "UTC",
                "destinationTimeZone": "W. Europe Standard Time"
              }
            }
          },
          "runAfter": {
            "Initialize_varSharePointDocumentRelativeURL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e3a36bc3-b683-431f-8dff-b82281c81353"
          },
          "type": "Scope"
        },
        "SharePoint_Document_Integration": {
          "actions": {
            "List_Document_Locations": {
              "runAfter": {
                "Get_default_sharepoint_site": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "33ed9007-a31d-44da-84aa-c6600fb1e2bb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "sharepointdocumentlocations",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"sharepointdocumentlocation\">\n    <attribute name=\"name\" />\n    <attribute name=\"regardingobjectid\" />\n    <attribute name=\"parentsiteorlocation\" />\n    <attribute name=\"relativeurl\" />\n    <attribute name=\"absoluteurl\" />\n    <order attribute=\"name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"locationtype\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"servicetype\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"regardingobjectid\" operator=\"eq\" uitype=\"hso_calculation\" value=\"{@{outputs('Get_Calculation')?['body/hso_calculationid']}}\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Document_Location_already_created": {
              "actions": {
                "Append_existing_SharePoint_Document_Location_to_Log": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4ace8d31-303f-489b-bb34-d466058d9c8c"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - SharePoint Document Location found. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "List_Document_Locations": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Append_create_SharePoint_Document_Location_to_varLog": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "45d08227-baa7-4904-b4f6-4b977bb693b1"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{utcNow()}] - Create SharePoint Document Location for new Calculation. @{decodeUriComponent('%0A')}"
                    }
                  },
                  "Append_created_SharePoint_Document_Location_to_varLog": {
                    "runAfter": {
                      "Create_SharePoint_Folder_in_Document_Library": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "2febc37b-fa61-4275-a679-b6e5a39b06e1"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{utcNow()}] - SharePoint Document Location created. @{decodeUriComponent('%0A')}"
                    }
                  },
                  "Get_Calculation_Document_Location": {
                    "runAfter": {
                      "Append_create_SharePoint_Document_Location_to_varLog": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "38cc5596-b124-4cf3-8f86-bf2b2c84cdab"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "sharepointdocumentlocations",
                        "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"sharepointdocumentlocation\">\n    <attribute name=\"name\" />\n    <attribute name=\"regardingobjectid\" />\n    <attribute name=\"parentsiteorlocation\" />\n    <attribute name=\"relativeurl\" />\n    <attribute name=\"absoluteurl\" />\n    <order attribute=\"name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"locationtype\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"servicetype\" operator=\"eq\" value=\"0\" />\n<condition attribute=\"relativeurl\" operator=\"eq\" value=\"hso_calculation\" />\n    </filter>\n  </entity>\n</fetch>",
                        "$top": 1
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Create_Document_Location": {
                    "runAfter": {
                      "Get_Calculation_Document_Location": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f6f6f525-1900-4ef7-9081-e602ce2e231f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "sharepointdocumentlocations",
                        "item/name": "@replace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(\r\n                    replace(\r\n                        replace(\r\n                            replace(\r\n                                replace(\r\n                                    outputs('Get_Calculation')?['body/hso_name'],\r\n                                    '\"',\r\n                                    ''\r\n                                ),\r\n                                '#',\r\n                                ''\r\n                            ),\r\n                            '%',\r\n                            ''\r\n                        ),\r\n                        '&',\r\n                        ''\r\n                    ),\r\n                    '*',\r\n                    ''\r\n                ),\r\n                ':',\r\n                ''\r\n            ),\r\n            '?',\r\n            ''\r\n        ),\r\n        '/',\r\n        ''\r\n    ),\r\n    '\\',\r\n    ''\r\n)",
                        "item/servicetype": 0,
                        "item/description": "Generated via Power Automate",
                        "item/regardingobjectid_hso_calculation@odata.bind": "hso_calculations(@{outputs('Get_Calculation')?['body/hso_calculationid']})",
                        "item/locationtype": 0,
                        "item/relativeurl": "@variables('varSharePointDocumentRelativeURL')",
                        "item/parentsiteorlocation_sharepointdocumentlocation@odata.bind": "sharepointdocumentlocations(@{first(outputs('Get_Calculation_Document_Location')?['body/value'])?['sharepointdocumentlocationid']})"
                      },
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Create_SharePoint_Folder_in_Document_Library": {
                    "runAfter": {
                      "Create_Document_Location": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "b137b231-0e98-40bc-8601-9e1c243292d7"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sharepointonline",
                        "operationId": "CreateNewFolder",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                      },
                      "parameters": {
                        "dataset": "@first(outputs('Get_default_sharepoint_site')?['body/value'])?['absoluteurl']",
                        "table": "Kalkulationsversion",
                        "parameters/path": "@variables('varSharePointDocumentRelativeURL')"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(outputs('List_Document_Locations')?['body/value'])",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "fb303f9f-1d17-413a-8f77-2167b90d2dcb"
              },
              "type": "If"
            },
            "Append_SharePoint_Document_Location_Check_to_Log": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d5ac334c-10f3-47e5-8265-7bb944c79dbb"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - Remove special characters from Calculation Name: @{replace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(\r\n                    replace(\r\n                        replace(\r\n                            replace(\r\n                                replace(\r\n                                    outputs('Get_Calculation')?['body/hso_name'],\r\n                                    '\"',\r\n                                    ''\r\n                                ),\r\n                                '#',\r\n                                ''\r\n                            ),\r\n                            '%',\r\n                            ''\r\n                        ),\r\n                        '&',\r\n                        ''\r\n                    ),\r\n                    '*',\r\n                    ''\r\n                ),\r\n                ':',\r\n                ''\r\n            ),\r\n            '?',\r\n            ''\r\n        ),\r\n        '/',\r\n        ''\r\n    ),\r\n    '\\',\r\n    ''\r\n)}\n[INF] - [@{utcNow()}] - Check SharePoint Document Location. @{decodeUriComponent('%0A')}"
              }
            },
            "Append_Add_File_to_Log": {
              "runAfter": {
                "Document_Location_already_created": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8e4152b3-6021-4661-84b2-28294767bbe6"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - Add GAEB-File to Calculation specific folder. @{decodeUriComponent('%0A')}"
              }
            },
            "Append_added_File_to_Log": {
              "runAfter": {
                "Add_File_to_SharePoint_Folder_in_Document_Library": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b0ce423d-4078-4ee9-a742-c2ff1589439c"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - GAEB-File added to Calculation specific folder. @{decodeUriComponent('%0A')}"
              }
            },
            "Add_File_to_SharePoint_Folder_in_Document_Library": {
              "runAfter": {
                "Append_Add_File_to_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d16a892d-b0bd-4c65-9b49-8fb8ed4f8751"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@first(outputs('Get_default_sharepoint_site')?['body/value'])?['absoluteurl']",
                  "folderPath": "hso_calculation/@{variables('varSharePointDocumentRelativeURL')}",
                  "name": "@triggerBody()?['file']?['name']",
                  "body": "@triggerBody()?['file']?['contentBytes']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Get_default_sharepoint_site": {
              "runAfter": {
                "Append_SharePoint_Document_Location_Check_to_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d2b1140e-6f43-48ce-abf5-9980a7e2acde"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "sharepointsites",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" no-lock=\"false\">\n<entity name=\"sharepointsite\">\n<attribute name=\"absoluteurl\"/>\n<attribute name=\"name\"/>\n<attribute name=\"sharepointsiteid\"/>\n<filter type=\"and\">\n<condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\n<condition attribute=\"servicetype\" operator=\"eq\" value=\"0\"/>\n<condition attribute=\"isdefault\" operator=\"eq\" value=\"1\"/>\n</filter>\n</entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_varSharePointDocumentRelativeURL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "80eea317-8235-4bf4-b507-bf9324f0009c"
          },
          "type": "Scope"
        },
        "Get_Calculation": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a857088e-a077-4497-b8d0-adef6db6cd96"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "hso_calculations",
              "recordId": "@triggerBody()['text']",
              "$select": "hso_name,hso_calculationid,_ownerid_value,hso_origincalculationid"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_varSharePointDocumentRelativeURL": {
          "runAfter": {
            "Update_Calculation_(Origin_ID)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bcbb21ec-f902-44ae-86bd-654121955a66"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varSharePointDocumentRelativeURL",
                "type": "string",
                "value": "@{replace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(\r\n                    replace(\r\n                        replace(\r\n                            replace(\r\n                                replace(\r\n                                    outputs('Get_Calculation')?['body/hso_name'],\r\n                                    '\"',\r\n                                    ''\r\n                                ),\r\n                                '#',\r\n                                ''\r\n                            ),\r\n                            '%',\r\n                            ''\r\n                        ),\r\n                        '&',\r\n                        ''\r\n                    ),\r\n                    '*',\r\n                    ''\r\n                ),\r\n                ':',\r\n                ''\r\n            ),\r\n            '?',\r\n            ''\r\n        ),\r\n        '/',\r\n        ''\r\n    ),\r\n    '\\',\r\n    ''\r\n)}_@{toUpper(outputs('Get_Calculation')?['body/hso_calculationid'])}"
              }
            ]
          }
        },
        "Call_Azure_Function": {
          "actions": {
            "Call_GAEB_API_Endpoint_to_process_Import": {
              "runAfter": {
                "Append_API_Endpoint_to_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2a82fd12-a308-4d6d-ae7b-239e0592b4fe"
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@parameters('EnvVar | PQC | GAEB API Import Endpoint (hso_EnvVarPQCGAEBAPIImportEndpoint)')",
                "headers": {
                  "Ocp-Apim-Subscription-Key": "@{parameters('EnvVar | PQC | GAEB API Subscription Key (hso_EnvVarPQCGAEBAPISubscriptionKey)')}"
                },
                "body": {
                  "DataverseCalculationId": "@{outputs('Get_Calculation')?['body/hso_calculationid']}",
                  "SharePointFilePath": "@{outputs('Add_File_to_SharePoint_Folder_in_Document_Library')?['body/Path']}",
                  "DataverseProcessingLogId": "@{outputs('Create_Processing_Log')?['body/hso_processinglogid']}",
                  "ProcessingLogString": "@{variables('varLog')}"
                },
                "retryPolicy": {
                  "type": "none"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Append_API_Endpoint_to_Log": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d2ba96c7-84ff-4b07-9693-eebd39c3a1cf"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - Call API Endpoint to process GAEB-Import. @{decodeUriComponent('%0A')}"
              }
            },
            "Status_code_received": {
              "actions": {
                "Switch_on_GAEB_API_Endpoint_Status_code": {
                  "runAfter": {},
                  "cases": {
                    "Success": {
                      "case": 200,
                      "actions": {
                        "Respond_to_Power_App_with_Success": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "5ae8b345-7f20-4df3-b3a2-8c2be8b1e2bd"
                          },
                          "type": "Response",
                          "kind": "PowerApp",
                          "inputs": {
                            "statusCode": 200,
                            "body": {
                              "result": "Success"
                            },
                            "schema": {
                              "type": "object",
                              "properties": {
                                "result": {
                                  "title": "Result",
                                  "x-ms-dynamically-added": true,
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "Failure": {
                      "case": 400,
                      "actions": {
                        "Respond_to_Power_App_with_Failure": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "5ae8b345-7f20-4df3-b3a2-8c2be8b1e2bd"
                          },
                          "type": "Response",
                          "kind": "PowerApp",
                          "inputs": {
                            "statusCode": 200,
                            "body": {
                              "result": "Error"
                            },
                            "schema": {
                              "type": "object",
                              "properties": {
                                "result": {
                                  "title": "Result",
                                  "x-ms-dynamically-added": true,
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "Get_Processing_Log": {
                          "runAfter": {
                            "Respond_to_Power_App_with_Failure": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2f3c8221-cd39-4080-8053-c826d0c55720"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "hso_processinglogs",
                              "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                              "$select": "hso_processingstatus"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Processing_Log_is_set_to_failed": {
                          "actions": {},
                          "runAfter": {
                            "Get_Processing_Log": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Update_Processing_Log_with_Failure": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "aff4ceb4-bc1c-437e-88bb-055fcb4b55a7"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "entityName": "hso_processinglogs",
                                    "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                                    "item/hso_end_datetime": "@utcNow()",
                                    "item/hso_log": "@body('Call_GAEB_API_Endpoint_to_process_Import')?['LogString']",
                                    "item/hso_processingstatus": 100000003
                                  },
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_2",
                                    "operationId": "UpdateOnlyRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@outputs('Get_Processing_Log')?['body/hso_processingstatus']",
                                  100000003
                                ]
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "cf030c4d-fae6-4a46-b96f-f3511f7b22b2"
                          },
                          "type": "If"
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {
                      "GAEB_API_Endpoint_Status_code": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "457af4d3-3da0-406d-a388-8a2d0b3a8103"
                        },
                        "type": "Compose",
                        "inputs": "@outputs('Call_GAEB_API_Endpoint_to_process_Import')?['statusCode']"
                      },
                      "Respond_to_Power_App_with_Error": {
                        "runAfter": {
                          "GAEB_API_Endpoint_Status_code": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "5ae8b345-7f20-4df3-b3a2-8c2be8b1e2bd"
                        },
                        "type": "Response",
                        "kind": "PowerApp",
                        "inputs": {
                          "statusCode": 200,
                          "body": {
                            "result": "Error"
                          },
                          "schema": {
                            "type": "object",
                            "properties": {
                              "result": {
                                "title": "Result",
                                "x-ms-dynamically-added": true,
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "expression": "@outputs('Call_GAEB_API_Endpoint_to_process_Import')?['statusCode']",
                  "metadata": {
                    "operationMetadataId": "9f0d4b19-ecfe-4ae7-8c66-6bef3484700a"
                  },
                  "type": "Switch"
                }
              },
              "runAfter": {
                "Call_GAEB_API_Endpoint_to_process_Import": [
                  "Succeeded",
                  "TimedOut",
                  "Failed"
                ]
              },
              "else": {
                "actions": {
                  "Respond_to_Power_App_with_Timeout": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "5ae8b345-7f20-4df3-b3a2-8c2be8b1e2bd"
                    },
                    "type": "Response",
                    "kind": "PowerApp",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "result": "Timeout"
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "title": "Result",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@outputs('Call_GAEB_API_Endpoint_to_process_Import')?['statusCode']",
                        "@null"
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "1e0f5952-b62d-4cf3-855e-460732e13a15"
              },
              "type": "If"
            },
            "Body_of_GAEB_API_Endpoint": {
              "runAfter": {
                "Call_GAEB_API_Endpoint_to_process_Import": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "93e5d816-bc09-4e93-811e-65bad3b32093"
              },
              "type": "Compose",
              "inputs": "@body('Call_GAEB_API_Endpoint_to_process_Import')"
            },
            "Status_code_of_GAEB_API_Endpoint": {
              "runAfter": {
                "Call_GAEB_API_Endpoint_to_process_Import": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "0f323fbb-885c-4fbb-97a3-2e06fd47f7c7"
              },
              "type": "Compose",
              "inputs": "@outputs('Call_GAEB_API_Endpoint_to_process_Import')?['statusCode']"
            }
          },
          "runAfter": {
            "Processing_Log": [
              "Succeeded"
            ],
            "SharePoint_Document_Integration": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "74755e09-9452-4eeb-91b9-dfe762672323"
          },
          "type": "Scope"
        },
        "Update_Calculation_(Origin_ID)": {
          "runAfter": {
            "Get_Calculation": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bf1f3414-e476-4239-9fe4-f9e7a4e2061b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "hso_calculations",
              "recordId": "@outputs('Get_Calculation')?['body/hso_calculationid']",
              "item/hso_origincalculationid": "@string(outputs('Get_Calculation')?['body/hso_calculationid'])"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}