SSTCoreV2/Workflows/PAAPPTemplatePositionCreatenewPositionsfromStaging-0FE626FE-C6F6-F011-8406-002248A2720A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse",
        "source": "Embedded",
        "impersonation": {},
        "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
        "displayName": "Microsoft Dataverse",
        "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1797/1.0.1797.4588/commondataserviceforapps/icon.png",
        "brandColor": "",
        "tier": "Premium",
        "apiName": "commondataserviceforapps",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      },
      "shared_webcontents": {
        "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
        "displayName": "HTTP with Microsoft Entra ID (preauthorized)",
        "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1784/1.0.1784.4488/WebContents/icon.png",
        "brandColor": "",
        "tier": "Premium",
        "apiName": "webcontents",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-d365-schulz-int-11.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance",
            "description": "The Dataverse Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "4fd90405-c2ec-43e2-9a40-209a4c767552"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Payload",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "A list of Positions to be created",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Operation Type",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "New Positions are either created as new, as copy or from import",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Template",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The GUID of the Template where the Positions are added to",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_varLog": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "192d5244-a286-4431-8856-3732364a6d4b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLog",
                "type": "string",
                "value": "[INF] - [@{utcNow()}] - Initializing Flow Run. @{decodeUriComponent('%0A')}"
              }
            ]
          }
        },
        "Summary": {
          "actions": {
            "Template_Positions_successfully_processed": {
              "actions": {
                "Finish_Log_with_Success": {
                  "metadata": {
                    "operationMetadataId": "3436ceef-cbc5-45f9-ae04-0576367009f0"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[SUC] - [@{utcNow()}] - Flow run was successful. New Positions have been added to the Template."
                  }
                },
                "Update_Processing_Log_[Success]": {
                  "runAfter": {
                    "Finish_Log_with_Success": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "358b42cf-0a79-4e18-a5f5-55c193f91ea6"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_processinglogs",
                      "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                      "item/hso_end_datetime": "@utcNow()",
                      "item/hso_log": "@variables('varLog')",
                      "item/hso_processingstatus": 100000002
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Apply_to_each_Error_Summary": {
                    "foreach": "@variables('varError')",
                    "actions": {
                      "Append_Error_Message": {
                        "metadata": {
                          "operationMetadataId": "0605fb0d-0105-4ac9-a2ce-ed107fc77c6e"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varErrorMessage",
                          "value": "[ERROR] - Creating Template Positions partially or completely failed. Check flow for details.@{decodeUriComponent('%0A')}"
                        },
                        "description": ""
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "a3233e6a-e7e7-4c4c-8382-63953d64ef66"
                    },
                    "type": "Foreach"
                  },
                  "Finish_Log_with_Error": {
                    "runAfter": {
                      "Apply_to_each_Error_Summary": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "10e25f92-d784-419a-996b-e2cff5be8b13"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{utcNow()}] - Flow run has failed. New Positions may have been partially added to Template. Check Log for further details."
                    }
                  },
                  "Update_Processing_Log_[Error]": {
                    "runAfter": {
                      "Finish_Log_with_Error": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "b9b9e1d7-bf76-46d8-ac9e-ccc3df50aacd"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                        "item/hso_end_datetime": "@utcNow()",
                        "item/hso_flowerror": "@variables('varErrorMessage')",
                        "item/hso_log": "@variables('varLog')",
                        "item/hso_processingstatus": 100000003
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "connectionName": "shared_commondataserviceforapps-1"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('varIsError')",
                      "@false"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "948042be-69f4-4305-9b57-b98e38cd0aa3"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Process_Payload_-_Error": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ],
            "Processing_Log": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ],
            "Respond_to_App": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "445baebe-53bb-4448-b6a5-4a134ef8c21a"
          },
          "type": "Scope"
        },
        "Initialize_varError": {
          "runAfter": {
            "Initialize_varIsError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d658df8a-96a2-45ac-93a0-069e3518d720"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varError",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varErrorMessage": {
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cb925f28-11cd-41aa-ae64-539a6ea4a08d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Parse_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "05e850a7-2370-47d6-8e82-f716207930f4"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['text']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "@@odata.type": {
                    "type": "string"
                  },
                  "hso_templateid@odata.bind": {
                    "type": "string"
                  },
                  "hso_templatedetailid": {
                    "type": "string"
                  },
                  "hso_templatedetail_parentid@odata.bind": {
                    "type": "string"
                  },
                  "hso_positionelementtype": {
                    "type": "integer"
                  },
                  "hso_name": {
                    "type": "string"
                  },
                  "hso_projecttype": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "hso_quantity": {
                    "type": [
                      "integer",
                      "number"
                    ]
                  },
                  "hso_positionquantity": {
                    "type": [
                      "integer",
                      "number"
                    ]
                  },
                  "hso_level": {
                    "type": "integer"
                  },
                  "hso_linenumber": {
                    "type": "string"
                  },
                  "hso_linenumber_level": {
                    "type": "string"
                  },
                  "hso_parent_linenumber_import": {
                    "type": "string"
                  },
                  "hso_calculationdetail_parentid_sortinglinenum": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_productid@odata.bind": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_projecthourid@odata.bind": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_productionhourid@odata.bind": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_externalserviceid@odata.bind": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_projectexpenseid@odata.bind": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_uomid@odata.bind": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "@@odata.type",
                  "hso_templateid@odata.bind",
                  "hso_templatedetailid",
                  "hso_positionelementtype",
                  "hso_name",
                  "hso_projecttype",
                  "hso_quantity",
                  "hso_level",
                  "hso_linenumber",
                  "hso_linenumber_level",
                  "hso_parent_linenumber_import",
                  "hso_calculationdetail_parentid_sortinglinenum"
                ]
              }
            }
          }
        },
        "Initialize_varNumberOfRecords": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4ddb7b11-59aa-478b-a348-f05038fe8152"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfRecords",
                "type": "integer",
                "value": "@length(body('Parse_JSON'))"
              }
            ]
          }
        },
        "Initialize_varBatchSettings": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "00b9bdda-d8bc-40a1-9dd2-3189b42115fb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varBatchSettings",
                "type": "object",
                "value": {
                  "maxBatchSize": 10,
                  "minBatchSize": 1,
                  "maxParallelism": 20,
                  "minParallelism": 1
                }
              }
            ]
          }
        },
        "Process_Payload": {
          "actions": {
            "Apply_to_each_Level_to_process": {
              "foreach": "@variables('varProcessingLevels')",
              "actions": {
                "Filter_Payload_by_Level": {
                  "metadata": {
                    "operationMetadataId": "ebf9bd6b-0810-4015-aed8-51b5603cf4bd"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_JSON')",
                    "where": "@equals(item()['hso_level'],items('Apply_to_each_Level_to_process'))"
                  }
                },
                "Calculate_Parallelism": {
                  "runAfter": {
                    "Filter_Payload_by_Level": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a87a9fa2-5226-4da0-bb9a-17bc7d3612d7"
                  },
                  "type": "Compose",
                  "inputs": "@min(\r\n  max(\r\n    div(\r\n      length(body('Filter_Payload_by_Level')),\r\n      variables('varBatchSettings')?['maxBatchSize']\r\n    ),\r\n    variables('varBatchSettings')?['minBatchSize']\r\n  ),\r\n  variables('varBatchSettings')?['maxParallelism']\r\n)"
                },
                "Calculate_Batch_Size": {
                  "runAfter": {
                    "Calculate_Parallelism": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7fe37bfb-5b0d-4d86-82e2-985a19d70791"
                  },
                  "type": "Compose",
                  "inputs": "@add(\r\n  div(\r\n    length(body('Filter_Payload_by_Level')), \r\n    outputs('Calculate_Parallelism')\r\n  ), \r\n  if(\r\n    greaterOrEquals(\r\n      mod(\r\n        length(body('Filter_Payload_by_Level')),\r\n        outputs('Calculate_Parallelism')\r\n      ),\r\n      1\r\n    ), \r\n    1, \r\n    0\r\n  )\r\n)\r\n"
                },
                "Split_Records_into_Chunks": {
                  "runAfter": {
                    "Calculate_Batch_Size": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "147dc21b-a3d7-435a-8bd6-f84afa4cf0ab"
                  },
                  "type": "Compose",
                  "inputs": "@chunk(\r\n  body('Filter_Payload_by_Level'),\r\n  outputs('Calculate_Batch_Size')\r\n)"
                },
                "Apply_to_each_Chunk": {
                  "foreach": "@outputs('Split_Records_into_Chunks')",
                  "actions": {
                    "Items_to_process": {
                      "metadata": {
                        "operationMetadataId": "e25413b0-0546-4da7-9a77-7e115cf0a932"
                      },
                      "type": "Compose",
                      "inputs": "@items('Apply_to_each_Chunk')"
                    },
                    "Create_Calculation_Positions_by_Level": {
                      "runAfter": {
                        "Items_to_process": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "570b4722-5acf-4432-99e5-a3eca3235b01"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "request/method": "POST",
                          "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_templatedetails/Microsoft.Dynamics.CRM.CreateMultiple",
                          "request/headers": {
                            "OData-MaxVersion": "4.0",
                            "OData-Version": "4.0",
                            "If-None-Match": "null",
                            "Accept": "application/json",
                            "Content-Type": "application/json; charset=utf-8",
                            "MSCRM.BypassCustomPluginExecution": "true",
                            "MSCRM.SuppressDuplicateDetection": "true",
                            "MSCRM.BypassBusinessLogicExecution": "CustomSync,CustomAsync",
                            "MSCRM.SuppressCallbackRegistrationExpanderJob": "true"
                          },
                          "request/body": "{\n \"Targets\": @{items('Apply_to_each_Chunk')}\n}"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                          "operationId": "InvokeHttp",
                          "connectionName": "shared_webcontents"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Append_Level_to_process_to_Log": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "72f05511-a72e-4991-84a4-2427106fa84e"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 20
                    }
                  }
                },
                "Append_Level_to_process_to_Log": {
                  "runAfter": {
                    "Split_Records_into_Chunks": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "09d1123b-3a74-4815-8655-35a80dd01d51"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - Process @{length(body('Filter_Payload_by_Level'))} Level-@{items('Apply_to_each_Level_to_process')} Items with @{outputs('Calculate_Parallelism')} Batch(es) (Batch Size: @{outputs('Calculate_Batch_Size')}). @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Append_Calculation_Positions_to_process_to_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f7466c94-03f6-4d2d-9437-58744f908722"
              },
              "type": "Foreach"
            },
            "Append_Calculation_Positions_to_process_to_Log": {
              "metadata": {
                "operationMetadataId": "70f2bdb4-bf2b-4b83-b0e5-383eba5dc16b"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - @{variables('varNumberOfRecords')} Template Positions to create. @{decodeUriComponent('%0A')}"
              }
            },
            "Append_processed_Calculation_Positions_to_Log": {
              "runAfter": {
                "Apply_to_each_Level_to_process": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "244c099b-3563-4d6d-9e66-a39f07c493db"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - @{variables('varNumberOfRecords')} Template Positions created. @{decodeUriComponent('%0A')}"
              }
            }
          },
          "runAfter": {
            "Initialize_varProcessingLevels": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7c71964b-f85e-4191-bdcd-1cc389ee5347"
          },
          "type": "Scope"
        },
        "Initialize_varIsError": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e3cfaa6-ab38-4740-905a-8df2af8e0c06"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varIsError",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Process_Payload_-_Error": {
          "actions": {
            "Filter_Results_for_failed_actions_[Process_Payload]": {
              "runAfter": {
                "Append_Process_Payload_Error_to_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0b1e65de-8fef-4206-82dd-ce532970b111"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Process_Payload')",
                "where": "@equals(item()?['status'],'Failed')"
              }
            },
            "Select_Error_Summary_[Process_Payload]": {
              "runAfter": {
                "Filter_Results_for_failed_actions_[Process_Payload]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d4d7f060-9cb6-4363-876c-5558340331fa"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_Results_for_failed_actions_[Process_Payload]')",
                "select": {
                  "Action": "@item()?['name']",
                  "Code": "@item()?['code']",
                  "Status": "@item()?['status']",
                  "StatusCode": "@item()?['outputs']?['statusCode']",
                  "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')"
                }
              }
            },
            "Apply_to_each_Error_Summary_[Process_Payload]": {
              "foreach": "@body('Select_Error_Summary_[Process_Payload]')",
              "actions": {
                "Append_Error_Summary_[Process_Payload]": {
                  "metadata": {
                    "operationMetadataId": "1f390043-4247-46cc-90e1-068299ecdd5c"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varError",
                    "value": "@items('Apply_to_each_Error_Summary_[Process_Payload]')"
                  }
                }
              },
              "runAfter": {
                "Select_Error_Summary_[Process_Payload]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "66077393-812a-431a-a205-3ca240e01290"
              },
              "type": "Foreach"
            },
            "Set_varIsError_when_processing_Payload_failed": {
              "metadata": {
                "operationMetadataId": "626a5b95-1124-47a5-a1ef-78dafb6fa381"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varIsError",
                "value": true
              }
            },
            "Append_Process_Payload_Error_to_Log": {
              "runAfter": {
                "Set_varIsError_when_processing_Payload_failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ed476aca-8039-48ff-98eb-3f237b79fe66"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[ERR] - [@{utcNow()}] - Error when creating Template Positions. @{decodeUriComponent('%0A')}"
              }
            },
            "Respond_to_App_[Error]": {
              "runAfter": {
                "Apply_to_each_Error_Summary_[Process_Payload]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce5af8a3-e40c-436f-9b1f-0bb7687963c6"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "title": "Result",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "errormessage": {
                      "title": "ErrorMessage",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "result": "Error",
                  "errormessage": "Error when creating Calculation Positions. "
                }
              }
            }
          },
          "runAfter": {
            "Process_Payload": [
              "TimedOut",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "7cae55b2-9972-4623-982a-610576d81a07"
          },
          "type": "Scope"
        },
        "Respond_to_App": {
          "actions": {
            "Respond_to_App_[Success]": {
              "metadata": {
                "operationMetadataId": "ce5af8a3-e40c-436f-9b1f-0bb7687963c6"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "title": "Result",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "errormessage": {
                      "title": "ErrorMessage",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "result": "Success"
                }
              }
            }
          },
          "runAfter": {
            "Process_Payload": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d1ae1da0-304b-48f1-a718-1dae32704c84"
          },
          "type": "Scope"
        },
        "Processing_Log": {
          "actions": {
            "Create_Processing_Log": {
              "metadata": {
                "operationMetadataId": "827bca12-afec-4504-b2b3-0765a28a4067"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "Neue Vorlagenpositionen (in Batch) erstellen - @{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')}",
                  "item/hso_processingtask": 100000030,
                  "item/hso_flowrunurl": "@concat(\r\n  'https://emea.flow.microsoft.com/manage/environments/', \r\n  workflow()?['tags']['environmentName'], \r\n  '/flows/', \r\n  workflow()?['name'], \r\n  '/runs/', \r\n  workflow()?['run']['name']\r\n)",
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_origin": 100000000,
                  "item/hso_processedrecords": "@variables('varNumberOfRecords')",
                  "item/hso_processingstatus": 100000001,
                  "item/hso_templateid@odata.bind": "hso_templates(@{triggerBody()?['text_2']})"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_varProcessingLevels": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e07e159-b3d6-48b8-a8df-8f1ae25ca89b"
          },
          "type": "Scope"
        },
        "Select_Level_from_Payload": {
          "runAfter": {
            "Initialize_varNumberOfRecords": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7bf815d8-9632-4a9a-9b44-295bacc8ba4b"
          },
          "type": "Select",
          "inputs": {
            "from": "@body('Parse_JSON')",
            "select": "@item()['hso_level']"
          }
        },
        "Initialize_varProcessingLevels": {
          "runAfter": {
            "Select_Level_from_Payload": [
              "Succeeded"
            ],
            "Initialize_varErrorMessage": [
              "Succeeded"
            ],
            "Initialize_varBatchSettings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f88ee5f7-73ee-4a20-ab66-f640ecab69fe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProcessingLevels",
                "type": "array",
                "value": "@sort(\r\n  union(\r\n    body('Select_Level_from_Payload'),\r\n    body('Select_Level_from_Payload')\r\n  )\r\n)\r\n"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}