SSTCoreV2/Workflows/PAAPPCalculationCreateTemplateforCalculationPositi-A658A25A-C2FB-ED11-8849-000D3A204410.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "b71c7578-b777-41b1-b326-8acd8f17652b"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "CalculationGUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "TemplateName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "NodeID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "UserGUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "TemplateDescription",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "CompanyGUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_6": {
                  "title": "DepartmentGUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4",
                "text_5",
                "text_6"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_varNumberOfCalculationPositions_ToProcess": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f8ed7f2f-dafb-4f65-a9ce-798db1fce67c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationPositions_ToProcess",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varNumberOfCalculationPositions_Processed": {
          "runAfter": {
            "Initialize_varNumberOfCalculationPositions_ToProcess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "81342c63-fe67-45e1-9355-6fd748584155"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationPositions_Processed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varCalculationDetails": {
          "runAfter": {
            "Initialize_varNumberOfCalculationPositions_Processed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a504e1e8-4f8e-45d3-aee5-036fe7b52c50"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varCalculationDetails",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varCalculationDetails_Staging": {
          "runAfter": {
            "Initialize_varCalculationDetails": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e86ef07-7290-4216-bf7d-c463267f92d9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varCalculationDetails_Staging",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varCalculationDetails_GUID_Staging": {
          "runAfter": {
            "Initialize_varCalculationDetails_Staging": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ee063c9a-8f96-47a9-94ae-5cde1d90206b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varCalculationDetails_GUID_Staging",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varNumberOfCalculationProjectProducts_ToProcess": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "93d56043-8db8-4e83-a641-3ddbe3bff4a1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationProjectProducts_ToProcess",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varNumberOfCalculationProjectProducts_Processed": {
          "runAfter": {
            "Initialize_varNumberOfCalculationProjectProducts_ToProcess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9040ee1e-6fc8-4aed-99be-71d4bf234a25"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationProjectProducts_Processed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varProjectProduct": {
          "runAfter": {
            "Initialize_varNumberOfCalculationProjectProducts_Processed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd9e1bb8-c414-491c-b107-ac24dc25e799"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProjectProduct",
                "type": "array"
              }
            ]
          }
        },
        "Summary": {
          "actions": {
            "Parse_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b769deed-a8c4-494a-a92f-2be1a1eb92c7"
              },
              "type": "ParseJson",
              "inputs": {
                "content": {
                  "link": {
                    "actions": [
                      {
                        "title": "Vorlage anzeigen",
                        "data": {
                          "url": "?pagetype=entityrecord&etn=hso_template&id=@{outputs('Create_Template')?['body/hso_templateid']}",
                          "navigationTarget": "inline"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "navigationTarget": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "title",
                              "data"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Everything_processed": {
              "actions": {
                "Update_Processing_Log_[Success]": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e25570b4-b57c-4c09-bb87-9092a962156b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "UpdateRecord"
                    },
                    "parameters": {
                      "entityName": "hso_processinglogs",
                      "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                      "item/hso_end_datetime": "@utcNow()",
                      "item/hso_calculationposition_actual": "@variables('varNumberOfCalculationPositions_Processed')",
                      "item/hso_processingstatus": 100000002
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Create_InApp_Notification_[Success]": {
                  "runAfter": {
                    "Update_Processing_Log_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0f108e92-6368-449e-9ad1-ff3e2748966f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "CreateRecord"
                    },
                    "parameters": {
                      "entityName": "appnotifications",
                      "item/title": "Vorlage erstellt",
                      "item/ttlinseconds": 200,
                      "item/ownerid@odata.bind": "systemusers(@{triggerBody()['text_3']})",
                      "item/data": "@body('Parse_JSON')?['link']",
                      "item/icontype": 100000001,
                      "item/priority": 200000000,
                      "item/body": "Eine neue Vorlage \"@{outputs('Create_Template')?['body/hso_name']}\" wurde auf Basis des ausgewählten Knotenpunktes in Kalkulationsversion \"@{outputs('Get_Calculation_(OLD)')?['body/hso_name']}\" erstellt."
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_Processing_Log_[Error]": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "fc491115-1f73-4e24-ae30-a4fc5b704ab0"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "UpdateRecord"
                      },
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                        "item/hso_end_datetime": "@utcNow()",
                        "item/hso_flowerror": "@variables('varError')",
                        "item/hso_calculationposition_actual": "@variables('varNumberOfCalculationPositions_Processed')",
                        "item/hso_processingstatus": 100000003
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Create_InApp_Notification_[Error]": {
                    "runAfter": {
                      "Update_Processing_Log_[Error]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0f108e92-6368-449e-9ad1-ff3e2748966f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "CreateRecord"
                      },
                      "parameters": {
                        "entityName": "appnotifications",
                        "item/title": "Fehler beim Erstellen der Vorlage",
                        "item/ttlinseconds": 200,
                        "item/ownerid@odata.bind": "systemusers(@{triggerBody()['text_3']})",
                        "item/data": "@body('Parse_JSON')?['link']",
                        "item/icontype": 100000002,
                        "item/priority": 200000000,
                        "item/body": "Beim Erstellen der Vorlage \"@{outputs('Create_Template')?['body/hso_name']}\" auf Basis des ausgewählten Knotenpunktes in Kalkulationsversion \"@{outputs('Get_Calculation_(OLD)')?['body/hso_name']}\" ist ein Fehler aufgetreten!"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('varNumberOfCalculationPositions_ToProcess')",
                      "@variables('varNumberOfCalculationPositions_Processed')"
                    ]
                  },
                  {
                    "equals": [
                      "@variables('varNumberOfCalculationProjectProducts_ToProcess')",
                      "@variables('varNumberOfCalculationProjectProducts_Processed')"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "fa97dd29-6b5e-4c3c-87e0-7edf519ff9f2"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Process_Calculation": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "7c9c86b6-b07e-4ed4-b609-5e2f63262eac"
          },
          "type": "Scope"
        },
        "Process_Calculation": {
          "actions": {
            "Get_Calculation_Positions": {
              "actions": {
                "GET_Calculation_Details_(from_OLD)": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "70f01847-ae24-46d7-bb88-33e9d334b4a3"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "entityName": "hso_calculationdetails",
                      "$filter": "_hso_calculationid_value eq '@{triggerBody()['text']}' and startswith(hso_linenumber,'@{outputs('Get_Calculation_Position_(Node)')?['body/hso_linenumber']}')",
                      "$expand": "hso_surchargegroup_calculationid($select=_hso_surchargegroupid_value),\nhso_calculationmetalpriceid($select=_hso_metalpriceid_value),\nhso_calculationmetalpriceid_2($select=_hso_metalpriceid_value),\nhso_calculationmetalpriceid_3($select=_hso_metalpriceid_value),\nhso_calculationdetail_Annotations($filter=isdocument eq true;$select=annotationid,filename)"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_varNumberOfCalculationPositions_ToProcess": {
                  "runAfter": {
                    "GET_Calculation_Details_(from_OLD)": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "344df575-8122-46ac-9692-f5835a3e56e6"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varNumberOfCalculationPositions_ToProcess",
                    "value": "@length(outputs('GET_Calculation_Details_(from_OLD)')?['body/value'])"
                  }
                }
              },
              "runAfter": {
                "Get_Calculation_Position_(Node)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1372fe2d-224d-498b-a16d-af023fc858b1"
              },
              "type": "Scope"
            },
            "Create_Template": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c4c35644-58c3-4c23-997f-f2cc40c178bd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "CreateRecord"
                },
                "parameters": {
                  "entityName": "hso_templates",
                  "item/hso_name": "@triggerBody()['text_1']",
                  "item/hso_departmentid@odata.bind": "@if(empty(triggerBody()['text_6']),null,concat('hso_departments(',triggerBody()['text_6'],')'))",
                  "item/hso_description": "@triggerBody()['text_4']",
                  "item/ownerid@odata.bind": "systemusers(@{triggerBody()['text_3']})",
                  "item/statuscode": 1,
                  "item/hso_templatetype": 100000001,
                  "item/hso_companyid@odata.bind": "@if(empty(triggerBody()['text_5']),null,concat('cdm_companies(',triggerBody()['text_5'],')'))",
                  "item/hso_responsibleid@odata.bind": "systemusers(@{triggerBody()['text_3']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Calculation_(OLD)": {
              "runAfter": {
                "Create_Template": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bb10cdf5-faea-47e6-af10-7267a6a15d5e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "GetItem"
                },
                "parameters": {
                  "entityName": "hso_calculations",
                  "recordId": "@triggerBody()['text']",
                  "$select": "hso_name, hso_calculationid"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Calculation_Position_(Node)": {
              "runAfter": {
                "Get_Calculation_(OLD)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "811da01f-d691-4985-99bd-60f4b85a935c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "GetItem"
                },
                "parameters": {
                  "entityName": "hso_calculationdetails",
                  "recordId": "@triggerBody()['text_2']",
                  "$select": "hso_calculationdetailid,hso_name,hso_linenumber,_hso_calculationid_value, hso_level, hso_linenumber_level, hso_calculationdetail_parentid_sortinglinenum"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Calculation_Project_Products": {
              "actions": {
                "GET_Calculation_Project_Product_(from_OLD)": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "70f01847-ae24-46d7-bb88-33e9d334b4a3"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "entityName": "hso_projectproducts",
                      "$filter": "_hso_calculationid_value eq '@{triggerBody()['text']}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_varNumberOfCalculationProjectProducts_ToProcess_2": {
                  "runAfter": {
                    "Apply_to_each_Project_Products_": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "344df575-8122-46ac-9692-f5835a3e56e6"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varNumberOfCalculationProjectProducts_ToProcess",
                    "value": "@length(outputs('GET_Calculation_Project_Product_(from_OLD)')?['body/value'])"
                  }
                },
                "Apply_to_each_Project_Products_": {
                  "foreach": "@outputs('GET_Calculation_Project_Product_(from_OLD)')?['body/value']",
                  "actions": {
                    "Get_Textblock_Project_Products_(from_OLD)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "7981d95b-e24e-4bd7-b55d-5f8737c5e905"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "entityName": "hso_textblocks",
                          "$select": "hso_name, hso_description, hso_projectproductid, _hso_projectproductid_value, hso_language",
                          "$filter": "_hso_projectproductid_value eq '@{items('Apply_to_each_Project_Products_')?['hso_projectproductid']}'"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Apply_to_each_Textblock_related_to_Project_Products": {
                      "foreach": "@outputs('Get_Textblock_Project_Products_(from_OLD)')?['body/value']",
                      "actions": {
                        "Append_to_varTextblockProjectProducts": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "d2f4726d-5998-420f-9d45-55dfc80a9707"
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "varTextblockProjectProducts",
                            "value": {
                              "GUIDProjectProduct": "@items('Apply_to_each_Textblock_related_to_Project_Products')?['_hso_projectproductid_value']",
                              "name": "@items('Apply_to_each_Textblock_related_to_Project_Products')?['hso_name']",
                              "description": "@items('Apply_to_each_Textblock_related_to_Project_Products')?['hso_description']",
                              "language": "@items('Apply_to_each_Textblock_related_to_Project_Products')?['hso_language']"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Get_Textblock_Project_Products_(from_OLD)": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7d1ce750-5dd9-446b-b69a-ad92f46e95f2"
                      },
                      "type": "Foreach"
                    }
                  },
                  "runAfter": {
                    "GET_Calculation_Project_Product_(from_OLD)": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "018c6758-39d0-44d0-9870-10b2a8cb7cc2"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_Calculation_Position_(Node)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6aa5297f-ef01-4536-9b79-5ac23b927066"
              },
              "type": "Scope"
            },
            "Copy_Calculation_Positions": {
              "actions": {
                "Previous_steps_successfully_processed_to_start_Staging": {
                  "actions": {
                    "Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging": {
                      "foreach": "@outputs('GET_Calculation_Details_(from_OLD)')?['body/value']",
                      "actions": {
                        "Is_Node": {
                          "actions": {
                            "Switch_between_Node_and_BOM": {
                              "runAfter": {},
                              "cases": {
                                "Titel_(Node)": {
                                  "case": 100000006,
                                  "actions": {
                                    "Is_Node_Level_(Main)": {
                                      "actions": {
                                        "Append_Calculation_Detail_to_Staging_[Node]": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "1e95528c-d58a-40ba-a607-075c99a81e8c"
                                          },
                                          "type": "AppendToArrayVariable",
                                          "inputs": {
                                            "name": "varCalculationDetails_Staging",
                                            "value": {
                                              "positionelementtype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                              "templateid": "hso_templates(@{outputs('Create_Template')?['body/hso_templateid']})",
                                              "name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_name']",
                                              "subproject": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_subproject']",
                                              "projecttype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_projecttype']",
                                              "productid": "@null",
                                              "surchargegroup_baseid": "@null",
                                              "quantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_quantity']",
                                              "positionquantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionquantity']",
                                              "externalserviceid": "@null",
                                              "positiondetails": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positiondetails']",
                                              "productionhourid": "@null",
                                              "projectproductid": "@null",
                                              "projectexpenseid": "@null",
                                              "projecthourid": "@null",
                                              "uomid": "@null",
                                              "linenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber']",
                                              "level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_level']",
                                              "linenumber_level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber_level']",
                                              "parentid_sortinglinenumber": "@null",
                                              "templatedetailid": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetailid']",
                                              "templatedetail_parentid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value']), null, items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value'])",
                                              "textblock_name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_name']",
                                              "textblock_description": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_description']"
                                            }
                                          }
                                        }
                                      },
                                      "runAfter": {},
                                      "else": {
                                        "actions": {
                                          "Append_Calculation_Detail_to_Staging_[Node]_2": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "1e95528c-d58a-40ba-a607-075c99a81e8c"
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                              "name": "varCalculationDetails_Staging",
                                              "value": {
                                                "positionelementtype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                                "templateid": "hso_templates(@{outputs('Create_Template')?['body/hso_templateid']})",
                                                "name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_name']",
                                                "subproject": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_subproject']",
                                                "projecttype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_projecttype']",
                                                "productid": "@null",
                                                "surchargegroup_baseid": "@null",
                                                "quantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_quantity']",
                                                "positionquantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionquantity']",
                                                "externalserviceid": "@null",
                                                "positiondetails": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positiondetails']",
                                                "productionhourid": "@null",
                                                "projectproductid": "@null",
                                                "projectexpenseid": "@null",
                                                "projecthourid": "@null",
                                                "uomid": "@null",
                                                "linenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber']",
                                                "level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_level']",
                                                "linenumber_level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber_level']",
                                                "parentid_sortinglinenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetail_parentid_sortinglinenum']",
                                                "templatedetailid": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetailid']",
                                                "templatedetail_parentid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value']), null, items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value'])",
                                                "textblock_name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_name']",
                                                "textblock_description": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_description']"
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "expression": {
                                        "and": [
                                          {
                                            "equals": [
                                              "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_level']",
                                              "@outputs('Get_Calculation_Position_(Node)')?['body/hso_level']"
                                            ]
                                          },
                                          {
                                            "equals": [
                                              "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetailid']",
                                              "@outputs('Get_Calculation_Position_(Node)')?['body/hso_calculationdetailid']"
                                            ]
                                          }
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "8e6a8e89-8454-4b50-90a3-58f49c1cdf73"
                                      },
                                      "type": "If"
                                    }
                                  }
                                },
                                "Stückliste_(BOM_IN_BEARBEITUNG)": {
                                  "case": 100000009,
                                  "actions": {
                                    "Fetch_Calculation_Project_Product_[BOM]": {
                                      "actions": {
                                        "Fetch_Calculation_Project_Product_from_varProjectProducts_[BOM]": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "8b1dc4dd-aebd-43b5-b531-ab7c30bfd432"
                                          },
                                          "type": "Query",
                                          "inputs": {
                                            "from": "@variables('varProjectProduct')",
                                            "where": "@equals(item()['GUIDold'], items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_projectproductid_value'])"
                                          }
                                        },
                                        "Calculation_Project_Product_[BOM]": {
                                          "runAfter": {
                                            "Fetch_Calculation_Project_Product_from_varProjectProducts_[BOM]": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "8b41cf08-33ca-4a6d-b40c-020fad98cea8"
                                          },
                                          "type": "Compose",
                                          "inputs": "@if(greater(length(body('Fetch_Calculation_Project_Product_from_varProjectProducts_[BOM]')),0),concat('hso_projectproducts(',\r\nbody('Fetch_Calculation_Project_Product_from_varProjectProducts_[BOM]')[0]['GUIDnew'],')'),null)"
                                        }
                                      },
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "ff198a89-f26a-40cc-b14e-80c9d1249ab9"
                                      },
                                      "type": "Scope"
                                    },
                                    "Append_Calculation_Detail_to_Staging_[BOM]": {
                                      "runAfter": {
                                        "Fetch_Calculation_Project_Product_[BOM]": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "56fc390f-46d2-4f09-8924-8f1503d4f215"
                                      },
                                      "type": "AppendToArrayVariable",
                                      "inputs": {
                                        "name": "varCalculationDetails_Staging",
                                        "value": {
                                          "positionelementtype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                          "templateid": "hso_templates(@{outputs('Create_Template')?['body/hso_templateid']})",
                                          "name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_name']",
                                          "subproject": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_subproject']",
                                          "projecttype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_projecttype']",
                                          "productid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_productid_value']),null,concat('products(', \r\nitems('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_productid_value'], ')' ))",
                                          "projectproductid": "@null",
                                          "surchargegroup_baseid": "@null",
                                          "quantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_quantity']",
                                          "positionquantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionquantity']",
                                          "externalserviceid": "@null",
                                          "positiondetails": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positiondetails']",
                                          "productionhourid": "@null",
                                          "projectexpenseid": "@null",
                                          "projecthourid": "@null",
                                          "uomid": "@null",
                                          "linenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber']",
                                          "level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_level']",
                                          "linenumber_level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber_level']",
                                          "parentid_sortinglinenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetail_parentid_sortinglinenum']",
                                          "templatedetailid": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetailid']",
                                          "templatedetail_parentid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value']), null, items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value'])",
                                          "textblock_name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_name']",
                                          "textblock_description": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_description']"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "default": {
                                "actions": {}
                              },
                              "expression": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                              "metadata": {
                                "operationMetadataId": "6ca7a5d3-fb18-4edb-b6fd-54e855354b3f"
                              },
                              "type": "Switch"
                            }
                          },
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "Switch_between_Element_Types": {
                                "runAfter": {},
                                "cases": {
                                  "Artikelstamm_(Product)": {
                                    "case": 100000000,
                                    "actions": {
                                      "Append_Calculation_Detail_to_Staging_[Product]": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "0d93f86e-bc8e-4d3d-a19c-ae29ce0efa8f"
                                        },
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                          "name": "varCalculationDetails_Staging",
                                          "value": {
                                            "positionelementtype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                            "templateid": "hso_templates(@{outputs('Create_Template')?['body/hso_templateid']})",
                                            "name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_name']",
                                            "subproject": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_subproject']",
                                            "projecttype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_projecttype']",
                                            "productid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_productid_value']),null,concat('products(', \r\nitems('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_productid_value'], ')' ))",
                                            "surchargegroup_baseid": "hso_surchargegroup_bases(@{items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_baseid_value']})",
                                            "surchargegroupid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_calculationid_value']),null,concat('hso_surchargegroups(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_surchargegroup_calculationid']?['_hso_surchargegroupid_value'],')'))",
                                            "quantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_quantity']",
                                            "positionquantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionquantity']",
                                            "metalpriceid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid']?['_hso_metalpriceid_value'],')'))",
                                            "metalpriceid_2": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_2_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_2']?['_hso_metalpriceid_value'],')'))",
                                            "metalpriceid_3": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_3_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_3']?['_hso_metalpriceid_value'],')'))",
                                            "externalserviceid": "@null",
                                            "positiondetails": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positiondetails']",
                                            "productionhourid": "@null",
                                            "projectexpenseid": "@null",
                                            "projecthourid": "@null",
                                            "uomid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value']),null,concat('uoms(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value'], ')'))",
                                            "linenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber']",
                                            "level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_level']",
                                            "linenumber_level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber_level']",
                                            "parentid_sortinglinenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetail_parentid_sortinglinenum']",
                                            "templatedetailid": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetailid']",
                                            "templatedetail_parentid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value']), null, items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value'])",
                                            "textblock_name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_name']",
                                            "textblock_description": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_description']"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "Lieferantenkatalog_(Manufacturer_Catalogue)": {
                                    "case": 100000001,
                                    "actions": {}
                                  },
                                  "Projektartikel_(Project_Product)": {
                                    "case": 100000002,
                                    "actions": {
                                      "Fetch_Calculation_Project_Product": {
                                        "actions": {
                                          "Fetch_Calculation_Project_Product_from_varProjectProducts": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "39eea3db-ff75-4cea-b074-990c64cb447b"
                                            },
                                            "type": "Query",
                                            "inputs": {
                                              "from": "@variables('varProjectProduct')",
                                              "where": "@equals(item()['GUIDold'], items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_projectproductid_value'])"
                                            }
                                          },
                                          "Calculation_Project_Product": {
                                            "runAfter": {
                                              "Fetch_Calculation_Project_Product_from_varProjectProducts": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "84963362-ef29-4c1a-bfcf-7a62bccd7cef"
                                            },
                                            "type": "Compose",
                                            "inputs": "hso_projectproducts(@{body('Fetch_Calculation_Project_Product_from_varProjectProducts')[0]['GUIDnew']})"
                                          }
                                        },
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "5491b67f-817a-45b7-bbae-fd6ef213df1b"
                                        },
                                        "type": "Scope"
                                      },
                                      "Append_Calculation_Detail_to_Staging_[Project_Product]": {
                                        "runAfter": {
                                          "Fetch_Calculation_Project_Product": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "91df342d-4d5f-4079-8808-9c1c08514a67"
                                        },
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                          "name": "varCalculationDetails_Staging",
                                          "value": {
                                            "positionelementtype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                            "templateid": "hso_templates(@{outputs('Create_Template')?['body/hso_templateid']})",
                                            "name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_name']",
                                            "subproject": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_subproject']",
                                            "projecttype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_projecttype']",
                                            "productid": "@null",
                                            "surchargegroup_baseid": "hso_surchargegroup_bases(@{items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_baseid_value']})",
                                            "quantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_quantity']",
                                            "positionquantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionquantity']",
                                            "surchargegroupid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_calculationid_value']), null, concat('hso_surchargegroups(', items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_surchargegroup_calculationid']?['_hso_surchargegroupid_value'], ')'))",
                                            "metalpriceid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_value']), null, concat('hso_metalprices(', items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid']?['_hso_metalpriceid_value'], ')'))",
                                            "metalpriceid_2": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_2_value']), null, concat('hso_metalprices(', items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_2']?['_hso_metalpriceid_value'], ')'))",
                                            "metalpriceid_3": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_3_value']), null, concat('hso_metalprices(', items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_3']?['_hso_metalpriceid_value'], ')'))",
                                            "externalserviceid": "@null",
                                            "positiondetails": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positiondetails']",
                                            "productionhourid": "@null",
                                            "projectproductid": "@outputs('Calculation_Project_Product')",
                                            "projectexpenseid": "@null",
                                            "projecthourid": "@null",
                                            "uomid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value']), null, concat('uoms(', items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value'], ')'))",
                                            "linenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber']",
                                            "level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_level']",
                                            "linenumber_level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber_level']",
                                            "parentid_sortinglinenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetail_parentid_sortinglinenum']",
                                            "templatedetailid": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetailid']",
                                            "templatedetail_parentid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value']), null, items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value'])",
                                            "textblock_name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_name']",
                                            "textblock_description": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_description']"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "Produktionsstunden_(Production_Hour)": {
                                    "case": 100000003,
                                    "actions": {
                                      "Append_Calculation_Detail_to_Staging_[Production_Hour]": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "559e14c3-6f7b-439e-89fc-f51f693cbbbd"
                                        },
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                          "name": "varCalculationDetails_Staging",
                                          "value": {
                                            "positionelementtype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                            "templateid": "hso_templates(@{outputs('Create_Template')?['body/hso_templateid']})",
                                            "name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_name']",
                                            "subproject": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_subproject']",
                                            "projecttype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_projecttype']",
                                            "productid": "@null",
                                            "surchargegroup_baseid": "hso_surchargegroup_bases(@{items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_baseid_value']})",
                                            "quantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_quantity']",
                                            "positionquantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionquantity']",
                                            "surchargegroupid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_calculationid_value']),null,concat('hso_surchargegroups(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_surchargegroup_calculationid']?['_hso_surchargegroupid_value'],')'))",
                                            "metalpriceid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid']?['_hso_metalpriceid_value'],')'))",
                                            "metalpriceid_2": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_2_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_2']?['_hso_metalpriceid_value'],')'))",
                                            "metalpriceid_3": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_3_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_3']?['_hso_metalpriceid_value'],')'))",
                                            "externalserviceid": "@null",
                                            "positiondetails": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positiondetails']",
                                            "productionhourid": "@\tif(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_productionhourid_value']),null,concat('hso_productionhours(', \r\nitems('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_productionhourid_value'],')' ))",
                                            "projectproductid": "@null",
                                            "projectexpenseid": "@null",
                                            "projecthourid": "@null",
                                            "uomid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value']),null,concat('uoms(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value'], ')'))",
                                            "linenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber']",
                                            "level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_level']",
                                            "linenumber_level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber_level']",
                                            "parentid_sortinglinenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetail_parentid_sortinglinenum']",
                                            "templatedetailid": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetailid']",
                                            "templatedetail_parentid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value']), null, items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value'])",
                                            "textblock_name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_name']",
                                            "textblock_description": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_description']"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "Projektstunden_(Project_Hour)": {
                                    "case": 100000004,
                                    "actions": {
                                      "Append_Calculation_Detail_to_Staging_[Project_Hour]": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "81618d1b-1e1c-4e27-9a05-8bbd9dcc78ef"
                                        },
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                          "name": "varCalculationDetails_Staging",
                                          "value": {
                                            "positionelementtype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                            "templateid": "hso_templates(@{outputs('Create_Template')?['body/hso_templateid']})",
                                            "name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_name']",
                                            "subproject": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_subproject']",
                                            "projecttype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_projecttype']",
                                            "productid": "@null",
                                            "surchargegroup_baseid": "hso_surchargegroup_bases(@{items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_baseid_value']})",
                                            "quantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_quantity']",
                                            "positionquantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionquantity']",
                                            "surchargegroupid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_calculationid_value']),null,concat('hso_surchargegroups(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_surchargegroup_calculationid']?['_hso_surchargegroupid_value'],')'))",
                                            "metalpriceid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid']?['_hso_metalpriceid_value'],')'))",
                                            "metalpriceid_2": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_2_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_2']?['_hso_metalpriceid_value'],')'))",
                                            "metalpriceid_3": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_3_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_3']?['_hso_metalpriceid_value'],')'))",
                                            "externalserviceid": "@null",
                                            "positiondetails": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positiondetails']",
                                            "productionhourid": "@null",
                                            "projectproductid": "@null",
                                            "projectexpenseid": "@null",
                                            "projecthourid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_projecthourid_value']), null, concat('hso_projecthours(', items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_projecthourid_value'], ')'))",
                                            "uomid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value']),null,concat('uoms(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value'], ')'))",
                                            "linenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber']",
                                            "level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_level']",
                                            "linenumber_level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber_level']",
                                            "parentid_sortinglinenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetail_parentid_sortinglinenum']",
                                            "templatedetailid": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetailid']",
                                            "templatedetail_parentid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value']), null, items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value'])",
                                            "textblock_name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_name']",
                                            "textblock_description": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_description']"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "Projektausgabe_(Project_Expense)": {
                                    "case": 100000007,
                                    "actions": {
                                      "Append_Calculation_Detail_to_Staging_[Project_Expense]": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "610f451c-69a6-4f6f-8b58-d74756cbb9b9"
                                        },
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                          "name": "varCalculationDetails_Staging",
                                          "value": {
                                            "positionelementtype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                            "templateid": "hso_templates(@{outputs('Create_Template')?['body/hso_templateid']})",
                                            "name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_name']",
                                            "subproject": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_subproject']",
                                            "projecttype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_projecttype']",
                                            "productid": "@null",
                                            "surchargegroup_baseid": "hso_surchargegroup_bases(@{items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_baseid_value']})",
                                            "quantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_quantity']",
                                            "positionquantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionquantity']",
                                            "surchargegroupid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_calculationid_value']),null,concat('hso_surchargegroups(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_surchargegroup_calculationid']?['_hso_surchargegroupid_value'],')'))",
                                            "metalpriceid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid']?['_hso_metalpriceid_value'],')'))",
                                            "metalpriceid_2": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_2_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_2']?['_hso_metalpriceid_value'],')'))",
                                            "metalpriceid_3": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_3_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_3']?['_hso_metalpriceid_value'],')'))",
                                            "externalserviceid": "@null",
                                            "positiondetails": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positiondetails']",
                                            "productionhourid": "@null",
                                            "projectproductid": "@null",
                                            "projectexpenseid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_projectexpenseid_value']),null,concat('hso_projectexpenses(', \r\nitems('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_projectexpenseid_value'], ')' ))",
                                            "projecthourid": "@null",
                                            "uomid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value']),null,concat('uoms(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value'], ')'))",
                                            "linenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber']",
                                            "level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_level']",
                                            "linenumber_level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber_level']",
                                            "parentid_sortinglinenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetail_parentid_sortinglinenum']",
                                            "templatedetailid": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetailid']",
                                            "templatedetail_parentid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value']), null, items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value'])",
                                            "textblock_name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_name']",
                                            "textblock_description": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_description']"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "Fremdleistung_(External_Service)": {
                                    "case": 100000008,
                                    "actions": {
                                      "Append_Calculation_Detail_to_Staging_[External_Service]": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "930000c4-9047-4a68-8cf3-6217bebc87cb"
                                        },
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                          "name": "varCalculationDetails_Staging",
                                          "value": {
                                            "positionelementtype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                            "templateid": "hso_templates(@{outputs('Create_Template')?['body/hso_templateid']})",
                                            "name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_name']",
                                            "subproject": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_subproject']",
                                            "projecttype": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_projecttype']",
                                            "productid": "@null",
                                            "surchargegroup_baseid": "hso_surchargegroup_bases(@{items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_baseid_value']})",
                                            "quantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_quantity']",
                                            "positionquantity": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionquantity']",
                                            "surchargegroupid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_surchargegroup_calculationid_value']),null,concat('hso_surchargegroups(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_surchargegroup_calculationid']?['_hso_surchargegroupid_value'],')'))",
                                            "metalpriceid": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid']?['_hso_metalpriceid_value'],')'))",
                                            "metalpriceid_2": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_2_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_2']?['_hso_metalpriceid_value'],')'))",
                                            "metalpriceid_3": "@If(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationmetalpriceid_3_value']),null,concat('hso_metalprices(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationmetalpriceid_3']?['_hso_metalpriceid_value'],')'))",
                                            "externalserviceid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_externalserviceid_value']),null,concat('hso_externalservices(', \r\nitems('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_externalserviceid_value'], ')' ))",
                                            "positiondetails": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positiondetails']",
                                            "productionhourid": "@null",
                                            "projectproductid": "@null",
                                            "projectexpenseid": "@null",
                                            "projecthourid": "@null",
                                            "uomid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value']),null,concat('uoms(',items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_uomid_value'], ')'))",
                                            "linenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber']",
                                            "level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_level']",
                                            "linenumber_level": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_linenumber_level']",
                                            "parentid_sortinglinenumber": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetail_parentid_sortinglinenum']",
                                            "templatedetailid": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetailid']",
                                            "templatedetail_parentid": "@if(empty(items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value']), null, items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['_hso_calculationdetail_parentid_value'])",
                                            "textblock_name": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_name']",
                                            "textblock_description": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_textblock_description']"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "Sonstige_(Others)": {
                                    "case": 100000005,
                                    "actions": {}
                                  }
                                },
                                "default": {
                                  "actions": {}
                                },
                                "expression": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                "metadata": {
                                  "operationMetadataId": "39c7dfa5-5682-43de-9a62-7497f8ab5d81"
                                },
                                "type": "Switch"
                              }
                            }
                          },
                          "expression": {
                            "or": [
                              {
                                "equals": [
                                  "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                  100000006
                                ]
                              },
                              {
                                "equals": [
                                  "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_positionelementtype']",
                                  100000009
                                ]
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ecdc7aad-e663-46e5-a8ef-c59aa23e4b57"
                          },
                          "type": "If"
                        },
                        "Apply_to_each_Note_to_create_Staging": {
                          "foreach": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetail_Annotations']",
                          "actions": {
                            "Append_to_varNotes": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "61baa9fb-6e98-4018-a74d-175a2335a227"
                              },
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "varNotes",
                                "value": {
                                  "hso_calculationdetailid": "@items('Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging')?['hso_calculationdetailid']",
                                  "annotationid": "@items('Apply_to_each_Note_to_create_Staging')?['annotationid']"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Is_Node": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c120bb04-09da-4e8e-aa13-990ff684ee98"
                          },
                          "type": "Foreach",
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 20
                            }
                          }
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "0f0dabb3-b990-4c5f-bc44-3eea3820114f"
                      },
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 50
                        }
                      }
                    },
                    "Apply_to_each_Calculation_Detail_Staging": {
                      "foreach": "@variables('varCalculationDetails_Staging')",
                      "actions": {
                        "Append_GUIDs_to_varCalculationDetails": {
                          "runAfter": {
                            "Create_Template_Detail_from_Staging": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "57804748-639c-4e09-860d-11c883fb88c4"
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "varCalculationDetails",
                            "value": {
                              "GUIDold": "@items('Apply_to_each_Calculation_Detail_Staging')?['templatedetailid']",
                              "ParentGUIDold": "@items('Apply_to_each_Calculation_Detail_Staging')?['templatedetail_parentid']",
                              "GUIDnew": "@outputs('Create_Template_Detail_from_Staging')?['body/hso_templatedetailid']"
                            }
                          }
                        },
                        "Increment_varNumberOfCalculationPositions_Processed_by_1": {
                          "runAfter": {
                            "Append_GUIDs_to_varCalculationDetails": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "64f5161a-4d5a-49ae-8f40-2a117412d4f3"
                          },
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "varNumberOfCalculationPositions_Processed",
                            "value": 1
                          }
                        },
                        "Create_Template_Detail_from_Staging": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "259786e1-ad50-4356-8f62-6f6e475fe72e"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "CreateRecord"
                            },
                            "parameters": {
                              "entityName": "hso_templatedetails",
                              "item/hso_name": "@items('Apply_to_each_Calculation_Detail_Staging')?['name']",
                              "item/hso_metalpriceid_2@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['metalpriceid_2']",
                              "item/hso_metalpriceid_3@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['metalpriceid_3']",
                              "item/hso_productid@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['productid']",
                              "item/hso_surchargegroup_baseid@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['surchargegroup_baseid']",
                              "item/ownerid@odata.bind": "systemusers(@{triggerBody()['text_3']})",
                              "item/hso_positionelementtype": "@items('Apply_to_each_Calculation_Detail_Staging')?['positionelementtype']",
                              "item/hso_externalserviceid@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['externalserviceid']",
                              "item/hso_quantity": "@items('Apply_to_each_Calculation_Detail_Staging')?['quantity']",
                              "item/hso_level": "@items('Apply_to_each_Calculation_Detail_Staging')?['level']",
                              "item/hso_metalpriceid@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['metalpriceid']",
                              "item/hso_positiondetails": "@items('Apply_to_each_Calculation_Detail_Staging')?['positiondetails']",
                              "item/hso_positionquantity": "@items('Apply_to_each_Calculation_Detail_Staging')?['positionquantity']",
                              "item/hso_textblock_description": "@items('Apply_to_each_Calculation_Detail_Staging')?['textblock_description']",
                              "item/hso_textblock_name": "@items('Apply_to_each_Calculation_Detail_Staging')?['textblock_name']",
                              "item/hso_productionhourid@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['productionhourid']",
                              "item/hso_projecttype": "@items('Apply_to_each_Calculation_Detail_Staging')?['projecttype']",
                              "item/hso_projectproductid@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['projectproductid']",
                              "item/hso_projectexpenseid@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['projectexpenseid']",
                              "item/hso_projecthourid@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['projecthourid']",
                              "item/hso_uomid@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['uomid']",
                              "item/hso_subproject": "@items('Apply_to_each_Calculation_Detail_Staging')?['subproject']",
                              "item/hso_calculationdetail_parentid_sortinglinenum": "@items('Apply_to_each_Calculation_Detail_Staging')?['parentid_sortinglinenumber']",
                              "item/hso_templateid@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['templateid']",
                              "item/hso_linenumber": "@items('Apply_to_each_Calculation_Detail_Staging')?['linenumber']",
                              "item/hso_linenumber_level": "@items('Apply_to_each_Calculation_Detail_Staging')?['linenumber_level']",
                              "item/hso_surchargegroupid@odata.bind": "@items('Apply_to_each_Calculation_Detail_Staging')?['surchargegroupid']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "92749792-50fb-40f2-a8d3-28ef779bc59e"
                      },
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 20
                        }
                      }
                    },
                    "Apply_to_each_Calculation_Detail_(NEW)_to_create_Staging": {
                      "foreach": "@variables('varCalculationDetails')",
                      "actions": {
                        "Parent_Position_set": {
                          "actions": {
                            "Fetch_Parent_Position_from_varCalculationDetails": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "c51e0713-d0c3-4981-8491-de8e7ee3e518"
                              },
                              "type": "Query",
                              "inputs": {
                                "from": "@variables('varCalculationDetails')",
                                "where": "@equals(item()['GUIDold'], items('Apply_to_each_Calculation_Detail_(NEW)_to_create_Staging')?['ParentGUIDold'])"
                              }
                            },
                            "Parent_Position_found": {
                              "actions": {
                                "Parent_Position": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "e047f5ef-9065-4f3d-8db6-c0592cd34c74"
                                  },
                                  "type": "Compose",
                                  "inputs": "hso_templatedetails(@{body('Fetch_Parent_Position_from_varCalculationDetails')[0]['GUIDnew']})"
                                },
                                "Append_Calculation_Detail_GUIDs_to_Staging": {
                                  "runAfter": {
                                    "Parent_Position": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "3af38c34-d4dc-4caf-8042-afc086752dde"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "varCalculationDetails_GUID_Staging",
                                    "value": {
                                      "CalculationDetail": "@items('Apply_to_each_Calculation_Detail_(NEW)_to_create_Staging')?['GUIDnew']",
                                      "ParentPosition": "@if(empty(outputs('Parent_Position')), null, outputs('Parent_Position'))"
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Fetch_Parent_Position_from_varCalculationDetails": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                  "@empty(body('Fetch_Parent_Position_from_varCalculationDetails'))",
                                  "@false"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "8f00cff2-c4f2-4a22-899a-dfdfb02ab111"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {},
                          "expression": {
                            "not": {
                              "equals": [
                                "@items('Apply_to_each_Calculation_Detail_(NEW)_to_create_Staging')?['ParentGUIDold']",
                                "@null"
                              ]
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "61b6e31f-7889-4334-ac49-d33d3b8e3fd0"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Apply_to_each_Calculation_Detail_Staging": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1454b80e-c2f1-42d7-b5e0-2119afcc97f2"
                      },
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 50
                        }
                      }
                    },
                    "Apply_to_each_Calculation_Detail_GUID_Staging": {
                      "foreach": "@variables('varCalculationDetails_GUID_Staging')",
                      "actions": {
                        "Update_Template_Detail": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "a9d9f6f0-2361-4b67-86c6-e9df9d0a8b43"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "UpdateRecord"
                            },
                            "parameters": {
                              "entityName": "hso_templatedetails",
                              "recordId": "@items('Apply_to_each_Calculation_Detail_GUID_Staging')?['CalculationDetail']",
                              "item/hso_templatedetail_parentid@odata.bind": "@items('Apply_to_each_Calculation_Detail_GUID_Staging')?['ParentPosition']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Apply_to_each_Calculation_Detail_(NEW)_to_create_Staging": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "690471ee-3ac8-4282-bd65-30ae48418775"
                      },
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 20
                        }
                      }
                    },
                    "Update_Processing_Log_[Step_2]": {
                      "runAfter": {
                        "Apply_to_each_Calculation_Detail_GUID_Staging": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8db2b201-dfe1-4a62-a4e7-8886b4dc54c2"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "hso_processinglogs",
                          "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                          "item/hso_calculationposition_actual": "@variables('varNumberOfCalculationPositions_Processed')"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "description": "Update Processing Log with processed Calculation Positions"
                    },
                    "Set_varProcessingStatus_to_Error_[Create_Staging]": {
                      "runAfter": {
                        "Apply_to_each_Calculation_Detail_(OLD)_to_create_Staging": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d5412922-d378-4cf8-adfe-d746a9a865a1"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varProcessingStatus",
                        "value": "Error"
                      }
                    },
                    "Append_to_varError_[Create_Staging]": {
                      "runAfter": {
                        "Set_varProcessingStatus_to_Error_[Create_Staging]": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6b2562c8-6b9e-49a3-91bd-063109ab1ffe"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varError",
                        "value": "Creating Staging failed\n"
                      }
                    },
                    "Set_varProcessingStatus_to_Error_[Create_Calculation_Details]": {
                      "runAfter": {
                        "Apply_to_each_Calculation_Detail_Staging": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "79018fba-1ec9-4178-a87a-c35fcd6fbe9c"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varProcessingStatus",
                        "value": "Error"
                      }
                    },
                    "Append_to_varError_[Create_Calculation_Details]": {
                      "runAfter": {
                        "Set_varProcessingStatus_to_Error_[Create_Calculation_Details]": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6b2562c8-6b9e-49a3-91bd-063109ab1ffe"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varError",
                        "value": "Creating Calculation Details failed\n"
                      }
                    },
                    "Set_varProcessingStatus_to_Error_[Create_Staging_related_Columns]": {
                      "runAfter": {
                        "Apply_to_each_Calculation_Detail_(NEW)_to_create_Staging": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2aadd109-e27d-4a69-9803-03eb6faa06a7"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varProcessingStatus",
                        "value": "Error"
                      }
                    },
                    "Append_to_varError__[Create_Staging_related_Columns]": {
                      "runAfter": {
                        "Set_varProcessingStatus_to_Error_[Create_Staging_related_Columns]": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6b2562c8-6b9e-49a3-91bd-063109ab1ffe"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varError",
                        "value": "Creating Staging for related Columns failed\n"
                      }
                    },
                    "Set_varProcessingStatus_to_Error_[Update_related_Columns]": {
                      "runAfter": {
                        "Apply_to_each_Calculation_Detail_GUID_Staging": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2aadd109-e27d-4a69-9803-03eb6faa06a7"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varProcessingStatus",
                        "value": "Error"
                      }
                    },
                    "Set_varError_[Update_related_Columns]": {
                      "runAfter": {
                        "Set_varProcessingStatus_to_Error_[Update_related_Columns]": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7e65f950-4a26-4bc4-9b44-e334c6c88786"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varError",
                        "value": "Creating relationships for related columns failed."
                      }
                    },
                    "Apply_to_each_Note": {
                      "foreach": "@variables('varNotes')",
                      "actions": {
                        "Filter_created_Template_Positions": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "5c900258-c433-45d6-b7a8-f72ae4c67652"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@variables('varCalculationDetails')",
                            "where": "@equals(item()['GUIDold'], items('Apply_to_each_Note')?['hso_calculationdetailid'])"
                          }
                        },
                        "Run_a_Child_Flow_to_copy_Note": {
                          "runAfter": {
                            "Filter_created_Template_Positions": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "6091745b-d79c-4c81-8e20-3b25d006bc77"
                          },
                          "type": "Workflow",
                          "inputs": {
                            "host": {
                              "workflowReferenceName": "e1a6c89b-5ed1-ee11-9079-000d3ab3c58c"
                            },
                            "body": {
                              "text": "@items('Apply_to_each_Note')?['annotationid']",
                              "text_1": "Template Position",
                              "text_2": "@body('Filter_created_Template_Positions')[0]['GUIDnew']"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Apply_to_each_Calculation_Detail_Staging": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a5b4789d-29f0-444b-a6b4-aedf54b9ca7d"
                      },
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 20
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "equals": [
                      "@variables('varProcessingStatus')",
                      "Pending"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3f29ff63-96fb-499d-8be6-04f14a208bf5"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Update_Processing_Log_[Step_1]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f035a17f-d970-4dc6-9e45-4c9ac0e85def"
              },
              "type": "Scope"
            },
            "Create_Processing_Log": {
              "runAfter": {
                "Get_Calculation_Project_Products": [
                  "Succeeded"
                ],
                "Get_Calculation_Positions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "16b3f6e6-ff7b-47b1-ad77-b25fa6a667a6"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "CreateRecord"
                },
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "Vorlage erstellen - @{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')}",
                  "item/hso_processingtask": 100000004,
                  "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/hso_calculationposition_actual": "@variables('varNumberOfCalculationPositions_Processed')",
                  "item/hso_calculationposition_target": "@variables('varNumberOfCalculationPositions_ToProcess')",
                  "item/hso_calculationprojectproduct_actual": "@variables('varNumberOfCalculationProjectProducts_Processed')",
                  "item/hso_calculationprojectproduct_target": "@variables('varNumberOfCalculationProjectProducts_ToProcess')",
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_processingstatus": 100000001
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_Processing_Log_[Step_1]": {
              "runAfter": {
                "Copy_Textblock_Calculation_Project_Products": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "84f2d88c-4c20-45ea-a87a-75c65ba3b1b1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "UpdateRecord"
                },
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                  "item/hso_calculationprojectproduct_actual": "@variables('varNumberOfCalculationProjectProducts_Processed')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Update Processing Log with processed Calculation Surcharge Groups, Calculation Metal Prices and Calculation Project Products"
            },
            "Copy_Calculation_Project_Products": {
              "actions": {
                "Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)": {
                  "foreach": "@outputs('GET_Calculation_Project_Product_(from_OLD)')?['body/value']",
                  "actions": {
                    "CREATE_Project_Product_(NEW)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "6f472ac3-9934-4611-9676-c626b5077055"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "CreateRecord"
                        },
                        "parameters": {
                          "entityName": "hso_projectproducts",
                          "item/hso_calculationid@odata.bind": "@null",
                          "item/hso_name": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_name']",
                          "item/hso_uomid@odata.bind": "uoms(@{items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['_hso_uomid_value']})",
                          "item/hso_metalbase_2": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_metalbase_2']",
                          "item/hso_metallabelid_2@odata.bind": "@If(empty(string(items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['_hso_metallabelid_2_value'])), null, concat('hso_metallabels(', items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['_hso_metallabelid_2_value'], ')'))",
                          "item/hso_metalnumber_2": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_metalnumber_2']",
                          "item/hso_metalbase_3": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_metalbase_3']",
                          "item/hso_metallabelid_3@odata.bind": "@if(empty(string(items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['_hso_metallabelid_3_value'])), null, concat('hso_metallabels(', items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['_hso_metallabelid_3_value'], ')'))",
                          "item/hso_metalnumber_3": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_metalnumber_3']",
                          "item/hso_surchargegroup_baseid@odata.bind": "hso_surchargegroup_bases(@{items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['_hso_surchargegroup_baseid_value']})",
                          "item/hso_description": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_description']",
                          "item/hso_costprice": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_costprice']",
                          "item/hso_basepricewithoutmetalsurcharge": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_basepricewithoutmetalsurcharge']",
                          "item/hso_manufacturer_id@odata.bind": "@if(empty(items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['_hso_manufacturer_id_value']),null,concat('hso_manufacturers(',items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['_hso_manufacturer_id_value'], ')') )",
                          "item/hso_productnumber_manufacturer": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_productnumber_manufacturer']",
                          "item/hso_typenumber_manufacturer": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_typenumber_manufacturer']",
                          "item/hso_productnumber_supplier": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_productnumber_supplier']",
                          "item/hso_metalbase": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_metalbase']",
                          "item/hso_metallabelid@odata.bind": "@If(empty(string(items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['_hso_metallabelid_value'])), null, concat('hso_metallabels(', items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['_hso_metallabelid_value'], ')'))",
                          "item/hso_metalnumber": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_metalnumber']",
                          "item/hso_templateid@odata.bind": "hso_templates(@{outputs('Create_Template')?['body/hso_templateid']})"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Append_GUIDs_to_varProjectProduct": {
                      "runAfter": {
                        "CREATE_Project_Product_(NEW)": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "cac4c4c4-ae78-4fd3-9371-25dad75b44ef"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "varProjectProduct",
                        "value": {
                          "GUIDold": "@items('Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)')?['hso_projectproductid']",
                          "GUIDnew": "@outputs('CREATE_Project_Product_(NEW)')?['body/hso_projectproductid']",
                          "GrundpreisohneMetallzuschlag": "@outputs('CREATE_Project_Product_(NEW)')?['body/hso_basepricewithoutmetalsurcharge']",
                          "Metallkennzeichnung": "@If(empty(outputs('CREATE_Project_Product_(NEW)')?['body/_hso_metallabelid_value']), null, concat('hso_metallabels(', outputs('CREATE_Project_Product_(NEW)')?['body/_hso_metallabelid_value'], ')'))",
                          "2Metallkennzeichnung": "@If(empty(outputs('CREATE_Project_Product_(NEW)')?['body/_hso_metallabelid_2_value']), null, concat('hso_metallabels(', outputs('CREATE_Project_Product_(NEW)')?['body/_hso_metallabelid_2_value'], ')'))",
                          "3Metallkennzeichnung": "@If(empty(outputs('CREATE_Project_Product_(NEW)')?['body/_hso_metallabelid_3_value']), null, concat('hso_metallabels(', outputs('CREATE_Project_Product_(NEW)')?['body/_hso_metallabelid_3_value'], ')'))",
                          "Metallbasis": "@outputs('CREATE_Project_Product_(NEW)')?['body/hso_metalbase']",
                          "2Metallbasis": "@outputs('CREATE_Project_Product_(NEW)')?['body/hso_metalbase_2']",
                          "3Metallbasis": "@outputs('CREATE_Project_Product_(NEW)')?['body/hso_metalbase_3']",
                          "Metallzahl": "@outputs('CREATE_Project_Product_(NEW)')?['body/hso_metalnumber']",
                          "2Metallzahl": "@outputs('CREATE_Project_Product_(NEW)')?['body/hso_metalnumber_2']",
                          "3Metallzahl": "@outputs('CREATE_Project_Product_(NEW)')?['body/hso_metalnumber_3']"
                        }
                      }
                    },
                    "Increment_varNumberOfCalculationProjectProducts_Processed_by_1": {
                      "runAfter": {
                        "Append_GUIDs_to_varProjectProduct": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0693ff64-d556-4966-9e79-7a22e7f91434"
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "varNumberOfCalculationProjectProducts_Processed",
                        "value": 1
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d8c2ef2c-8ab9-4b88-81be-53f24ae8775d"
                  },
                  "type": "Foreach"
                },
                "Set_varProcessingStatus_to_Error_[ProjectProducts]": {
                  "runAfter": {
                    "Apply_to_each_Calculation_Project_Product_related_to_Calculation_(from_OLD)": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2316075f-1269-49d6-87ae-019624b8cab8"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varProcessingStatus",
                    "value": "Error"
                  }
                },
                "Append_to_varError_[ProjectProducts]": {
                  "runAfter": {
                    "Set_varProcessingStatus_to_Error_[ProjectProducts]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6b2562c8-6b9e-49a3-91bd-063109ab1ffe"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varError",
                    "value": "Copy Calculation Project Products failed\n"
                  }
                }
              },
              "runAfter": {
                "Respond_to_a_PowerApp_or_flow": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3974b2aa-b932-48f3-803b-1a87074f7819"
              },
              "type": "Scope"
            },
            "Copy_Textblock_Calculation_Project_Products": {
              "actions": {
                "Apply_to_each_Textblock_Project_Products_(from_OLD)": {
                  "foreach": "@variables('varTextblockProjectProducts')",
                  "actions": {
                    "Fetch_Project_Product_GUID": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "148e5b3b-2c66-45d7-befc-4d1b19669ff1"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@variables('varProjectProduct')",
                        "where": "@equals(item()['GUIDold'], items('Apply_to_each_Textblock_Project_Products_(from_OLD)')?['GUIDProjectProduct'])"
                      }
                    },
                    "Is_Textblock_for_Project_Product_not_empty": {
                      "actions": {
                        "Project_Product_GUID": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "66765936-042a-425a-a5ca-75aac4ba8e18"
                          },
                          "type": "Compose",
                          "inputs": "hso_projectproducts(@{body('Fetch_Project_Product_GUID')[0]['GUIDnew']})"
                        },
                        "CREATE_Textblock_Project_Product": {
                          "runAfter": {
                            "Project_Product_GUID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "d17f6955-c0a1-4cbc-8843-44b2ba2b90c6"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "CreateRecord"
                            },
                            "parameters": {
                              "entityName": "hso_textblocks",
                              "item/hso_name": "@items('Apply_to_each_Textblock_Project_Products_(from_OLD)')?['name']",
                              "item/hso_language": "@items('Apply_to_each_Textblock_Project_Products_(from_OLD)')?['language']",
                              "item/hso_description": "@items('Apply_to_each_Textblock_Project_Products_(from_OLD)')?['description']",
                              "item/hso_projectproductid@odata.bind": "@outputs('Project_Product_GUID')"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Fetch_Project_Product_GUID": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "greater": [
                          "@lengt(body('Fetch_Project_Product_GUID')[0]['GUIDnew'])",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f6fe3915-f49c-4320-9754-3eaaab441f76"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5cf06f0d-e1e5-4ba7-8980-3acc4270cfc7"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Copy_Calculation_Project_Products": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f4d44d08-efe0-4cf8-a968-b7220800995d"
              },
              "type": "Scope"
            },
            "Respond_to_a_PowerApp_or_flow": {
              "runAfter": {
                "Create_Processing_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "643bdfb7-3d65-4fbd-8ec9-93ef7cd85a3c"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "processinglogguid": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "processinglogguid": {
                      "title": "ProcessingLogGUID",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              },
              "description": "Response to Custom Page with Processing Log GUID to show Processing Progress"
            }
          },
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ],
            "Initialize_varNotes": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c59359b-4565-4278-b0a7-edc18b77875a"
          },
          "type": "Scope"
        },
        "Initialize_varProcessingStatus": {
          "runAfter": {
            "Initialize_varTextblockProjectProducts": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d9778e51-3398-4861-8a53-96a310365863"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProcessingStatus",
                "type": "string",
                "value": "Pending"
              }
            ]
          }
        },
        "Initialize_varError": {
          "runAfter": {
            "Initialize_varProcessingStatus": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eed278cb-0b03-4e74-a461-5346e9267c39"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varError",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_varTextblockProjectProducts": {
          "runAfter": {
            "Initialize_varProjectProduct": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6c326bed-ad18-4c3d-b48f-41e73078f350"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varTextblockProjectProducts",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varNotes": {
          "runAfter": {
            "Initialize_varCalculationDetails_GUID_Staging": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b69fbe84-49ce-43ff-873e-090171bd8f59"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNotes",
                "type": "array"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}