SSTCoreV2/Workflows/PAAPPTemplatePositionCreatenewPositionsfromArrayop-19E775A7-2FCC-F011-BBD3-000D3ADC8B08.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-d365-schulz-int-11.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance",
            "description": "The Dataverse Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "6a297872-c48f-40d9-989e-42b2978bb1fd"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "A list of Template Positions to be created",
                  "title": "Template Positions Payload",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Create Template Positions as Copy or as Import from Template",
                  "title": "Operation Type",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "The GUID of the Template where the Positions are added to",
                  "title": "Template",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_varOdataType": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8c408784-79c1-4ab6-a2bd-5f2aad491702"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varOdataType",
                "type": "string",
                "value": "@{string('@')}odata.type"
              }
            ]
          }
        },
        "Initialize_varFetchXMLCondition": {
          "runAfter": {
            "Initialize_varOdataBind": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7821d249-fe49-42ff-bd5d-70ad64a8bc33"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFetchXMLCondition",
                "type": "string"
              }
            ]
          }
        },
        "Template_Positions": {
          "actions": {
            "Set_varNumberOfPositions_Processed": {
              "runAfter": {
                "Apply_to_each_Level_to_process": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bdf668c8-c1e3-4252-be81-83fb8f3178a2"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varNumberOfPositions_Processed",
                "value": "@length(body('Filter_Template_Details_by_Element_Type'))"
              }
            },
            "Append_processed_Calculation_Positions_to_Log": {
              "runAfter": {
                "Apply_to_each_Level_to_process": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "43abaca5-e993-4bd4-b6df-850a27ea537d"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - @{length(body('Filter_Template_Details_by_Element_Type'))} Calculation Positions created. @{decodeUriComponent('%0A')}"
              }
            },
            "Compose_Template_Positions_Payload": {
              "actions": {
                "Project_Products_used": {
                  "actions": {
                    "Apply_to_each_created_Project_Product": {
                      "foreach": "@variables('varProjectProductGUID_Mapping')",
                      "actions": {
                        "Filter_Positions_by_Project_Product_[without_BOM]": {
                          "runAfter": {
                            "Mapping_old_and_new_Project_Product_GUID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a916ffaf-13ad-43f2-ad67-3fd67199a972"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Parse_JSON')",
                            "where": "@And(equals(item()?['_hso_projectproductid_value'],items('Apply_to_each_created_Project_Product')?['GUIDold']),not(equals(item()?['hso_isbillofmaterial'],true)))"
                          },
                          "description": "Get all Positions of Type 'Project Product' where no BOM is assigned. Project Product Positions with BOM are processed separately because both the Project Product GUID and the BOM Project Product GUID must be replaced. "
                        },
                        "Positions_with_Project_Products_found": {
                          "actions": {
                            "Replace_Project_Product_GUID": {
                              "metadata": {
                                "operationMetadataId": "c436140a-9058-45c9-97bd-2e2d9e42233c"
                              },
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Filter_Positions_by_Project_Product_[without_BOM]')",
                                "select": "@setProperty(\r\n item(),\r\n '_hso_projectproductid_value',\r\n items('Apply_to_each_created_Project_Product')?['GUIDnew']\r\n)"
                              }
                            },
                            "Positions_with_replaced_Project_Product_GUIDs": {
                              "runAfter": {
                                "Replace_Project_Product_GUID": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "d29cd487-8572-4451-92f7-894d95ab831a"
                              },
                              "type": "Compose",
                              "inputs": "@union(\r\n variables('varTemplateDetails_Payload'),\r\n body('Replace_Project_Product_GUID')\r\n)"
                            },
                            "Add_Positions_with_replaced_Project_Products_to_Payload": {
                              "runAfter": {
                                "Positions_with_replaced_Project_Product_GUIDs": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "9486f9c6-6439-4358-a707-e87b06f936d4"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "varTemplateDetails_Payload",
                                "value": "@outputs('Positions_with_replaced_Project_Product_GUIDs')"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_Positions_by_Project_Product_[without_BOM]": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(body('Filter_Positions_by_Project_Product_[without_BOM]'))",
                                  0
                                ]
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "b3257d59-76e1-42cc-94ed-9a40fc828fdd"
                          },
                          "type": "If"
                        },
                        "Mapping_old_and_new_Project_Product_GUID": {
                          "metadata": {
                            "operationMetadataId": "02bed21d-194c-42a7-b89a-e3dd4c9071e3"
                          },
                          "type": "Compose",
                          "inputs": "@items('Apply_to_each_created_Project_Product')"
                        },
                        "Filter_Positions_by_BOM_Project_Product": {
                          "runAfter": {
                            "Mapping_old_and_new_Project_Product_GUID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "bd9aa6e9-2623-4dda-a962-ffafe93d98ac"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Parse_JSON')",
                            "where": "@And(equals(item()?['_hso_billofmaterial_projectproductid_value'],items('Apply_to_each_created_Project_Product')?['GUIDold']),not(equals(item()?['hso_positionelementtype'],100000002)))"
                          },
                          "description": "Get all Positions where a BOM Project Product is assigned. Exclude Positions from Type 'Project Product' - these Positions are processed separately because both the Project Product GUID and the BOM Project Product GUID must be replaced. "
                        },
                        "Filter_Positions_by_Project_Product_[with_BOM]": {
                          "runAfter": {
                            "Mapping_old_and_new_Project_Product_GUID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "78b2f18b-6382-41b8-beec-607e7a6616fb"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Parse_JSON')",
                            "where": "@And(equals(item()?['_hso_projectproductid_value'],items('Apply_to_each_created_Project_Product')?['GUIDold']),equals(item()?['hso_isbillofmaterial'],true))"
                          },
                          "description": "Get all Positions of Type 'Project Product' where a BOM Project Product is assigned. Both the Project Product GUID and the BOM Project Product GUID must be replaced."
                        },
                        "Positions_with_BOM_Project_Products_found": {
                          "actions": {
                            "Replace_BOM_Project_Product_GUID": {
                              "metadata": {
                                "operationMetadataId": "f35c7501-78e1-4645-96a0-b3ff4b4b3981"
                              },
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Filter_Positions_by_BOM_Project_Product')",
                                "select": "@setProperty(\r\n item(),\r\n '_hso_billofmaterial_projectproductid_value',\r\n items('Apply_to_each_created_Project_Product')?['GUIDnew']\r\n)"
                              }
                            },
                            "Positions_with_replaced_BOM_Project_Product_GUIDs": {
                              "runAfter": {
                                "Replace_BOM_Project_Product_GUID": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "9a0c07c7-c586-468f-a04b-98aff248a9e9"
                              },
                              "type": "Compose",
                              "inputs": "@union(\r\n variables('varTemplateDetails_Payload'),\r\n body('Replace_BOM_Project_Product_GUID')\r\n)"
                            },
                            "Add_Positions_with_replaced_BOM_Project_Products_to_Payload": {
                              "runAfter": {
                                "Positions_with_replaced_BOM_Project_Product_GUIDs": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "a32a2503-ab0a-4543-9101-638f31377a70"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "varTemplateDetails_Payload",
                                "value": "@outputs('Positions_with_replaced_BOM_Project_Product_GUIDs')"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_Positions_by_BOM_Project_Product": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(body('Filter_Positions_by_BOM_Project_Product'))",
                                  0
                                ]
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "8315e0db-0206-4da7-97a0-91b0d5c202ec"
                          },
                          "type": "If"
                        },
                        "Template_Positions_with_Project_Products_found_[with_BOM]": {
                          "actions": {
                            "Apply_to_each_Project_Product_Position_with_BOM": {
                              "foreach": "@body('Filter_Positions_by_Project_Product_[with_BOM]')",
                              "actions": {
                                "Filter_Mapping_List_by_BOM_Project_Product_GUID": {
                                  "metadata": {
                                    "operationMetadataId": "f9421417-d93a-48a2-a412-044ebc55c8ae"
                                  },
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@variables('varProjectProductGUID_Mapping')",
                                    "where": "@equals(item()?['GUIDold'],items('Apply_to_each_Project_Product_Position_with_BOM')?['_hso_billofmaterial_projectproductid_value'])"
                                  }
                                },
                                "Found_BOM_Project_Product_GUID": {
                                  "runAfter": {
                                    "Filter_Mapping_List_by_BOM_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "80331ea1-4fd5-4c54-998d-58356bf41552"
                                  },
                                  "type": "Compose",
                                  "inputs": "@first(body('Filter_Mapping_List_by_BOM_Project_Product_GUID'))?['GUIDnew']"
                                },
                                "Replace_Project_Product_and_BOM_Project_Product_GUID": {
                                  "runAfter": {
                                    "Found_BOM_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "43784c0f-507e-45f1-a08e-512c4e3aca2e"
                                  },
                                  "type": "Compose",
                                  "inputs": "@setProperty(\r\n setProperty(\r\n  items('Apply_to_each_Project_Product_Position_with_BOM'),\r\n  '_hso_projectproductid_value',\r\n  items('Apply_to_each_created_Project_Product')?['GUIDnew']\r\n ),\r\n '_hso_billofmaterial_projectproductid_value',\r\n first(body('Filter_Mapping_List_by_BOM_Project_Product_GUID'))?['GUIDnew']\r\n)"
                                },
                                "Append_Position_with_replaced_(BOM)_Project_Product(s)_to_Payload": {
                                  "runAfter": {
                                    "Replace_Project_Product_and_BOM_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "a713b6f7-a939-47f6-860b-41bcbfdea546"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "varTemplateDetails_Payload",
                                    "value": "@outputs('Replace_Project_Product_and_BOM_Project_Product_GUID')"
                                  }
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "001e5d6e-af2b-4e92-a876-7b3d72ceaeae"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {
                            "Filter_Positions_by_Project_Product_[with_BOM]": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(body('Filter_Positions_by_Project_Product_[with_BOM]'))",
                                  0
                                ]
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c7c24e18-f629-47f6-b743-51c9644c4f4b"
                          },
                          "type": "If"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "ccd46c38-2364-4d6d-bf34-37683e0b174f"
                      },
                      "type": "Foreach"
                    },
                    "Remove_Project_Products_from_Positions": {
                      "runAfter": {
                        "Apply_to_each_created_Project_Product": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1ca03636-197d-4fdc-8a36-45fee2dc7187"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Parse_JSON')",
                        "where": "@not(equals(item()?['hso_positionelementtype'],100000002))"
                      },
                      "description": "Remove all Positions of Type 'Project Product' - these Positions are already added to the Payload in the previous step"
                    },
                    "Remove_BOM_Project_Products_from_Positions": {
                      "runAfter": {
                        "Remove_Project_Products_from_Positions": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "df3de88b-7afd-4f11-b9d0-e4eb4c3e542b"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Remove_Project_Products_from_Positions')",
                        "where": "@equals(empty(\n item()?['_hso_billofmaterial_projectproductid_value']\n),true)"
                      },
                      "description": "Remove all Positions where a BOM Project Product is assigned - these Positions are already added to the Payload in the previous step"
                    },
                    "Positions_without_Project_Products": {
                      "runAfter": {
                        "Remove_BOM_Project_Products_from_Positions": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0f3d30a7-aeec-487a-915b-bd3239c0821f"
                      },
                      "type": "Compose",
                      "inputs": "@union(\r\n variables('varTemplateDetails_Payload'),\r\n body('Remove_BOM_Project_Products_from_Positions')\r\n)"
                    },
                    "Add_all_other_Positions_to_Payload": {
                      "runAfter": {
                        "Positions_without_Project_Products": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c7686cef-397d-4f6e-a8f9-f16e0c04a914"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varTemplateDetails_Payload",
                        "value": "@outputs('Positions_without_Project_Products')"
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Set_varTemplateDetails_Payload": {
                        "metadata": {
                          "operationMetadataId": "3c9da557-6ad8-40e7-9f2e-e54f41c7f5e8"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "varTemplateDetails_Payload",
                          "value": "@body('Parse_JSON')"
                        },
                        "description": "Add all Positions to Payload without replacing any Project Product GUID."
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(variables('varProjectProductGUID_Mapping'))",
                          0
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f79afaf7-a1c4-413d-bb21-fb5668612b73"
                  },
                  "type": "If"
                },
                "Filter_Template_Details_by_Element_Type": {
                  "runAfter": {
                    "Project_Products_used": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "55d2935d-544e-4c64-a07f-10a5412bc0e8"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('varTemplateDetails_Payload')",
                    "where": "@not(equals(item()?['hso_positionelementtype'], 100000009))"
                  },
                  "description": "Only process positions that are not Bill of Materials. These positions are already created in the previous step."
                },
                "Select_Payload_to_create_Template_Positions": {
                  "runAfter": {
                    "Filter_Template_Details_by_Element_Type": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7a9dcfc9-1a5b-4b83-bf16-b3206bf059d5"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Filter_Template_Details_by_Element_Type')",
                    "select": {
                      "@{variables('varOdataType')}": "#Microsoft.Dynamics.CRM.hso_templatedetail",
                      "hso_templateid@odata.bind": "/hso_templates(@{item()?['_hso_templateid_value']})",
                      "hso_positionelementtype": "@item()?['hso_positionelementtype']",
                      "hso_name": "@item()?['hso_name']",
                      "hso_linenumber": "@item()?['hso_linenumber']",
                      "hso_linenumber_level": "@item()?['hso_linenumber_level']",
                      "hso_calculationdetail_parentid_sortinglinenum": "@item()?['hso_calculationdetail_parentid_sortinglinenum']",
                      "hso_parent_linenumber_import": "@item()?['hso_parent_linenumber_import']",
                      "hso_productid@odata.bind": "@If(empty(item()?['_hso_productid_value']), '', concat('products(', item()?['_hso_productid_value'], ')'))",
                      "hso_projectproductid@odata.bind": "@If(\r\n empty(item()?['_hso_projectproductid_value']), \r\n '', \r\n concat(\r\n  'hso_projectproducts(',\r\n  item()?['_hso_projectproductid_value'],\r\n  ')'\r\n )\r\n)",
                      "hso_projecthourid@odata.bind": "@If(empty(item()?['_hso_projecthourid_value']), '', concat('hso_projecthours(', item()?['_hso_projecthourid_value'], ')'))",
                      "hso_projectexpenseid@odata.bind": "@If(empty(item()?['_hso_projectexpenseid_value']), '', concat('hso_projectexpenses(', item()?['_hso_projectexpenseid_value'], ')'))",
                      "hso_externalserviceid@odata.bind": "@If(empty(item()?['_hso_externalserviceid_value']), '', concat('hso_externalservices(', item()?['_hso_externalserviceid_value'], ')'))",
                      "hso_surchargegroup_baseid@odata.bind": "@If(\r\n  empty(\r\n    item()?['_hso_surchargegroup_baseid_value']\r\n  ),\r\n  '',\r\n  concat(\r\n    'hso_surchargegroup_bases(',\r\n    item()?['_hso_surchargegroup_baseid_value'],\r\n    ')'\r\n  )\r\n)",
                      "hso_uomid@odata.bind": "@If(empty(item()?['_hso_uomid_value']), '', concat('uoms(', item()?['_hso_uomid_value'], ')'))\n",
                      "hso_quantity": "@item()?['hso_quantity']",
                      "hso_level": "@item()?['hso_level']",
                      "hso_positiondetails": "@item()?['hso_positiondetails']",
                      "hso_projecttype": "@item()?['hso_projecttype']",
                      "hso_textblock_name": "@item()?['hso_textblock_name']",
                      "hso_textblock_description_max": "@item()?['hso_textblock_description_max']",
                      "hso_productionhourid@odata.bind": "@If(empty(item()?['_hso_productionhourid_value']), '', concat('hso_productionhours(', item()?['_hso_productionhourid_value'], ')'))",
                      "hso_positionquantity": "@item()?['hso_positionquantity']",
                      "hso_templatedetail_parentid@odata.bind": "@If(\r\n\tequals(\r\n        item()?['hso_level'],\r\n        1\r\n    ), \r\n\t'',\r\n\tconcat(\r\n\t\t'hso_templatedetails(_hso_templateid_value=', \r\n\t\titem()?['_hso_templateid_value'],\r\n\t\t',hso_linenumber=',\r\n        concat(\r\n\t\t\t'''', \r\n\t\t\titem()?['hso_parent_linenumber_import'], \r\n\t\t\t''''\r\n\t\t),\r\n\t\t')'\r\n\t)\r\n)",
                      "hso_templatedetailid": "@item()?['hso_templatedetailid']",
                      "hso_isbillofmaterial": "@item()?['hso_isbillofmaterial']",
                      "hso_billofmaterial_projectproductid@odata.bind": "@If(\r\n empty(item()?['_hso_billofmaterial_projectproductid_value']), \r\n '', \r\n concat(\r\n  'hso_projectproducts(',\r\n  item()?['_hso_billofmaterial_projectproductid_value'],\r\n  ')'\r\n )\r\n)"
                    }
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "50495899-400b-41df-8394-8fbc96f5dc7f"
              },
              "type": "Scope"
            },
            "Apply_to_each_Level_to_process": {
              "foreach": "@variables('varProcessingLevels')",
              "actions": {
                "Filter_Payload_by_Level": {
                  "metadata": {
                    "operationMetadataId": "6715f522-4096-462b-876d-7a62071040af"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Select_Payload_to_create_Template_Positions')",
                    "where": "@equals(item()['hso_level'],items('Apply_to_each_Level_to_process'))"
                  }
                },
                "Calculate_Parallelism": {
                  "runAfter": {
                    "Filter_Payload_by_Level": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "af4783cd-7116-4530-805d-ef2d796bf4be"
                  },
                  "type": "Compose",
                  "inputs": "@min(\r\n  max(\r\n    div(\r\n      length(body('Filter_Payload_by_Level')),\r\n      variables('varBatchSettings')?['maxBatchSize']\r\n    ),\r\n    variables('varBatchSettings')?['minBatchSize']\r\n  ),\r\n  variables('varBatchSettings')?['maxParallelism']\r\n)"
                },
                "Calculate_Batch_Size": {
                  "runAfter": {
                    "Calculate_Parallelism": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3a2b0d85-7ea1-4eb2-a9ec-9af357410a71"
                  },
                  "type": "Compose",
                  "inputs": "@add(\r\n  div(\r\n    length(body('Filter_Payload_by_Level')), \r\n    outputs('Calculate_Parallelism')\r\n  ), \r\n  if(\r\n    greaterOrEquals(\r\n      mod(\r\n        length(body('Filter_Payload_by_Level')),\r\n        outputs('Calculate_Parallelism')\r\n      ),\r\n      1\r\n    ), \r\n    1, \r\n    0\r\n  )\r\n)"
                },
                "Split_Records_into_Chunks": {
                  "runAfter": {
                    "Calculate_Batch_Size": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "93cdceb9-2bb8-45d9-8fa8-62d43e16bba3"
                  },
                  "type": "Compose",
                  "inputs": "@chunk(\r\n  body('Filter_Payload_by_Level'),\r\n  outputs('Calculate_Batch_Size')\r\n)"
                },
                "Append_Level_to_process_to_Log": {
                  "runAfter": {
                    "Split_Records_into_Chunks": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "491f4b76-d861-499c-9221-cc143186e7ae"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - Process @{length(body('Filter_Payload_by_Level'))} Level-@{items('Apply_to_each_Level_to_process')} Items with @{outputs('Calculate_Parallelism')} Batch(es) (Batch Size: @{outputs('Calculate_Batch_Size')}). @{decodeUriComponent('%0A')}"
                  }
                },
                "Apply_to_each_Chunk": {
                  "foreach": "@outputs('Split_Records_into_Chunks')",
                  "actions": {
                    "Items_to_process": {
                      "metadata": {
                        "operationMetadataId": "a76de3fa-d006-4acb-a2bc-fb02ea26a18f"
                      },
                      "type": "Compose",
                      "inputs": "@items('Apply_to_each_Chunk')"
                    },
                    "Create_Calculation_Positions_by_Level": {
                      "runAfter": {
                        "Items_to_process": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "07430804-ec48-412e-bfc3-42a4846be6cd"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "request/method": "POST",
                          "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_templatedetails/Microsoft.Dynamics.CRM.CreateMultiple",
                          "request/headers": {
                            "OData-MaxVersion": "4.0",
                            "OData-Version": "4.0",
                            "If-None-Match": "null",
                            "Accept": "application/json",
                            "Content-Type": "application/json; charset=utf-8",
                            "MSCRM.BypassCustomPluginExecution": "true",
                            "MSCRM.SuppressDuplicateDetection": "true",
                            "MSCRM.BypassBusinessLogicExecution": "CustomSync,CustomAsync",
                            "MSCRM.SuppressCallbackRegistrationExpanderJob": "true"
                          },
                          "request/body": "{\n \"Targets\": @{items('Apply_to_each_Chunk')}\n}"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                          "operationId": "InvokeHttp",
                          "connectionName": "shared_webcontents"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Append_Level_to_process_to_Log": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c5aed28f-2a0e-4902-96e1-9514f42d1b19"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 20
                    }
                  }
                }
              },
              "runAfter": {
                "Compose_Template_Positions_Payload": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "784c0923-28e1-4e7a-b6ce-2b6428f5ac55"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Project_Products": [
              "Succeeded"
            ],
            "Processing_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f221acf3-c498-40ab-943d-27187b71d69a"
          },
          "type": "Scope"
        },
        "Initialize_varNumberOfPositions_ToProcess": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7d6ed63f-00bf-4ce7-a267-9ac771f02c78"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfPositions_ToProcess",
                "type": "integer",
                "value": "@length(body('Parse_JSON'))"
              }
            ]
          }
        },
        "Initialize_varNumberOfPositions_Processed": {
          "runAfter": {
            "Initialize_varNumberOfPositions_ToProcess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d31e8070-257c-4e27-99dc-14df8557f542"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfPositions_Processed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Project_Products": {
          "actions": {
            "Filter_Calculation_Details_by_Project_Product": {
              "metadata": {
                "operationMetadataId": "5c7432ae-fab6-42c3-9c3f-0b049d1aa773"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON')",
                "where": "@equals(item()?['hso_positionelementtype'],100000002)"
              }
            },
            "Filter_Calculation_Details_by_BOM": {
              "metadata": {
                "operationMetadataId": "5c7432ae-fab6-42c3-9c3f-0b049d1aa773"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON')",
                "where": "@equals(item()?['hso_isbillofmaterial'],true)"
              }
            },
            "BOM_Project_Product_found": {
              "actions": {
                "Select_BOM_Project_Product_GUID": {
                  "runAfter": {
                    "Append_BOM_Project_Products_to_process_to_Log": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0f3a96b4-f611-4410-81ec-ddc9c43b10af"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Filter_Calculation_Details_by_BOM')",
                    "select": {
                      "_hso_billofmaterial_projectproductid_value": "@item()?['_hso_billofmaterial_projectproductid_value']"
                    }
                  }
                },
                "Distinct_BOM_Project_Product_GUIDs": {
                  "runAfter": {
                    "Select_BOM_Project_Product_GUID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "528ea0e8-44db-4629-af67-2c35fc2c49e6"
                  },
                  "type": "Compose",
                  "inputs": "@union(\r\n body('Select_BOM_Project_Product_GUID'),\r\n body('Select_BOM_Project_Product_GUID')\r\n)"
                },
                "Apply_to_each_distinct_BOM_Project_Product_GUID": {
                  "foreach": "@outputs('Distinct_BOM_Project_Product_GUIDs')",
                  "actions": {
                    "FETCH_BOM_Project_Product": {
                      "metadata": {
                        "operationMetadataId": "ebe389fe-8268-457b-85b3-9b1750e60703"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "request/method": "GET",
                          "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts(@{items('Apply_to_each_distinct_BOM_Project_Product_GUID')?['_hso_billofmaterial_projectproductid_value']})?$select=_hso_calculationid_value,_hso_templateid_value,hso_name,_hso_uomid_value,hso_description,hso_isbillofmaterials,hso_projecttype",
                          "request/headers": {
                            "OData-MaxVersion": "4.0",
                            "OData-Version": "4.0",
                            "Accept": "application/json",
                            "Content-Type": "application/json; charset=utf-8"
                          }
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                          "operationId": "InvokeHttp",
                          "connectionName": "shared_webcontents"
                        }
                      }
                    },
                    "BOM_Project_Product_is_already_within_same_Calculation": {
                      "actions": {
                        "Append_existing_BOM_Project_Product_GUID_to_Mapping": {
                          "metadata": {
                            "operationMetadataId": "a9687826-2e4f-4848-a959-2954e75647ca"
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "varProjectProductGUID_Mapping",
                            "value": {
                              "GUIDold": "@items('Apply_to_each_distinct_BOM_Project_Product_GUID')?['_hso_billofmaterial_projectproductid_value']",
                              "GUIDnew": "@items('Apply_to_each_distinct_BOM_Project_Product_GUID')?['_hso_billofmaterial_projectproductid_value']"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "FETCH_BOM_Project_Product": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Fetch_Calculation_BOM_Project_Products_with_same_Name": {
                            "metadata": {
                              "operationMetadataId": "12cc6bc6-0b20-4cb7-9499-d03c878a8a72"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "request/method": "GET",
                                "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts?$filter=hso_name eq '@{encodeUriComponent(body('FETCH_BOM_Project_Product')?['hso_name'])}' and _hso_templateid_value eq @{triggerBody()?['text_2']}",
                                "request/headers": {
                                  "Accept": "application/json"
                                }
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                "operationId": "InvokeHttp",
                                "connectionName": "shared_webcontents"
                              }
                            }
                          },
                          "BOM_Project_Product_already_in_Calculation": {
                            "actions": {
                              "Append_existing_Calculation_BOM_Project_Product_GUID_to_Mapping": {
                                "metadata": {
                                  "operationMetadataId": "e7bfc409-5340-427a-987c-363e4cbe9bd7"
                                },
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                  "name": "varProjectProductGUID_Mapping",
                                  "value": {
                                    "GUIDold": "@items('Apply_to_each_distinct_BOM_Project_Product_GUID')?['_hso_billofmaterial_projectproductid_value']",
                                    "GUIDnew": "@first(body('Fetch_Calculation_BOM_Project_Products_with_same_Name')?['value'])?['hso_projectproductid']"
                                  }
                                }
                              }
                            },
                            "runAfter": {
                              "Number_of_Calculation_BOM_Project_Products_found": [
                                "Succeeded"
                              ]
                            },
                            "else": {
                              "actions": {
                                "New_BOM_Project_Product_GUID": {
                                  "metadata": {
                                    "operationMetadataId": "339c27e3-0c89-4da9-be1b-194376e12099"
                                  },
                                  "type": "Compose",
                                  "inputs": "@guid()"
                                },
                                "CREATE_BOM_Project_Product": {
                                  "runAfter": {
                                    "New_BOM_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "6b15dd8f-617b-41f6-95f0-a7c773951213"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "parameters": {
                                      "request/method": "POST",
                                      "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts",
                                      "request/headers": {
                                        "OData-MaxVersion": "4.0",
                                        "OData-Version": "4.0",
                                        "If-None-Match": "null",
                                        "Accept": "application/json",
                                        "Content-Type": "application/json; charset=utf-8",
                                        "MSCRM.BypassCustomPluginExecution": "true",
                                        "Prefer": "return=representation"
                                      },
                                      "request/body": "{\n      \"hso_projectproductid\": \"@{outputs('New_BOM_Project_Product_GUID')}\",\n      \"hso_name\": \"@{body('FETCH_BOM_Project_Product')?['hso_name']}\",\n      \"hso_uomid@odata.bind\": \"uoms(@{body('FETCH_BOM_Project_Product')?['_hso_uomid_value']})\",\n      \"hso_description\": \"@{body('FETCH_BOM_Project_Product')?['hso_description']}\",\n      \"hso_isbillofmaterials\": \"@{body('FETCH_BOM_Project_Product')?['hso_isbillofmaterials']}\",\n      \"hso_templateid@odata.bind\": \"hso_templates(@{triggerBody()?['text_2']})\",\n      \"hso_projecttype\": \"@{body('FETCH_BOM_Project_Product')?['hso_projecttype']}\"\n    }"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                      "operationId": "InvokeHttp",
                                      "connectionName": "shared_webcontents"
                                    }
                                  }
                                },
                                "Append_BOM_Project_Product_GUIDs_to_Mapping": {
                                  "runAfter": {
                                    "CREATE_BOM_Project_Product": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "121c7457-32fa-4e73-8bd0-e35f7b28a585"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "varProjectProductGUID_Mapping",
                                    "value": {
                                      "GUIDold": "@items('Apply_to_each_distinct_BOM_Project_Product_GUID')?['_hso_billofmaterial_projectproductid_value']",
                                      "GUIDnew": "@outputs('New_BOM_Project_Product_GUID')"
                                    }
                                  }
                                }
                              }
                            },
                            "expression": {
                              "and": [
                                {
                                  "greater": [
                                    "@length(body('Fetch_Calculation_BOM_Project_Products_with_same_Name')?['value'])",
                                    0
                                  ]
                                }
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "9c475bd1-3a64-467c-a121-e0dffa463f62"
                            },
                            "type": "If"
                          },
                          "Number_of_Calculation_BOM_Project_Products_found": {
                            "runAfter": {
                              "Fetch_Calculation_BOM_Project_Products_with_same_Name": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "9a3587f5-006c-40fa-92d0-0a0f079b504e"
                            },
                            "type": "Compose",
                            "inputs": "@length(body('Fetch_Calculation_BOM_Project_Products_with_same_Name')?['value'])"
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@If(\r\n equals(triggerBody()?['text_1'], 'Copy'), \r\n outputs('FETCH_BOM_Project_Product')?['body/_hso_calculationid_value'], \r\n outputs('FETCH_BOM_Project_Product')?['body/_hso_templateid_value']\r\n)",
                              "@triggerBody()['text_2']"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "dac46081-e863-426d-adf1-bd30dbb1e12c"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Distinct_BOM_Project_Product_GUIDs": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "45cba411-d18a-4bbb-b36b-9ed6cf5b0a0e"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 20
                    }
                  }
                },
                "Append_BOM_Project_Products_to_process_to_Log": {
                  "metadata": {
                    "operationMetadataId": "bfc4f3fb-3e6e-41f0-8df9-538d417d4479"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{length(body('Filter_Calculation_Details_by_BOM'))} Bill of Materials Project Products to process. @{decodeUriComponent('%0A')}"
                  }
                },
                "Append_processed_BOM_Project_Products_to_Log": {
                  "runAfter": {
                    "Apply_to_each_distinct_BOM_Project_Product_GUID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e20cfac5-26ff-43c9-aaa5-fd459dae5793"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{length(body('Filter_Calculation_Details_by_BOM'))} Bill of Materials Project Products processed. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Filter_Calculation_Details_by_BOM": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Filter_Calculation_Details_by_BOM'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "eb64c4cf-f401-4186-95b5-79dc9c08c484"
              },
              "type": "If"
            },
            "Project_Product_found": {
              "actions": {
                "Select_Project_Product_GUID": {
                  "runAfter": {
                    "Append_Project_Products_to_process_to_Log": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "83ab37b2-e02d-43c0-8fad-1f564eff7e94"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Filter_Calculation_Details_by_Project_Product')",
                    "select": {
                      "_hso_projectproductid_value": "@item()?['_hso_projectproductid_value']"
                    }
                  }
                },
                "Distinct_Project_Product_GUIDs": {
                  "runAfter": {
                    "Select_Project_Product_GUID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "984de636-5297-4e87-aaa9-f60cf97f4075"
                  },
                  "type": "Compose",
                  "inputs": "@union(\r\n body('Select_Project_Product_GUID'),\r\n body('Select_Project_Product_GUID')\r\n)"
                },
                "Apply_to_each_Project_Product_GUID": {
                  "foreach": "@outputs('Distinct_Project_Product_GUIDs')",
                  "actions": {
                    "FETCH_Project_Product": {
                      "metadata": {
                        "operationMetadataId": "b849ec43-c70b-443b-8476-09b71586c708"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "request/method": "GET",
                          "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts(@{items('Apply_to_each_Project_Product_GUID')?['_hso_projectproductid_value']})?$select=_hso_calculationid_value,_hso_templateid_value,hso_name,_hso_uomid_value,hso_metalbase_2,_hso_metallabelid_2_value,hso_metalnumber_2,hso_metalbase_3,_hso_metallabelid_3_value,hso_metalnumber_3,_hso_surchargegroup_baseid_value,hso_description,hso_europeanarticlenumber,hso_costprice,hso_basepricewithoutmetalsurcharge,_hso_manufacturer_id_value,hso_productnumber_manufacturer,hso_manufacturer_name,hso_typenumber_manufacturer,hso_isbillofmaterials,hso_suppliercatalogreference,hso_supplier_name,hso_productnumber_supplier,hso_metalbase,_hso_metallabelid_value,hso_metalnumber,hso_projecttype,hso_salesprice,_hso_productid_value,_transactioncurrencyid_value",
                          "request/headers": {
                            "OData-MaxVersion": "4.0",
                            "OData-Version": "4.0",
                            "Accept": "application/json",
                            "Content-Type": "application/json; charset=utf-8"
                          }
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                          "operationId": "InvokeHttp",
                          "connectionName": "shared_webcontents"
                        }
                      }
                    },
                    "Project_Product_is_already_within_same_Calculation": {
                      "actions": {
                        "Append_existing_Project_Product_GUID_to_Mapping": {
                          "metadata": {
                            "operationMetadataId": "7a78ede6-bdac-469c-b515-1b0f98b137c1"
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "varProjectProductGUID_Mapping",
                            "value": {
                              "GUIDold": "@items('Apply_to_each_Project_Product_GUID')?['_hso_projectproductid_value']",
                              "GUIDnew": "@items('Apply_to_each_Project_Product_GUID')?['_hso_projectproductid_value']"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "FETCH_Project_Product": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Fetch_Calculation_Project_Products_with_same_Name": {
                            "metadata": {
                              "operationMetadataId": "cdada62e-97a7-4961-ae0d-b310f7d1e989"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "request/method": "GET",
                                "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts?$filter=hso_name eq '@{body('FETCH_Project_Product')?['hso_name']}'",
                                "request/headers": {
                                  "Accept": "application/json"
                                }
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                "operationId": "InvokeHttp",
                                "connectionName": "shared_webcontents"
                              }
                            }
                          },
                          "Project_Product_already_in_Calculation": {
                            "actions": {
                              "Append_existing_Calculation_Project_Product_GUID_to_Mapping": {
                                "metadata": {
                                  "operationMetadataId": "e0eb0860-d153-48eb-afce-0ae68ac198b4"
                                },
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                  "name": "varProjectProductGUID_Mapping",
                                  "value": {
                                    "GUIDold": "@items('Apply_to_each_Project_Product_GUID')?['_hso_projectproductid_value']",
                                    "GUIDnew": "@first(body('Fetch_Calculation_Project_Products_with_same_Name')?['value'])?['hso_projectproductid']"
                                  }
                                }
                              }
                            },
                            "runAfter": {
                              "Number_of_Calculation_Project_Products_found": [
                                "Succeeded"
                              ]
                            },
                            "else": {
                              "actions": {
                                "Remove_Template_GUID_from_Payload": {
                                  "metadata": {
                                    "operationMetadataId": "01699034-8959-4ac2-852c-4689a51aca5f"
                                  },
                                  "type": "Compose",
                                  "inputs": "@removeProperty(\r\n    body('FETCH_Project_Product'),\r\n    '_hso_templateid_value'\r\n)"
                                },
                                "New_Project_Product_GUID": {
                                  "runAfter": {
                                    "Remove_Template_GUID_from_Payload": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "20139e0b-5f99-4c7c-a696-2ca802c26404"
                                  },
                                  "type": "Compose",
                                  "inputs": "@guid()"
                                },
                                "Select_Project_Product_Payload": {
                                  "runAfter": {
                                    "New_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "f1f41aee-001b-47c8-a9c8-f20775eba002"
                                  },
                                  "type": "Select",
                                  "inputs": {
                                    "from": "@array(outputs('Remove_Template_GUID_from_Payload'))",
                                    "select": {
                                      "hso_name": "@body('FETCH_Project_Product')?['hso_name']",
                                      "hso_uomid@odata.bind": "uoms(@{body('FETCH_Project_Product')?['_hso_uomid_value']})",
                                      "hso_metalbase_2": "@body('FETCH_Project_Product')?['hso_metalbase_2']",
                                      "hso_metallabelid_2@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_metallabelid_2_value']),null,concat('hso_metallabels(', outputs('FETCH_Project_Product')?['body/_hso_metallabelid_2_value'], ')'))",
                                      "hso_metalnumber_2": "@body('FETCH_Project_Product')?['hso_metalnumber_2']",
                                      "hso_metalbase_3": "@body('FETCH_Project_Product')?['hso_metalbase_3']",
                                      "hso_metallabelid_3@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_metallabelid_3_value']),null,concat('hso_metallabels(', outputs('FETCH_Project_Product')?['body/_hso_metallabelid_3_value'], ')'))",
                                      "hso_metalnumber_3": "@body('FETCH_Project_Product')?['hso_metalnumber_3']",
                                      "hso_surchargegroup_baseid@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_surchargegroup_baseid_value']),null,concat('hso_surchargegroup_bases(', outputs('FETCH_Project_Product')?['body/_hso_surchargegroup_baseid_value'], ')'))",
                                      "hso_description": "@body('FETCH_Project_Product')?['hso_description']",
                                      "hso_europeanarticlenumber": "@body('FETCH_Project_Product')?['hso_europeanarticlenumber']",
                                      "hso_costprice": "@decimal(\r\n coalesce(\r\n  body('FETCH_Project_Product')?['hso_costprice'],\r\n  0\r\n )\r\n)",
                                      "hso_basepricewithoutmetalsurcharge": "@decimal(\r\n coalesce(\r\n  body('FETCH_Project_Product')?['hso_basepricewithoutmetalsurcharge'],\r\n  0\r\n )\r\n)",
                                      "hso_manufacturer_id@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_manufacturer_id_value']),null,concat('hso_manufacturers(', outputs('FETCH_Project_Product')?['body/_hso_manufacturer_id_value'], ')'))",
                                      "hso_productnumber_manufacturer": "@body('FETCH_Project_Product')?['hso_productnumber_manufacturer']",
                                      "hso_manufacturer_name": "@body('FETCH_Project_Product')?['hso_manufacturer_name']",
                                      "hso_typenumber_manufacturer": "@body('FETCH_Project_Product')?['hso_typenumber_manufacturer']",
                                      "hso_isbillofmaterials": "@outputs('FETCH_Project_Product')?['body/hso_isbillofmaterials']",
                                      "hso_calculationid@odata.bind": "hso_calculations(@{triggerBody()?['text_2']})",
                                      "hso_suppliercatalogreference": "@body('FETCH_Project_Product')?['hso_suppliercatalogreference']",
                                      "hso_supplier_name": "@body('FETCH_Project_Product')?['hso_supplier_name']",
                                      "hso_productnumber_supplier": "@body('FETCH_Project_Product')?['hso_productnumber_supplier']",
                                      "hso_metalbase": "@body('FETCH_Project_Product')?['hso_metalbase']",
                                      "hso_metallabelid@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_metallabelid_value']),null,concat('hso_metallabels(', outputs('FETCH_Project_Product')?['body/_hso_metallabelid_value'], ')'))",
                                      "hso_metalnumber": "@body('FETCH_Project_Product')?['hso_metalnumber']",
                                      "hso_projecttype": "@outputs('FETCH_Project_Product')?['body/hso_projecttype']",
                                      "hso_salesprice": "@decimal(\r\n coalesce(\r\n  body('FETCH_Project_Product')?['hso_salesprice'],\r\n  0\r\n )\r\n)",
                                      "hso_productid@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_productid_value']),null,concat('products(', outputs('FETCH_Project_Product')?['body/_hso_productid_value'], ')'))",
                                      "transactioncurrencyid@odata.bind": "transactioncurrencies(@{outputs('FETCH_Project_Product')?['body/_transactioncurrencyid_value']})",
                                      "hso_projectproductid": "@outputs('New_Project_Product_GUID')"
                                    }
                                  }
                                },
                                "CREATE_Project_Product": {
                                  "runAfter": {
                                    "Select_Project_Product_Payload": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "548b8d64-a139-4a72-8d7d-29a115b74844"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "parameters": {
                                      "request/method": "POST",
                                      "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts",
                                      "request/headers": {
                                        "OData-MaxVersion": "4.0",
                                        "OData-Version": "4.0",
                                        "If-None-Match": "null",
                                        "Accept": "application/json",
                                        "Content-Type": "application/json; charset=utf-8",
                                        "MSCRM.BypassCustomPluginExecution": "true",
                                        "Prefer": "return=representation"
                                      },
                                      "request/body": "@body('Select_Project_Product_Payload')"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                      "operationId": "InvokeHttp",
                                      "connectionName": "shared_webcontents"
                                    }
                                  }
                                },
                                "Append_Project_Product_GUIDs_to_Mapping": {
                                  "runAfter": {
                                    "CREATE_Project_Product": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "61e64f50-8e06-48c4-9add-00f3987e5e21"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "varProjectProductGUID_Mapping",
                                    "value": {
                                      "GUIDold": "@items('Apply_to_each_Project_Product_GUID')?['_hso_projectproductid_value']",
                                      "GUIDnew": "@outputs('New_Project_Product_GUID')"
                                    }
                                  }
                                }
                              }
                            },
                            "expression": {
                              "and": [
                                {
                                  "greater": [
                                    "@length(body('Fetch_Calculation_Project_Products_with_same_Name')?['value'])",
                                    0
                                  ]
                                }
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "a2b2130d-4936-41db-b90a-fda3f3004078"
                            },
                            "type": "If"
                          },
                          "Number_of_Calculation_Project_Products_found": {
                            "runAfter": {
                              "Fetch_Calculation_Project_Products_with_same_Name": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "34359535-1e52-41f0-8672-abd266e6628d"
                            },
                            "type": "Compose",
                            "inputs": "@length(body('Fetch_Calculation_Project_Products_with_same_Name')?['value'])"
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@If(\r\n equals(triggerBody()?['text_1'], 'Copy'), \r\n outputs('FETCH_Project_Product')?['body/_hso_calculationid_value'], \r\n outputs('FETCH_Project_Product')?['body/_hso_templateid_value']\r\n)",
                              "@triggerBody()?['text_2']"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "566ba557-43d7-4d8b-a9d6-74c660b2907d"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Distinct_Project_Product_GUIDs": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "40541688-7f75-4901-83d8-1ae96f39290c"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 20
                    }
                  }
                },
                "Append_Project_Products_to_process_to_Log": {
                  "metadata": {
                    "operationMetadataId": "13c1b01b-00bf-4c39-8c50-ac173dc12cc8"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{length(body('Filter_Calculation_Details_by_Project_Product'))} Project Products to process. @{decodeUriComponent('%0A')}"
                  }
                },
                "Append_processed_Project_Products_to_Log": {
                  "runAfter": {
                    "Apply_to_each_Project_Product_GUID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "260e883f-2979-4e83-ae0d-7fb4db5c372f"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{length(body('Filter_Calculation_Details_by_Project_Product'))} Project Products processed. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Filter_Calculation_Details_by_Project_Product": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Filter_Calculation_Details_by_Project_Product'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "bb6ab330-d354-4f95-962e-2615bd0805be"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_varProcessingLevels": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c3940bf-fe79-4481-bdea-bbf6c6339171"
          },
          "type": "Scope",
          "description": "Check whether Project Products need to be created"
        },
        "Calculation_Positions_-_Error": {
          "actions": {
            "Filter_Results_for_failed_actions_[Calculation_Positions]": {
              "metadata": {
                "operationMetadataId": "b572f9c8-6d0e-49df-a156-60138a38a7e0"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Template_Positions')",
                "where": "@equals(item()?['status'], 'Failed')"
              }
            },
            "Select_Error_Summary_[Calculation_Positions]": {
              "runAfter": {
                "Filter_Results_for_failed_actions_[Calculation_Positions]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d58992d0-f393-4a1d-ae5e-1c2f68c70a9e"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_Results_for_failed_actions_[Calculation_Positions]')",
                "select": {
                  "Action": "@item()?['name']",
                  "Code": "@item()?['code']",
                  "Status": "@item()?['status']",
                  "StatusCode": "@item()?['outputs']?['statusCode']",
                  "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')"
                }
              }
            },
            "Apply_to_each_Error_Summary_[Calculation_Positions]": {
              "foreach": "@body('Select_Error_Summary_[Calculation_Positions]')",
              "actions": {
                "Append_Error_Summary_[Calculation_Positions]": {
                  "metadata": {
                    "operationMetadataId": "89e8a509-e8ef-4f51-9be2-821c01a2efc3"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varError",
                    "value": "@items('Apply_to_each_Error_Summary_[Calculation_Positions]')"
                  }
                }
              },
              "runAfter": {
                "Select_Error_Summary_[Calculation_Positions]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "187631f7-e52e-498c-8cb6-5d04c400b24a"
              },
              "type": "Foreach"
            },
            "Append_Calculation_Positions_Error_to_Log": {
              "runAfter": {
                "Apply_to_each_Error_Summary_[Calculation_Positions]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "489e6a8e-7e53-482f-a44b-071f8c372c2d"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[ERR] - [@{utcNow()}] - Error when creating Calculation Positions. @{decodeUriComponent('%0A')}"
              }
            }
          },
          "runAfter": {
            "Template_Positions": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "67881947-06ba-4ef2-a564-cd798066fb0b"
          },
          "type": "Scope"
        },
        "Respond_to_App": {
          "actions": {
            "Calculation_Positions_successfully_created": {
              "actions": {
                "Respond_to_App_[Success]": {
                  "metadata": {
                    "operationMetadataId": "4de1fda5-faaf-46e7-be76-efb9973499e0"
                  },
                  "type": "Response",
                  "kind": "PowerApp",
                  "inputs": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "title": "Result",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        },
                        "errormessage": {
                          "title": "ErrorMessage",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    },
                    "statusCode": 200,
                    "body": {
                      "result": "Success",
                      "errormessage": "@null"
                    }
                  }
                },
                "Append_Response_to_App_[Success]_to_Log": {
                  "runAfter": {
                    "Respond_to_App_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0c61af2e-a8a8-44d6-9f17-fc296acb0f11"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - Respond with Success to Navigation App and proceed with subsequent Tasks. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "else": {
                "actions": {
                  "Apply_to_each_Error_[App_Response]": {
                    "foreach": "@variables('varError')",
                    "actions": {
                      "Append_varErrorMessage_[App_Response]": {
                        "metadata": {
                          "operationMetadataId": "66c25994-42c5-45d7-a552-63ce3793c4e4"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varErrorMessage",
                          "value": "[ERROR] - Action '@{items('Apply_to_each_Error_[App_Response]')?['Action']}' failed with error message: @{items('Apply_to_each_Error_[App_Response]')?['Message']} (Status: @{items('Apply_to_each_Error_[App_Response]')?['Status']} / Status Code: @{items('Apply_to_each_Error_[App_Response]')?['StatusCode']})"
                        }
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "b2a89a09-59a5-4ba8-ac3c-70b5b8f26bce"
                    },
                    "type": "Foreach"
                  },
                  "Respond_to_App_[Failure]": {
                    "runAfter": {
                      "Apply_to_each_Error_[App_Response]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "4eec916e-b5bd-4459-bc2a-133565703d27"
                    },
                    "type": "Response",
                    "kind": "PowerApp",
                    "inputs": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "title": "Result",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          },
                          "errormessage": {
                            "title": "ErrorMessage",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          }
                        },
                        "additionalProperties": {}
                      },
                      "statusCode": 200,
                      "body": {
                        "result": "Failure",
                        "errormessage": "@variables('varErrorMessage')"
                      }
                    }
                  },
                  "Append_Response_to_App_[Failure]_to_Log": {
                    "runAfter": {
                      "Respond_to_App_[Failure]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "10f29830-b8ba-464b-94c5-d179b2806613"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{utcNow()}] - Respond with Failure to Navigation App and proceed with subsequent Tasks.\nError Message: @{variables('varErrorMessage')} @{decodeUriComponent('%0A')}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('varNumberOfPositions_ToProcess')",
                      "@variables('varNumberOfPositions_Processed')"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "eee77c49-b60e-4235-9a1f-3efc004e0308"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Template_Positions": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a961410-5688-444d-8158-cc42d7821fde"
          },
          "type": "Scope"
        },
        "Summary": {
          "actions": {
            "All_Positions_processed_successfully": {
              "actions": {
                "Update_Processing_Log_[Success]": {
                  "runAfter": {
                    "Finish_varLog_with_Success": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "80612e71-ab5e-4be5-98bc-0a6b4381d104"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_processinglogs",
                      "recordId": "@body('Create_Processing_Log')?['hso_processinglogid']",
                      "item/hso_end_datetime": "@{utcNow()}",
                      "item/hso_log": "@variables('varLog')",
                      "item/hso_processedrecords": "@variables('varNumberOfPositions_Processed')",
                      "item/hso_processingstatus": 100000002
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "Finish_varLog_with_Success": {
                  "metadata": {
                    "operationMetadataId": "84f459b5-2c6c-4841-895f-6560e491f280"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[SUC] - [@{utcNow()}] - Flow run was successful. All required Parameters have been added to the Calculation."
                  }
                }
              },
              "else": {
                "actions": {
                  "Reset_varErrorMessage": {
                    "metadata": {
                      "operationMetadataId": "dc71621e-3fe0-47ad-b367-f99f286bc79c"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "varErrorMessage",
                      "value": "@{null}"
                    }
                  },
                  "Apply_to_each_Error_Summary": {
                    "foreach": "@variables('varError')",
                    "actions": {
                      "Append_Error_Message": {
                        "metadata": {
                          "operationMetadataId": "1e7d2663-2a51-4d46-9efa-318c6b523800"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varErrorMessage",
                          "value": "[ERROR] - Action '@{items('Apply_to_each_Error_Summary')?['Action']}' failed with error message: @{items('Apply_to_each_Error_Summary')?['Message']} (Status: @{items('Apply_to_each_Error_Summary')?['Status']} / Status Code: @{items('Apply_to_each_Error_Summary')?['StatusCode']})"
                        }
                      }
                    },
                    "runAfter": {
                      "Reset_varErrorMessage": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "372e460e-ca7b-46ae-8d9c-78dc16adeb38"
                    },
                    "type": "Foreach",
                    "runtimeConfiguration": {
                      "concurrency": {
                        "repetitions": 20
                      }
                    }
                  },
                  "Update_Processing_Log_[Error]": {
                    "runAfter": {
                      "Finish_varLog_with_Error": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c2f3bdfc-8cce-47f2-841c-7532a21e97b3"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "recordId": "@body('Create_Processing_Log')?['hso_processinglogid']",
                        "item/hso_end_datetime": "@{utcNow()}",
                        "item/hso_flowerror": "@variables('varErrorMessage')",
                        "item/hso_log": "@variables('varLog')",
                        "item/hso_processedrecords": "@variables('varNumberOfPositions_Processed')",
                        "item/hso_processingstatus": 100000003
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  },
                  "Finish_varLog_with_Error": {
                    "runAfter": {
                      "Apply_to_each_Error_Summary": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "dead03c9-408b-401e-82c1-0e71e8f1d6f8"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{utcNow()}] - Flow run has failed. Parameters may have been partially added to Calculation. Check Log for further details."
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('varNumberOfPositions_ToProcess')",
                      "@variables('varNumberOfPositions_Processed')"
                    ]
                  },
                  {
                    "equals": [
                      "@variables('varNumberOfPositions_DefaultValues_ToProcess')",
                      "@variables('varNumberOfPositions_DefaultValues_Processed')"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "660c5eb2-dae6-451c-84c2-b4727de0255e"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Calculation_Positions_-_Error": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ],
            "Respond_to_App": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f730127-35d9-4054-8322-93363f009b0b"
          },
          "type": "Scope"
        },
        "Initialize_varNumberOfPositions_DefaultValues_ToProcess": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "658f417c-a2cb-4c51-8b4f-eddeeea6bb76"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfPositions_DefaultValues_ToProcess",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varNumberOfPositions_DefaultValues_Processed": {
          "runAfter": {
            "Initialize_varNumberOfPositions_DefaultValues_ToProcess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7b180456-0d58-4fd8-885c-8d0ba048dd4d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfPositions_DefaultValues_Processed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varParallelBulkOperationMessages": {
          "runAfter": {
            "Initialize_varIterationLevel": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3042a576-4249-486b-826a-eb61246a5fce"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varParallelBulkOperationMessages",
                "type": "array",
                "value": [
                  0,
                  1,
                  2,
                  3,
                  4,
                  5,
                  6,
                  7,
                  8,
                  9,
                  10,
                  11,
                  12,
                  13,
                  14,
                  15,
                  16,
                  17,
                  18,
                  19,
                  20,
                  21,
                  22,
                  23,
                  24,
                  25
                ]
              }
            ]
          }
        },
        "Initialize_varNumberOfItemsPerBulkOperationMessage": {
          "runAfter": {
            "Initialize_varParallelBulkOperationMessages": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9c28347c-103e-4a19-977f-4f662e016bdb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfItemsPerBulkOperationMessage",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_varTopLevelNodes": {
          "runAfter": {
            "Initialize_varNumberOfPositions_DefaultValues_Processed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f86ce752-b344-40b1-9c1d-f513642d8c1e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varTopLevelNodes",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varLog": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3906a165-cc5e-4ca6-9584-aca53cd5999b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLog",
                "type": "string",
                "value": "[INF] - [@{utcNow()}] - Initializing Flow Run. @{decodeUriComponent('%0A')}"
              }
            ]
          }
        },
        "Initialize_varOdataBind": {
          "runAfter": {
            "Initialize_varOdataType": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b2f2dba7-095b-4a3c-8d27-6a64296e5de9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varOdataBind",
                "type": "string",
                "value": "@{string('@')}odata.bind"
              }
            ]
          }
        },
        "Initialize_varProjectProductGUID_Mapping": {
          "runAfter": {
            "Initialize_varTopLevelNodes": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "322fd8bc-128b-44f1-9962-5499419d0bc7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProjectProductGUID_Mapping",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varBatchSettings": {
          "runAfter": {
            "Initialize_varErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1e056cc8-b131-405d-8df9-cb4419eaafc2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varBatchSettings",
                "type": "object",
                "value": {
                  "maxBatchSize": 10,
                  "minBatchSize": 1,
                  "maxParallelism": 20,
                  "minParallelism": 1
                }
              }
            ]
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c7374a2f-3040-43f1-bb6e-83abbcfa29cd"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['text']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "hso_templatedetailid": {
                    "type": "string"
                  },
                  "SourcePositionGUID": {
                    "type": "string"
                  },
                  "_hso_templateid_value": {
                    "type": "string"
                  },
                  "_hso_externalserviceid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_productid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_productionhourid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_projectproductid_name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_projectexpenseid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_projecthourid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_projectproductid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_surchargegroup_baseid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_uomid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_calculationdetail_parentid_sortinglinenum": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_level": {
                    "type": "integer"
                  },
                  "hso_linenumber": {
                    "type": "string"
                  },
                  "hso_linenumber_level": {
                    "type": "string"
                  },
                  "hso_name": {
                    "type": "string"
                  },
                  "hso_parent_linenumber_import": {
                    "type": "string"
                  },
                  "hso_positiondetails": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "hso_positionelementtype": {
                    "type": "integer"
                  },
                  "hso_projecttype": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "hso_quantity": {
                    "type": [
                      "integer",
                      "number"
                    ]
                  },
                  "hso_positionquantity": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "hso_textblock_description_max": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_textblock_name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_isbillofmaterial": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "_hso_billofmaterial_projectproductid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "ReCalculateRequired": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "SourcePositionGUID",
                  "_hso_templateid_value",
                  "hso_calculationdetail_parentid_sortinglinenum",
                  "hso_level",
                  "hso_linenumber",
                  "hso_linenumber_level",
                  "hso_name",
                  "hso_parent_linenumber_import",
                  "hso_positionelementtype",
                  "hso_quantity"
                ]
              }
            }
          }
        },
        "Select_Level_from_Payload": {
          "runAfter": {
            "Initialize_varBatchSettings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "05c9adcc-a7c4-4f3d-ae34-c9dbf95cce11"
          },
          "type": "Select",
          "inputs": {
            "from": "@body('Parse_JSON')",
            "select": "@item()['hso_level']"
          }
        },
        "Processing_Log": {
          "actions": {
            "Condition": {
              "actions": {},
              "else": {
                "actions": {
                  "Create_Processing_Log": {
                    "metadata": {
                      "operationMetadataId": "f52733c9-c79a-4674-819b-03fa262e1094"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "item/hso_name": "Vorlage Positionen (in Batch) erstellen - @{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')}",
                        "item/hso_processingtask": 100000030,
                        "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                        "item/hso_start_datetime": "@utcNow()",
                        "item/hso_processingstatus": 100000001,
                        "item/hso_templateid@odata.bind": "hso_templates(@{triggerBody()?['text_2']})"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@true",
                        "@true"
                      ]
                    }
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_varProcessingLevels": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3994b4c6-ef43-4f8e-9d60-ff1ddb1210d6"
          },
          "type": "Scope"
        },
        "Initialize_varError": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "67c1cbd3-ab9a-4886-8abc-8125816eb559"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varError",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varErrorMessage": {
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1e05baef-8d69-4b64-a4bc-775dc7fc7706"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_varFetchXMLFilterCondition": {
          "runAfter": {
            "Initialize_varFetchXMLCondition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c2d8b171-1590-4ea8-8762-546ac5e73fa8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFetchXMLFilterCondition",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_varIterationLevel": {
          "runAfter": {
            "Initialize_varNumberOfPositions_Processed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d42750a1-245b-4984-9d2f-bcc41f914e06"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varIterationLevel",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Initialize_varCalculationDetails_Payload": {
          "runAfter": {
            "Initialize_varProjectProductGUID_Mapping": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "abb1ac83-604d-4159-811d-f6b9facd1b9e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varTemplateDetails_Payload",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varProcessingLevels": {
          "runAfter": {
            "Initialize_varFetchXMLFilterCondition": [
              "Succeeded"
            ],
            "Initialize_varNumberOfItemsPerBulkOperationMessage": [
              "Succeeded"
            ],
            "Initialize_varCalculationDetails_Payload": [
              "Succeeded"
            ],
            "Select_Level_from_Payload": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ff8045de-32f1-48a3-a273-87b00d633036"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProcessingLevels",
                "type": "array",
                "value": "@sort(\r\n  union(\r\n    body('Select_Level_from_Payload'),\r\n    body('Select_Level_from_Payload')\r\n  )\r\n)"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}