SSTCoreV2/Workflows/PAASBStorePrintDocumentinArchive-A909D579-7AD9-EF11-A72F-000D3ADBC595.json
{
  "properties": {
    "connectionReferences": {
      "shared_servicebus": {
        "api": {
          "name": "shared_servicebus"
        },
        "connection": {
          "connectionReferenceLogicalName": "qdr_ServiceBus"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "sst_CRDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvVar | Blob Storage AF (sst_EnvVarBlobStorageAF)": {
          "defaultValue": "https://saschulzafdevce.blob.core.windows.net/scschulzafdevce/",
          "type": "String",
          "metadata": {
            "schemaName": "sst_EnvVarBlobStorageAF"
          }
        }
      },
      "triggers": {
        "When_a_message_is_received_in_a_queue_(auto-complete)": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "queueName": "response-queue",
              "queueType": "Main"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_servicebus",
              "operationId": "GetMessageFromQueue",
              "connectionName": "shared_servicebus"
            }
          },
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "metadata": {
            "operationMetadataId": "a3d7e166-486c-43fa-98dd-004a401d76f0"
          }
        }
      },
      "actions": {
        "Parse_JSON": {
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerOutputs()?['body/Properties']",
            "schema": {
              "type": "object",
              "properties": {
                "ContainerName": {
                  "type": "string"
                },
                "FileName": {
                  "type": "string"
                },
                "RecordID": {
                  "type": "string"
                },
                "RecordType": {
                  "type": "string"
                },
                "DeliveryCount": {
                  "type": "string"
                },
                "EnqueuedSequenceNumber": {
                  "type": "string"
                },
                "EnqueuedTimeUtc": {
                  "type": "string"
                },
                "ExpiresAtUtc": {
                  "type": "string"
                },
                "LockedUntilUtc": {
                  "type": "string"
                },
                "LockToken": {
                  "type": "string"
                },
                "MessageId": {
                  "type": "string"
                },
                "ReplyToSessionId": {
                  "type": "string"
                },
                "ScheduledEnqueueTimeUtc": {
                  "type": "string"
                },
                "SequenceNumber": {
                  "type": "string"
                },
                "SessionId": {
                  "type": "string"
                },
                "Size": {
                  "type": "string"
                },
                "State": {
                  "type": "string"
                },
                "TimeToLive": {
                  "type": "string"
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d84ff7fd-c637-405c-a1da-597d61ab08ef"
          }
        },
        "Get_relevant_quote_print_history_record": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "sst_printhistories",
              "$filter": "sst_uniquefilename_str eq '@{body('Parse_JSON')?['FileName']}'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fce8727c-3358-4f19-8424-fcdf4c36c5a6"
          }
        },
        "Apply_to_each": {
          "type": "Foreach",
          "foreach": "@outputs('Get_relevant_quote_print_history_record')?['body/value']",
          "actions": {
            "Finish_quote_print_history_record": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "sst_printhistories",
                  "recordId": "@items('Apply_to_each')?['sst_printhistoryid']",
                  "item/sst_downloadlink_txt": "@{parameters('EnvVar | Blob Storage AF (sst_EnvVarBlobStorageAF)')}@{body('Parse_JSON')?['FileName']}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "741c478e-1842-418d-8086-4f3f7dced51c"
              }
            }
          },
          "runAfter": {
            "Get_relevant_quote_print_history_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bd38655b-0304-4440-8c51-40e78411f279"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}