SSTCoreV2/Workflows/PAAUTOCalculationPositionCHILD-CreateServiceItemsV-53EB71BF-AAC1-EE11-9079-000D3AB348FC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_webcontents_1": {
        "api": {
          "name": "shared_webcontents"
        },
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationHTTPwithAzureAD"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)": {
          "defaultValue": "d365-schulz-int-11b9dbaf056743afd3devaos.axcloud.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarUnifiedOperationsInstance",
            "description": "The Unified Operations Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Project Number",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The Project Number of the new FinOps Project",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Parent Processing Log GUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The Processing Log that will be used as Parent",
                  "x-ms-content-hint": "TEXT"
                },
                "number": {
                  "title": "Project Type",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "The Project Type that is used to group the Level 1 Calculation Position Nodes",
                  "x-ms-content-hint": "NUMBER"
                },
                "text_3": {
                  "title": "Project Type Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The Project Type Name (only for debugging purposes)",
                  "x-ms-content-hint": "TEXT"
                },
                "boolean": {
                  "title": "GAEB",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Is GAEB-Position",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "text_4": {
                  "title": "Quote Number",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "Company GUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The Company selected for the Quotation / Calculation",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Calculation GUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The Calculation that is processed",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_2",
                "number",
                "text_3",
                "boolean",
                "text_4",
                "text_5",
                "text_1"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "caf67107-bd80-4534-912e-2d9756c51cf0"
          }
        }
      },
      "actions": {
        "Processing_Log": {
          "type": "Scope",
          "actions": {
            "Convert_time_zone": {
              "type": "Expression",
              "kind": "ConvertTimeZone",
              "inputs": {
                "baseTime": "@{utcNow()}",
                "sourceTimeZone": "UTC",
                "destinationTimeZone": "W. Europe Standard Time",
                "formatString": "s"
              },
              "metadata": {
                "operationMetadataId": "6273c926-089b-4132-91cc-a166cf7b3496"
              }
            },
            "Get_Parent_Processing_Log": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "recordId": "@triggerBody()['text_2']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "Convert_time_zone": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9209ab1e-5f53-4571-8e3c-efc86525d5dc"
              }
            },
            "Create_Processing_Log": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "Service-Artikel für Projekt '@{triggerBody()['text']}' erstellen - @{body('Convert_time_zone')}",
                  "item/hso_processingtask": 100000011,
                  "item/ownerid@odata.bind": "systemusers(@{outputs('Get_Parent_Processing_Log')?['body/_ownerid_value']})",
                  "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/hso_calculationid@odata.bind": "hso_calculations(@{outputs('Get_Parent_Processing_Log')?['body/_hso_calculationid_value']})",
                  "item/hso_serviceitem_create": true,
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_parentprocessinglogid@odata.bind": "hso_processinglogs(@{outputs('Get_Parent_Processing_Log')?['body/hso_processinglogid']})",
                  "item/hso_processingstatus": 100000001
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "Get_Parent_Processing_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c59e21e3-e5b2-4d9e-b294-228dee695da2"
              }
            }
          },
          "runAfter": {
            "Initialize_varErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aedea8d7-5f07-4083-baa7-11c0d9bf08e3"
          }
        },
        "Initialize_varStyleID": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varStyleID",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "91a37d55-5233-4613-b415-8b9ce37860ce"
          }
        },
        "Fetch_Information": {
          "type": "Scope",
          "actions": {
            "List_Base_Service_Item": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_baseserviceitems",
                  "$filter": "_hso_companyid_value eq '@{triggerBody()['text_5']}'",
                  "$expand": "hso_productid($select=name,msdyn_itemnumber,msdyn_productnumber),\nhso_companyid($select=cdm_companycode)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "metadata": {
                "operationMetadataId": "4399e4f2-eb63-43e3-b6c1-6ce0c41bf09f"
              }
            },
            "Apply_to_each_Base_Service_Item": {
              "type": "Foreach",
              "foreach": "@outputs('List_Base_Service_Item')?['body/value']",
              "actions": {
                "Set_varBaseServiceItemNumber": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varBaseServiceItemNumber",
                    "value": "@items('Apply_to_each_Base_Service_Item')?['hso_productid/msdyn_itemnumber']"
                  },
                  "metadata": {
                    "operationMetadataId": "67b18232-4cca-4e3c-a204-cfac35b4f0b2"
                  }
                },
                "Set_varCompanyName": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varCompanyName",
                    "value": "@items('Apply_to_each_Base_Service_Item')?['hso_companyid/cdm_companycode']"
                  },
                  "runAfter": {
                    "Set_varBaseServiceItemNumber": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "238b6537-ca30-43cd-969b-315a45827bde"
                  }
                }
              },
              "runAfter": {
                "List_Base_Service_Item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "205dd8dd-2626-4fc3-85b1-b8d7cee60993"
              }
            },
            "Substring_of_Project_Number": {
              "type": "Expression",
              "kind": "Substring",
              "inputs": {
                "text": "@triggerBody()?['text']",
                "startingPosition": 3
              },
              "runAfter": {
                "Apply_to_each_Base_Service_Item": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Processing_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "877d58e4-69dd-4877-ae23-dc9b62c85838"
          }
        },
        "Initialize_varBaseServiceItemNumber": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varBaseServiceItemNumber",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_varStyleID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a5c800d6-3e38-4145-b7d0-b179054f7ca4"
          }
        },
        "Measurement_Service_Items": {
          "type": "Scope",
          "actions": {
            "List_Calculation_Position_Nodes_marked_as_measurement_item": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_calculationdetails",
                  "$filter": "_hso_calculationid_value eq @{triggerBody()['text_1']} and hso_projecttype eq @{triggerBody()['number']} and hso_positionelementtype eq 100000006 and hso_measurementproduct eq true"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "metadata": {
                "operationMetadataId": "4a34ab79-a347-49d8-bcce-a2bf3dd7c9c0"
              }
            },
            "Set_varServiceItems_ToProcess": {
              "type": "SetVariable",
              "inputs": {
                "name": "varServiceItems_ToProcess",
                "value": "@length(outputs('List_Calculation_Position_Nodes_marked_as_measurement_item')?['body/value'])"
              },
              "runAfter": {
                "List_Calculation_Position_Nodes_marked_as_measurement_item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "efdfde50-0d2d-479f-88af-35bf0e9ddbff"
              }
            },
            "Service_Items_to_process": {
              "type": "If",
              "expression": {
                "greater": [
                  "@variables('varServiceItems_ToProcess')",
                  0
                ]
              },
              "actions": {
                "Apply_to_each_Calculation_Position": {
                  "type": "Foreach",
                  "foreach": "@outputs('List_Calculation_Position_Nodes_marked_as_measurement_item')?['body/value']",
                  "actions": {
                    "Is_GAEB": {
                      "type": "If",
                      "expression": {
                        "equals": [
                          "@triggerBody()['boolean']",
                          true
                        ]
                      },
                      "actions": {
                        "Set_varStyleID_[GAEB]": {
                          "type": "SetVariable",
                          "description": "\"P\" + Letzte 3 Zahlen Projektnummer + \"-\" + GAEB-OZ",
                          "inputs": {
                            "name": "varStyleID",
                            "value": "P123"
                          },
                          "metadata": {
                            "operationMetadataId": "2fdf770e-b521-4915-bc03-cd87a66e2b79"
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Line_ID_is_set": {
                            "type": "If",
                            "expression": {
                              "not": {
                                "equals": [
                                  "@items('Apply_to_each_Calculation_Position')?['hso_lineid']",
                                  "@null"
                                ]
                              }
                            },
                            "actions": {
                              "Set_varStyleID_to_Line_ID": {
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "varStyleID",
                                  "value": "@items('Apply_to_each_Calculation_Position')?['hso_lineid']"
                                },
                                "metadata": {
                                  "operationMetadataId": "f0165822-6017-4cb9-b2b5-600a7019556d"
                                }
                              }
                            },
                            "else": {
                              "actions": {
                                "Set_varStyleID_[nonGAEB]": {
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "varStyleID",
                                    "value": "@{rand(0,1000000000)}"
                                  },
                                  "metadata": {
                                    "operationMetadataId": "6e3ffef4-1036-4b94-82ea-6f766f518217"
                                  }
                                }
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "8c4348a0-d30d-470a-88fd-965c5ac2a26b"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "aa059da5-5749-43a7-aa39-7472a8c5ea34"
                      }
                    },
                    "Increment_varServiceItems_Processed_by_1": {
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "varServiceItems_Processed",
                        "value": 1
                      },
                      "runAfter": {
                        "Create_FinOps_Released_Product_Variant": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "eea47c97-9a57-4181-98a3-647699fd30e8"
                      }
                    },
                    "Update_Calculation_Position": {
                      "type": "OpenApiConnection",
                      "description": "Assign FinOps Product Variant Number (required for Project Item Planning)",
                      "inputs": {
                        "parameters": {
                          "entityName": "hso_calculationdetails",
                          "recordId": "@items('Apply_to_each_Calculation_Position')?['hso_calculationdetailid']",
                          "item/hso_measurementproductvariant": "@body('Create_FinOps_Released_Product_Variant')?['ProductVariantNumber']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "connectionName": "shared_commondataserviceforapps-1"
                        }
                      },
                      "runAfter": {
                        "Increment_varServiceItems_Processed_by_1": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "fddab1aa-71fb-424b-ad0a-cacd3debaca9"
                      }
                    },
                    "Create_FinOps_Released_Product_Variant": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "request/method": "POST",
                          "request/url": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ReleasedProductVariantsV2",
                          "request/body": "{\n\"dataAreaId\": \"@{variables('varCompanyName')}\", \n\"ProductMasterNumber\": \"@{variables('varBaseServiceItemNumber')}\",\n \"ItemNumber\": \"@{variables('varBaseServiceItemNumber')}\",\n \"ProductColorId\": \"@{body('Substring_of_Project_Number')}\",\n \"ProductStyleId\": \"@{variables('varStyleID')}\",\n \"ProductLifecycleStateId\": \"Aktiv\",\n \"ProductDescription\": \"@{triggerBody()['text']}-@{items('Apply_to_each_Calculation_Position')?['hso_linenumber']}-@{replace(replace(coalesce(items('Apply_to_each_Calculation_Position')?['hso_name'], ''), '\\', '\\\\'), '\"', '\\\"')}\",\n \"ProductName\": \"@{replace(replace(coalesce(items('Apply_to_each_Calculation_Position')?['hso_name'], ''), '\\', '\\\\'), '\"', '\\\"')}\",\n \"ProductSearchName\": \"@{replace(replace(coalesce(items('Apply_to_each_Calculation_Position')?['hso_name'], ''), '\\', '\\\\'), '\"', '\\\"')}\"\n}"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                          "operationId": "InvokeHttp",
                          "connectionName": "shared_webcontents_1"
                        }
                      },
                      "runAfter": {
                        "Product_Master_Style_found": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5cb27e20-13ee-4fa6-9427-8197bf0555cd"
                      }
                    },
                    "Get_FinOps_Product_Style": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "request/method": "GET",
                          "request/url": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ProductStyleV2?$filter=StyleId eq '@{variables('varStyleID')}'",
                          "request/headers": {
                            "Accept": "application/json"
                          }
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                          "operationId": "InvokeHttp",
                          "connectionName": "shared_webcontents_1"
                        }
                      },
                      "runAfter": {
                        "Is_GAEB": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Product_Style_found": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(body('Get_FinOps_Product_Style')?['value'])",
                              "@int('0')"
                            ]
                          }
                        ]
                      },
                      "actions": {},
                      "else": {
                        "actions": {
                          "Create_FinOps_Product_Style": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "request/method": "POST",
                                "request/url": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ProductStyleV2",
                                "request/body": "{\n \"StyleId\": \"@{variables('varStyleID')}\"\n}"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                "operationId": "InvokeHttp",
                                "connectionName": "shared_webcontents_1"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "88c79a28-b7fd-4ca8-97e5-7b6c6bf012b9"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Get_FinOps_Product_Style": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Get_FinOps_Product_Master_Style": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "request/method": "GET",
                          "request/url": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ProductMasterStyles?$filter=ProductMasterNumber eq '@{variables('varBaseServiceItemNumber')}' and ProductStyleId eq '@{variables('varStyleID')}'",
                          "request/headers": {
                            "Accept": "application/json"
                          }
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                          "operationId": "InvokeHttp",
                          "connectionName": "shared_webcontents_1"
                        }
                      },
                      "runAfter": {
                        "Product_Style_found": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Product_Master_Style_found": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(body('Get_FinOps_Product_Master_Style')?['value'])",
                              "@int('0')"
                            ]
                          }
                        ]
                      },
                      "actions": {},
                      "else": {
                        "actions": {
                          "Create_FinOps_Product_Master_Style": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "request/method": "POST",
                                "request/url": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ProductMasterStyles",
                                "request/body": "{\n \"ProductMasterNumber\": \"@{variables('varBaseServiceItemNumber')}\",\n \"ProductStyleId\": \"@{variables('varStyleID')}\"\n}"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                "operationId": "InvokeHttp",
                                "connectionName": "shared_webcontents_1"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "f229981f-9b3a-4271-bc0b-e8832440c31d"
                            }
                          },
                          "Create_FinOps_Product_Master_Style_Translation": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "request/method": "POST",
                                "request/url": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ProductMasterStyleTranslations",
                                "request/body": "{\n \"ProductMasterNumber\": \"@{variables('varBaseServiceItemNumber')}\",\n \"ProductMasterStyleId\": \"@{variables('varStyleID')}\",\n \"LanguageId\": \"de\",\n \"TranslatedStyleDescription\": \"@{variables('varStyleID')}\",\n \"TranslatedStyleName\": \"@{variables('varStyleID')}\"\n}"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                "operationId": "InvokeHttp",
                                "connectionName": "shared_webcontents_1"
                              }
                            },
                            "runAfter": {
                              "Create_FinOps_Product_Master_Style": [
                                "Succeeded"
                              ]
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Get_FinOps_Product_Master_Style": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "Product_Master_Color_found": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "baabaf24-e40e-4968-9a6c-edd0d64a81e3"
                  }
                },
                "Apply_to_each_Calculation_Positon_-_Error": {
                  "type": "Scope",
                  "actions": {
                    "Filter_Results_for_failed_actions_[Apply_to_each_Calculation_Position]": {
                      "type": "Query",
                      "inputs": {
                        "from": "@result('Apply_to_each_Calculation_Position')?['outputs']",
                        "where": "@equals(item()['status'], 'Failed')"
                      },
                      "metadata": {
                        "operationMetadataId": "490552f2-9172-4185-9544-f62585d533ae"
                      }
                    },
                    "Select_Error_Summary_[Apply_to_each_Calculation_Position]": {
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Filter_Results_for_failed_actions_[Apply_to_each_Calculation_Position]')?['outputs']",
                        "select": {
                          "Action": "@item()?['name']",
                          "Code": "@item()?['code']",
                          "Status": "@item()?['status']",
                          "StatusCode": "@item()?['outputs']?['statusCode']",
                          "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')\r\n"
                        }
                      },
                      "runAfter": {
                        "Filter_Results_for_failed_actions_[Apply_to_each_Calculation_Position]": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e1b7b1bd-a6a7-45f8-82f9-5fce5c7ae991"
                      }
                    },
                    "Apply_to_each_Error_Summary_[Apply_to_each_Calculation_Position]": {
                      "type": "Foreach",
                      "foreach": "@body('Select_Error_Summary_[Apply_to_each_Calculation_Position]')",
                      "actions": {
                        "Append_Error_Summary_[Apply_to_each_Calculation_Position]": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "varError",
                            "value": "@items('Apply_to_each_Error_Summary_[Apply_to_each_Calculation_Position]')"
                          },
                          "metadata": {
                            "operationMetadataId": "71fbce82-6dfd-42c3-bd76-21fc3087f945"
                          }
                        }
                      },
                      "runAfter": {
                        "Select_Error_Summary_[Apply_to_each_Calculation_Position]": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "795b8500-1902-4f9b-a55a-1bd655aa52ff"
                      }
                    }
                  },
                  "runAfter": {
                    "Apply_to_each_Calculation_Position": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3c55e060-cad3-4432-8c5b-bbccf49a7fb2"
                  }
                },
                "Get_FinOps_Product_Color": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "request/method": "GET",
                      "request/url": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ProductColorV2?$filter=ColorId eq '@{body('Substring_of_Project_Number')}'",
                      "request/headers": {
                        "Accept": "application/json"
                      }
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                      "operationId": "InvokeHttp",
                      "connectionName": "shared_webcontents_1"
                    }
                  }
                },
                "Product_Color_found": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Get_FinOps_Product_Color')?['value'])",
                          "@int('0')"
                        ]
                      }
                    ]
                  },
                  "actions": {},
                  "else": {
                    "actions": {
                      "Create_FinOps_Product_Color": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "request/method": "POST",
                            "request/url": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ProductColorV2",
                            "request/body": "{\n \"ColorId\": \"@{body('Substring_of_Project_Number')}\"\n}"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                            "operationId": "InvokeHttp",
                            "connectionName": "shared_webcontents_1"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "e4d76246-bace-4938-af2f-4a66afff67d5"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Get_FinOps_Product_Color": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_FinOps_Product_Master_Color": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "request/method": "GET",
                      "request/url": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ProductMasterColors?$filter=ProductMasterNumber eq '@{variables('varBaseServiceItemNumber')}' and ProductColorId eq '@{body('Substring_of_Project_Number')}'",
                      "request/headers": {
                        "Accept": "application/json"
                      }
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                      "operationId": "InvokeHttp",
                      "connectionName": "shared_webcontents_1"
                    }
                  },
                  "runAfter": {
                    "Product_Color_found": [
                      "Succeeded"
                    ]
                  }
                },
                "Product_Master_Color_found": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Get_FinOps_Product_Master_Color')?['value'])",
                          "@int('0')"
                        ]
                      }
                    ]
                  },
                  "actions": {},
                  "else": {
                    "actions": {
                      "Create_FinOps_Product_Master_Color": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "request/method": "POST",
                            "request/url": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ProductMasterColors",
                            "request/body": "{\n \"ProductMasterNumber\": \"@{variables('varBaseServiceItemNumber')}\",\n \"ProductColorId\": \"@{body('Substring_of_Project_Number')}\"\n}"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                            "operationId": "InvokeHttp",
                            "connectionName": "shared_webcontents_1"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "546fc421-9622-49ce-ac4a-bc8de4a1ac40"
                        }
                      },
                      "Create_FinOps_Product_Master_Color_Translation": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "request/method": "POST",
                            "request/url": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ProductMasterColorTranslations",
                            "request/body": "{\n \"ProductMasterNumber\": \"@{body('Create_FinOps_Product_Master_Color')?['ProductMasterNumber']}\",\n \"ProductMasterColorId\": \"@{body('Create_FinOps_Product_Master_Color')?['ProductColorId']}\",\n \"LanguageId\": \"de\",\n \"TranslatedColorDescription\": \"@{body('Substring_of_Project_Number')}\",\n \"TranslatedColorName\": \"@{body('Substring_of_Project_Number')}\"\n}"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                            "operationId": "InvokeHttp",
                            "connectionName": "shared_webcontents_1"
                          }
                        },
                        "runAfter": {
                          "Create_FinOps_Product_Master_Color": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Get_FinOps_Product_Master_Color": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Set_varServiceItems_ToProcess": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "faa4f663-fa33-4fbe-ac27-bde9dc42409e"
              }
            }
          },
          "runAfter": {
            "Fetch_Information": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "776993d3-cfa6-4267-9e64-d87b9dcde185"
          }
        },
        "Initialize_varError": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varError",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_varServiceItems_Processed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a43fe329-2bc6-4f74-a5a6-82c7919da3c0"
          }
        },
        "Initialize_varErrorMessage": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorMessage",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bc5425aa-75b2-42ae-8697-60e8a2e0e234"
          }
        },
        "Summary": {
          "type": "Scope",
          "actions": {
            "Service_Items_successfully_processed": {
              "type": "If",
              "expression": {
                "equals": [
                  "@variables('varServiceItems_ToProcess')",
                  "@variables('varServiceItems_Processed')"
                ]
              },
              "actions": {
                "Update_Processing_Log_[Success]": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_processinglogs",
                      "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                      "item/hso_end_datetime": "@utcNow()",
                      "item/hso_serviceitem_created": true,
                      "item/hso_serviceitem_actual": "@variables('varServiceItems_Processed')",
                      "item/hso_serviceitem_target": "@variables('varServiceItems_ToProcess')",
                      "item/hso_processingstatus": 100000002
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "8306ab34-29f4-4f8b-8d72-da8d24e39896"
                  }
                },
                "Respond_to_Parent_Flow_[Success]": {
                  "type": "Response",
                  "kind": "PowerApp",
                  "inputs": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "processing": {
                          "title": "Processing",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        },
                        "products_toprocess": {
                          "title": "Products_ToProcess",
                          "x-ms-dynamically-added": true,
                          "type": "number"
                        },
                        "products_processed": {
                          "title": "Products_Processed",
                          "x-ms-dynamically-added": true,
                          "type": "number"
                        }
                      },
                      "additionalProperties": {}
                    },
                    "statusCode": 200,
                    "body": {
                      "processing": "Success",
                      "products_toprocess": "@{variables('varServiceItems_ToProcess')}",
                      "products_processed": "@{variables('varServiceItems_Processed')}"
                    }
                  },
                  "runAfter": {
                    "Update_Processing_Log_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "02e82479-be56-4805-a9e6-94bf9ef1700f"
                  }
                }
              },
              "else": {
                "actions": {
                  "Apply_to_each_Error_Summary": {
                    "type": "Foreach",
                    "foreach": "@variables('varError')",
                    "actions": {
                      "Append_Error_Message": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varErrorMessage",
                          "value": "[ERROR] - Action '@{items('Apply_to_each_Error_Summary')?['Action']}' failed with error message: @{items('Apply_to_each_Error_Summary')?['Message']} (Status: @{items('Apply_to_each_Error_Summary')?['Status']} / Status Code: @{items('Apply_to_each_Error_Summary')?['StatusCode']})"
                        },
                        "metadata": {
                          "operationMetadataId": "1a400f58-ce47-4f31-97f4-6803102d0568"
                        }
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "0248dacc-a9ee-405b-ad48-844d16693aa0"
                    }
                  },
                  "Update_Processing_Log_[Failure]": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                        "item/hso_end_datetime": "@utcNow()",
                        "item/hso_flowerror": "@variables('varErrorMessage')",
                        "item/hso_serviceitem_actual": "@variables('varServiceItems_Processed')",
                        "item/hso_serviceitem_target": "@variables('varServiceItems_ToProcess')",
                        "item/hso_processingstatus": 100000003
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "connectionName": "shared_commondataserviceforapps-1"
                      }
                    },
                    "runAfter": {
                      "Apply_to_each_Error_Summary": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "5e3ca3a6-c7c5-42ec-b4c5-3be322d779b9"
                    }
                  },
                  "Respond_to_Parent_Flow_[Failure]": {
                    "type": "Response",
                    "kind": "PowerApp",
                    "inputs": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "processing": {
                            "title": "Processing",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          },
                          "products_toprocess": {
                            "title": "Products_ToProcess",
                            "x-ms-dynamically-added": true,
                            "type": "number"
                          },
                          "products_processed": {
                            "title": "Products_Processed",
                            "x-ms-dynamically-added": true,
                            "type": "number"
                          }
                        },
                        "additionalProperties": {}
                      },
                      "statusCode": 200,
                      "body": {
                        "processing": "Failure",
                        "products_toprocess": "@{variables('varServiceItems_ToProcess')}",
                        "products_processed": "@{variables('varServiceItems_Processed')}"
                      }
                    },
                    "runAfter": {
                      "Update_Processing_Log_[Failure]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d8619010-63b7-4da1-bbfb-7b567a2a1fb3"
                    }
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "1ccd2c5a-ba04-4b37-9337-fb360d165b6e"
              }
            }
          },
          "runAfter": {
            "Measurement_Service_Items_-_Error": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "a15d2b27-66d0-4e95-8c91-11886ef13fcb"
          }
        },
        "Initialize_varServiceItems_ToProcess": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varServiceItems_ToProcess",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "runAfter": {
            "Initialize_varCompanyName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "affb3b40-8231-4cfe-902e-24f5b476a473"
          }
        },
        "Initialize_varServiceItems_Processed": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varServiceItems_Processed",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "runAfter": {
            "Initialize_varServiceItems_ToProcess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "28b4331e-9adc-4987-97b3-553ba19636a0"
          }
        },
        "Measurement_Service_Items_-_Error": {
          "type": "Scope",
          "actions": {
            "Filter_Results_for_failed_actions_[Measurement_Service_Items]": {
              "type": "Query",
              "inputs": {
                "from": "@result('Measurement_Service_Items')",
                "where": "@equals(item()['status'], 'Failed')"
              },
              "metadata": {
                "operationMetadataId": "26d38635-3012-4654-b746-09f7bc4660cb"
              }
            },
            "Select_Error_Summary_[Measurement_Service_Items]": {
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_Results_for_failed_actions_[Measurement_Service_Items]')",
                "select": {
                  "Action": "@item()?['name']",
                  "Code": "@item()?['code']",
                  "Status": "@item()?['status']",
                  "StatusCode": "@item()?['outputs']?['statusCode']",
                  "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')\r\n"
                }
              },
              "runAfter": {
                "Filter_Results_for_failed_actions_[Measurement_Service_Items]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78d29469-97ea-468f-a8aa-b4a11cbeb99c"
              }
            },
            "Apply_to_each_Error_Summary_[Measurement_Service_Items]": {
              "type": "Foreach",
              "foreach": "@body('Select_Error_Summary_[Measurement_Service_Items]')",
              "actions": {
                "Append_Error_Summary_[Measurement_Service_Items]": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varError",
                    "value": "@items('Apply_to_each_Error_Summary_[Measurement_Service_Items]')"
                  },
                  "metadata": {
                    "operationMetadataId": "f56aec61-281c-4b20-b2f1-83f15531c77c"
                  }
                }
              },
              "runAfter": {
                "Select_Error_Summary_[Measurement_Service_Items]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "80718055-8aa7-4218-8f31-b59542bbf0e3"
              }
            }
          },
          "runAfter": {
            "Measurement_Service_Items": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "69a47430-37bd-4518-b3da-e5e98f05691f"
          }
        },
        "Initialize_varCompanyName": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varCompanyName",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_varBaseServiceItemNumber": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0de9b413-d2c4-48d1-becf-2938211f2fc1"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}