SSTCoreV2/Workflows/PAWorkOrderCreatetimereportwithunsignedtimeentries-956B8F42-CB7E-EE11-8179-000D3AB3405B.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "sst_CRDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "dynamicscrmonline.organizationName": {
          "defaultValue": "",
          "type": "String"
        },
        "dynamicscrmonline.entityName": {
          "defaultValue": "",
          "type": "String"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "msdyn_workorder",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "msdyn_systemstatus",
              "subscriptionRequest/filterexpression": "msdyn_systemstatus eq 690970003 and _msdyn_workordertype_value eq 'e72f1e87-cb97-ee11-be37-000d3ab3c80c'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runtimeConfiguration": {
            "concurrency": {
              "runs": 1
            }
          },
          "metadata": {
            "operationMetadataId": "426794c4-f502-4bfa-8625-e27f86109a7f"
          }
        }
      },
      "actions": {
        "List_rounded_time_reports": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "sst_roundedtimeentrieses",
              "fetchXml": "<fetch version=\"1.0\" mapping=\"logical\" savedqueryid=\"608e584c-9312-49e1-8c2e-b2690cf77fe4\" distinct=\"true\" no-lock=\"false\"><entity name=\"sst_roundedtimeentries\"><attribute name=\"sst_name\"/><attribute name=\"sst_roundedtimeentriesid\"/><attribute name=\"createdon\"/><attribute name=\"sst_duration\"/><attribute name=\"sst_workorder\"/><attribute name=\"sst_signed\"/><attribute name=\"sst_type\"/><attribute name=\"sst_bookableresourcebooking\"/><attribute name=\"sst_worksubtypecompleted\"/><filter type=\"and\"><condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/><condition attribute=\"sst_timereport\" operator=\"null\"/><condition attribute=\"sst_workorder\" operator=\"eq\" value=\"{@{triggerOutputs()?['body/msdyn_workorderid']}}\" uiname=\"00057\" uitype=\"msdyn_workorder\"/><filter type=\"or\"><condition attribute=\"sst_worksubtypecompleted\" operator=\"eq\" value=\"0\"/><filter type=\"and\"><condition attribute=\"sst_worksubtypecompleted\" operator=\"eq\" value=\"1\"/><condition attribute=\"sst_type\" operator=\"like\" value=\"%|%\"/></filter></filter></filter></entity></fetch>"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "61926295-2c1c-43a2-9085-7ed6f0ed54eb"
          }
        },
        "Create_a_new_time_report": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "sst_timereportses",
              "item/sst_name": "Time report @{utcNow()}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "List_rounded_time_reports": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "operationMetadataId": "48ca9742-845e-4235-bd55-70cd9ee8ca6d"
          }
        },
        "Update_each_rounded_time_entry_with_the_newly_created_time_report": {
          "type": "Foreach",
          "foreach": "@outputs('List_rounded_time_reports')?['body/value']",
          "actions": {
            "Update_the_lookup": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "sst_roundedtimeentrieses",
                  "recordId": "@items('Update_each_rounded_time_entry_with_the_newly_created_time_report')?['sst_roundedtimeentriesid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "10d59561-79d2-4624-a26a-96a0a32bd9c7"
              }
            }
          },
          "runAfter": {
            "Create_a_new_time_report": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "operationMetadataId": "91e3e757-a2b5-4919-af06-44fae2893f1a"
          }
        }
      },
      "description": "Create one or more actions to happen when records in the Microsoft Dataverse portal are selected. To use this flow from Microsoft Dataverse, select the record(s) you want to send to the flow, go to the command bar at the top of the screen, select Flows, and choose this flow."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}