ETOCore/Workflows/PAAPPCalculationPositionCreatenewPositionsfromArra-C21ACA9E-56CF-EF11-B8E8-0022489ECCB4.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-d365-ETO-int-11.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance",
            "description": "The Dataverse Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "6a297872-c48f-40d9-989e-42b2978bb1fd"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "A list of Calculation Positions to be created",
                  "title": "Calculation Positions Payload",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Create Calculation Positions as Copy or as Import from Template",
                  "title": "Operation Type",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "The GUID of the Calculation where the Positions are added to",
                  "title": "Calculation",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_varOdataType": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8c408784-79c1-4ab6-a2bd-5f2aad491702"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varOdataType",
                "type": "string",
                "value": "@{string('@')}odata.type"
              }
            ]
          }
        },
        "Initialize_varFetchXMLCondition": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7821d249-fe49-42ff-bd5d-70ad64a8bc33"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFetchXMLCondition",
                "type": "string"
              }
            ]
          }
        },
        "Calculation_Positions": {
          "actions": {
            "Do_until_all_Levels_are_processed_[Create]": {
              "actions": {
                "Filter_Calculation_Details_to_create_new_Positions_by_Level": {
                  "metadata": {
                    "operationMetadataId": "616431fb-a6bd-4081-bcbd-1a851d837db7"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Filter_Calculation_Details_by_Element_Type')",
                    "where": "@equals(int(item()?['hso_level']),int(variables('varIterationLevel')))"
                  }
                },
                "Level_to_process_[Create]": {
                  "actions": {
                    "Process_Create_Multiple_in_parallel": {
                      "actions": {
                        "Apply_to_each_Parallel_Bulk_Operation_Message": {
                          "foreach": "@variables('varParallelBulkOperationMessages')",
                          "actions": {
                            "Select_Calculation_Details_by_DOP-Index": {
                              "metadata": {
                                "operationMetadataId": "7a9dcfc9-1a5b-4b83-bf16-b3206bf059d5"
                              },
                              "type": "Select",
                              "inputs": {
                                "from": "@take(\r\nskip(\r\n\tbody('Filter_Calculation_Details_to_create_new_Positions_by_Level'), \r\n\tmul(\r\n\t\titems('Apply_to_each_Parallel_Bulk_Operation_Message'), \r\n\t\tvariables('varNumberOfItemsPerBulkOperationMessage')\r\n\t)\r\n), variables('varNumberOfItemsPerBulkOperationMessage'))",
                                "select": {
                                  "@{variables('varOdataType')}": "#Microsoft.Dynamics.CRM.hso_calculationdetail",
                                  "hso_calculationid@odata.bind": "/hso_calculations(@{item()?['_hso_calculationid_value']})",
                                  "hso_quoteid@odata.bind": "/quotes(@{item()?['_hso_quoteid_value']})",
                                  "hso_calculationtype": "@item()?['hso_calculationtype']",
                                  "hso_positionelementtype": "@item()?['hso_positionelementtype']",
                                  "hso_name": "@item()?['hso_name']",
                                  "hso_companyid@odata.bind": "/cdm_companies(@{item()?['_hso_companyid_value']})",
                                  "hso_linenumber": "@item()?['hso_linenumber']",
                                  "hso_linenumber_level": "@item()?['hso_linenumber_level']",
                                  "hso_calculationdetail_parentid_sortinglinenum": "@item()?['hso_calculationdetail_parentid_sortinglinenum']",
                                  "hso_parent_linenumber_import": "@item()?['hso_parent_linenumber_import']",
                                  "hso_productid@odata.bind": "@If(empty(item()?['_hso_productid_value']), '', concat('products(', item()?['_hso_productid_value'], ')'))",
                                  "hso_projectproductid@odata.bind": "@If(\r\n empty(item()?['_hso_projectproductid_value']), \r\n '', \r\n concat(\r\n  'hso_projectproducts(',\r\n  item()?['_hso_projectproductid_value'],\r\n  ')'\r\n )\r\n)",
                                  "hso_projecthourid@odata.bind": "@If(empty(item()?['_hso_projecthourid_value']), '', concat('hso_projecthours(', item()?['_hso_projecthourid_value'], ')'))",
                                  "hso_projectexpenseid@odata.bind": "@If(empty(item()?['_hso_projectexpenseid_value']), '', concat('hso_projectexpenses(', item()?['_hso_projectexpenseid_value'], ')'))",
                                  "hso_externalserviceid@odata.bind": "@If(empty(item()?['_hso_externalserviceid_value']), '', concat('hso_externalservices(', item()?['_hso_externalserviceid_value'], ')'))",
                                  "hso_surchargegroup_baseid@odata.bind": "@If(empty(item()?['_hso_surchargegroup_baseid_value']), '', concat('hso_surchargegroup_bases(', item()?['_hso_surchargegroup_baseid_value'], ')'))",
                                  "hso_uomid@odata.bind": "@If(empty(item()?['_hso_uomid_value']), '', concat('uoms(', item()?['_hso_uomid_value'], ')'))\r\n",
                                  "hso_quantity": "@item()?['hso_quantity']",
                                  "hso_level": "@item()?['hso_level']",
                                  "hso_positiondetails": "@item()?['hso_positiondetails']",
                                  "hso_projecttype": "@item()?['hso_projecttype']",
                                  "hso_language": "@item()?['hso_language']",
                                  "hso_textblock_name": "@item()?['hso_textblock_name']",
                                  "hso_textblock_description_max": "@item()?['hso_textblock_description_max']",
                                  "hso_productionhourid@odata.bind": "@If(empty(item()?['_hso_productionhourid_value']), '', concat('hso_productionhours(', item()?['_hso_productionhourid_value'], ')'))",
                                  "hso_positionquantity": "@item()?['hso_quantity']",
                                  "hso_calculationmetalpriceid@odata.bind": "@If(empty(item()?['_hso_calculationmetalpriceid_value']), '', concat('hso_calculationmetalprices(', item()?['_hso_calculationmetalpriceid_value'], ')'))",
                                  "hso_product_metalbase": "@item()?['hso_product_metalbase']",
                                  "hso_product_metallabelid@odata.bind": "@If(empty(item()?['_hso_product_metallabelid_value']), '', concat('hso_metallabels(', item()?['_hso_product_metallabelid_value'], ')'))",
                                  "hso_product_metalnumber": "@item()?['hso_product_metalnumber']",
                                  "hso_calculationmetalpriceid_2@odata.bind": "@If(empty(item()?['_hso_calculationmetalpriceid_2_value']), '', concat('hso_calculationmetalprices(', item()?['_hso_calculationmetalpriceid_2_value'], ')'))",
                                  "hso_product_metalbase_2": "@item()?['hso_product_metalbase_2']",
                                  "hso_product_metallabelid_2@odata.bind": "@If(empty(item()?['_hso_product_metallabelid_2_value']), '', concat('hso_metallabels(', item()?['_hso_product_metallabelid_2_value'], ')'))",
                                  "hso_product_metalnumber_2": "@item()?['hso_product_metalnumber_2']",
                                  "hso_calculationmetalpriceid_3@odata.bind": "@If(empty(item()?['_hso_calculationmetalpriceid_3_value']), '', concat('hso_calculationmetalprices(', item()?['_hso_calculationmetalpriceid_3_value'], ')'))",
                                  "hso_product_metalbase_3": "@item()?['hso_product_metalbase_3']",
                                  "hso_product_metallabelid_3@odata.bind": "@If(empty(item()?['_hso_product_metallabelid_3_value']), '', concat('hso_metallabels(', item()?['_hso_product_metallabelid_3_value'], ')'))",
                                  "hso_product_metalnumber_3": "@item()?['hso_product_metalnumber_3']",
                                  "hso_costprice": "@item()?['hso_costprice']",
                                  "hso_costpriceperunit": "@item()?['hso_costpriceperunit']",
                                  "hso_overheadsurchargepercentage": "@item()?['hso_overheadsurchargepercentage']",
                                  "hso_profitsurchargepercentage": "@item()?['hso_profitsurchargepercentage']",
                                  "hso_discountpercentage": "@item()?['hso_discountpercentage']",
                                  "hso_quotedprice": "@item()?['hso_quotedprice']",
                                  "hso_quotedpriceperunit": "@item()?['hso_quotedpriceperunit']",
                                  "hso_quotedprice_new": "@item()?['hso_quotedprice_new']",
                                  "hso_calculationdetail_parentid@odata.bind": "@If(\n\tequals(\n        item()?['hso_level'],\n        1\n    ), \n\t'',\n\tconcat(\n\t\t'hso_calculationdetails(_hso_calculationid_value=', \n\t\titem()?['_hso_calculationid_value'],\n\t\t',hso_linenumber=',\n        concat(\n\t\t\t'''', \n\t\t\titem()?['hso_parent_linenumber_import'], \n\t\t\t''''\n\t\t),\n\t\t')'\n\t)\n)",
                                  "hso_calculationdetailid": "@guid()",
                                  "hso_isbillofmaterial": "@item()?['hso_isbillofmaterial']",
                                  "hso_billofmaterial_projectproductid@odata.bind": "@If(\r\n empty(item()?['_hso_billofmaterial_projectproductid_value']), \r\n '', \r\n concat(\r\n  'hso_projectproducts(',\r\n  item()?['_hso_billofmaterial_projectproductid_value'],\r\n  ')'\r\n )\r\n)"
                                }
                              }
                            },
                            "Positions_to_create": {
                              "actions": {
                                "Create_Calculation_Details_by_DOP-Index": {
                                  "metadata": {
                                    "operationMetadataId": "457c3525-6f70-43cf-a843-27aeb11901f2"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "parameters": {
                                      "request/method": "POST",
                                      "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationdetails/Microsoft.Dynamics.CRM.CreateMultiple",
                                      "request/headers": {
                                        "OData-MaxVersion": "4.0",
                                        "OData-Version": "4.0",
                                        "If-None-Match": "null",
                                        "Accept": "application/json",
                                        "Content-Type": "application/json; charset=utf-8",
                                        "MSCRM.BypassCustomPluginExecution": "true",
                                        "MSCRM.SuppressDuplicateDetection": "true",
                                        "MSCRM.BypassBusinessLogicExecution": "CustomSync,CustomAsync",
                                        "MSCRM.SuppressCallbackRegistrationExpanderJob": "true"
                                      },
                                      "request/body": "{\n \"Targets\": @{body('Select_Calculation_Details_by_DOP-Index')}\n}"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                      "operationId": "InvokeHttp",
                                      "connectionName": "shared_webcontents"
                                    }
                                  }
                                },
                                "Output_Create_Calculation_Details_by_DOP-Index": {
                                  "runAfter": {
                                    "Append_created_Calculation_Details_by_DOP-Index_to_FetchXML": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Compose",
                                  "inputs": "@string(body('Create_Calculation_Details_by_DOP-Index')?['Ids'])"
                                },
                                "Append_created_Calculation_Details_by_DOP-Index_to_FetchXML": {
                                  "runAfter": {
                                    "Create_Calculation_Details_by_DOP-Index": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "AppendToStringVariable",
                                  "inputs": {
                                    "name": "varFetchXMLFilterCondition",
                                    "value": "@concat(\r\n    '<condition attribute=\"hso_calculationdetailid\" operator=\"eq\" value=\"', \r\n    join(\r\n        body('Create_Calculation_Details_by_DOP-Index')?['Ids'], \r\n        '\" /><condition attribute=\"hso_calculationdetailid\" operator=\"eq\" value=\"'\r\n    ),\r\n    '\"/>'\r\n)"
                                  }
                                }
                              },
                              "runAfter": {
                                "Select_Calculation_Details_by_DOP-Index": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {}
                              },
                              "expression": {
                                "and": [
                                  {
                                    "greater": [
                                      "@length(body('Select_Calculation_Details_by_DOP-Index'))",
                                      0
                                    ]
                                  }
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "831182a2-1c82-42bf-8d48-bc07b839700c"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {
                            "Set_varNumberOfItemsPerBulkOperationMessage": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "22f0de6f-9ed7-4086-a2b2-39cb2734ea5d"
                          },
                          "type": "Foreach",
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          }
                        },
                        "Set_varNumberOfItemsPerBulkOperationMessage": {
                          "runAfter": {
                            "Number_of_Items_per_Bulk_Operation_Message": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "8d46115a-6a85-464e-9070-c1617a41543b"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varNumberOfItemsPerBulkOperationMessage",
                            "value": "@add(\r\n\tdiv(\r\n \t\tlength(body('Filter_Calculation_Details_to_create_new_Positions_by_Level')),\r\n \t\t25\r\n \t),\r\n \tsub(\r\n  \t\t1,\r\n  \t\tmod(\r\n   \t\t\tdiv(\r\n    \t\t\tlength(body('Filter_Calculation_Details_to_create_new_Positions_by_Level')),\r\n    \t\t\t25\r\n    \t\t),\r\n\t\t\t1\r\n  \t\t)\r\n \t)\r\n)"
                          },
                          "description": "Always round up to the next whole number"
                        },
                        "Number_of_Items_per_Bulk_Operation_Message": {
                          "metadata": {
                            "operationMetadataId": "7d467af2-aa51-4752-9cf1-41ac29f1a6cb"
                          },
                          "type": "Compose",
                          "inputs": "@div(\r\n length(body('Filter_Calculation_Details_to_create_new_Positions_by_Level')),\r\n 25\r\n)"
                        }
                      },
                      "else": {
                        "actions": {
                          "Select_Calculation_Details_to_create_new_Positions_by_Level": {
                            "metadata": {
                              "operationMetadataId": "7a9dcfc9-1a5b-4b83-bf16-b3206bf059d5"
                            },
                            "type": "Select",
                            "inputs": {
                              "from": "@body('Filter_Calculation_Details_to_create_new_Positions_by_Level')",
                              "select": {
                                "@{variables('varOdataType')}": "#Microsoft.Dynamics.CRM.hso_calculationdetail",
                                "hso_calculationid@odata.bind": "/hso_calculations(@{item()?['_hso_calculationid_value']})",
                                "hso_quoteid@odata.bind": "/quotes(@{item()?['_hso_quoteid_value']})",
                                "hso_calculationtype": "@item()?['hso_calculationtype']",
                                "hso_positionelementtype": "@item()?['hso_positionelementtype']",
                                "hso_name": "@item()?['hso_name']",
                                "hso_companyid@odata.bind": "/cdm_companies(@{item()?['_hso_companyid_value']})",
                                "hso_linenumber": "@item()?['hso_linenumber']",
                                "hso_linenumber_level": "@item()?['hso_linenumber_level']",
                                "hso_calculationdetail_parentid_sortinglinenum": "@item()?['hso_calculationdetail_parentid_sortinglinenum']",
                                "hso_parent_linenumber_import": "@item()?['hso_parent_linenumber_import']",
                                "hso_productid@odata.bind": "@If(empty(item()?['_hso_productid_value']), '', concat('products(', item()?['_hso_productid_value'], ')'))",
                                "hso_projectproductid@odata.bind": "@If(\r\n empty(item()?['_hso_projectproductid_value']), \r\n '', \r\n concat(\r\n  'hso_projectproducts(',\r\n  item()?['_hso_projectproductid_value'],\r\n  ')'\r\n )\r\n)",
                                "hso_projecthourid@odata.bind": "@If(empty(item()?['_hso_projecthourid_value']), '', concat('hso_projecthours(', item()?['_hso_projecthourid_value'], ')'))",
                                "hso_projectexpenseid@odata.bind": "@If(empty(item()?['_hso_projectexpenseid_value']), '', concat('hso_projectexpenses(', item()?['_hso_projectexpenseid_value'], ')'))",
                                "hso_externalserviceid@odata.bind": "@If(empty(item()?['_hso_externalserviceid_value']), '', concat('hso_externalservices(', item()?['_hso_externalserviceid_value'], ')'))",
                                "hso_surchargegroup_baseid@odata.bind": "@If(empty(item()?['_hso_surchargegroup_baseid_value']), '', concat('hso_surchargegroup_bases(', item()?['_hso_surchargegroup_baseid_value'], ')'))",
                                "hso_uomid@odata.bind": "@If(empty(item()?['_hso_uomid_value']), '', concat('uoms(', item()?['_hso_uomid_value'], ')'))\n",
                                "hso_quantity": "@item()?['hso_quantity']",
                                "hso_level": "@item()?['hso_level']",
                                "hso_positiondetails": "@item()?['hso_positiondetails']",
                                "hso_projecttype": "@item()?['hso_projecttype']",
                                "hso_language": "@item()?['hso_language']",
                                "hso_textblock_name": "@item()?['hso_textblock_name']",
                                "hso_textblock_description_max": "@item()?['hso_textblock_description_max']",
                                "hso_productionhourid@odata.bind": "@If(empty(item()?['_hso_productionhourid_value']), '', concat('hso_productionhours(', item()?['_hso_productionhourid_value'], ')'))",
                                "hso_positionquantity": "@item()?['hso_quantity']",
                                "hso_calculationmetalpriceid@odata.bind": "@If(empty(item()?['_hso_calculationmetalpriceid_value']), '', concat('hso_calculationmetalprices(', item()?['_hso_calculationmetalpriceid_value'], ')'))",
                                "hso_product_metalbase": "@item()?['hso_product_metalbase']",
                                "hso_product_metallabelid@odata.bind": "@If(empty(item()?['_hso_product_metallabelid_value']), '', concat('hso_metallabels(', item()?['_hso_product_metallabelid_value'], ')'))",
                                "hso_product_metalnumber": "@item()?['hso_product_metalnumber']",
                                "hso_calculationmetalpriceid_2@odata.bind": "@If(empty(item()?['_hso_calculationmetalpriceid_2_value']), '', concat('hso_calculationmetalprices(', item()?['_hso_calculationmetalpriceid_2_value'], ')'))",
                                "hso_product_metalbase_2": "@item()?['hso_product_metalbase_2']",
                                "hso_product_metallabelid_2@odata.bind": "@If(empty(item()?['_hso_product_metallabelid_2_value']), '', concat('hso_metallabels(', item()?['_hso_product_metallabelid_2_value'], ')'))",
                                "hso_product_metalnumber_2": "@item()?['hso_product_metalnumber_2']",
                                "hso_calculationmetalpriceid_3@odata.bind": "@If(empty(item()?['_hso_calculationmetalpriceid_3_value']), '', concat('hso_calculationmetalprices(', item()?['_hso_calculationmetalpriceid_3_value'], ')'))",
                                "hso_product_metalbase_3": "@item()?['hso_product_metalbase_3']",
                                "hso_product_metallabelid_3@odata.bind": "@If(empty(item()?['_hso_product_metallabelid_3_value']), '', concat('hso_metallabels(', item()?['_hso_product_metallabelid_3_value'], ')'))",
                                "hso_product_metalnumber_3": "@item()?['hso_product_metalnumber_3']",
                                "hso_costprice": "@item()?['hso_costprice']",
                                "hso_costpriceperunit": "@item()?['hso_costpriceperunit']",
                                "hso_overheadsurchargepercentage": "@item()?['hso_overheadsurchargepercentage']",
                                "hso_profitsurchargepercentage": "@item()?['hso_profitsurchargepercentage']",
                                "hso_discountpercentage": "@item()?['hso_discountpercentage']",
                                "hso_quotedprice": "@item()?['hso_quotedprice']",
                                "hso_quotedpriceperunit": "@item()?['hso_quotedpriceperunit']",
                                "hso_quotedprice_new": "@item()?['hso_quotedprice_new']",
                                "hso_calculationdetail_parentid@odata.bind": "@If(\n\tequals(\n        item()?['hso_level'],\n        1\n    ), \n\t'',\n\tconcat(\n\t\t'hso_calculationdetails(_hso_calculationid_value=', \n\t\titem()?['_hso_calculationid_value'],\n\t\t',hso_linenumber=',\n        concat(\n\t\t\t'''', \n\t\t\titem()?['hso_parent_linenumber_import'], \n\t\t\t''''\n\t\t),\n\t\t')'\n\t)\n)",
                                "hso_calculationdetailid": "@guid()",
                                "hso_isbillofmaterial": "@item()?['hso_isbillofmaterial']",
                                "hso_billofmaterial_projectproductid@odata.bind": "@If(\r\n empty(item()?['_hso_billofmaterial_projectproductid_value']), \r\n '', \r\n concat(\r\n  'hso_projectproducts(',\r\n  item()?['_hso_billofmaterial_projectproductid_value'],\r\n  ')'\r\n )\r\n)"
                              }
                            }
                          },
                          "Create_Calculation_Details_by_Level": {
                            "runAfter": {
                              "Select_Calculation_Details_to_create_new_Positions_by_Level": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "457c3525-6f70-43cf-a843-27aeb11901f2"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "request/method": "POST",
                                "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationdetails/Microsoft.Dynamics.CRM.CreateMultiple",
                                "request/headers": {
                                  "OData-MaxVersion": "4.0",
                                  "OData-Version": "4.0",
                                  "If-None-Match": "null",
                                  "Accept": "application/json",
                                  "Content-Type": "application/json; charset=utf-8",
                                  "MSCRM.BypassCustomPluginExecution": "true",
                                  "MSCRM.SuppressDuplicateDetection": "true",
                                  "MSCRM.BypassBusinessLogicExecution": "CustomSync,CustomAsync",
                                  "MSCRM.SuppressCallbackRegistrationExpanderJob": "true"
                                },
                                "request/body": "{\n \"Targets\": @{body('Select_Calculation_Details_to_create_new_Positions_by_Level')}\n}"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                "operationId": "InvokeHttp",
                                "connectionName": "shared_webcontents"
                              }
                            }
                          },
                          "Is_highest_Level": {
                            "actions": {
                              "Set_varTopLevelNodes": {
                                "metadata": {
                                  "operationMetadataId": "bceeb96d-5081-4cc8-b3cc-76839754caea"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "varTopLevelNodes",
                                  "value": "@body('Select_Calculation_Details_to_create_new_Positions_by_Level')"
                                }
                              }
                            },
                            "runAfter": {
                              "Append_created_Calculation_Details_by_Level_to_FetchXML": [
                                "Succeeded"
                              ]
                            },
                            "else": {
                              "actions": {}
                            },
                            "expression": {
                              "and": [
                                {
                                  "equals": [
                                    "@variables('varIterationLevel')",
                                    "@outputs('Highest_Level')"
                                  ]
                                }
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "efaf898c-2952-42de-a9da-0294d7528a6c"
                            },
                            "type": "If"
                          },
                          "Append_created_Calculation_Details_by_Level_to_FetchXML": {
                            "runAfter": {
                              "Create_Calculation_Details_by_Level": [
                                "Succeeded"
                              ]
                            },
                            "type": "AppendToStringVariable",
                            "inputs": {
                              "name": "varFetchXMLFilterCondition",
                              "value": "@concat(\r\n    '<condition attribute=\"hso_calculationdetailid\" operator=\"eq\" value=\"', \r\n    join(\r\n        body('Create_Calculation_Details_by_Level')?['Ids'], \r\n        '\" /><condition attribute=\"hso_calculationdetailid\" operator=\"eq\" value=\"'\r\n    ),\r\n    '\"/>'\r\n)"
                            }
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "greaterOrEquals": [
                              "@length(body('Filter_Calculation_Details_to_create_new_Positions_by_Level'))",
                              "@int('10')"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d583ac5c-ea2a-4c90-9ab0-a59154224b25"
                      },
                      "type": "If"
                    },
                    "Increment_varIterationLevel_by_1_[Create]": {
                      "runAfter": {
                        "Process_Create_Multiple_in_parallel": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f1608160-33db-493c-9d58-705dd69325e3"
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "varIterationLevel",
                        "value": 1
                      }
                    }
                  },
                  "runAfter": {
                    "Filter_Calculation_Details_to_create_new_Positions_by_Level": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Set_varIterationLevel_to_0_[Create]": {
                        "metadata": {
                          "operationMetadataId": "caa514d5-85bc-4e6d-be00-c168665ead42"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "varIterationLevel",
                          "value": 0
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Filter_Calculation_Details_to_create_new_Positions_by_Level'))",
                          "@int('0')"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "78c397aa-791f-48a2-a573-b0444f06dec0"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Set_varIterationLevel_to_first_Level_found_[Create]": [
                  "Succeeded"
                ],
                "Append_Calculation_Positions_to_process_to_Log": [
                  "Succeeded"
                ]
              },
              "expression": "@equals(variables('varIterationLevel'),int('0'))",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "metadata": {
                "operationMetadataId": "6649f71d-d39f-4f59-896b-8a5bd0c72f7f"
              },
              "type": "Until"
            },
            "Set_varIterationLevel_to_first_Level_found_[Create]": {
              "runAfter": {
                "Compose_Calculation_Positions_Payload": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6c9f427e-26d3-4aaa-ae61-956c86587c68"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varIterationLevel",
                "value": "@first(\r\n    sort(\r\n        body('Filter_Calculation_Details_by_Element_Type'), \r\n        'hso_level'\r\n    )\r\n)?['hso_level']"
              }
            },
            "Set_varNumberOfPositions_Processed": {
              "runAfter": {
                "Do_until_all_Levels_are_processed_[Create]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bdf668c8-c1e3-4252-be81-83fb8f3178a2"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varNumberOfPositions_Processed",
                "value": "@length(body('Filter_Calculation_Details_by_Element_Type'))"
              }
            },
            "Highest_Level": {
              "runAfter": {
                "Compose_Calculation_Positions_Payload": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "132af6fc-0148-48a4-ade3-5298abbda00a"
              },
              "type": "Compose",
              "inputs": "@first(\r\n    sort(\r\n        body('Filter_Calculation_Details_by_Element_Type'), \r\n        'hso_level'\r\n    )\r\n)?['hso_level']"
            },
            "Append_Calculation_Positions_to_process_to_Log": {
              "runAfter": {
                "Highest_Level": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - @{length(body('Filter_Calculation_Details_by_Element_Type'))} Calculation Positions to create. @{decodeUriComponent('%0A')}"
              }
            },
            "Append_processed_Calculation_Positions_to_Log": {
              "runAfter": {
                "Do_until_all_Levels_are_processed_[Create]": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - @{length(body('Filter_Calculation_Details_by_Element_Type'))} Calculation Positions created. @{decodeUriComponent('%0A')}"
              }
            },
            "Compose_Calculation_Positions_Payload": {
              "actions": {
                "Project_Products_used": {
                  "actions": {
                    "Apply_to_each_created_Project_Product": {
                      "foreach": "@variables('varProjectProductGUID_Mapping')",
                      "actions": {
                        "Filter_Positions_by_Project_Product_[without_BOM]": {
                          "runAfter": {
                            "Mapping_old_and_new_Project_Product_GUID": [
                              "Succeeded"
                            ]
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Parse_JSON')",
                            "where": "@And(equals(item()?['_hso_projectproductid_value'],items('Apply_to_each_created_Project_Product')?['GUIDold']),not(equals(item()?['hso_isbillofmaterial'],true)))"
                          },
                          "description": "Get all Positions of Type 'Project Product' where no BOM is assigned. Project Product Positions with BOM are processed separately because both the Project Product GUID and the BOM Project Product GUID must be replaced. "
                        },
                        "Positions_with_Project_Products_found": {
                          "actions": {
                            "Replace_Project_Product_GUID": {
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Filter_Positions_by_Project_Product_[without_BOM]')",
                                "select": "@setProperty(\r\n item(),\r\n '_hso_projectproductid_value',\r\n items('Apply_to_each_created_Project_Product')?['GUIDnew']\r\n)"
                              }
                            },
                            "Positions_with_replaced_Project_Product_GUIDs": {
                              "runAfter": {
                                "Replace_Project_Product_GUID": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Compose",
                              "inputs": "@union(\r\n variables('varCalculationDetails_Payload'),\r\n body('Replace_Project_Product_GUID')\r\n)"
                            },
                            "Add_Positions_with_replaced_Project_Products_to_Payload": {
                              "runAfter": {
                                "Positions_with_replaced_Project_Product_GUIDs": [
                                  "Succeeded"
                                ]
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "varCalculationDetails_Payload",
                                "value": "@outputs('Positions_with_replaced_Project_Product_GUIDs')"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_Positions_by_Project_Product_[without_BOM]": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(body('Filter_Positions_by_Project_Product_[without_BOM]'))",
                                  0
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        },
                        "Mapping_old_and_new_Project_Product_GUID": {
                          "type": "Compose",
                          "inputs": "@items('Apply_to_each_created_Project_Product')"
                        },
                        "Filter_Positions_by_BOM_Project_Product": {
                          "runAfter": {
                            "Mapping_old_and_new_Project_Product_GUID": [
                              "Succeeded"
                            ]
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Parse_JSON')",
                            "where": "@And(equals(item()?['_hso_billofmaterial_projectproductid_value'],items('Apply_to_each_created_Project_Product')?['GUIDold']),not(equals(item()?['hso_positionelementtype'],100000002)))"
                          },
                          "description": "Get all Positions where a BOM Project Product is assigned. Exclude Positions from Type 'Project Product' - these Positions are processed separately because both the Project Product GUID and the BOM Project Product GUID must be replaced. "
                        },
                        "Filter_Positions_by_Project_Product_[with_BOM]": {
                          "runAfter": {
                            "Mapping_old_and_new_Project_Product_GUID": [
                              "Succeeded"
                            ]
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Parse_JSON')",
                            "where": "@And(equals(item()?['_hso_projectproductid_value'],items('Apply_to_each_created_Project_Product')?['GUIDold']),equals(item()?['hso_isbillofmaterial'],true))"
                          },
                          "description": "Get all Positions of Type 'Project Product' where a BOM Project Product is assigned. Both the Project Product GUID and the BOM Project Product GUID must be replaced."
                        },
                        "Positions_with_BOM_Project_Products_found": {
                          "actions": {
                            "Replace_BOM_Project_Product_GUID": {
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Filter_Positions_by_BOM_Project_Product')",
                                "select": "@setProperty(\r\n item(),\r\n '_hso_billofmaterial_projectproductid_value',\r\n items('Apply_to_each_created_Project_Product')?['GUIDnew']\r\n)"
                              }
                            },
                            "Positions_with_replaced_BOM_Project_Product_GUIDs": {
                              "runAfter": {
                                "Replace_BOM_Project_Product_GUID": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Compose",
                              "inputs": "@union(\r\n variables('varCalculationDetails_Payload'),\r\n body('Replace_BOM_Project_Product_GUID')\r\n)"
                            },
                            "Add_Positions_with_replaced_BOM_Project_Products_to_Payload": {
                              "runAfter": {
                                "Positions_with_replaced_BOM_Project_Product_GUIDs": [
                                  "Succeeded"
                                ]
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "varCalculationDetails_Payload",
                                "value": "@outputs('Positions_with_replaced_BOM_Project_Product_GUIDs')"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_Positions_by_BOM_Project_Product": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(body('Filter_Positions_by_BOM_Project_Product'))",
                                  0
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        },
                        "Template_Positions_with_Project_Products_found_[with_BOM]": {
                          "actions": {
                            "Apply_to_each_Project_Product_Position_with_BOM": {
                              "foreach": "@body('Filter_Positions_by_Project_Product_[with_BOM]')",
                              "actions": {
                                "Filter_Mapping_List_by_BOM_Project_Product_GUID": {
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@variables('varProjectProductGUID_Mapping')",
                                    "where": "@equals(item()?['GUIDold'],items('Apply_to_each_Project_Product_Position_with_BOM')?['_hso_billofmaterial_projectproductid_value'])"
                                  }
                                },
                                "Found_BOM_Project_Product_GUID": {
                                  "runAfter": {
                                    "Filter_Mapping_List_by_BOM_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Compose",
                                  "inputs": "@first(body('Filter_Mapping_List_by_BOM_Project_Product_GUID'))?['GUIDnew']"
                                },
                                "Replace_Project_Product_and_BOM_Project_Product_GUID": {
                                  "runAfter": {
                                    "Found_BOM_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Compose",
                                  "inputs": "@setProperty(\r\n setProperty(\r\n  items('Apply_to_each_Project_Product_Position_with_BOM'),\r\n  '_hso_projectproductid_value',\r\n  items('Apply_to_each_created_Project_Product')?['GUIDnew']\r\n ),\r\n '_hso_billofmaterial_projectproductid_value',\r\n first(body('Filter_Mapping_List_by_BOM_Project_Product_GUID'))?['GUIDnew']\r\n)"
                                },
                                "Append_Position_with_replaced_(BOM)_Project_Product(s)_to_Payload": {
                                  "runAfter": {
                                    "Replace_Project_Product_and_BOM_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "varCalculationDetails_Payload",
                                    "value": "@outputs('Replace_Project_Product_and_BOM_Project_Product_GUID')"
                                  }
                                }
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {
                            "Filter_Positions_by_Project_Product_[with_BOM]": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(body('Filter_Positions_by_Project_Product_[with_BOM]'))",
                                  0
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "type": "Foreach"
                    },
                    "Remove_Project_Products_from_Positions": {
                      "runAfter": {
                        "Apply_to_each_created_Project_Product": [
                          "Succeeded"
                        ]
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Parse_JSON')",
                        "where": "@not(equals(item()?['hso_positionelementtype'],100000002))"
                      },
                      "description": "Remove all Positions of Type 'Project Product' - these Positions are already added to the Payload in the previous step"
                    },
                    "Remove_BOM_Project_Products_from_Positions": {
                      "runAfter": {
                        "Remove_Project_Products_from_Positions": [
                          "Succeeded"
                        ]
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Remove_Project_Products_from_Positions')",
                        "where": "@equals(empty(\n item()?['_hso_billofmaterial_projectproductid_value']\n),true)"
                      },
                      "description": "Remove all Positions where a BOM Project Product is assigned - these Positions are already added to the Payload in the previous step"
                    },
                    "Positions_without_Project_Products": {
                      "runAfter": {
                        "Remove_BOM_Project_Products_from_Positions": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": "@union(\r\n variables('varCalculationDetails_Payload'),\r\n body('Remove_BOM_Project_Products_from_Positions')\r\n)"
                    },
                    "Add_all_other_Positions_to_Payload": {
                      "runAfter": {
                        "Positions_without_Project_Products": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varCalculationDetails_Payload",
                        "value": "@outputs('Positions_without_Project_Products')"
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Set_varCalculationDetails_Payload": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "varCalculationDetails_Payload",
                          "value": "@body('Parse_JSON')"
                        },
                        "description": "Add all Positions to Payload without replacing any Project Product GUID."
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(variables('varProjectProductGUID_Mapping'))",
                          0
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Filter_Calculation_Details_by_Element_Type": {
                  "runAfter": {
                    "Project_Products_used": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "55d2935d-544e-4c64-a07f-10a5412bc0e8"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('varCalculationDetails_Payload')",
                    "where": "@not(equals(item()?['hso_positionelementtype'], 100000009))"
                  },
                  "description": "Only process positions that are not Bill of Materials. These positions are already created in the previous step."
                }
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Project_Products": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f221acf3-c498-40ab-943d-27187b71d69a"
          },
          "type": "Scope"
        },
        "Initialize_varNumberOfPositions_ToProcess": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7d6ed63f-00bf-4ce7-a267-9ac771f02c78"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfPositions_ToProcess",
                "type": "integer",
                "value": "@length(body('Parse_JSON'))"
              }
            ]
          }
        },
        "Initialize_varNumberOfPositions_Processed": {
          "runAfter": {
            "Initialize_varNumberOfPositions_ToProcess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d31e8070-257c-4e27-99dc-14df8557f542"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfPositions_Processed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c7374a2f-3040-43f1-bb6e-83abbcfa29cd"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['text']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "SourcePositionGUID": {
                    "type": "string"
                  },
                  "_hso_calculationid_value": {
                    "type": "string"
                  },
                  "_hso_companyid_value": {
                    "type": "string"
                  },
                  "_hso_externalserviceid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_productid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_productionhourid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_projectproductid_name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_projectexpenseid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_projecthourid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_projectproductid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_quoteid_value": {
                    "type": "string"
                  },
                  "_hso_surchargegroup_baseid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_hso_uomid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "_transactioncurrencyid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_calculationdetail_parentid_sortinglinenum": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_calculationtype": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "hso_language": {
                    "type": "integer"
                  },
                  "hso_level": {
                    "type": "integer"
                  },
                  "hso_linenumber": {
                    "type": "string"
                  },
                  "hso_linenumber_level": {
                    "type": "string"
                  },
                  "hso_name": {
                    "type": "string"
                  },
                  "hso_parent_linenumber_import": {
                    "type": "string"
                  },
                  "hso_positiondetails": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "hso_positionelementtype": {
                    "type": "integer"
                  },
                  "hso_projecttype": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "hso_quantity": {
                    "type": [
                      "integer",
                      "number"
                    ]
                  },
                  "hso_textblock_description_max": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_textblock_name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_product_basepricewithoutmetalsurcharge": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "_hso_calculationmetalpriceid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_product_metalbase": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "_hso_product_metallabelid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_product_metalnumber": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "_hso_calculationmetalpriceid_2_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_product_metalbase_2": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "_hso_product_metallabelid_2_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_product_metalnumber_2": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "_hso_calculationmetalpriceid_3_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_product_metalbase_3": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "_hso_product_metallabelid_3_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_product_metalnumber_3": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "hso_costprice": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "hso_costpriceperunit": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "hso_overheadsurchargepercentage": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "hso_profitsurchargepercentage": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "hso_discountpercentage": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "hso_quotedprice": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "hso_quotedpriceperunit": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "hso_quotedprice_new": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "hso_isbillofmaterial": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "_hso_billofmaterial_projectproductid_value": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hso_billofmaterial_projectproductid_name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "SourcePositionGUID",
                  "_hso_calculationid_value",
                  "_hso_companyid_value",
                  "_hso_quoteid_value",
                  "hso_calculationdetail_parentid_sortinglinenum",
                  "hso_language",
                  "hso_level",
                  "hso_linenumber",
                  "hso_linenumber_level",
                  "hso_name",
                  "hso_parent_linenumber_import",
                  "hso_positionelementtype",
                  "hso_quantity"
                ]
              }
            }
          }
        },
        "Project_Products": {
          "actions": {
            "Filter_Calculation_Details_by_Project_Product": {
              "metadata": {
                "operationMetadataId": "5c7432ae-fab6-42c3-9c3f-0b049d1aa773"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON')",
                "where": "@equals(item()?['hso_positionelementtype'],100000002)"
              }
            },
            "Filter_Calculation_Details_by_BOM": {
              "metadata": {
                "operationMetadataId": "5c7432ae-fab6-42c3-9c3f-0b049d1aa773"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON')",
                "where": "@equals(item()?['hso_isbillofmaterial'],true)"
              }
            },
            "BOM_Project_Product_found": {
              "actions": {
                "Select_BOM_Project_Product_GUID": {
                  "runAfter": {
                    "Append_BOM_Project_Products_to_process_to_Log": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0f3a96b4-f611-4410-81ec-ddc9c43b10af"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Filter_Calculation_Details_by_BOM')",
                    "select": {
                      "_hso_billofmaterial_projectproductid_value": "@item()?['_hso_billofmaterial_projectproductid_value']"
                    }
                  }
                },
                "Distinct_BOM_Project_Product_GUIDs": {
                  "runAfter": {
                    "Select_BOM_Project_Product_GUID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "528ea0e8-44db-4629-af67-2c35fc2c49e6"
                  },
                  "type": "Compose",
                  "inputs": "@union(\r\n body('Select_BOM_Project_Product_GUID'),\r\n body('Select_BOM_Project_Product_GUID')\r\n)"
                },
                "Apply_to_each_distinct_BOM_Project_Product_GUID": {
                  "foreach": "@outputs('Distinct_BOM_Project_Product_GUIDs')",
                  "actions": {
                    "FETCH_BOM_Project_Product": {
                      "metadata": {
                        "operationMetadataId": "ebe389fe-8268-457b-85b3-9b1750e60703"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "request/method": "GET",
                          "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts(@{items('Apply_to_each_distinct_BOM_Project_Product_GUID')?['_hso_billofmaterial_projectproductid_value']})?$select=_hso_calculationid_value,_hso_templateid_value,hso_name,_hso_uomid_value,hso_description,hso_isbillofmaterials,hso_projecttype",
                          "request/headers": {
                            "OData-MaxVersion": "4.0",
                            "OData-Version": "4.0",
                            "Accept": "application/json",
                            "Content-Type": "application/json; charset=utf-8"
                          }
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                          "operationId": "InvokeHttp",
                          "connectionName": "shared_webcontents"
                        }
                      }
                    },
                    "BOM_Project_Product_is_already_within_same_Calculation": {
                      "actions": {
                        "Append_existing_BOM_Project_Product_GUID_to_Mapping": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "varProjectProductGUID_Mapping",
                            "value": {
                              "GUIDold": "@items('Apply_to_each_distinct_BOM_Project_Product_GUID')?['_hso_billofmaterial_projectproductid_value']",
                              "GUIDnew": "@items('Apply_to_each_distinct_BOM_Project_Product_GUID')?['_hso_billofmaterial_projectproductid_value']"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "FETCH_BOM_Project_Product": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Fetch_Calculation_BOM_Project_Products_with_same_Name": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "request/method": "GET",
                                "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts?$filter=hso_name eq '@{body('FETCH_BOM_Project_Product')?['hso_name']}'",
                                "request/headers": {
                                  "Accept": "application/json"
                                }
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                "operationId": "InvokeHttp",
                                "connectionName": "shared_webcontents"
                              }
                            }
                          },
                          "BOM_Project_Product_already_in_Calculation": {
                            "actions": {
                              "Append_existing_Calculation_BOM_Project_Product_GUID_to_Mapping": {
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                  "name": "varProjectProductGUID_Mapping",
                                  "value": {
                                    "GUIDold": "@items('Apply_to_each_distinct_BOM_Project_Product_GUID')?['_hso_billofmaterial_projectproductid_value']",
                                    "GUIDnew": "@first(body('Fetch_Calculation_BOM_Project_Products_with_same_Name')?['value'])?['hso_projectproductid']"
                                  }
                                }
                              }
                            },
                            "runAfter": {
                              "Number_of_Calculation_BOM_Project_Products_found": [
                                "Succeeded"
                              ]
                            },
                            "else": {
                              "actions": {
                                "New_BOM_Project_Product_GUID": {
                                  "type": "Compose",
                                  "inputs": "@guid()"
                                },
                                "CREATE_BOM_Project_Product": {
                                  "runAfter": {
                                    "New_BOM_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "6b15dd8f-617b-41f6-95f0-a7c773951213"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "parameters": {
                                      "request/method": "POST",
                                      "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts",
                                      "request/headers": {
                                        "OData-MaxVersion": "4.0",
                                        "OData-Version": "4.0",
                                        "If-None-Match": "null",
                                        "Accept": "application/json",
                                        "Content-Type": "application/json; charset=utf-8",
                                        "MSCRM.BypassCustomPluginExecution": "true",
                                        "Prefer": "return=representation"
                                      },
                                      "request/body": "{\n      \"hso_projectproductid\": \"@{outputs('New_BOM_Project_Product_GUID')}\",\n      \"hso_name\": \"@{body('FETCH_BOM_Project_Product')?['hso_name']}\",\n      \"hso_uomid@odata.bind\": \"uoms(@{body('FETCH_BOM_Project_Product')?['_hso_uomid_value']})\",\n      \"hso_description\": \"@{body('FETCH_BOM_Project_Product')?['hso_description']}\",\n      \"hso_isbillofmaterials\": \"@{body('FETCH_BOM_Project_Product')?['hso_isbillofmaterials']}\",\n      \"hso_calculationid@odata.bind\": \"hso_calculations(@{triggerBody()?['text_2']})\",\n      \"hso_projecttype\": \"@{body('FETCH_BOM_Project_Product')?['hso_projecttype']}\"\n    }"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                      "operationId": "InvokeHttp",
                                      "connectionName": "shared_webcontents"
                                    }
                                  }
                                },
                                "Append_BOM_Project_Product_GUIDs_to_Mapping": {
                                  "runAfter": {
                                    "CREATE_BOM_Project_Product": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "varProjectProductGUID_Mapping",
                                    "value": {
                                      "GUIDold": "@items('Apply_to_each_distinct_BOM_Project_Product_GUID')?['_hso_billofmaterial_projectproductid_value']",
                                      "GUIDnew": "@outputs('New_BOM_Project_Product_GUID')"
                                    }
                                  }
                                }
                              }
                            },
                            "expression": {
                              "and": [
                                {
                                  "greater": [
                                    "@length(body('Fetch_Calculation_BOM_Project_Products_with_same_Name')?['value'])",
                                    0
                                  ]
                                }
                              ]
                            },
                            "type": "If"
                          },
                          "Number_of_Calculation_BOM_Project_Products_found": {
                            "runAfter": {
                              "Fetch_Calculation_BOM_Project_Products_with_same_Name": [
                                "Succeeded"
                              ]
                            },
                            "type": "Compose",
                            "inputs": "@length(body('Fetch_Calculation_BOM_Project_Products_with_same_Name')?['value'])"
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@If(\r\n equals(triggerBody()?['text_1'], 'Copy'), \r\n outputs('FETCH_BOM_Project_Product')?['body/_hso_calculationid_value'], \r\n outputs('FETCH_BOM_Project_Product')?['body/_hso_templateid_value']\r\n)",
                              "@triggerBody()['text_2']"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "dac46081-e863-426d-adf1-bd30dbb1e12c"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Distinct_BOM_Project_Product_GUIDs": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "45cba411-d18a-4bbb-b36b-9ed6cf5b0a0e"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 20
                    }
                  }
                },
                "Append_BOM_Project_Products_to_process_to_Log": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{length(body('Filter_Calculation_Details_by_BOM'))} Bill of Materials Project Products to process. @{decodeUriComponent('%0A')}"
                  }
                },
                "Append_processed_BOM_Project_Products_to_Log": {
                  "runAfter": {
                    "Apply_to_each_distinct_BOM_Project_Product_GUID": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{length(body('Filter_Calculation_Details_by_BOM'))} Bill of Materials Project Products processed. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Filter_Calculation_Details_by_BOM": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Filter_Calculation_Details_by_BOM'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "eb64c4cf-f401-4186-95b5-79dc9c08c484"
              },
              "type": "If"
            },
            "Project_Product_found": {
              "actions": {
                "Select_Project_Product_GUID": {
                  "runAfter": {
                    "Append_Project_Products_to_process_to_Log": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "83ab37b2-e02d-43c0-8fad-1f564eff7e94"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Filter_Calculation_Details_by_Project_Product')",
                    "select": {
                      "_hso_projectproductid_value": "@item()?['_hso_projectproductid_value']"
                    }
                  }
                },
                "Distinct_Project_Product_GUIDs": {
                  "runAfter": {
                    "Select_Project_Product_GUID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "984de636-5297-4e87-aaa9-f60cf97f4075"
                  },
                  "type": "Compose",
                  "inputs": "@union(\r\n body('Select_Project_Product_GUID'),\r\n body('Select_Project_Product_GUID')\r\n)"
                },
                "Apply_to_each_Project_Product_GUID": {
                  "foreach": "@outputs('Distinct_Project_Product_GUIDs')",
                  "actions": {
                    "FETCH_Project_Product": {
                      "metadata": {
                        "operationMetadataId": "b849ec43-c70b-443b-8476-09b71586c708"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "request/method": "GET",
                          "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts(@{items('Apply_to_each_Project_Product_GUID')?['_hso_projectproductid_value']})?$select=_hso_calculationid_value,_hso_templateid_value,hso_name,_hso_uomid_value,hso_metalbase_2,_hso_metallabelid_2_value,hso_metalnumber_2,hso_metalbase_3,_hso_metallabelid_3_value,hso_metalnumber_3,_hso_surchargegroup_baseid_value,hso_description,hso_europeanarticlenumber,hso_costprice,hso_basepricewithoutmetalsurcharge,_hso_manufacturer_id_value,hso_productnumber_manufacturer,hso_manufacturer_name,hso_typenumber_manufacturer,hso_isbillofmaterials,hso_suppliercatalogreference,hso_supplier_name,hso_productnumber_supplier,hso_metalbase,_hso_metallabelid_value,hso_metalnumber,hso_projecttype,hso_salesprice,_hso_productid_value,_transactioncurrencyid_value",
                          "request/headers": {
                            "OData-MaxVersion": "4.0",
                            "OData-Version": "4.0",
                            "Accept": "application/json",
                            "Content-Type": "application/json; charset=utf-8"
                          }
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                          "operationId": "InvokeHttp",
                          "connectionName": "shared_webcontents"
                        }
                      }
                    },
                    "Project_Product_is_already_within_same_Calculation": {
                      "actions": {
                        "Append_existing_Project_Product_GUID_to_Mapping": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "varProjectProductGUID_Mapping",
                            "value": {
                              "GUIDold": "@items('Apply_to_each_Project_Product_GUID')?['_hso_projectproductid_value']",
                              "GUIDnew": "@items('Apply_to_each_Project_Product_GUID')?['_hso_projectproductid_value']"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "FETCH_Project_Product": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Fetch_Calculation_Project_Products_with_same_Name": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "request/method": "GET",
                                "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts?$filter=hso_name eq '@{body('FETCH_Project_Product')?['hso_name']}'",
                                "request/headers": {
                                  "Accept": "application/json"
                                }
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                "operationId": "InvokeHttp",
                                "connectionName": "shared_webcontents"
                              }
                            }
                          },
                          "Project_Product_already_in_Calculation": {
                            "actions": {
                              "Append_existing_Calculation_Project_Product_GUID_to_Mapping": {
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                  "name": "varProjectProductGUID_Mapping",
                                  "value": {
                                    "GUIDold": "@items('Apply_to_each_Project_Product_GUID')?['_hso_projectproductid_value']",
                                    "GUIDnew": "@first(body('Fetch_Calculation_Project_Products_with_same_Name')?['value'])?['hso_projectproductid']"
                                  }
                                }
                              }
                            },
                            "runAfter": {
                              "Number_of_Calculation_Project_Products_found": [
                                "Succeeded"
                              ]
                            },
                            "else": {
                              "actions": {
                                "Remove_Template_GUID_from_Payload": {
                                  "type": "Compose",
                                  "inputs": "@removeProperty(\r\n    body('FETCH_Project_Product'),\r\n    '_hso_templateid_value'\r\n)"
                                },
                                "New_Project_Product_GUID": {
                                  "runAfter": {
                                    "Remove_Template_GUID_from_Payload": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Compose",
                                  "inputs": "@guid()"
                                },
                                "Select_Project_Product_Payload": {
                                  "runAfter": {
                                    "New_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Select",
                                  "inputs": {
                                    "from": "@array(outputs('Remove_Template_GUID_from_Payload'))",
                                    "select": {
                                      "hso_name": "@body('FETCH_Project_Product')?['hso_name']",
                                      "hso_uomid@odata.bind": "uoms(@{body('FETCH_Project_Product')?['_hso_uomid_value']})",
                                      "hso_metalbase_2": "@body('FETCH_Project_Product')?['hso_metalbase_2']",
                                      "hso_metallabelid_2@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_metallabelid_2_value']),null,concat('hso_metallabels(', outputs('FETCH_Project_Product')?['body/_hso_metallabelid_2_value'], ')'))",
                                      "hso_metalnumber_2": "@body('FETCH_Project_Product')?['hso_metalnumber_2']",
                                      "hso_metalbase_3": "@body('FETCH_Project_Product')?['hso_metalbase_3']",
                                      "hso_metallabelid_3@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_metallabelid_3_value']),null,concat('hso_metallabels(', outputs('FETCH_Project_Product')?['body/_hso_metallabelid_3_value'], ')'))",
                                      "hso_metalnumber_3": "@body('FETCH_Project_Product')?['hso_metalnumber_3']",
                                      "hso_surchargegroup_baseid@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_surchargegroup_baseid_value']),null,concat('hso_surchargegroup_bases(', outputs('FETCH_Project_Product')?['body/_hso_surchargegroup_baseid_value'], ')'))",
                                      "hso_description": "@body('FETCH_Project_Product')?['hso_description']",
                                      "hso_europeanarticlenumber": "@body('FETCH_Project_Product')?['hso_europeanarticlenumber']",
                                      "hso_costprice": "@decimal(\r\n coalesce(\r\n  body('FETCH_Project_Product')?['hso_costprice'],\r\n  0\r\n )\r\n)",
                                      "hso_basepricewithoutmetalsurcharge": "@decimal(\r\n coalesce(\r\n  body('FETCH_Project_Product')?['hso_basepricewithoutmetalsurcharge'],\r\n  0\r\n )\r\n)",
                                      "hso_manufacturer_id@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_manufacturer_id_value']),null,concat('hso_manufacturers(', outputs('FETCH_Project_Product')?['body/_hso_manufacturer_id_value'], ')'))",
                                      "hso_productnumber_manufacturer": "@body('FETCH_Project_Product')?['hso_productnumber_manufacturer']",
                                      "hso_manufacturer_name": "@body('FETCH_Project_Product')?['hso_manufacturer_name']",
                                      "hso_typenumber_manufacturer": "@body('FETCH_Project_Product')?['hso_typenumber_manufacturer']",
                                      "hso_isbillofmaterials": "@outputs('FETCH_Project_Product')?['body/hso_isbillofmaterials']",
                                      "hso_calculationid@odata.bind": "hso_calculations(@{triggerBody()?['text_2']})",
                                      "hso_suppliercatalogreference": "@body('FETCH_Project_Product')?['hso_suppliercatalogreference']",
                                      "hso_supplier_name": "@body('FETCH_Project_Product')?['hso_supplier_name']",
                                      "hso_productnumber_supplier": "@body('FETCH_Project_Product')?['hso_productnumber_supplier']",
                                      "hso_metalbase": "@body('FETCH_Project_Product')?['hso_metalbase']",
                                      "hso_metallabelid@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_metallabelid_value']),null,concat('hso_metallabels(', outputs('FETCH_Project_Product')?['body/_hso_metallabelid_value'], ')'))",
                                      "hso_metalnumber": "@body('FETCH_Project_Product')?['hso_metalnumber']",
                                      "hso_projecttype": "@outputs('FETCH_Project_Product')?['body/hso_projecttype']",
                                      "hso_salesprice": "@decimal(\r\n coalesce(\r\n  body('FETCH_Project_Product')?['hso_salesprice'],\r\n  0\r\n )\r\n)",
                                      "hso_productid@odata.bind": "@if(empty(outputs('FETCH_Project_Product')?['body/_hso_productid_value']),null,concat('products(', outputs('FETCH_Project_Product')?['body/_hso_productid_value'], ')'))",
                                      "transactioncurrencyid@odata.bind": "transactioncurrencies(@{outputs('FETCH_Project_Product')?['body/_transactioncurrencyid_value']})",
                                      "hso_projectproductid": "@outputs('New_Project_Product_GUID')"
                                    }
                                  }
                                },
                                "CREATE_Project_Product": {
                                  "runAfter": {
                                    "Select_Project_Product_Payload": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "548b8d64-a139-4a72-8d7d-29a115b74844"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "parameters": {
                                      "request/method": "POST",
                                      "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts",
                                      "request/headers": {
                                        "OData-MaxVersion": "4.0",
                                        "OData-Version": "4.0",
                                        "If-None-Match": "null",
                                        "Accept": "application/json",
                                        "Content-Type": "application/json; charset=utf-8",
                                        "MSCRM.BypassCustomPluginExecution": "true",
                                        "Prefer": "return=representation"
                                      },
                                      "request/body": "@body('Select_Project_Product_Payload')"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                      "operationId": "InvokeHttp",
                                      "connectionName": "shared_webcontents"
                                    }
                                  }
                                },
                                "Append_Project_Product_GUIDs_to_Mapping": {
                                  "runAfter": {
                                    "CREATE_Project_Product": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "varProjectProductGUID_Mapping",
                                    "value": {
                                      "GUIDold": "@items('Apply_to_each_Project_Product_GUID')?['_hso_projectproductid_value']",
                                      "GUIDnew": "@outputs('New_Project_Product_GUID')"
                                    }
                                  }
                                }
                              }
                            },
                            "expression": {
                              "and": [
                                {
                                  "greater": [
                                    "@length(body('Fetch_Calculation_Project_Products_with_same_Name')?['value'])",
                                    0
                                  ]
                                }
                              ]
                            },
                            "type": "If"
                          },
                          "Number_of_Calculation_Project_Products_found": {
                            "runAfter": {
                              "Fetch_Calculation_Project_Products_with_same_Name": [
                                "Succeeded"
                              ]
                            },
                            "type": "Compose",
                            "inputs": "@length(body('Fetch_Calculation_Project_Products_with_same_Name')?['value'])"
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@If(\r\n equals(triggerBody()?['text_1'], 'Copy'), \r\n outputs('FETCH_Project_Product')?['body/_hso_calculationid_value'], \r\n outputs('FETCH_Project_Product')?['body/_hso_templateid_value']\r\n)",
                              "@triggerBody()?['text_2']"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "566ba557-43d7-4d8b-a9d6-74c660b2907d"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Distinct_Project_Product_GUIDs": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "40541688-7f75-4901-83d8-1ae96f39290c"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 20
                    }
                  }
                },
                "Append_Project_Products_to_process_to_Log": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{length(body('Filter_Calculation_Details_by_Project_Product'))} Project Products to process. @{decodeUriComponent('%0A')}"
                  }
                },
                "Append_processed_Project_Products_to_Log": {
                  "runAfter": {
                    "Apply_to_each_Project_Product_GUID": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{length(body('Filter_Calculation_Details_by_Project_Product'))} Project Products processed. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Filter_Calculation_Details_by_Project_Product": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Filter_Calculation_Details_by_Project_Product'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "bb6ab330-d354-4f95-962e-2615bd0805be"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Processing_Log": [
              "Succeeded"
            ],
            "Initialize_varCalculationDetails_Payload": [
              "Succeeded"
            ],
            "Initialize_varProjectProductGUID_Mapping": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c3940bf-fe79-4481-bdea-bbf6c6339171"
          },
          "type": "Scope",
          "description": "Check whether Project Products need to be created"
        },
        "Initialize_varError": {
          "runAfter": {
            "Initialize_varFetchXMLCondition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "67c1cbd3-ab9a-4886-8abc-8125816eb559"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varError",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varErrorMessage": {
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1e05baef-8d69-4b64-a4bc-775dc7fc7706"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Calculation_Positions_-_Error": {
          "actions": {
            "Filter_Results_for_failed_actions_[Calculation_Positions]": {
              "metadata": {
                "operationMetadataId": "b572f9c8-6d0e-49df-a156-60138a38a7e0"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Calculation_Positions')",
                "where": "@equals(item()?['status'], 'Failed')"
              }
            },
            "Select_Error_Summary_[Calculation_Positions]": {
              "runAfter": {
                "Filter_Results_for_failed_actions_[Calculation_Positions]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d58992d0-f393-4a1d-ae5e-1c2f68c70a9e"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_Results_for_failed_actions_[Calculation_Positions]')",
                "select": {
                  "Action": "@item()?['name']",
                  "Code": "@item()?['code']",
                  "Status": "@item()?['status']",
                  "StatusCode": "@item()?['outputs']?['statusCode']",
                  "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')"
                }
              }
            },
            "Apply_to_each_Error_Summary_[Calculation_Positions]": {
              "foreach": "@body('Select_Error_Summary_[Calculation_Positions]')",
              "actions": {
                "Append_Error_Summary_[Calculation_Positions]": {
                  "metadata": {
                    "operationMetadataId": "89e8a509-e8ef-4f51-9be2-821c01a2efc3"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varError",
                    "value": "@items('Apply_to_each_Error_Summary_[Calculation_Positions]')"
                  }
                }
              },
              "runAfter": {
                "Select_Error_Summary_[Calculation_Positions]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "187631f7-e52e-498c-8cb6-5d04c400b24a"
              },
              "type": "Foreach"
            },
            "Append_Calculation_Positions_Error_to_Log": {
              "runAfter": {
                "Apply_to_each_Error_Summary_[Calculation_Positions]": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[ERR] - [@{utcNow()}] - Error when creating Calculation Positions. @{decodeUriComponent('%0A')}"
              }
            }
          },
          "runAfter": {
            "Calculation_Positions": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "67881947-06ba-4ef2-a564-cd798066fb0b"
          },
          "type": "Scope"
        },
        "Processing_Log": {
          "actions": {
            "Create_Processing_Log": {
              "metadata": {
                "operationMetadataId": "f52733c9-c79a-4674-819b-03fa262e1094"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "Kalkulationspositionen (in Batch) erstellen - @{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')}",
                  "item/hso_processingtask": 100000015,
                  "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/hso_calculationid@odata.bind": "hso_calculations(@{triggerBody()?['text_2']})",
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_processingstatus": 100000001
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_varErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3994b4c6-ef43-4f8e-9d60-ff1ddb1210d6"
          },
          "type": "Scope"
        },
        "Respond_to_App": {
          "actions": {
            "Calculation_Positions_successfully_created": {
              "actions": {
                "Respond_to_App_[Success]": {
                  "metadata": {
                    "operationMetadataId": "4de1fda5-faaf-46e7-be76-efb9973499e0"
                  },
                  "type": "Response",
                  "kind": "PowerApp",
                  "inputs": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "title": "Result",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        },
                        "errormessage": {
                          "title": "ErrorMessage",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    },
                    "statusCode": 200,
                    "body": {
                      "result": "Success",
                      "errormessage": "@null"
                    }
                  }
                },
                "Append_Response_to_App_[Success]_to_Log": {
                  "runAfter": {
                    "Respond_to_App_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - Respond with Success to Navigation App and proceed with subsequent Tasks. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "else": {
                "actions": {
                  "Apply_to_each_Error_[App_Response]": {
                    "foreach": "@variables('varError')",
                    "actions": {
                      "Append_varErrorMessage_[App_Response]": {
                        "metadata": {
                          "operationMetadataId": "66c25994-42c5-45d7-a552-63ce3793c4e4"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varErrorMessage",
                          "value": "[ERROR] - Action '@{items('Apply_to_each_Error_[App_Response]')?['Action']}' failed with error message: @{items('Apply_to_each_Error_[App_Response]')?['Message']} (Status: @{items('Apply_to_each_Error_[App_Response]')?['Status']} / Status Code: @{items('Apply_to_each_Error_[App_Response]')?['StatusCode']})"
                        }
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "b2a89a09-59a5-4ba8-ac3c-70b5b8f26bce"
                    },
                    "type": "Foreach"
                  },
                  "Respond_to_App_[Failure]": {
                    "runAfter": {
                      "Apply_to_each_Error_[App_Response]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "4eec916e-b5bd-4459-bc2a-133565703d27"
                    },
                    "type": "Response",
                    "kind": "PowerApp",
                    "inputs": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "title": "Result",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          },
                          "errormessage": {
                            "title": "ErrorMessage",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          }
                        },
                        "additionalProperties": {}
                      },
                      "statusCode": 200,
                      "body": {
                        "result": "Failure",
                        "errormessage": "@variables('varErrorMessage')"
                      }
                    }
                  },
                  "Append_Response_to_App_[Failure]_to_Log": {
                    "runAfter": {
                      "Respond_to_App_[Failure]": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{utcNow()}] - Respond with Failure to Navigation App and proceed with subsequent Tasks.\nError Message: @{variables('varErrorMessage')} @{decodeUriComponent('%0A')}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('varNumberOfPositions_ToProcess')",
                      "@variables('varNumberOfPositions_Processed')"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "eee77c49-b60e-4235-9a1f-3efc004e0308"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Calculation_Positions": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a961410-5688-444d-8158-cc42d7821fde"
          },
          "type": "Scope"
        },
        "Calculation_Positions_-_Set_Default_Values_or_Recalculate": {
          "actions": {
            "Set_varNumberOfPositions_DefaultValues_Processed": {
              "runAfter": {
                "Operation_Type_is_Copy": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c577fe96-3a7f-4d3f-8d16-3fb931018370"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varNumberOfPositions_DefaultValues_Processed",
                "value": "@variables('varNumberOfPositions_DefaultValues_ToProcess')"
              }
            },
            "Operation_Type_is_Copy": {
              "actions": {
                "Select_Calculation_Details_to_Re-Calculate": {
                  "runAfter": {
                    "Append_Re-Calculate_Positions_to_Log": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5f3e6d53-a616-4a10-8e06-abb90a4d9b07"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@variables('varTopLevelNodes')",
                    "select": {
                      "@{variables('varOdataType')}": "#Microsoft.Dynamics.CRM.hso_calculationdetail",
                      "hso_calculationdetailid": "@item()['hso_calculationdetailid']",
                      "hso_recalculateposition": "true"
                    }
                  }
                },
                "Update_Calculation_Details_to_Re-Calculate": {
                  "runAfter": {
                    "Select_Calculation_Details_to_Re-Calculate": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e9c99fc5-0fc0-4b36-acef-9fe5793039ff"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "request/method": "POST",
                      "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationdetails/Microsoft.Dynamics.CRM.UpdateMultiple",
                      "request/headers": {
                        "OData-MaxVersion": "4.0",
                        "OData-Version": "4.0",
                        "If-None-Match": "null",
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                        "MSCRM.BypassCustomPluginExecution": "true",
                        "MSCRM.BypassBusinessLogicExecution": "CustomSync"
                      },
                      "request/body": "{\n \"Targets\": @{body('Select_Calculation_Details_to_Re-Calculate')}\n}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                      "operationId": "InvokeHttp",
                      "connectionName": "shared_webcontents"
                    }
                  }
                },
                "Append_Re-Calculate_Positions_to_Log": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - Operation Type = Copy ➡️ Re-Calculate @{length(variables('varTopLevelNodes'))} Calculation Positions (only highest levels). @{decodeUriComponent('%0A')}"
                  }
                },
                "Append_re-calculated_Positions_to_Log": {
                  "runAfter": {
                    "Update_Calculation_Details_to_Re-Calculate": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - Initiate function \"Re-Calculate\" for @{length(variables('varTopLevelNodes'))} Calculation Positions. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Set_varNumberOfPositions_DefaultValues_ToProcess": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Select_Calculation_Details_to_set_Default_Values": {
                    "runAfter": {
                      "Append_Set_Default_Values_to_Log": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "5f3e6d53-a616-4a10-8e06-abb90a4d9b07"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@variables('varTopLevelNodes')",
                      "select": {
                        "@{variables('varOdataType')}": "#Microsoft.Dynamics.CRM.hso_calculationdetail",
                        "hso_calculationdetailid": "@item()['hso_calculationdetailid']",
                        "hso_setdefaultvalues": "true"
                      }
                    }
                  },
                  "Update_Calculation_Details_to_set_Default_Values": {
                    "runAfter": {
                      "Select_Calculation_Details_to_set_Default_Values": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e9c99fc5-0fc0-4b36-acef-9fe5793039ff"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "request/method": "POST",
                        "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationdetails/Microsoft.Dynamics.CRM.UpdateMultiple",
                        "request/headers": {
                          "OData-MaxVersion": "4.0",
                          "OData-Version": "4.0",
                          "If-None-Match": "null",
                          "Accept": "application/json",
                          "Content-Type": "application/json; charset=utf-8",
                          "MSCRM.BypassCustomPluginExecution": "true",
                          "MSCRM.BypassBusinessLogicExecution": "CustomSync"
                        },
                        "request/body": "{\n \"Targets\": @{body('Select_Calculation_Details_to_set_Default_Values')}\n}"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                        "operationId": "InvokeHttp",
                        "connectionName": "shared_webcontents"
                      }
                    }
                  },
                  "Append_Set_Default_Values_to_Log": {
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{utcNow()}] - Operation Type = Import ➡️ Set Default Values for @{length(variables('varTopLevelNodes'))} Calculation Positions (only highest levels). @{decodeUriComponent('%0A')}"
                    }
                  },
                  "Append_Set_Default_Values_for_Positions_to_Log": {
                    "runAfter": {
                      "Update_Calculation_Details_to_set_Default_Values": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{utcNow()}] - Initiate function \"Set Default Values\" for @{length(variables('varTopLevelNodes'))} Calculation Positions. @{decodeUriComponent('%0A')}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['text_1']",
                      "Copy"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "8a73a9db-c274-4c5b-8bf8-1f420f2b0d49"
              },
              "type": "If"
            },
            "Set_varNumberOfPositions_DefaultValues_ToProcess": {
              "metadata": {
                "operationMetadataId": "e1ac4800-4f88-47dd-beac-10e9ea36bbf6"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varNumberOfPositions_DefaultValues_ToProcess",
                "value": "@length(variables('varTopLevelNodes'))"
              }
            }
          },
          "runAfter": {
            "Respond_to_App": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3096a36b-e671-41c7-907a-ced04edd7892"
          },
          "type": "Scope"
        },
        "Calculation_Positions_-_Set_Default_Values_or_Recalculate_-_Error": {
          "actions": {
            "Filter_Results_for_failed_actions_[Default_Values]": {
              "metadata": {
                "operationMetadataId": "1c4d6649-b25b-4787-99b1-a8c384e647a7"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Calculation_Positions_-_Set_Default_Values_or_Recalculate')",
                "where": "@equals(item()?['status'], 'Failed')"
              }
            },
            "Select_Error_Summary_[Default_Values]": {
              "runAfter": {
                "Filter_Results_for_failed_actions_[Default_Values]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ad40c0b3-53f8-4528-9f60-35cf086113f9"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_Results_for_failed_actions_[Default_Values]')",
                "select": {
                  "Action": "@item()?['name']",
                  "Code": "@item()?['code']",
                  "Status": "@item()?['status']",
                  "StatusCode": "@item()?['outputs']?['statusCode']",
                  "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')"
                }
              }
            },
            "Apply_to_each_Error_Summary_[Default_Values]": {
              "foreach": "@body('Select_Error_Summary_[Default_Values]')",
              "actions": {
                "Append_Error_Summary_[Default_Values]": {
                  "metadata": {
                    "operationMetadataId": "a5eccf07-7bf0-4bd5-bfe1-0be856f2f401"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varError",
                    "value": "@items('Apply_to_each_Error_Summary_[Default_Values]')"
                  }
                }
              },
              "runAfter": {
                "Select_Error_Summary_[Default_Values]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "492739d3-1a4e-4721-a8d6-8b9c0720f5fe"
              },
              "type": "Foreach"
            },
            "Append_Re-Calculate_or_Set_Default_Values_Error_to_Log_": {
              "runAfter": {
                "Apply_to_each_Error_Summary_[Default_Values]": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[ERR] - [@{utcNow()}] - Error when initiating function to re-calculate Positions or set Default Values for Positions. @{decodeUriComponent('%0A')}"
              }
            }
          },
          "runAfter": {
            "Calculation_Positions_-_Set_Default_Values_or_Recalculate": [
              "TimedOut",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "26550a22-7a35-4273-91e0-0d77c1cdfef0"
          },
          "type": "Scope"
        },
        "Summary": {
          "actions": {
            "All_Positions_processed_successfully": {
              "actions": {
                "Update_Processing_Log_[Success]": {
                  "runAfter": {
                    "Finish_varLog_with_Success": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "80612e71-ab5e-4be5-98bc-0a6b4381d104"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_processinglogs",
                      "recordId": "@body('Create_Processing_Log')?['hso_processinglogid']",
                      "item/hso_end_datetime": "@{utcNow()}",
                      "item/hso_log": "@variables('varLog')",
                      "item/hso_processingstatus": 100000002
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "Finish_varLog_with_Success": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[SUC] - [@{utcNow()}] - Flow run was successful. All required Parameters have been added to the Calculation."
                  }
                }
              },
              "else": {
                "actions": {
                  "Reset_varErrorMessage": {
                    "metadata": {
                      "operationMetadataId": "dc71621e-3fe0-47ad-b367-f99f286bc79c"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "varErrorMessage",
                      "value": "@{null}"
                    }
                  },
                  "Apply_to_each_Error_Summary": {
                    "foreach": "@variables('varError')",
                    "actions": {
                      "Append_Error_Message": {
                        "metadata": {
                          "operationMetadataId": "1e7d2663-2a51-4d46-9efa-318c6b523800"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varErrorMessage",
                          "value": "[ERROR] - Action '@{items('Apply_to_each_Error_Summary')?['Action']}' failed with error message: @{items('Apply_to_each_Error_Summary')?['Message']} (Status: @{items('Apply_to_each_Error_Summary')?['Status']} / Status Code: @{items('Apply_to_each_Error_Summary')?['StatusCode']})"
                        }
                      }
                    },
                    "runAfter": {
                      "Reset_varErrorMessage": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "372e460e-ca7b-46ae-8d9c-78dc16adeb38"
                    },
                    "type": "Foreach",
                    "runtimeConfiguration": {
                      "concurrency": {
                        "repetitions": 20
                      }
                    }
                  },
                  "Update_Processing_Log_[Error]": {
                    "runAfter": {
                      "Finish_varLog_with_Error": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c2f3bdfc-8cce-47f2-841c-7532a21e97b3"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "recordId": "@body('Create_Processing_Log')?['hso_processinglogid']",
                        "item/hso_end_datetime": "@{utcNow()}",
                        "item/hso_flowerror": "@variables('varErrorMessage')",
                        "item/hso_log": "@variables('varLog')",
                        "item/hso_processingstatus": 100000003
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  },
                  "Finish_varLog_with_Error": {
                    "runAfter": {
                      "Apply_to_each_Error_Summary": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{utcNow()}] - Flow run has failed. Parameters may have been partially added to Calculation. Check Log for further details."
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('varNumberOfPositions_ToProcess')",
                      "@variables('varNumberOfPositions_Processed')"
                    ]
                  },
                  {
                    "equals": [
                      "@variables('varNumberOfPositions_DefaultValues_ToProcess')",
                      "@variables('varNumberOfPositions_DefaultValues_Processed')"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "660c5eb2-dae6-451c-84c2-b4727de0255e"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Calculation_Positions_-_Error": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ],
            "Calculation_Positions_-_Set_Default_Values_or_Recalculate_-_Error": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ],
            "Calculation_Positions_-_Notes": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ],
            "Calculation_Positions_-_Textblocks": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f730127-35d9-4054-8322-93363f009b0b"
          },
          "type": "Scope"
        },
        "Calculation_Positions_-_Textblocks": {
          "actions": {
            "Skip_Default_Textblocks_for_Copy": {
              "actions": {},
              "else": {
                "actions": {
                  "Required_Language_is_not_Default_Language": {
                    "actions": {
                      "Run_a_Child_Flow_to_update_Calculation_Position_Textblocks": {
                        "runAfter": {
                          "Append_different_Language_to_Log": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "0466ae86-d831-4bf1-851c-af91f804bf88"
                        },
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflowReferenceName": "bffc1c2d-1f09-ef11-9f89-000d3ad77ca5"
                          },
                          "body": {
                            "boolean": false,
                            "number": 192350004,
                            "number_1": "@first(body('Parse_JSON'))?['hso_language']",
                            "text": "@variables('varFetchXMLFilterCondition')",
                            "text_1": "@{string(first(body('Parse_JSON'))?['_hso_calculationid_value'])}"
                          }
                        }
                      },
                      "Append_different_Language_to_Log": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varLog",
                          "value": "[INF] - [@{utcNow()}] - The language of the Calculation is different to the default language. Start Child Flow to update Position Textblocks in required language. @{decodeUriComponent('%0A')}"
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "expression": {
                      "and": [
                        {
                          "not": {
                            "equals": [
                              "@first(body('Parse_JSON'))?['hso_language']",
                              192350004
                            ]
                          }
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f29530fe-c0cd-4d7b-9f12-cc2d821df1fc"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['text_1']",
                      "Copy"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "83e3cb79-d8da-45d5-945c-e1ee751bffc1"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Calculation_Positions_-_Set_Default_Values_or_Recalculate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "76456836-1817-4155-9447-e10a0a7f29dd"
          },
          "type": "Scope"
        },
        "Calculation_Positions_-_Notes": {
          "actions": {
            "Apply_to_each_Position": {
              "foreach": "@body('Parse_JSON')",
              "actions": {
                "Switch_on_Operation_Type": {
                  "cases": {
                    "Copy": {
                      "case": "Copy",
                      "actions": {
                        "Get_Source_Calculation_Position": {
                          "metadata": {
                            "operationMetadataId": "99ac70e2-6a1d-4664-9dea-7b4791701bb0"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "hso_calculationdetails",
                              "recordId": "@items('Apply_to_each_Position')['SourcePositionGUID']",
                              "$select": "hso_name,hso_linenumber",
                              "$expand": "hso_calculationdetail_Annotations($filter=isdocument eq true;$select=annotationid,filename)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "GetItem",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          }
                        },
                        "Source_Calculation_Position_Notes_to_process": {
                          "actions": {
                            "Apply_to_each_Calculation_Position_Note": {
                              "foreach": "@body('Get_Source_Calculation_Position')?['hso_calculationdetail_Annotations']",
                              "actions": {
                                "Run_a_Child_Flow_to_copy_the_Calculation_Position_Note": {
                                  "metadata": {
                                    "operationMetadataId": "5b591a1e-5809-471b-989d-a9dcc69d18cd"
                                  },
                                  "type": "Workflow",
                                  "inputs": {
                                    "host": {
                                      "workflowReferenceName": "e1a6c89b-5ed1-ee11-9079-000d3ab3c58c"
                                    },
                                    "body": {
                                      "text": "@{items('Apply_to_each_Calculation_Position_Note')?['annotationid']}",
                                      "text_1": "Calculation Position",
                                      "text_2": "123456789",
                                      "text_3": "@items('Apply_to_each_Position')['_hso_calculationid_value']",
                                      "text_4": "@items('Apply_to_each_Position')['hso_linenumber']"
                                    }
                                  }
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "bd0e8074-3833-48e3-9554-e3a92105806f"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {
                            "Get_Source_Calculation_Position": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(body('Get_Source_Calculation_Position')?['hso_calculationdetail_Annotations'])",
                                  "@int('0')"
                                ]
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a5d84194-cc36-48bd-be9f-a94a6df14855"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "Import": {
                      "case": "Import",
                      "actions": {
                        "Get_Source_Template_Position": {
                          "metadata": {
                            "operationMetadataId": "cc4e0dd8-9a92-4694-b782-e9b378cb11ad"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "hso_templatedetails",
                              "recordId": "@items('Apply_to_each_Position')['SourcePositionGUID']",
                              "$select": "hso_name,hso_linenumber",
                              "$expand": "hso_templatedetail_Annotations($filter=isdocument eq true;$select=annotationid,filename)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "GetItem",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          }
                        },
                        "Source_Template_Position_Notes_to_process": {
                          "actions": {
                            "Apply_to_each_Template_Position_Note": {
                              "foreach": "@body('Get_Source_Template_Position')?['hso_templatedetail_Annotations']",
                              "actions": {
                                "Run_a_Child_Flow_to_copy_the_Template_Position_Note": {
                                  "metadata": {
                                    "operationMetadataId": "c332f70b-6b7f-4039-bf0e-4ed96a84769f"
                                  },
                                  "type": "Workflow",
                                  "inputs": {
                                    "host": {
                                      "workflowReferenceName": "e1a6c89b-5ed1-ee11-9079-000d3ab3c58c"
                                    },
                                    "body": {
                                      "text": "@{items('Apply_to_each_Template_Position_Note')?['annotationid']}",
                                      "text_1": "Calculation Position",
                                      "text_2": "123456789",
                                      "text_3": "@items('Apply_to_each_Position')['_hso_calculationid_value']",
                                      "text_4": "@items('Apply_to_each_Position')['hso_linenumber']"
                                    }
                                  }
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "5e4b341d-3258-4135-925c-f28359812d54"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {
                            "Get_Source_Template_Position": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(body('Get_Source_Template_Position')?['hso_templatedetail_Annotations'])",
                                  "@int('0')"
                                ]
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "3b1bffd7-0994-4c81-bfb7-35c32ab07857"
                          },
                          "type": "If"
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "expression": "@triggerBody()?['text_1']",
                  "metadata": {
                    "operationMetadataId": "5b3f738d-62a9-4947-a155-61354e03b1bb"
                  },
                  "type": "Switch"
                }
              },
              "runAfter": {
                "Append_Calculation_Position_Notes_to_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "39969702-8dd0-4368-bfb9-09c27b759529"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              }
            },
            "Append_Calculation_Position_Notes_to_Log": {
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - Start Child Flow to add Notes to created Calculation Positions (if required). @{decodeUriComponent('%0A')}"
              }
            }
          },
          "runAfter": {
            "Calculation_Positions_-_Set_Default_Values_or_Recalculate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "43c25b03-1577-4c95-857f-cee292a21815"
          },
          "type": "Scope"
        },
        "Initialize_varIterationLevel": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d42750a1-245b-4984-9d2f-bcc41f914e06"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varIterationLevel",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Initialize_varNumberOfPositions_DefaultValues_ToProcess": {
          "runAfter": {
            "Initialize_varIterationLevel": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "658f417c-a2cb-4c51-8b4f-eddeeea6bb76"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfPositions_DefaultValues_ToProcess",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varNumberOfPositions_DefaultValues_Processed": {
          "runAfter": {
            "Initialize_varNumberOfPositions_DefaultValues_ToProcess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7b180456-0d58-4fd8-885c-8d0ba048dd4d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfPositions_DefaultValues_Processed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varParallelBulkOperationMessages": {
          "runAfter": {
            "Initialize_varNumberOfPositions_Processed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3042a576-4249-486b-826a-eb61246a5fce"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varParallelBulkOperationMessages",
                "type": "array",
                "value": [
                  0,
                  1,
                  2,
                  3,
                  4,
                  5,
                  6,
                  7,
                  8,
                  9,
                  10,
                  11,
                  12,
                  13,
                  14,
                  15,
                  16,
                  17,
                  18,
                  19,
                  20,
                  21,
                  22,
                  23,
                  24,
                  25
                ]
              }
            ]
          }
        },
        "Initialize_varNumberOfItemsPerBulkOperationMessage": {
          "runAfter": {
            "Initialize_varParallelBulkOperationMessages": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9c28347c-103e-4a19-977f-4f662e016bdb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfItemsPerBulkOperationMessage",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_varTopLevelNodes": {
          "runAfter": {
            "Initialize_varNumberOfPositions_DefaultValues_Processed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f86ce752-b344-40b1-9c1d-f513642d8c1e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varTopLevelNodes",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varFetchXMLFilterCondition": {
          "runAfter": {
            "Initialize_varTopLevelNodes": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFetchXMLFilterCondition",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_varLog": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLog",
                "type": "string",
                "value": "[INF] - [@{utcNow()}] - Initializing Flow Run. @{decodeUriComponent('%0A')}"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_varOdataType": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varOdataBind",
                "type": "string",
                "value": "@{string('@')}odata.bind"
              }
            ]
          }
        },
        "Initialize_varCalculationDetails_Payload": {
          "runAfter": {
            "Initialize_varNumberOfItemsPerBulkOperationMessage": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varCalculationDetails_Payload",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varProjectProductGUID_Mapping": {
          "runAfter": {
            "Initialize_varFetchXMLFilterCondition": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProjectProductGUID_Mapping",
                "type": "array"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}