ETOCore/Workflows/PAAPPTemplatePARENT-CreateTemplateforCalculationPo-30389744-E2EC-EE11-904D-000D3AB1B3E1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "b71c7578-b777-41b1-b326-8acd8f17652b"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "CalculationGUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "TemplateName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "NodeID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "UserGUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "TemplateDescription",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "CompanyGUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_6": {
                  "title": "DepartmentGUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_7": {
                  "description": "Please enter your input",
                  "title": "TemplateType",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4",
                "text_5",
                "text_6",
                "text_7"
              ]
            }
          }
        }
      },
      "actions": {
        "Summary": {
          "actions": {
            "Parse_JSON": {
              "metadata": {
                "operationMetadataId": "b769deed-a8c4-494a-a92f-2be1a1eb92c7"
              },
              "type": "ParseJson",
              "inputs": {
                "content": {
                  "link": {
                    "actions": [
                      {
                        "title": "Vorlage anzeigen",
                        "data": {
                          "url": "?pagetype=entityrecord&etn=hso_template&id=@{outputs('Create_Template')?['body/hso_templateid']}",
                          "navigationTarget": "inline"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "navigationTarget": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "title",
                              "data"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Everything_processed": {
              "actions": {
                "Create_InApp_Notification_[Success]": {
                  "metadata": {
                    "operationMetadataId": "0f108e92-6368-449e-9ad1-ff3e2748966f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "appnotifications",
                      "item/title": "Vorlage erstellt",
                      "item/body": "Eine neue Vorlage \"@{outputs('Create_Template')?['body/hso_name']}\" wurde auf Basis des ausgewählten Knotenpunktes in Kalkulationsversion \"@{outputs('Get_Calculation')?['body/hso_name']}\" erstellt.",
                      "item/data": "@body('Parse_JSON')?['link']",
                      "item/ttlinseconds": 200,
                      "item/icontype": 100000001,
                      "item/ownerid@odata.bind": "systemusers(@{triggerBody()['text_3']})",
                      "item/priority": 200000000
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps_2"
                    }
                  }
                },
                "Respond_to_App_[Success]": {
                  "runAfter": {
                    "Create_InApp_Notification_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "643bdfb7-3d65-4fbd-8ec9-93ef7cd85a3c"
                  },
                  "type": "Response",
                  "kind": "PowerApp",
                  "inputs": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "outcome": {
                          "title": "Outcome",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        },
                        "errormessage": {
                          "title": "ErrorMessage",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    },
                    "statusCode": 200,
                    "body": {
                      "outcome": "Success",
                      "errormessage": "tbd"
                    }
                  },
                  "description": "Response to Custom Page with Processing Log GUID to show Processing Progress"
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Create_InApp_Notification_[Failure]": {
                    "metadata": {
                      "operationMetadataId": "0f108e92-6368-449e-9ad1-ff3e2748966f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "appnotifications",
                        "item/title": "Fehler beim Erstellen der Vorlage",
                        "item/body": "Beim Erstellen der Vorlage \"@{outputs('Create_Template')?['body/hso_name']}\" auf Basis des ausgewählten Knotenpunktes in Kalkulationsversion \"@{outputs('Get_Calculation')?['body/hso_name']}\" ist ein Fehler aufgetreten!",
                        "item/data": "@body('Parse_JSON')?['link']",
                        "item/ttlinseconds": 200,
                        "item/icontype": 100000002,
                        "item/ownerid@odata.bind": "systemusers(@{triggerBody()['text_3']})",
                        "item/priority": 200000000
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "connectionName": "shared_commondataserviceforapps_2"
                      }
                    }
                  },
                  "Respond_to_App_[Failure]": {
                    "runAfter": {
                      "Create_InApp_Notification_[Failure]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c9899a64-a990-4a5a-a1e8-f0c03c438e22"
                    },
                    "type": "Response",
                    "kind": "PowerApp",
                    "inputs": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "outcome": {
                            "title": "Outcome",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          },
                          "errormessage": {
                            "title": "ErrorMessage",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          }
                        },
                        "additionalProperties": {}
                      },
                      "statusCode": 200,
                      "body": {
                        "outcome": "Failure",
                        "errormessage": "@body('Run_a_Child_Flow_to_create_Template_Positions')?['error_message']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('varProcessingStatus')",
                  "Success"
                ]
              },
              "metadata": {
                "operationMetadataId": "fa97dd29-6b5e-4c3c-87e0-7edf519ff9f2"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Process_Calculation": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "7c9c86b6-b07e-4ed4-b609-5e2f63262eac"
          },
          "type": "Scope"
        },
        "Process_Calculation": {
          "actions": {
            "Create_Template": {
              "runAfter": {
                "TemplateType_is_Node": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c4c35644-58c3-4c23-997f-f2cc40c178bd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_templates",
                  "item/hso_name": "@triggerBody()['text_1']",
                  "item/hso_companyid@odata.bind": "@if(empty(triggerBody()['text_5']),null,concat('cdm_companies(',triggerBody()['text_5'],')'))",
                  "item/hso_description": "@triggerBody()['text_4']",
                  "item/hso_departmentid@odata.bind": "@if(empty(triggerBody()['text_6']),null,concat('hso_departments(',triggerBody()['text_6'],')'))",
                  "item/ownerid@odata.bind": "systemusers(@{triggerBody()['text_3']})",
                  "item/hso_responsibleid@odata.bind": "systemusers(@{triggerBody()['text_3']})",
                  "item/statuscode": 1,
                  "item/hso_templatetype": "@variables('varTemplateType')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps_2"
                }
              }
            },
            "Get_Calculation": {
              "runAfter": {
                "Append_Template_to_Log_[Success]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bb10cdf5-faea-47e6-af10-7267a6a15d5e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_calculations",
                  "recordId": "@triggerBody()['text']",
                  "$select": "hso_name, hso_calculationid"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps_2"
                }
              }
            },
            "Create_Processing_Log": {
              "runAfter": {
                "Get_Calculation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "16b3f6e6-ff7b-47b1-ad77-b25fa6a667a6"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "Knotenpunkt-Vorlage erstellen - @{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')}",
                  "item/hso_calculationid@odata.bind": "hso_calculations(@{triggerBody()?['text']})",
                  "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/hso_processingstatus": 100000001,
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_processingtask": 100000004
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps_2"
                }
              }
            },
            "Run_a_Child_Flow_to_create_Template_Positions": {
              "runAfter": {
                "Update_Processing_Log_with_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dd9762bd-0a26-4f54-8b51-5b71739b74ea"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "99db73c0-e5ec-ee11-a203-002248a1bffc"
                },
                "body": {
                  "text": "@triggerBody()['text']",
                  "text_1": "@outputs('Create_Template')?['body/hso_templateid']",
                  "text_2": "@outputs('Get_Calculation_Position_(Node)')?['body/hso_linenumber']",
                  "boolean": "@variables('varIsBOM')",
                  "text_4": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                  "boolean_1": "@variables('varUsePlaceholderBOMProjectProduct')",
                  "text_3": "@if(\r\n variables('varIsBOM'),\r\n outputs('Create_BOM_Project_Product')?['body/hso_projectproductid'],\r\n ''\r\n)"
                }
              }
            },
            "Get_Calculation_Position_(Node)": {
              "runAfter": {
                "Append_Template_to_Log_[Success]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "811da01f-d691-4985-99bd-60f4b85a935c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_calculationdetails",
                  "recordId": "@triggerBody()['text_2']",
                  "$select": "hso_calculationdetailid,hso_name,hso_linenumber,_hso_calculationid_value, hso_level, hso_linenumber_level, hso_calculationdetail_parentid_sortinglinenum,hso_projecttype"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps_2"
                }
              }
            },
            "TemplateType_is_Node": {
              "actions": {
                "Set_varTemplateType_to_Node": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varTemplateType",
                    "value": 100000001
                  }
                },
                "Append_Template_Type_'Node'_to_Log": {
                  "runAfter": {
                    "Set_varTemplateType_to_Node": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] -  Template Type 'Node' recognized. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "else": {
                "actions": {
                  "Set_varTemplateType_to_BOM": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "varTemplateType",
                      "value": 100000002
                    }
                  },
                  "Set_varIsBOM_to_true": {
                    "runAfter": {
                      "Set_varTemplateType_to_BOM": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "varIsBOM",
                      "value": true
                    }
                  },
                  "Append_Template_Type_'BOM'_to_Log": {
                    "runAfter": {
                      "Set_varIsBOM_to_true": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] -  Template Type 'BOM' recognized. @{decodeUriComponent('%0A')}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['text_7']",
                      "Knotenpunkt"
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Is_BOM_Template": {
              "actions": {
                "Create_BOM_Project_Product": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_projectproducts",
                      "item/hso_uomid@odata.bind": "uoms(msdyn_symbol='Stück')",
                      "item/hso_name": "Platzhalter Stücklistenartikel",
                      "item/hso_isbillofmaterials": true,
                      "item/hso_projecttype": "@outputs('Get_Calculation_Position_(Node)')?['body/hso_projecttype']",
                      "item/hso_templateid@odata.bind": "hso_templates(@{outputs('Create_Template')?['body/hso_templateid']})"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps_2"
                    }
                  }
                },
                "Append_BOM_Project_Product_to_Log_[Success]": {
                  "runAfter": {
                    "Create_BOM_Project_Product": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] -  New BOM Project Product '@{outputs('Create_BOM_Project_Product')?['body/hso_name']}' added to Template. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Get_Calculation_Position_(Node)": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['text_7']",
                      "Stückliste"
                    ]
                  },
                  {
                    "equals": [
                      "@variables('varUsePlaceholderBOMProjectProduct')",
                      true
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Append_Template_to_Log_[Success]": {
              "runAfter": {
                "Create_Template": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] -  New Template '@{outputs('Create_Template')?['body/hso_name']}' created. @{decodeUriComponent('%0A')}"
              }
            },
            "Append_Child_Flow_to_Log": {
              "runAfter": {
                "Create_Processing_Log": [
                  "Succeeded"
                ],
                "Is_BOM_Template": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] -  Trigger Child Flow to add Positions to Template. @{decodeUriComponent('%0A')}"
              }
            },
            "Update_Processing_Log_with_Log": {
              "runAfter": {
                "Append_Child_Flow_to_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "84f2d88c-4c20-45ea-a87a-75c65ba3b1b1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                  "item/hso_log": "@variables('varLog')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps_2"
                }
              }
            },
            "Set_varProcessingStatus_to_Child_Flow_Response": {
              "runAfter": {
                "Run_a_Child_Flow_to_create_Template_Positions": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varProcessingStatus",
                "value": "@body('Run_a_Child_Flow_to_create_Template_Positions')?['outcome']"
              }
            }
          },
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c59359b-4565-4278-b0a7-edc18b77875a"
          },
          "type": "Scope"
        },
        "Initialize_varProcessingStatus": {
          "runAfter": {
            "Initialize_varUsePlaceholderBOMProjectProduct": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d9778e51-3398-4861-8a53-96a310365863"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProcessingStatus",
                "type": "string",
                "value": "Pending"
              }
            ]
          }
        },
        "Initialize_varError": {
          "runAfter": {
            "Initialize_varIsBOM": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eed278cb-0b03-4e74-a461-5346e9267c39"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varError",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_varTemplateType": {
          "runAfter": {
            "Initialize_varProcessingStatus": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varTemplateType",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_varIsBOM": {
          "runAfter": {
            "Initialize_varTemplateType": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varIsBOM",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Initialize_varUsePlaceholderBOMProjectProduct": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varUsePlaceholderBOMProjectProduct",
                "type": "boolean",
                "value": "@if(equals(triggerBody()?['text_7'], 'Knotenpunkt'), false, true)"
              }
            ]
          }
        },
        "Initialize_varLog": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLog",
                "type": "string",
                "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Initializing Parent Flow Run: @{concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])} @{decodeUriComponent('%0A')}"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}