ETOCore/Workflows/PAAPPArticleSearchProcessProductsfromCatalogue-6B653B9A-053E-EE11-BDF3-000D3AB347D0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EnvVar | Name App Reg ClientID (hso_EnvVarNameAppRegClientID)": {
          "defaultValue": "AppReg-D365-PowerAutomate-Dev-ClientID",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarNameAppRegClientID"
          }
        },
        "EnvVar | Name App Reg ClientSecret (hso_EnvVarNameAppRegClientSecret)": {
          "defaultValue": "AppReg-D365-PowerAutomate-Dev-ClientSecret",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarNameAppRegClientSecret"
          }
        },
        "EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)": {
          "defaultValue": "d365-ETO-int-11b9dbaf056743afd3devaos.axcloud.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarUnifiedOperationsInstance",
            "description": "The Unified Operations Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "8c0914ee-34ae-4516-be61-848f4686ed0a"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "ProductsJSON_Content": {
                  "type": "any",
                  "x-ms-powerflows-param-ispartial": false
                },
                "strRequesterGUID_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "strOriginType_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "strOriginReference_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "strCompanyName_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "strCompanyGUID_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "InitstrRequestComment_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "strWarehouse_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "strWarehouse_Value_1": {
                  "type": "any"
                }
              },
              "required": [
                "ProductsJSON_Content",
                "strRequesterGUID_Value",
                "strOriginType_Value",
                "strOriginReference_Value",
                "strCompanyName_Value",
                "strCompanyGUID_Value",
                "InitstrRequestComment_Value",
                "strWarehouse_Value",
                "strWarehouse_Value_1"
              ]
            }
          }
        }
      },
      "actions": {
        "strRequesterGUID": {
          "runAfter": {
            "Credentials": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "793863e0-4fcf-4ead-bedb-3ff380cdd8c5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strRequesterGUID",
                "type": "string",
                "value": "@{triggerBody()['strRequesterGUID_Value']}"
              }
            ]
          }
        },
        "strOriginType": {
          "runAfter": {
            "strRequesterGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "05588403-4dd1-4e20-9357-aee811e57a9a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strOriginType",
                "type": "string",
                "value": "@{triggerBody()['strOriginType_Value']}"
              }
            ]
          }
        },
        "strOriginReference": {
          "runAfter": {
            "strOriginType": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd40f130-05d1-423c-b319-8ba7a681b9af"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strOriginReference",
                "type": "string",
                "value": "@{triggerBody()['strOriginReference_Value']}"
              }
            ]
          }
        },
        "strCompanyName": {
          "runAfter": {
            "strOriginReference": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a9414659-f2a2-49b4-9582-34dcf8dd12d6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strCompanyName",
                "type": "string",
                "value": "@{triggerBody()['strCompanyName_Value']}"
              }
            ]
          }
        },
        "strCompanyGUID": {
          "runAfter": {
            "Init_strRequestComment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "75b9e0d6-9d48-4ae6-bb26-7cf079809892"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strCompanyGUID",
                "type": "string"
              }
            ]
          }
        },
        "Fetch_default_values": {
          "actions": {
            "Fetch_company_GUID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1f4c0e82-f407-4293-847b-a3374e878e14"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cdm_companies",
                  "$select": "cdm_companycode",
                  "$filter": "cdm_companycode eq '@{variables('strCompanyName')}'",
                  "$top": 1
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Set_strCompanyGUID": {
              "runAfter": {
                "Fetch_company_GUID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "95dacfdf-24cb-42c6-9f7f-48fb27ed3dc6"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "strCompanyGUID",
                "value": "@{first(outputs('Fetch_company_GUID')?['body/value'])?['cdm_companyid']}"
              }
            },
            "Fetch_requirement_configurations_[DEFAULTS]": {
              "runAfter": {
                "Fetch_synonyms_[ALL]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "12f0857b-ea52-4efc-94ca-a264ab72d096"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "hso_productrequirementconfigurations",
                  "$filter": "_hso_company_id_value eq @{variables('strCompanyGUID')} and hso_configurationtype_opt eq 1",
                  "$orderby": "createdon desc",
                  "$top": 1
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              },
              "description": " and hso_configurationtype_opt eq 1 // Default, 2= BOM"
            },
            "Item_Group_Criteria": {
              "actions": {
                "Item_Group_[Lookup]": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a5392296-e9c2-4320-9582-26fa4812916d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "strItemGroup",
                    "value": "@{concat('hso_itemgroups(',first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultitemgroup_id_value'],')')}"
                  }
                }
              },
              "runAfter": {
                "strReleasingCompanies_Set": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@empty(first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultitemgroup_id_value'])",
                  false
                ]
              },
              "metadata": {
                "operationMetadataId": "851f4f1d-4926-4445-8bf3-13806837938a"
              },
              "type": "If"
            },
            "Tracking_Dimension_Criteria": {
              "actions": {
                "Tracking_Dimension_[Lookup]": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a5392296-e9c2-4320-9582-26fa4812916d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "strTrackingDimension",
                    "value": "@{concat('hso_itemgroups(', first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaulttrackingdimensiongroup_id_value'], ')')}"
                  }
                }
              },
              "runAfter": {
                "strReleasingCompanies_Set": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@empty(first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaulttrackingdimensiongroup_id_value'])",
                  false
                ]
              },
              "metadata": {
                "operationMetadataId": "851f4f1d-4926-4445-8bf3-13806837938a"
              },
              "type": "If"
            },
            "Storage_Dimension_Criteria": {
              "actions": {
                "Storage_Dimension_[Lookup]": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a5392296-e9c2-4320-9582-26fa4812916d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "strStorageDimension",
                    "value": "@{concat('hso_itemgroups(', first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultstoragedimension_id_value'], ')')}"
                  }
                }
              },
              "runAfter": {
                "strReleasingCompanies_Set": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@empty(first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultstoragedimension_id_value'])",
                  false
                ]
              },
              "metadata": {
                "operationMetadataId": "851f4f1d-4926-4445-8bf3-13806837938a"
              },
              "type": "If"
            },
            "Reservation_Hierarchy_Criteria": {
              "actions": {
                "Reservation_Hierarchy_[Lookup]_": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a5392296-e9c2-4320-9582-26fa4812916d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "strReservationHierarchy",
                    "value": "@{concat('hso_itemgroups(', first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultreservationhierarchy_id_value'], ')')}"
                  }
                }
              },
              "runAfter": {
                "strReleasingCompanies_Set": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@empty(first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultreservationhierarchy_id_value'])",
                  false
                ]
              },
              "metadata": {
                "operationMetadataId": "851f4f1d-4926-4445-8bf3-13806837938a"
              },
              "type": "If"
            },
            "Project_Category_Criteria": {
              "actions": {
                "Project_Category_[Lookup]_": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a5392296-e9c2-4320-9582-26fa4812916d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "strProjectCategory",
                    "value": "@{concat('hso_itemgroups(', first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultprojectcategory_id_value'], ')')}"
                  }
                }
              },
              "runAfter": {
                "strReleasingCompanies_Set": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@empty(first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultprojectcategory_id_value'])",
                  false
                ]
              },
              "metadata": {
                "operationMetadataId": "851f4f1d-4926-4445-8bf3-13806837938a"
              },
              "type": "If"
            },
            "Org_Unit_Criteria": {
              "actions": {
                "Org_Unit_[Lookup]_": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a5392296-e9c2-4320-9582-26fa4812916d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "strOrgUnit",
                    "value": "@{concat('hso_itemgroups(', first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultorganizationalunit_id_value'], ')')}"
                  }
                }
              },
              "runAfter": {
                "strReleasingCompanies_Set": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@empty(first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultorganizationalunit_id_value'])",
                  false
                ]
              },
              "metadata": {
                "operationMetadataId": "851f4f1d-4926-4445-8bf3-13806837938a"
              },
              "type": "If"
            },
            "Sales_Tax_Group_Criteria": {
              "actions": {
                "Sales_Tax_Group_[Lookup]_": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a5392296-e9c2-4320-9582-26fa4812916d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "strSalesTaxGroup",
                    "value": "@{concat('hso_itemgroups(', first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultsalestaxgroup_id_value'], ')')}"
                  }
                }
              },
              "runAfter": {
                "strReleasingCompanies_Set": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@empty(first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultsalestaxgroup_id_value'])",
                  false
                ]
              },
              "metadata": {
                "operationMetadataId": "851f4f1d-4926-4445-8bf3-13806837938a"
              },
              "type": "If"
            },
            "Purchase_Tax_Group_Criteria": {
              "actions": {
                "Purchase_Tax_Group_[Lookup]_": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a5392296-e9c2-4320-9582-26fa4812916d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "strPurchaseTaxGroup",
                    "value": "@{concat('hso_itemgroups(', first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultpurchasetaxgroup_id_value'], ')')}"
                  }
                }
              },
              "runAfter": {
                "strReleasingCompanies_Set": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@empty(first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['_hso_defaultpurchasetaxgroup_id_value'])",
                  false
                ]
              },
              "metadata": {
                "operationMetadataId": "851f4f1d-4926-4445-8bf3-13806837938a"
              },
              "type": "If"
            },
            "Fetch_synonyms_[ALL]": {
              "runAfter": {
                "Set_strCompanyGUID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e907f0d5-0393-4803-9a05-4d1e2e9b91fc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "hso_articlesearchsynonyms"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "strReleasingCompanies_Set": {
              "runAfter": {
                "Fetch_requirement_configurations_[DEFAULTS]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "329dfaa2-b0e8-4779-9d48-6a23c60646c8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "strReleasingCompanies",
                "value": "@{coalesce(first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['hso_defaultreleasingcompanies_opt'], '100000000')}"
              }
            }
          },
          "runAfter": {
            "Cancel_Requirement_Creation": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "41fa3e69-03fc-4952-8f61-7874782257a4"
          },
          "type": "Scope"
        },
        "strItemGroup": {
          "runAfter": {
            "strCompanyGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d730ef3d-cd68-404e-a4df-dc46663cb701"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strItemGroup",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strTrackingDimension": {
          "runAfter": {
            "strItemGroup": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8262b0f6-ac8a-4811-b26a-92564e39b993"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strTrackingDimension",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strStorageDimension": {
          "runAfter": {
            "strTrackingDimension": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5fc9225-c07a-4ee5-898b-fef0358d8a2e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strStorageDimension",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strReservationHierarchy": {
          "runAfter": {
            "strStorageDimension": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strReservationHierarchy",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Logging": {
          "actions": {
            "Check_for_Fails": {
              "actions": {
                "Set_StatusOverall_[SUCCESS]": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "15a6bafb-ddcb-4676-b063-f7d7e745b2e0"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "StatusOverall_str",
                    "value": "Success"
                  }
                },
                "Log_[SUCCESS]": {
                  "runAfter": {
                    "Set_StatusOverall_[SUCCESS]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "481d285e-172c-48ee-933f-2cc921d72402"
                  },
                  "type": "Compose",
                  "inputs": "Artikelbedarf: @{outputs('Create_Product_Requirement_Header')?['body/hso_requirementid']}\nNeue: @{length(variables('NewProductRequirementsProceeded_arr'))}/@{variables('NewProductRequirementsToProceed_int')}"
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Set_StatusOverall_[FAILURE]": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "b3e18468-5444-41d2-8348-72cb852e23b7"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "StatusOverall_str",
                      "value": "Failure"
                    }
                  },
                  "Log_[FAILURE]": {
                    "runAfter": {
                      "Set_StatusOverall_[FAILURE]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "7dedf06b-8afa-410e-a534-ca391ffa7931"
                    },
                    "type": "Compose",
                    "inputs": "Artikelbedarf: @{outputs('Create_Product_Requirement_Header')?['body/hso_requirementid']}\nNeue: @{length(variables('NewProductRequirementsProceeded_arr'))}/@{variables('NewProductRequirementsToProceed_int')}"
                  },
                  "Terminate": {
                    "runAfter": {
                      "Log_[FAILURE]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "383e8167-acdb-4b7e-aa49-03a7249b0ab1"
                    },
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(variables('NewProductRequirementsProceeded_arr'))",
                  "@variables('NewProductRequirementsToProceed_int')"
                ]
              },
              "metadata": {
                "operationMetadataId": "432c3299-6bc4-40f0-95c8-1f3e5070bd25"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Create_Product_Requirement_[Lines]": [
              "Succeeded",
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "734fce29-f5e3-4e47-82af-6829f69b2c49"
          },
          "type": "Scope"
        },
        "Create_Product_Requirement_[Header]": {
          "actions": {
            "List_existing_Product_Requirement_Header": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d12492f1-80fa-48fa-a9b5-d6c3e8d8b7d8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "hso_productrequirements",
                  "$select": "hso_requirementid",
                  "$filter": "hso_originreference eq '@{triggerBody()['strOriginReference_Value']}' and hso_origintype eq @{int(triggerBody()['strOriginType_Value'])} and hso_status ne 3",
                  "$orderby": "createdon desc",
                  "$top": 1
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "CHeck_if_Requirement_exisits": {
              "actions": {
                "ProductRequirementHeader_[EXISTING]": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c134fb7c-8ecb-4b31-b2e2-18ca7adbfe0a"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ProductRequirementHeaderGUID_str",
                    "value": "@{first(outputs('List_existing_Product_Requirement_Header')?['body/value'])?['hso_productrequirementid']}"
                  }
                },
                "ProductRequirementHeaderID_[EXISTING]": {
                  "runAfter": {
                    "ProductRequirementHeader_[EXISTING]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3633a9ef-5ae8-46c8-9126-2ce5ec4cc466"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ProductRequirementHeaderID_str",
                    "value": "@{first(outputs('List_existing_Product_Requirement_Header')?['body/value'])?['hso_requirementid']}"
                  }
                }
              },
              "runAfter": {
                "List_existing_Product_Requirement_Header": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Create_Product_Requirement_Header": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "8493b036-cc67-42f0-a699-c620090d63ed"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "hso_productrequirements",
                        "item/hso_requester_id@odata.bind": "systemusers(@{variables('strRequesterGUID')})",
                        "item/hso_requestcomment": "@variables('strRequestComment')",
                        "item/hso_originreferenceformatted": "@variables('strOriginReference')",
                        "item/hso_status": 1,
                        "item/statuscode": 1,
                        "item/hso_origintype": "@int(variables('strOriginType'))",
                        "item/hso_originreference": "@variables('strOriginReference')"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  },
                  "ProductRequirementHeader_[NEW]": {
                    "runAfter": {
                      "Create_Product_Requirement_Header": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "7482e6ab-96b3-4928-b76c-11e4450352e7"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "ProductRequirementHeaderGUID_str",
                      "value": "@outputs('Create_Product_Requirement_Header')?['body/hso_productrequirementid']"
                    }
                  },
                  "ProductRequirementHeaderID_[NEW]": {
                    "runAfter": {
                      "ProductRequirementHeader_[NEW]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "58ec9c6a-0f2e-4a59-b6c0-d4c38b92be85"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "ProductRequirementHeaderID_str",
                      "value": "@outputs('Create_Product_Requirement_Header')?['body/hso_requirementid']"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(outputs('List_existing_Product_Requirement_Header')?['body/value'])",
                      0
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@variables('strOriginType')",
                        "7"
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "c3f910c0-26db-49a2-9cbd-25bc50df692e"
              },
              "type": "If",
              "description": "\"7\" = Allgemeine Artikelanlage"
            }
          },
          "runAfter": {
            "ProductRequirementHeaderID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "992ac9a6-1577-41dc-9603-bb2549cbacac"
          },
          "type": "Scope"
        },
        "Create_Product_Requirement_[Lines]": {
          "actions": {
            "Apply_to_each_Product_Requirement": {
              "foreach": "@body('Products_JSON_[NEW]')",
              "actions": {
                "Fetch_dynamic_values": {
                  "actions": {
                    "Parallel_Processing": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "39893a66-eecc-4a29-8d1a-685c7a36cc08"
                      },
                      "type": "Compose",
                      "inputs": "Parallel Processing"
                    },
                    "Pre-Condition_[MB1]": {
                      "actions": {
                        "Filter_metal_surchargetype_[MB1]": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "e5e78502-9729-4d65-95c8-ccda821ef086"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@outputs('Fetch_synonyms_[ALL]')?['body/value']",
                            "where": "@and(equals(item()?['hso_synonymtype_opt'], 100000000),equals(item()?['hso_synonym'], items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_EXT']))"
                          }
                        },
                        "Set-Condition_[MB1]": {
                          "actions": {
                            "Set_dynamic_value_[MB1]": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "84c609ed-a592-4819-b80e-0d506cc5aa63"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "strDynValMetalType1",
                                "value": "@{concat('hso_metallabels(',first(body('Filter_metal_surchargetype_[MB1]'))?['_hso_metallabel_id_value'],')')}"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_metal_surchargetype_[MB1]": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greater": [
                              "@length(body('Filter_metal_surchargetype_[MB1]'))",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f9788792-0b74-4f34-8a1d-79cfdf205caa"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Reset_MB1": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_EXT']",
                            "-"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "a2845ca0-2f05-4f36-8ded-be17da4c5e74"
                      },
                      "type": "If"
                    },
                    "Pre-Condition_[UOM]": {
                      "actions": {
                        "Filter_Order_Unit_[UOM]": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "e5e78502-9729-4d65-95c8-ccda821ef086"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@outputs('Fetch_synonyms_[ALL]')?['body/value']",
                            "where": "@and(equals(item()?['hso_synonymtype_opt'], 100000001), equals(item()?['hso_synonym'], items('Apply_to_each_Product_Requirement')?['ORDER_UNIT_EXT']))"
                          }
                        },
                        "Set-Condition_[UOM]": {
                          "actions": {
                            "Set_dynamic_value_[UOM]": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "84c609ed-a592-4819-b80e-0d506cc5aa63"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "strDynValUom",
                                "value": "@{concat('uoms(', first(body('Filter_Order_Unit_[UOM]'))?['_hso_uom_id_value'], ')')}"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_Order_Unit_[UOM]": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greater": [
                              "@length(body('Filter_Order_Unit_[UOM]'))",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f9788792-0b74-4f34-8a1d-79cfdf205caa"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Reset_UOM": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_Product_Requirement')?['ORDER_UNIT_EXT']",
                            "-"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "a2845ca0-2f05-4f36-8ded-be17da4c5e74"
                      },
                      "type": "If"
                    },
                    "Pre-Condition_[UOMSEQ]": {
                      "actions": {
                        "Filter_UnitSeq_[UOMSEQ]": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "e5e78502-9729-4d65-95c8-ccda821ef086"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@outputs('Fetch_synonyms_[ALL]')?['body/value']",
                            "where": "@and(equals(item()?['hso_synonymtype_opt'], 100000002), equals(item()?['hso_synonym'], items('Apply_to_each_Product_Requirement')?['ORDER_UNIT_EXT']))"
                          }
                        },
                        "Set-Condition_[UOMSEQ]": {
                          "actions": {
                            "Set_dynamic_value_[UOMSEQ]": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "84c609ed-a592-4819-b80e-0d506cc5aa63"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "strDynValUomSeq",
                                "value": "@{concat('hso_unitsequencegroups(', first(body('Filter_UnitSeq_[UOMSEQ]'))?['_hso_unitsequencegroup_id_value'], ')')}"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_UnitSeq_[UOMSEQ]": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greater": [
                              "@length(body('Filter_UnitSeq_[UOMSEQ]'))",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f9788792-0b74-4f34-8a1d-79cfdf205caa"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Reset_UOMSEQ": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_Product_Requirement')?['ORDER_UNIT_EXT']",
                            "-"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "a2845ca0-2f05-4f36-8ded-be17da4c5e74"
                      },
                      "type": "If"
                    },
                    "Pre-Condition_[MB3]": {
                      "actions": {
                        "Filter_metal_surchargetype_[MB3]": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "e5e78502-9729-4d65-95c8-ccda821ef086"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@outputs('Fetch_synonyms_[ALL]')?['body/value']",
                            "where": "@and(equals(item()?['hso_synonymtype_opt'], 100000000), equals(item()?['hso_synonym'], items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_EXT']))"
                          }
                        },
                        "Set-Condition_[MB3]": {
                          "actions": {
                            "Set_dynamic_value_[MB3]": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "84c609ed-a592-4819-b80e-0d506cc5aa63"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "strDynValMetalType3",
                                "value": "@{concat('hso_metallabels(', first(body('Filter_metal_surchargetype_[MB3]'))?['_hso_metallabel_id_value'], ')')}"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_metal_surchargetype_[MB3]": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greater": [
                              "@length(body('Filter_metal_surchargetype_[MB3]'))",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f9788792-0b74-4f34-8a1d-79cfdf205caa"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Reset_MB3": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_2_EXT']",
                            "-"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "a2845ca0-2f05-4f36-8ded-be17da4c5e74"
                      },
                      "type": "If"
                    },
                    "Pre-Condition_[MB2]": {
                      "actions": {
                        "Filter_metal_surchargetype_[MB2]": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "e5e78502-9729-4d65-95c8-ccda821ef086"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@outputs('Fetch_synonyms_[ALL]')?['body/value']",
                            "where": "@and(equals(item()?['hso_synonymtype_opt'], 100000000), equals(item()?['hso_synonym'], items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_EXT']))"
                          }
                        },
                        "Set-Condition_[MB2]": {
                          "actions": {
                            "Set_dynamic_value_[MB2]": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "84c609ed-a592-4819-b80e-0d506cc5aa63"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "strDynValMetalType2",
                                "value": "@{concat('hso_metallabels(', first(body('Filter_metal_surchargetype_[MB2]'))?['_hso_metallabel_id_value'], ')')}"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_metal_surchargetype_[MB2]": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greater": [
                              "@length(body('Filter_metal_surchargetype_[MB2]'))",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f9788792-0b74-4f34-8a1d-79cfdf205caa"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Reset_MB2": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_1_EXT']",
                            "-"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "a2845ca0-2f05-4f36-8ded-be17da4c5e74"
                      },
                      "type": "If"
                    },
                    "Pre-Condition_[MAN]": {
                      "actions": {
                        "Filter_Manufacturer_[MAN]": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "e5e78502-9729-4d65-95c8-ccda821ef086"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@outputs('Fetch_synonyms_[ALL]')?['body/value']",
                            "where": "@and(equals(item()?['hso_synonymtype_opt'], 100000004), equals(item()?['hso_synonym'], items('Apply_to_each_Product_Requirement')?['MANUFACTURER_NAME_EXT']))"
                          }
                        },
                        "Set-Condition_[MAN]": {
                          "actions": {
                            "Set_dynamic_value_[MAN]": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "84c609ed-a592-4819-b80e-0d506cc5aa63"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "strDynValManufacturer",
                                "value": "@{concat('hso_manufacturers(', first(body('Filter_Manufacturer_[MAN]'))?['_hso_manufacturer_id_value'], ')')}"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_Manufacturer_[MAN]": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greater": [
                              "@length(body('Filter_Manufacturer_[MAN]'))",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f9788792-0b74-4f34-8a1d-79cfdf205caa"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Reset_MAN": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_Product_Requirement')?['MANUFACTURER_NAME_EXT']",
                            "-"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "a2845ca0-2f05-4f36-8ded-be17da4c5e74"
                      },
                      "type": "If"
                    },
                    "Pre-Condition_[VEN]": {
                      "actions": {
                        "Filter_Vendor_[VEN]": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "e5e78502-9729-4d65-95c8-ccda821ef086"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@outputs('Fetch_synonyms_[ALL]')?['body/value']",
                            "where": "@and(equals(item()?['hso_synonymtype_opt'], 100000003), equals(item()?['hso_synonym'], items('Apply_to_each_Product_Requirement')?['SUPPLIER_NAME_EXT']))"
                          }
                        },
                        "Set-Condition_[VEN]": {
                          "actions": {
                            "Set_dynamic_value_[VEN]": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "84c609ed-a592-4819-b80e-0d506cc5aa63"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "strDynValVendor",
                                "value": "@{concat('msdyn_vendors(', first(body('Filter_Vendor_[VEN]'))?['_hso_vendor_id_value'], ')')}"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_Vendor_[VEN]": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greater": [
                              "@length(body('Filter_Vendor_[VEN]'))",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f9788792-0b74-4f34-8a1d-79cfdf205caa"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Reset_VEN": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_Product_Requirement')?['SUPPLIER_NAME_EXT']",
                            "-"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "a2845ca0-2f05-4f36-8ded-be17da4c5e74"
                      },
                      "type": "If"
                    },
                    "Reset_MB1": {
                      "runAfter": {
                        "Parallel_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "aefdbbeb-4c95-4cdf-b176-853b2a59baba"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "strDynValMetalType1",
                        "value": "@{null}"
                      }
                    },
                    "Reset_MB2": {
                      "runAfter": {
                        "Pre-Condition_[MB1]": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ae31a4e1-51d3-4db7-9565-3fd5e01fb9cc"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "strDynValMetalType2",
                        "value": "@{null}"
                      }
                    },
                    "Reset_MB3": {
                      "runAfter": {
                        "Pre-Condition_[MB2]": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "baa554f0-2d10-40d6-9aba-8ea0075d0f7e"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "strDynValMetalType3",
                        "value": "@{null}"
                      }
                    },
                    "Reset_PROCAT": {
                      "runAfter": {
                        "Parallel_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9d38a475-f819-4162-bef2-83a0201a44be"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "strDynProductCategory",
                        "value": "@{null}"
                      }
                    },
                    "Reset_VEN": {
                      "runAfter": {
                        "Parallel_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e2da426a-d8cb-469e-a25c-5b840da46517"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "strDynValVendor",
                        "value": "@{null}"
                      }
                    },
                    "Reset_MAN": {
                      "runAfter": {
                        "Parallel_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "eff775aa-7c81-4c6b-a10d-c92c4909fc91"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "strDynValManufacturer",
                        "value": "@{null}"
                      }
                    },
                    "Reset_UOM": {
                      "runAfter": {
                        "Parallel_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0f196f91-bae9-45db-b040-006f7acccca5"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "strDynValUom",
                        "value": "@{null}"
                      }
                    },
                    "Reset_UOMSEQ": {
                      "runAfter": {
                        "Parallel_Processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b10b1d28-5535-4f7d-af04-2ff8a15c8d1d"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "strDynValUomSeq",
                        "value": "@{null}"
                      }
                    },
                    "Pre-Condition_[PROCAT]": {
                      "actions": {
                        "Fetch_Product_Category": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "53182bc8-d37c-4b35-9357-d984d5801892"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "msdyn_productcategories",
                              "$select": "msdyn_name",
                              "$filter": "msdyn_code eq '@{items('Apply_to_each_Product_Requirement')?['ECLASS_EXT']}'",
                              "$top": 1
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        },
                        "Set-Condition_[PROCAT]": {
                          "actions": {
                            "Set_strDynProductCategory": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "b1875253-54b2-4d20-8f07-ac1f5c668821"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "strDynProductCategory",
                                "value": "@{concat('msdyn_productcategories(', first(outputs('Fetch_Product_Category')?['body/value'])?['msdyn_productcategoryid'], ')')}"
                              }
                            }
                          },
                          "runAfter": {
                            "Fetch_Product_Category": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greater": [
                              "@length(outputs('Fetch_Product_Category')?['body/value'])",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "67479a4b-7286-437f-ac26-6e8366d531ab"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Reset_PROCAT": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "equals": [
                          "@empty(items('Apply_to_each_Product_Requirement')?['ECLASS_EXT'])",
                          false
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8bdaf9ef-f6b6-414c-baaa-3d62e6d66522"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5aa515f7-d181-4436-a572-e9e0498a34ff"
                  },
                  "type": "Scope"
                },
                "Is_existing_FinOps_item": {
                  "actions": {
                    "Fetch_existing_product": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "153b220f-47ca-4056-8fc9-37baf91f78a3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "products",
                          "$filter": "msdyn_productnumber eq '@{items('Apply_to_each_Product_Requirement')?['FINOPS_ID_P']}'"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      },
                      "description": "Saved for later. Only NEW items will lead to request."
                    },
                    "Append_to_Array_[EXISITING]": {
                      "runAfter": {
                        "Check_if_FinOps_item_already_in_DV": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "344ecb74-3730-4477-b12e-d6b3b95faef6"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "ExistingProductRequirementsProceeded_arr",
                        "value": {
                          "Requirement": "@{outputs('Create_Product_Requirement_Header')?['body/hso_requirementid']}",
                          "ManufacturerPID": "@{items('Apply_to_each_Product_Requirement')?['MANUFACTURER_PID_EXT']}"
                        }
                      }
                    },
                    "Check_if_FinOps_item_already_in_DV": {
                      "actions": {
                        "Create_Product_Requirement_Detail_[EXISTING]": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "b4636c59-52a9-4e0b-afd0-bcd165d49b74"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "hso_productrequirementdetails",
                              "item/hso_articlerequesttype_opt": "@items('Apply_to_each_Product_Requirement')?['INPUT_TYPE']",
                              "item/hso_itemgroup@odata.bind": "@variables('strItemGroup')",
                              "item/hso_surchargegroup": "@items('Apply_to_each_Product_Requirement')?['CUSTPRICEGROUP_EXT']",
                              "item/hso_purchasebaseprice": "@items('Apply_to_each_Product_Requirement')?['PRICE_PUR_EXT']",
                              "item/hso_requirementid_id@odata.bind": "hso_productrequirements(@{variables('ProductRequirementHeaderGUID_str')})",
                              "item/hso_orderunit_id@odata.bind": "@variables('strDynValUom')",
                              "item/hso_europeanarticlenumber": "@items('Apply_to_each_Product_Requirement')?['EAN_EXT']",
                              "item/hso_unitsequencegroup@odata.bind": "@variables('strDynValUomSeq')",
                              "item/hso_featuregroup": "@items('Apply_to_each_Product_Requirement')?['ECLASS_EXT']",
                              "item/hso_featuregroupname": "@items('Apply_to_each_Product_Requirement')?['ECLASS_NAME_EXT']",
                              "item/hso_countryoforigin": "@items('Apply_to_each_Product_Requirement')?['COUNTRY_OF_ORIGIN_EXT']",
                              "item/hso_manufacturer_id@odata.bind": "@variables('strDynValManufacturer')",
                              "item/hso_manufacturerpid": "@items('Apply_to_each_Product_Requirement')?['MANUFACTURER_PID_EXT']",
                              "item/hso_manufacturername": "@items('Apply_to_each_Product_Requirement')?['MANUFACTURER_NAME_EXT']",
                              "item/hso_manufacturertype": "@items('Apply_to_each_Product_Requirement')?['MANUFACTURER_TYPE_EXT']",
                              "item/hso_catalogueunit": "@items('Apply_to_each_Product_Requirement')?['ORDER_UNIT_EXT']",
                              "item/hso_storagedimensiongroup_id@odata.bind": "@variables('strStorageDimension')",
                              "item/hso_storageunit_ref@odata.bind": "@variables('strDynValUom')",
                              "item/hso_itemmodelgroup_opt": 1,
                              "item/hso_supplier_id@odata.bind": "@variables('strDynValVendor')",
                              "item/hso_supplierpid": "@items('Apply_to_each_Product_Requirement')?['SUPPLIER_PID_EXT']",
                              "item/hso_suppliername": "@items('Apply_to_each_Product_Requirement')?['SUPPLIER_NAME_EXT']",
                              "item/hso_purchasetaxgroup_id@odata.bind": "@variables('strPurchaseTaxGroup')",
                              "item/hso_salestaxgroup_id@odata.bind": "@variables('strSalesTaxGroup')",
                              "item/hso_quantityinterval": "@items('Apply_to_each_Product_Requirement')?['QUANTITY_INTERVAL_EXT']",
                              "item/hso_metalbase1": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_EXT']",
                              "item/hso_metalbase2": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_1_EXT']",
                              "item/hso_metalbase3": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_2_EXT']",
                              "item/hso_metalnumber1": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_EXT']",
                              "item/hso_metalnumber2": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_1_EXT']",
                              "item/hso_metalnumber3": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_2_EXT']",
                              "item/hso_metalsurchargetype1": "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_EXT']",
                              "item/hso_metalsurchargetype1_id@odata.bind": "@variables('strDynValMetalType1')",
                              "item/hso_metalsurchargetype2": "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_1_EXT']",
                              "item/hso_metalsurchargetype2_id@odata.bind": "@variables('strDynValMetalType2')",
                              "item/hso_metalsurchargetype3": "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_2_EXT']",
                              "item/hso_metalsurchargetype3_id@odata.bind": "@variables('strDynValMetalType3')",
                              "item/hso_metalbase1_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_EXT']",
                              "item/hso_metalbase2_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_1_EXT']",
                              "item/hso_metalbase3_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_2_EXT']",
                              "item/hso_metalquantity1_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_EXT']",
                              "item/hso_metalquantity2_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_1_EXT']",
                              "item/hso_metalquantity3_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_2_EXT']",
                              "item/hso_minimumquantity": "@items('Apply_to_each_Product_Requirement')?['QUANTITY_MIN_EXT']",
                              "item/hso_costcenter@odata.bind": "@variables('strOrgUnit')",
                              "item/hso_pricequantity": "@items('Apply_to_each_Product_Requirement')?['PRICE_QUANTITY_EXT']",
                              "item/hso_product_id@odata.bind": "products(@{first(outputs('Fetch_existing_product')?['body/value'])?['productid']})",
                              "item/hso_productdescription": "@items('Apply_to_each_Product_Requirement')?['DESCRIPTION_LONG_EXT']",
                              "item/hso_productname": "@items('Apply_to_each_Product_Requirement')?['DESCRIPTION_SHORT_EXT']",
                              "item/hso_projectcategory_id@odata.bind": "@variables('strProjectCategory')",
                              "item/hso_reservationhierarchy@odata.bind": "@variables('strReservationHierarchy')",
                              "item/hso_trackingdimensiongroup_id@odata.bind": "@variables('strTrackingDimension')",
                              "item/hso_status": 3,
                              "item/hso_company_id@odata.bind": "cdm_companies(@{variables('strCompanyGUID')})",
                              "item/hso_customsnumber": "@items('Apply_to_each_Product_Requirement')?['CUSTOMS_NUMBER_EXT']"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Fetch_existing_product": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Create_Product_Requirement_Detail_[DV_Product_Missing]": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "b4636c59-52a9-4e0b-afd0-bcd165d49b74"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "hso_productrequirementdetails",
                                "item/hso_articlerequesttype_opt": "@items('Apply_to_each_Product_Requirement')?['INPUT_TYPE']",
                                "item/hso_itemgroup@odata.bind": "@variables('strItemGroup')",
                                "item/hso_surchargegroup": "@items('Apply_to_each_Product_Requirement')?['CUSTPRICEGROUP_EXT']",
                                "item/hso_purchasebaseprice": "@items('Apply_to_each_Product_Requirement')?['PRICE_PUR_EXT']",
                                "item/hso_requirementid_id@odata.bind": "hso_productrequirements(@{variables('ProductRequirementHeaderGUID_str')})",
                                "item/hso_orderunit_id@odata.bind": "@variables('strDynValUom')",
                                "item/hso_europeanarticlenumber": "@items('Apply_to_each_Product_Requirement')?['EAN_EXT']",
                                "item/hso_unitsequencegroup@odata.bind": "@variables('strDynValUomSeq')",
                                "item/hso_featuregroup": "@items('Apply_to_each_Product_Requirement')?['ECLASS_EXT']",
                                "item/hso_featuregroupname": "@items('Apply_to_each_Product_Requirement')?['ECLASS_NAME_EXT']",
                                "item/hso_countryoforigin": "@items('Apply_to_each_Product_Requirement')?['COUNTRY_OF_ORIGIN_EXT']",
                                "item/hso_manufacturer_id@odata.bind": "@variables('strDynValManufacturer')",
                                "item/hso_manufacturerpid": "@items('Apply_to_each_Product_Requirement')?['MANUFACTURER_PID_EXT']",
                                "item/hso_manufacturername": "@items('Apply_to_each_Product_Requirement')?['MANUFACTURER_NAME_EXT']",
                                "item/hso_manufacturertype": "@items('Apply_to_each_Product_Requirement')?['MANUFACTURER_TYPE_EXT']",
                                "item/hso_catalogueunit": "@items('Apply_to_each_Product_Requirement')?['ORDER_UNIT_EXT']",
                                "item/hso_storagedimensiongroup_id@odata.bind": "@variables('strStorageDimension')",
                                "item/hso_storageunit_ref@odata.bind": "@variables('strDynValUom')",
                                "item/hso_itemmodelgroup_opt": 1,
                                "item/hso_supplier_id@odata.bind": "@variables('strDynValVendor')",
                                "item/hso_supplierpid": "@items('Apply_to_each_Product_Requirement')?['SUPPLIER_PID_EXT']",
                                "item/hso_suppliername": "@items('Apply_to_each_Product_Requirement')?['SUPPLIER_NAME_EXT']",
                                "item/hso_purchasetaxgroup_id@odata.bind": "@variables('strPurchaseTaxGroup')",
                                "item/hso_salestaxgroup_id@odata.bind": "@variables('strSalesTaxGroup')",
                                "item/hso_quantityinterval": "@items('Apply_to_each_Product_Requirement')?['QUANTITY_INTERVAL_EXT']",
                                "item/hso_metalbase1": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_EXT']",
                                "item/hso_metalbase2": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_1_EXT']",
                                "item/hso_metalbase3": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_2_EXT']",
                                "item/hso_metalnumber1": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_EXT']",
                                "item/hso_metalnumber2": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_1_EXT']",
                                "item/hso_metalnumber3": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_2_EXT']",
                                "item/hso_metalsurchargetype1": "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_EXT']",
                                "item/hso_metalsurchargetype1_id@odata.bind": "@variables('strDynValMetalType1')",
                                "item/hso_metalsurchargetype2": "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_1_EXT']",
                                "item/hso_metalsurchargetype2_id@odata.bind": "@variables('strDynValMetalType2')",
                                "item/hso_metalsurchargetype3": "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_2_EXT']",
                                "item/hso_metalsurchargetype3_id@odata.bind": "@variables('strDynValMetalType3')",
                                "item/hso_metalbase1_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_EXT']",
                                "item/hso_metalbase2_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_1_EXT']",
                                "item/hso_metalbase3_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_2_EXT']",
                                "item/hso_metalquantity1_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_EXT']",
                                "item/hso_metalquantity2_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_1_EXT']",
                                "item/hso_minimumquantity": "@items('Apply_to_each_Product_Requirement')?['QUANTITY_MIN_EXT']",
                                "item/hso_costcenter@odata.bind": "@variables('strOrgUnit')",
                                "item/hso_pricequantity": "@items('Apply_to_each_Product_Requirement')?['PRICE_QUANTITY_EXT']",
                                "item/hso_productdescription": "@items('Apply_to_each_Product_Requirement')?['DESCRIPTION_LONG_EXT']",
                                "item/hso_productname": "@items('Apply_to_each_Product_Requirement')?['DESCRIPTION_SHORT_EXT']",
                                "item/hso_projectcategory_id@odata.bind": "@variables('strProjectCategory')",
                                "item/hso_reservationhierarchy@odata.bind": "@variables('strReservationHierarchy')",
                                "item/hso_trackingdimensiongroup_id@odata.bind": "@variables('strTrackingDimension')",
                                "item/hso_status": 3,
                                "item/hso_company_id@odata.bind": "cdm_companies(@{variables('strCompanyGUID')})",
                                "item/hso_customsnumber": "@items('Apply_to_each_Product_Requirement')?['CUSTOMS_NUMBER_EXT']"
                              },
                              "authentication": {
                                "type": "Raw",
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                              }
                            }
                          }
                        }
                      },
                      "expression": {
                        "greater": [
                          "@length(outputs('Fetch_existing_product')?['body/value'])",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d30167bd-e82d-41dd-a2ee-a330953b08fb"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Fetch_dynamic_values": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_to_Array_[NEW]": {
                        "runAfter": {
                          "Create_Product_Requirement_Detail_[NEW]": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "a4b28544-c9bf-4214-a474-0e92c055e310"
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "NewProductRequirementsProceeded_arr",
                          "value": {
                            "Requirement": "@{outputs('Create_Product_Requirement_Header')?['body/hso_requirementid']}",
                            "ManufacturerPID": "@{items('Apply_to_each_Product_Requirement')?['MANUFACTURER_PID_EXT']}"
                          }
                        }
                      },
                      "Switch_in_ISOCountryCode": {
                        "runAfter": {},
                        "cases": {
                          "On_ISOCode": {
                            "case": 2,
                            "actions": {
                              "strDynISOCountryCode_to_ISOCode": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "852634cf-2d56-4e6a-8954-520437dcb8e0"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "strDynISOCountryCode",
                                  "value": "/hso_countries(hso_countryisocode='@{items('Apply_to_each_Product_Requirement')?['COUNTRY_OF_ORIGIN_EXT']}')"
                                }
                              }
                            }
                          },
                          "On_ISO3Code": {
                            "case": 3,
                            "actions": {
                              "strDynISOCountryCode_to_ISO3Code": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "8b27105b-9758-485e-813e-4cf741c4daf2"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "strDynISOCountryCode",
                                  "value": "/hso_countries(hso_countryiso3code='@{items('Apply_to_each_Product_Requirement')?['COUNTRY_OF_ORIGIN_EXT']}')"
                                }
                              }
                            }
                          }
                        },
                        "default": {
                          "actions": {
                            "strDynISOCountryCode_to_null": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "def864e2-f534-4b37-82de-56c0acd10a4c"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "strDynISOCountryCode",
                                "value": "@{null}"
                              }
                            }
                          }
                        },
                        "expression": "@if(\r\n    empty(items('Apply_to_each_Product_Requirement')?['COUNTRY_OF_ORIGIN_EXT']),\r\n    0,\r\n    length(items('Apply_to_each_Product_Requirement')?['COUNTRY_OF_ORIGIN_EXT'])\r\n)",
                        "metadata": {
                          "operationMetadataId": "5ae961b5-a460-41d7-9be7-385e337e85f2"
                        },
                        "type": "Switch"
                      },
                      "Create_Product_Requirement_Detail_[NEW]": {
                        "runAfter": {
                          "Switch_in_ISOCountryCode": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "b4636c59-52a9-4e0b-afd0-bcd165d49b74"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "hso_productrequirementdetails",
                            "item/hso_requestedquantity": "@items('Apply_to_each_Product_Requirement')?['PICKEDQUANTITY']",
                            "item/hso_articlerequesttype_opt": "@items('Apply_to_each_Product_Requirement')?['INPUT_TYPE']",
                            "item/hso_itemgroup@odata.bind": "@variables('strItemGroup')",
                            "item/hso_surchargegroup": "@items('Apply_to_each_Product_Requirement')?['CUSTPRICEGROUP_EXT']",
                            "item/hso_purchasebaseprice": "@items('Apply_to_each_Product_Requirement')?['PRICE_PUR_EXT']",
                            "item/hso_requirementid_id@odata.bind": "hso_productrequirements(@{variables('ProductRequirementHeaderGUID_str')})",
                            "item/hso_orderunit_id@odata.bind": "@variables('strDynValUom')",
                            "item/hso_europeanarticlenumber": "@items('Apply_to_each_Product_Requirement')?['EAN_EXT']",
                            "item/hso_unitsequencegroup@odata.bind": "@variables('strDynValUomSeq')",
                            "item/hso_purchasepricecatalogue": "@items('Apply_to_each_Product_Requirement')?['PURCHASEPRICECATALOGUE']",
                            "item/hso_featuregroup": "@items('Apply_to_each_Product_Requirement')?['ECLASS_EXT']",
                            "item/hso_featuregroupname": "@items('Apply_to_each_Product_Requirement')?['ECLASS_NAME_EXT']",
                            "item/hso_releasecompany_opt": "@variables('strReleasingCompanies')",
                            "item/hso_countryoforigin": "@items('Apply_to_each_Product_Requirement')?['COUNTRY_OF_ORIGIN_EXT']",
                            "item/hso_countryoforigin_id@odata.bind": "@variables('strDynISOCountryCode')",
                            "item/hso_manufacturer_id@odata.bind": "@variables('strDynValManufacturer')",
                            "item/hso_manufacturerpid": "@items('Apply_to_each_Product_Requirement')?['MANUFACTURER_PID_EXT']",
                            "item/hso_manufacturername": "@items('Apply_to_each_Product_Requirement')?['MANUFACTURER_NAME_EXT']",
                            "item/hso_manufacturertype": "@items('Apply_to_each_Product_Requirement')?['MANUFACTURER_TYPE_EXT']",
                            "item/hso_catalogueunit": "@items('Apply_to_each_Product_Requirement')?['ORDER_UNIT_EXT']",
                            "item/hso_storagedimensiongroup_id@odata.bind": "@variables('strStorageDimension')",
                            "item/hso_storageunit_ref@odata.bind": "@variables('strDynValUom')",
                            "item/hso_itemmodelgroup_opt": 1,
                            "item/hso_supplier_id@odata.bind": "@variables('strDynValVendor')",
                            "item/hso_supplierpid": "@items('Apply_to_each_Product_Requirement')?['SUPPLIER_PID_EXT']",
                            "item/hso_suppliername": "@items('Apply_to_each_Product_Requirement')?['SUPPLIER_NAME_EXT']",
                            "item/hso_purchasetaxgroup_id@odata.bind": "@variables('strPurchaseTaxGroup')",
                            "item/hso_salestaxgroup_id@odata.bind": "@variables('strSalesTaxGroup')",
                            "item/hso_quantityinterval": "@items('Apply_to_each_Product_Requirement')?['QUANTITY_INTERVAL_EXT']",
                            "item/hso_metalbase1": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_EXT']",
                            "item/hso_metalbase2": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_1_EXT']",
                            "item/hso_metalbase3": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_2_EXT']",
                            "item/hso_metalnumber1": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_EXT']",
                            "item/hso_metalnumber2": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_1_EXT']",
                            "item/hso_metalnumber3": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_2_EXT']",
                            "item/hso_metalsurchargetype1": "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_EXT']",
                            "item/hso_metalsurchargetype1_id@odata.bind": "@variables('strDynValMetalType1')",
                            "item/hso_metalsurchargetype2": "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_1_EXT']",
                            "item/hso_metalsurchargetype2_id@odata.bind": "@variables('strDynValMetalType2')",
                            "item/hso_metalsurchargetype3": "@items('Apply_to_each_Product_Requirement')?['SURCHARGE_TYPE_2_EXT']",
                            "item/hso_metalsurchargetype3_id@odata.bind": "@variables('strDynValMetalType3')",
                            "item/hso_metalbase1_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_EXT']",
                            "item/hso_metalbase2_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_1_EXT']",
                            "item/hso_metalbase3_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BASIS_2_EXT']",
                            "item/hso_metalquantity1_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_EXT']",
                            "item/hso_metalquantity2_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_1_EXT']",
                            "item/hso_metalquantity3_dec": "@items('Apply_to_each_Product_Requirement')?['MATERIAL_BABIS_WEIGHT_2_EXT']",
                            "item/hso_minimumquantity": "@items('Apply_to_each_Product_Requirement')?['QUANTITY_MIN_EXT']",
                            "item/hso_costcenter@odata.bind": "@variables('strOrgUnit')",
                            "item/hso_pricequantity": "@items('Apply_to_each_Product_Requirement')?['PRICE_QUANTITY_EXT']",
                            "item/hso_productdescription": "@items('Apply_to_each_Product_Requirement')?['DESCRIPTION_LONG_EXT']",
                            "item/hso_productcategory_id@odata.bind": "@variables('strDynProductCategory')",
                            "item/hso_productname": "@items('Apply_to_each_Product_Requirement')?['DESCRIPTION_SHORT_EXT']",
                            "item/hso_producttype_opt": 100000000,
                            "item/hso_productsubtype_opt": 100000001,
                            "item/hso_projectcategory_id@odata.bind": "@variables('strProjectCategory')",
                            "item/hso_reservationhierarchy@odata.bind": "@variables('strReservationHierarchy')",
                            "item/hso_trackingdimensiongroup_id@odata.bind": "@variables('strTrackingDimension')",
                            "item/hso_sqlrecordid": "@items('Apply_to_each_Product_Requirement')?['PRODUCTS_ID_EXT']",
                            "item/hso_defaultordertype_opt": "@first(outputs('Fetch_requirement_configurations_[DEFAULTS]')?['body/value'])?['hso_defaultordertype_opt']",
                            "item/hso_status": 1,
                            "item/hso_company_id@odata.bind": "cdm_companies(@{variables('strCompanyGUID')})",
                            "item/hso_customsnumber": "@items('Apply_to_each_Product_Requirement')?['CUSTOMS_NUMBER_EXT']"
                          },
                          "authentication": {
                            "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@length(items('Apply_to_each_Product_Requirement')?['FINOPS_ID_P'])",
                      1
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "66cce463-78b2-4e14-8be1-7e23303a02b1"
                  },
                  "type": "If",
                  "description": "true path will not be done by default. But saved for later."
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "753cfeaa-869f-4ca6-a6a0-3af83477c0f6"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "strDynISOCountryCode": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a68da380-14ed-4627-95a6-f6b4f5fef154"
          },
          "type": "Scope"
        },
        "strProjectCategory": {
          "runAfter": {
            "strReservationHierarchy": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strProjectCategory",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strOrgUnit": {
          "runAfter": {
            "strProjectCategory": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strOrgUnit",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strPurchaseTaxGroup": {
          "runAfter": {
            "strOrgUnit": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strPurchaseTaxGroup",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strSalesTaxGroup": {
          "runAfter": {
            "strPurchaseTaxGroup": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strSalesTaxGroup",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Products_JSON_[EXISTING]": {
          "runAfter": {
            "Products_JSON_[NEW]": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "99cd4c2a-c416-406b-9a3d-4167553fac67"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Products_JSON')",
            "where": "@greater(length(item()?['FINOPS_ID_P']), 1)"
          }
        },
        "Products_JSON_[NEW]": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4ea2328e-93a6-4695-b30e-2cd61f09e9c0"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Products_JSON')",
            "where": "@equals(length(item()?['FINOPS_ID_P']), 1)"
          }
        },
        "Products_JSON": {
          "runAfter": {
            "intLineNumber": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "44df3d18-5393-4a8c-85c9-7322e803233c"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['ProductsJSON_Content']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "COUNTRY_OF_ORIGIN_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "CURRENCY_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "CUSTOMS_NUMBER_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "CUSTPRICEGROUP_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "DESCRIPTION_LONG_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "DESCRIPTION_SHORT_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "EAN_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "ECLASS_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "ECLASS_NAME_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "MANUFACTURER_NAME_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "MANUFACTURER_PID_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "MANUFACTURER_TYPE_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "MATERIAL_BABIS_WEIGHT_1_EXT": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "MATERIAL_BABIS_WEIGHT_2_EXT": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "MATERIAL_BABIS_WEIGHT_EXT": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "MATERIAL_BASIS_1_EXT": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "MATERIAL_BASIS_2_EXT": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "MATERIAL_BASIS_EXT": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "ORDER_UNIT_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "PRICE_PUR_EXT": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "PRICE_QUANTITY_EXT": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "QUANTITY_INTERVAL_EXT": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "QUANTITY_MIN_EXT": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "SUPPLIER_NAME_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "SUPPLIER_PID_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "SURCHARGE_TYPE_1_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "SURCHARGE_TYPE_2_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "SURCHARGE_TYPE_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "FINOPS_ID_P": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "INPUT_TYPE": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "PRODUCTS_ID_EXT": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "PURCHASEPRICECATALOGUE": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "PURCHASEPRICEFINOPS": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "PICKEDQUANTITY": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "strWarehouse": {
          "runAfter": {
            "strSalesTaxGroup": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d20b2f73-07b5-4729-ba6f-7a3f08f8ee85"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Warehouse_str",
                "type": "string",
                "value": "@triggerBody()['strWarehouse_Value']"
              }
            ]
          }
        },
        "ProductGUID": {
          "runAfter": {
            "Create_Product_Requirement_[Header]": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "00749959-844e-49f3-90a3-e3c9153831f8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProductGUID_str",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "NewProductRequirementsToProceed": {
          "runAfter": {
            "ProductGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ce627659-771f-45db-b524-121c54e5cb80"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NewProductRequirementsToProceed_int",
                "type": "integer",
                "value": "@length(body('Products_JSON_[NEW]'))"
              }
            ]
          }
        },
        "NewProductRequirementsProceeded": {
          "runAfter": {
            "NewProductRequirementsToProceed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d945e20d-38af-4799-aa19-78b225054713"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NewProductRequirementsProceeded_arr",
                "type": "array"
              }
            ]
          }
        },
        "ExistingProductRequirementsProceeded": {
          "runAfter": {
            "ExistingProductRequirementsToProceed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b8de6e53-ab8e-4233-b9e3-212f0afeb218"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ExistingProductRequirementsProceeded_arr",
                "type": "array"
              }
            ]
          }
        },
        "ExistingProductRequirementsToProceed": {
          "runAfter": {
            "NewProductRequirementsProceeded": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c868a51-8373-4b6e-b9af-2df4027eb605"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ExistingProductRequirementsToProceed_int",
                "type": "integer",
                "value": "@length(body('Products_JSON_[EXISTING]'))"
              }
            ]
          }
        },
        "StatusOverall": {
          "runAfter": {
            "strWarehouse": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4d40d6bc-cf37-4aac-b0e8-7c26557e0312"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "StatusOverall_str",
                "type": "string"
              }
            ]
          }
        },
        "intLineNumber": {
          "runAfter": {
            "StatusOverall": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a764e2f1-5a5f-4cd2-8308-a85afbd57fab"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "intLineNumber",
                "type": "integer"
              }
            ]
          }
        },
        "Credentials": {
          "actions": {
            "Parallel_Loading": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8aafa191-8224-4c92-918b-196daa86afb9"
              },
              "type": "Compose",
              "inputs": "Parallel Loading"
            },
            "PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials": {
              "runAfter": {
                "Parallel_Loading": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f0ffa545-0bf7-48a9-851b-247d82ae9765"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "1fe99852-ba66-ee11-9ae7-000d3ab3cbd3"
                },
                "body": {
                  "text": "AppReg-TenantId",
                  "text_1": "@parameters('EnvVar | Name App Reg ClientID (hso_EnvVarNameAppRegClientID)')",
                  "text_2": "@parameters('EnvVar | Name App Reg ClientSecret (hso_EnvVarNameAppRegClientSecret)')"
                }
              },
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "outputs"
                  ]
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ff1ce4f2-e0e6-472a-b817-b29fa5a75809"
          },
          "type": "Scope"
        },
        "ProductRequirementHeaderGUID": {
          "runAfter": {
            "Fetch_default_values": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e3e2de14-077c-4f76-aa06-3813e8aa5c03"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProductRequirementHeaderGUID_str",
                "type": "string"
              }
            ]
          }
        },
        "ProductRequirementHeaderID": {
          "runAfter": {
            "ProductRequirementHeaderGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8c5997a2-21ec-493c-a9dc-e7ffa3b0f69e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProductRequirementHeaderID_str",
                "type": "string"
              }
            ]
          }
        },
        "strDynValMetalType1": {
          "runAfter": {
            "ExistingProductRequirementsProceeded": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strDynValMetalType1",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strDynValMetalType2": {
          "runAfter": {
            "strDynValMetalType1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strDynValMetalType2",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strDynValMetalType3": {
          "runAfter": {
            "strDynValMetalType2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strDynValMetalType3",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strDynValUOM": {
          "runAfter": {
            "strDynValMetalType3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strDynValUom",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strDynValUOMSEQ": {
          "runAfter": {
            "strDynValUOM": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strDynValUomSeq",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strDynValManufacturer": {
          "runAfter": {
            "strDynValUOMSEQ": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strDynValManufacturer",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strDynValVendor": {
          "runAfter": {
            "strDynValManufacturer": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c00d0643-71db-4747-80da-833645064414"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strDynValVendor",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Compose": {
          "runAfter": {
            "Products_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7524b993-dc41-4665-bb44-74fc4742b034"
          },
          "type": "Compose",
          "inputs": "@triggerBody()['ProductsJSON_Content']"
        },
        "FinOpsItemsToProceed": {
          "runAfter": {
            "Products_JSON_[EXISTING]": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f8af6b66-f2cf-4ffc-bee2-b3733d7c9e0b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FinOpsItemsToProceed_int",
                "type": "integer",
                "value": "@length(body('Products_JSON_[EXISTING]'))"
              }
            ]
          }
        },
        "FinOpsItemsProceeded": {
          "runAfter": {
            "FinOpsItemsToProceed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "61ed7884-fa81-4997-a9a2-7e97f4b703c2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FinOpsItemsProceeded_arr",
                "type": "array"
              }
            ]
          }
        },
        "FinOpsItemsFailed": {
          "runAfter": {
            "FinOpsItemsProceeded": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8e603146-4bd4-4e54-b324-228625c2f721"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FinOpsItemsFailed_arr",
                "type": "array"
              }
            ]
          }
        },
        "FinOpsStatus": {
          "runAfter": {
            "FinOpsItemsFailed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1dbe0ae9-7bb3-467d-ba48-98396646bdaa"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FinOpsStatus_str",
                "type": "string"
              }
            ]
          }
        },
        "FinOps_Actions": {
          "actions": {
            "Check_if_there_is_any_existing_product": {
              "actions": {
                "Switch_Integration_Scenario": {
                  "runAfter": {},
                  "cases": {
                    "Sales_Order_[OriginType_eq_4]": {
                      "case": "4",
                      "actions": {
                        "Execution_criteria_[SALESORDER]": {
                          "actions": {
                            "Apply_to_each_existing_item_[SALES_ORDER]": {
                              "foreach": "@body('Products_JSON_[EXISTING]')",
                              "actions": {
                                "Append_to_Proceeded_[SALES_ORDER]": {
                                  "runAfter": {
                                    "Create_Sales_Order_Line_[FO]": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "a7486c5a-b736-4c10-b931-d3e9fcbdd855"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "FinOpsItemsProceeded_arr",
                                    "value": {
                                      "FinOpsItem": "@items('Apply_to_each_existing_item_[SALES_ORDER]')?['FINOPS_ID_P']"
                                    }
                                  }
                                },
                                "Append_to_Failed_[SALES_ORDER]": {
                                  "runAfter": {
                                    "Create_Sales_Order_Line_[FO]": [
                                      "Failed",
                                      "TimedOut"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "ff380746-237e-4c0d-8382-35df47f9fbfe"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "FinOpsItemsFailed_arr",
                                    "value": {
                                      "FinOpsItem": "@items('Apply_to_each_existing_item_[SALES_ORDER]')?['FINOPS_ID_P']"
                                    }
                                  }
                                },
                                "Create_Sales_Order_Line_[FO]": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "a8d27b91-6904-4b31-9131-7054ef964ee7"
                                  },
                                  "type": "Http",
                                  "inputs": {
                                    "method": "POST",
                                    "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/CDSSalesOrderLinesV2",
                                    "headers": {
                                      "Content-Type": "application/json"
                                    },
                                    "body": {
                                      "dataAreaId": "@{variables('strCompanyName')}",
                                      "SalesOrderNumber": "@{variables('strOriginReference')}",
                                      "ShippingWarehouseId": "@{variables('Warehouse_str')}",
                                      "ProductNumber": "@{items('Apply_to_each_existing_item_[SALES_ORDER]')?['FINOPS_ID_P']}",
                                      "OrderedSalesQuantity": "@items('Apply_to_each_existing_item_[SALES_ORDER]')?['PICKEDQUANTITY']"
                                    },
                                    "authentication": {
                                      "type": "ActiveDirectoryOAuth",
                                      "tenant": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['tenantid']",
                                      "audience": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/",
                                      "clientId": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['clientid']",
                                      "secret": "@{body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['secret']}"
                                    }
                                  }
                                }
                              },
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "bca90bdd-2086-4a11-855d-049730373066"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {
                            "List_matching_Sales_Order": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Execution_criteria_not_fulfilled_[SALES_ORDER]": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "7092762f-ee9b-48fe-8748-78430a71e394"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "FinOpsStatus_str",
                                  "value": "Sales Order @{variables('strOriginReference')} does not exist."
                                }
                              }
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(outputs('List_matching_Sales_Order')?['body/value'])",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f1407949-0fa8-4965-8a3a-02ac6bd6a09e"
                          },
                          "type": "If"
                        },
                        "List_matching_Sales_Order": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "2fe59aa3-50d5-4843-a36a-19f69f01e9a6"
                          },
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/CDSSalesOrderHeaders?$filter=(SalesOrderNumber eq '@{variables('strOriginReference')}') and (dataAreaId eq '@{variables('strCompanyName')}')&cross-company=true",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "authentication": {
                              "type": "ActiveDirectoryOAuth",
                              "tenant": "@{body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['tenantid']}",
                              "audience": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/",
                              "clientId": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['clientid']",
                              "secret": "@{body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['secret']}"
                            }
                          }
                        }
                      }
                    },
                    "Project_Item_Forecast_[OriginType_eq_2]": {
                      "case": "2",
                      "actions": {
                        "Execution_criteria_[PROJECT]": {
                          "actions": {
                            "Apply_to_each_existing_item_[ITEM_REQUIREMENT]": {
                              "foreach": "@body('Products_JSON_[EXISTING]')",
                              "actions": {
                                "Append_to_Proceeded_[ITEM_FORECAST]": {
                                  "runAfter": {
                                    "Create_project_item_requirement_[FO]": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "37584d9f-3d91-4f95-9107-51fc08596c9d"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "FinOpsItemsProceeded_arr",
                                    "value": {
                                      "FinOpsItem": "@items('Apply_to_each_existing_item_[ITEM_REQUIREMENT]')?['FINOPS_ID_P']"
                                    }
                                  }
                                },
                                "Append_to_Failed_[ITEM_FORECAST]": {
                                  "runAfter": {
                                    "Create_project_item_requirement_[FO]": [
                                      "Failed",
                                      "TimedOut"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "090e690d-e7e8-4d2a-a4c8-629c9224ea18"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "FinOpsItemsFailed_arr",
                                    "value": {
                                      "FinOpsItem": "@items('Apply_to_each_existing_item_[ITEM_REQUIREMENT]')?['FINOPS_ID_P']"
                                    }
                                  }
                                },
                                "Create_project_item_requirement_[FO]": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "ba5f487d-1f37-45a4-b5b3-9eeceadbde4f"
                                  },
                                  "type": "Http",
                                  "inputs": {
                                    "method": "POST",
                                    "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/ProjectItemForecasts?cross-company=true",
                                    "headers": {
                                      "Content-Type": "application/json"
                                    },
                                    "body": {
                                      "dataAreaId": "@{variables('strCompanyName')}",
                                      "StorageWarehouseId": "@{variables('Warehouse_str')}",
                                      "ProjectId": "@{variables('strOriginReference')}",
                                      "ItemId": "@{items('Apply_to_each_existing_item_[ITEM_REQUIREMENT]')?['FINOPS_ID_P']}",
                                      "SalesQuantity": "@items('Apply_to_each_existing_item_[ITEM_REQUIREMENT]')?['PICKEDQUANTITY']",
                                      "Currency": "EUR",
                                      "ModelId": "NEU",
                                      "StartDate": "@{utcNow()}"
                                    },
                                    "authentication": {
                                      "type": "ActiveDirectoryOAuth",
                                      "tenant": "@{body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['tenantid']}",
                                      "audience": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/",
                                      "clientId": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['clientid']",
                                      "secret": "@{body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['secret']}"
                                    }
                                  }
                                }
                              },
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "ac526d19-0935-43ac-a5ae-15ad4a81ae66"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {
                            "List_matching_Project_[FO]": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Execution_criteria_not_fulfilled_[ITEM_REQUIREMENT]": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "1d30e0e3-590a-49cc-b846-5851e739f1d6"
                                },
                                "type": "AppendToStringVariable",
                                "inputs": {
                                  "name": "FinOpsStatus_str",
                                  "value": "Project @{triggerBody()['strOriginReference_Value']} does not exist."
                                }
                              }
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(outputs('List_matching_Project_[FO]')?['body/value'])",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e41180f8-89b3-4e09-93f3-13b224361db9"
                          },
                          "type": "If"
                        },
                        "List_matching_Project_[FO]": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "551ccf7c-1b9b-4341-88ea-4fc98bc48225"
                          },
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/CDSProjects?$filter=(ProjectID eq '@{variables('strOriginReference')}') and (dataAreaId eq '@{variables('strCompanyName')}')&cross-company=true",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "authentication": {
                              "type": "ActiveDirectoryOAuth",
                              "tenant": "@{body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['tenantid']}",
                              "audience": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/",
                              "clientId": "@{body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['clientid']}",
                              "secret": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['secret']"
                            }
                          }
                        }
                      }
                    },
                    "Purchase_Order_[OriginType_eq_1]": {
                      "case": "1",
                      "actions": {
                        "Execution_criteria_[PURCHASEORDER]": {
                          "actions": {
                            "Apply_to_each_existing_item_[PURCHASE_ORDER]": {
                              "foreach": "@body('Products_JSON_[EXISTING]')",
                              "actions": {
                                "Increment_intLineNumber": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "1167cb83-6d75-4f04-b7b4-02898f11c93e"
                                  },
                                  "type": "IncrementVariable",
                                  "inputs": {
                                    "name": "intLineNumber",
                                    "value": 1
                                  }
                                },
                                "Append_to_Proceeded_[PURCHASE_ORDER]": {
                                  "runAfter": {
                                    "Create_Purchase_Order_Line_[FO]": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "b77d9d88-f8c2-452e-aacb-cff72b6e96e7"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "FinOpsItemsProceeded_arr",
                                    "value": {
                                      "FinOpsItem": "@items('Apply_to_each_existing_item_[PURCHASE_ORDER]')?['FINOPS_ID_P']"
                                    }
                                  }
                                },
                                "Append_to_Failed_[PURCHASE_ORDER]": {
                                  "runAfter": {
                                    "Create_Purchase_Order_Line_[FO]": [
                                      "Failed",
                                      "TimedOut"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "460bd155-f6bc-40ca-a808-f15eeaa6783f"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "FinOpsItemsFailed_arr",
                                    "value": {
                                      "FinOpsItem": "@items('Apply_to_each_existing_item_[PURCHASE_ORDER]')?['FINOPS_ID_P']"
                                    }
                                  }
                                },
                                "Create_Purchase_Order_Line_[FO]": {
                                  "runAfter": {
                                    "Increment_intLineNumber": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "cb32d70c-cb80-45b2-9ab1-6e6c6c0412b9"
                                  },
                                  "type": "Http",
                                  "inputs": {
                                    "method": "POST",
                                    "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/CDSPurchaseOrderLines",
                                    "headers": {
                                      "Content-Type": "application/json"
                                    },
                                    "body": {
                                      "dataAreaId": "@{variables('strCompanyName')}",
                                      "PurchaseOrderNumber": "@{variables('strOriginReference')}",
                                      "ProductNumber": "@{items('Apply_to_each_existing_item_[PURCHASE_ORDER]')?['FINOPS_ID_P']}",
                                      "LineNumber": "@variables('intLineNumber')",
                                      "OrderedPurchaseQuantity": "@items('Apply_to_each_existing_item_[PURCHASE_ORDER]')?['PICKEDQUANTITY']",
                                      "ReceivingSiteId": "@variables('strCompanyName')"
                                    },
                                    "authentication": {
                                      "type": "ActiveDirectoryOAuth",
                                      "tenant": "@{body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['tenantid']}",
                                      "audience": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/",
                                      "clientId": "@{body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['clientid']}",
                                      "secret": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['secret']"
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Set_intLineNumber_to_actual_highest_Line_Number": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "9d6820da-2969-4c9b-b1e4-8ba26f7eda7e"
                              },
                              "type": "Foreach"
                            },
                            "Get_highest_Purchase_Order_Line_Number_value_": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "924d3251-7d60-45be-a5a6-2ce1b85a591e"
                              },
                              "type": "Http",
                              "inputs": {
                                "method": "GET",
                                "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/CDSPurchaseOrderLines?$orderby=LineNumber desc&$filter=(PurchaseOrderNumber eq '@{variables('strOriginReference')}') and (dataAreaId eq '@{variables('strCompanyName')}')&$top=1&$select=LineNumber,dataAreaId,PurchaseOrderNumber&cross-company=true",
                                "headers": {
                                  "Content-Type": "application/json"
                                },
                                "authentication": {
                                  "type": "ActiveDirectoryOAuth",
                                  "tenant": "@{body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['tenantid']}",
                                  "audience": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/",
                                  "clientId": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['clientid']",
                                  "secret": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['secret']"
                                }
                              }
                            },
                            "Set_intLineNumber_to_actual_highest_Line_Number": {
                              "runAfter": {
                                "Get_highest_Purchase_Order_Line_Number_value_": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "dea6ed18-64e8-4b29-b853-228e54905913"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "intLineNumber",
                                "value": "@coalesce(first(outputs('Get_highest_Purchase_Order_Line_Number_value_')?['body/value'])?['LineNumber'],0)"
                              }
                            }
                          },
                          "runAfter": {
                            "List_matching_Purchase_Order": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Execution_criteria_not_fulfilled_[PURCHASE_ORDER]": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "727dcbec-7913-45e5-af4b-d8d9c34397c3"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "FinOpsStatus_str",
                                  "value": "Purchase Order @{triggerBody()['strOriginReference_Value']} does not exist."
                                }
                              }
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(outputs('List_matching_Purchase_Order')?['body/value'])",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "bbc530bf-2a35-4e86-a5fe-b324f9449f84"
                          },
                          "type": "If"
                        },
                        "List_matching_Purchase_Order": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "908b7179-84df-454b-bd18-9b7142d73210"
                          },
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/PurchaseOrderHeadersV2?$filter=(PurchaseOrderNumber eq '@{variables('strOriginReference')}') and (dataAreaId eq '@{variables('strCompanyName')}')&cross-company=true",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "authentication": {
                              "type": "ActiveDirectoryOAuth",
                              "tenant": "@{body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['tenantid']}",
                              "audience": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/",
                              "clientId": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['clientid']",
                              "secret": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['secret']"
                            }
                          }
                        }
                      }
                    },
                    "Bill_of_Material_[OriginType_eq_3]": {
                      "case": "3",
                      "actions": {
                        "Execution_criteria_[BILLOFMATERIALS]": {
                          "actions": {
                            "Apply_to_each_existing_item_[BILLOFMATERIALS]": {
                              "foreach": "@body('Products_JSON_[EXISTING]')",
                              "actions": {
                                "Append_to_Proceeded_[BILL_OF_MATERIALS]": {
                                  "runAfter": {
                                    "Create_Bill_Of_Materials_Line_[FO]": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "418e07b5-3b68-4dcb-a909-af47505d7dbe"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "FinOpsItemsProceeded_arr",
                                    "value": {
                                      "FinOpsItem": "@items('Apply_to_each_existing_item_[BILLOFMATERIALS]')?['FINOPS_ID_P']"
                                    }
                                  }
                                },
                                "Append_to_Failed_[BILL_OF_MATERIALS]": {
                                  "runAfter": {
                                    "Create_Bill_Of_Materials_Line_[FO]": [
                                      "Failed",
                                      "TimedOut"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "6916cc1e-4fbc-4a36-b5d8-14c35a139aa8"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "FinOpsItemsFailed_arr",
                                    "value": {
                                      "FinOpsItem": "@items('Apply_to_each_existing_item_[BILLOFMATERIALS]')?['FINOPS_ID_P']"
                                    }
                                  }
                                },
                                "Create_Bill_Of_Materials_Line_[FO]": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "b3d8b3f0-f37d-4eb4-95f6-67c7d4660ae5"
                                  },
                                  "type": "Http",
                                  "inputs": {
                                    "method": "POST",
                                    "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/BillOfMaterialsLinesV3",
                                    "headers": {
                                      "Content-Type": "application/json"
                                    },
                                    "body": {
                                      "dataAreaId": "@{variables('strCompanyName')}",
                                      "BOMId": "@{variables('strOriginReference')}",
                                      "ItemNumber": "@{items('Apply_to_each_existing_item_[BILLOFMATERIALS]')?['FINOPS_ID_P']}",
                                      "Quantity": "@items('Apply_to_each_existing_item_[BILLOFMATERIALS]')?['PICKEDQUANTITY']"
                                    },
                                    "authentication": {
                                      "type": "ActiveDirectoryOAuth",
                                      "tenant": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['tenantid']",
                                      "audience": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/",
                                      "clientId": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['clientid']",
                                      "secret": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['secret']"
                                    }
                                  }
                                }
                              },
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "9e0c2cc9-9636-49b8-88fd-aa2cc07a1e46"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {
                            "List_matching_Bill_of_Materials": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Execution_criteria_not_fulfilled_[BILLOFMATERIALS]": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "2f864d99-e836-47b9-8c41-4a22b5a864db"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "FinOpsStatus_str",
                                  "value": "Project @{triggerBody()['strOriginReference_Value']} does not exist."
                                }
                              }
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(outputs('List_matching_Bill_of_Materials')?['body/value'])",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5bcf32b9-7222-4e20-9a59-7931099f3753"
                          },
                          "type": "If"
                        },
                        "List_matching_Bill_of_Materials": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "1f8c9b2b-7a30-4695-b87d-958a324e4983"
                          },
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/BillOfMaterialsHeaders?$filter=(BOMId eq '@{variables('strOriginReference')}') and (dataAreaId eq '@{variables('strCompanyName')}')&cross-company=true",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "authentication": {
                              "type": "ActiveDirectoryOAuth",
                              "tenant": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['tenantid']",
                              "audience": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/",
                              "clientId": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['clientid']",
                              "secret": "@body('PA_|_MANUAL_|_CHILD_|_Articlesearch_|_Fetch_Credentials')?['secret']"
                            }
                          }
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {
                      "FinOpsItemsToProceed_[RESET]": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "95b42502-eabb-4219-8268-baaf0547bef1"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "FinOpsItemsToProceed_int",
                          "value": 0
                        }
                      }
                    }
                  },
                  "expression": "@triggerBody()['strOriginType_Value']",
                  "metadata": {
                    "operationMetadataId": "58bdfe74-52a8-4245-9d1c-1e7dd76e85f8"
                  },
                  "type": "Switch"
                }
              },
              "runAfter": {},
              "expression": {
                "greater": [
                  "@length(body('Products_JSON_[EXISTING]'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "f4937cff-593a-444c-b839-b30248484b6b"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Init_strAppHTMLContent": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7c08e6cf-26c6-4b71-b785-b352bc89fa8c"
          },
          "type": "Scope"
        },
        "Response_Canvas_App": {
          "actions": {
            "All_items_processed": {
              "actions": {
                "Set_AppStatus_to_true": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3c027dcb-4a0b-41a9-a590-2b4f6d37013b"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "intAppStatus",
                    "value": "success"
                  }
                },
                "FinOps_items_to_process_success": {
                  "actions": {
                    "Set_strAppHTMLContent_on_success_no_FInOps_Items": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "adf464fb-73b1-4c73-8cb4-5cf961855ec7"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "strAppHTMLContent",
                        "value": "<p>Artikelverarbeitung <strong>erfolgreich</strong>.<br>\n<strong>Keine Bestandsartikel </strong>ausgewählt.</p>\n<p><strong></strong><strong>@{length(body('Products_JSON_[NEW]'))}</strong><strong> </strong>Artikel in Anfrage.</p>"
                      }
                    }
                  },
                  "runAfter": {
                    "Set_AppStatus_to_true": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Set_strAppHTMLContent_on_success_with_FinOps_Items": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "adf464fb-73b1-4c73-8cb4-5cf961855ec7"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "strAppHTMLContent",
                          "value": "<p>Artikelverarbeitung <strong>erfolgreich</strong>.</p>\n<p>Insgesamt <strong></strong><strong>@{length(variables('FinOpsItemsProceeded_arr'))}</strong><strong> </strong>Artikel in FinOps zu @{triggerBody()['strOriginReference_Value']} hinzugefügt.</p>\n<p><strong></strong><strong>@{length(body('Products_JSON_[NEW]'))}</strong><strong> </strong>Artikel in Anfrage.</p>"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('FinOpsItemsToProceed_int')",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "55d3a97b-12e2-4ff8-b93c-dd9bb8ed5ce1"
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Set_AppStatus_to_false": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "68a98b89-fe7d-41ec-994b-ee7c0112a963"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "intAppStatus",
                      "value": "failed"
                    }
                  },
                  "FinOps_items_to_process_failure": {
                    "actions": {
                      "Set_strAppHTMLContent_on_failure_no_FinOps_Items": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "adf464fb-73b1-4c73-8cb4-5cf961855ec7"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "strAppHTMLContent",
                          "value": "<p>Leider sind bei der Artikelverarbeitung <strong>Fehler </strong>augetreten. Bitte Ergebnis überprüfen und Artikel manuell hinzufügen.<br>\n<strong>Keine Bestandsartikel</strong> ausgewählt.</p>\n<p><strong></strong><strong>@{length(body('Products_JSON_[NEW]'))}</strong><strong></strong> Artikel in Anfrage..</p>"
                        }
                      }
                    },
                    "runAfter": {
                      "Set_AppStatus_to_false": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Select_failed_items": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "cf28c319-608b-41ad-aa2c-cf574eebbb0a"
                          },
                          "type": "Select",
                          "inputs": {
                            "from": "@variables('FinOpsItemsFailed_arr')",
                            "select": "@item()?['FinOpsItem']"
                          }
                        },
                        "Set_strAppHTMLContent_on_failure_with_FinOps_Items": {
                          "runAfter": {
                            "Select_failed_items": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "adf464fb-73b1-4c73-8cb4-5cf961855ec7"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "strAppHTMLContent",
                            "value": "<p>Leider sind bei der Artikelverarbeitung <strong>Fehler </strong>augetreten. Bitte Ergebnis überprüfen/manuell anpassen.</p>\n<p>Insgesamt <strong>@{length(variables('FinOpsItemsProceeded_arr'))}</strong> Artikel zu @{triggerBody()['strOriginReference_Value']} hinzugefügt.</p>\n<p><strong>@{length(body('Products_JSON_[NEW]'))}</strong> Artikel in Anfrage.</p>\n<p><strong>Hinweis!</strong> Bei der Verarbeitung von Varianten können derzeit Probleme auftreten. Bitte füge die fehlerhaften Artikel manuell hinzu:<br><ul><li>@{join(body('Select_failed_items'), '</li><li>')}</li></ul></p>"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@variables('FinOpsItemsToProceed_int')",
                        0
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ccfe57ad-1511-455a-97c9-e010538fbc55"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(variables('FinOpsItemsProceeded_arr'))",
                  "@variables('FinOpsItemsToProceed_int')"
                ]
              },
              "metadata": {
                "operationMetadataId": "5aeeec0a-12f7-4c2a-8872-1dc63a3b4078"
              },
              "type": "If"
            },
            "Respond_to_a_PowerApp_or_flow": {
              "runAfter": {
                "All_items_processed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2d1f4074-dbb1-46be-a3f6-7b4478a58f21"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "strhtmlcontent": "@variables('strAppHTMLContent')",
                  "intappstatus": "@{variables('intAppStatus')}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "strhtmlcontent": {
                      "title": "strHTMLContent",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "intappstatus": {
                      "title": "intAppStatus",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "FinOps_Actions": [
              "Failed",
              "Skipped",
              "TimedOut",
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "837f8540-82b2-46e8-b313-e99162ee3cb4"
          },
          "type": "Scope"
        },
        "strDynProductCategory": {
          "runAfter": {
            "strDynValVendor": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "222c6cd2-4b06-4300-9921-8c6c8ee23598"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strDynProductCategory",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Init_strRequestComment": {
          "runAfter": {
            "strCompanyName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "213af44b-e853-44e1-935d-5a0d58587732"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strRequestComment",
                "type": "string",
                "value": "@{triggerBody()['InitstrRequestComment_Value']}"
              }
            ]
          }
        },
        "Init__intAppStatus": {
          "runAfter": {
            "FinOpsStatus": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "054969a7-e532-44a3-ac42-ff67f87e0134"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "intAppStatus",
                "type": "string"
              }
            ]
          }
        },
        "Init_strAppHTMLContent": {
          "runAfter": {
            "Init__intAppStatus": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4ab32d30-cae3-4d72-a989-f3fe829e95c7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strAppHTMLContent",
                "type": "string"
              }
            ]
          }
        },
        "strDynISOCountryCode": {
          "runAfter": {
            "strDynProductCategory": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bcf7b095-ad2d-4c2d-be03-0fb5670e0a87"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strDynISOCountryCode",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "strReleasingCompanies": {
          "runAfter": {
            "Response_Canvas_App": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4d03e98c-b3de-4ece-9a15-bfbeabef5ab8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strReleasingCompanies",
                "type": "string"
              }
            ]
          }
        },
        "Cancel_Requirement_Creation": {
          "actions": {
            "No_new_requirement_details": {
              "actions": {
                "Success": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "060e4c28-4318-4be6-9759-fc4f4941fde8"
                  },
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Succeeded"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Compose_Requirement_Processing_necessary": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "bd55a18e-facf-440a-945e-36d3c9173bee"
                    },
                    "type": "Compose",
                    "inputs": "Compose Requirement Processing necessary!"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(body('Products_JSON_[NEW]'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "95612aa9-f5f0-4221-9dd5-0cf818d066a2"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "strReleasingCompanies": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c13335fc-0051-47fa-810c-31765275d7f2"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}