ETOCore/Workflows/PAAPPCalculationProcessCalculationasGAEB-FileExpor-69BDE0F8-5EDE-EF11-A72F-000D3AB8A42A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvVar | PQC | GAEB API Subscription Key (hso_EnvVarPQCGAEBAPISubscriptionKey)": {
          "defaultValue": "6fb770454e4547aebeec9c97e006904e",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarPQCGAEBAPISubscriptionKey",
            "description": "The Subscription Key for the Azure API to process GAEB Import / Export "
          }
        },
        "EnvVar | PQC | GAEB API Export Endpoint (hso_EnvVarPQCGAEBAPIExportEndpoint)": {
          "defaultValue": "https://dev-ETO-integrationapi.azure-api.net/i810-gaeb/gaeb-export",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarPQCGAEBAPIExportEndpoint",
            "description": "The API Endpoint called when exporting a Calculation as GAEB-File"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Calculation",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The GUID of the selected Calculation",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "FileName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The Name of the GAEB-Export File to create",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "description": "The GUID of the User that initiated the operation",
                  "title": "User",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b7d053fb-acde-40c7-9eb7-880a59564e28"
          }
        }
      },
      "actions": {
        "Initialize_varLog": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLog",
                "type": "string",
                "value": "[INF] - [@{utcNow()}] - Initializing Flow Run. @{decodeUriComponent('%0A')}"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0c1e2a5e-ffca-4c4c-abf0-303aea7aa86a"
          }
        },
        "SharePoint_Document_Integration": {
          "type": "Scope",
          "actions": {
            "List_Document_Locations": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "sharepointdocumentlocations",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"sharepointdocumentlocation\">\n    <attribute name=\"name\" />\n    <attribute name=\"regardingobjectid\" />\n    <attribute name=\"parentsiteorlocation\" />\n    <attribute name=\"relativeurl\" />\n    <attribute name=\"absoluteurl\" />\n    <order attribute=\"name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"locationtype\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"servicetype\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"regardingobjectid\" operator=\"eq\" uitype=\"hso_calculation\" value=\"{@{triggerBody()['text']}}\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "6a73e07b-c48b-416a-9073-4a21820e1341"
              }
            },
            "Document_Location_found": {
              "type": "If",
              "expression": {
                "greater": [
                  "@length(outputs('List_Document_Locations')?['body/value'])",
                  0
                ]
              },
              "actions": {
                "Append_existing_SharePoint_Document_Location_to_Log": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - SharePoint Document Location found. @{decodeUriComponent('%0A')}"
                  },
                  "metadata": {
                    "operationMetadataId": "d9a31afd-02e0-4990-bfad-195700f7411a"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "List_Document_Locations": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "013c2f47-14e1-4933-8929-326c30ad709e"
              }
            },
            "SharePoint_Document_Relative_URL": {
              "type": "Compose",
              "description": "@{triggerBody()['text_1']}_@{toUpper(triggerBody()['text'])}",
              "inputs": "@first(outputs('List_Document_Locations')?['body/value'])?['relativeurl']",
              "runAfter": {
                "Document_Location_found": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2e927857-ef89-4ca7-a197-9f21df186ba5"
              }
            }
          },
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "714a7958-ab9a-48f7-90ec-6ba1047a83f6"
          }
        },
        "Call_Azure_Function": {
          "type": "Scope",
          "actions": {
            "Append_API_Endpoint_to_Log": {
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - API Endpoint to process GAEB-Export successfully called. @{decodeUriComponent('%0A')}"
              }
            },
            "Call_GAEB_API_Endpoint_to_process_Export": {
              "type": "Http",
              "inputs": {
                "uri": "@parameters('EnvVar | PQC | GAEB API Export Endpoint (hso_EnvVarPQCGAEBAPIExportEndpoint)')",
                "method": "POST",
                "headers": {
                  "Ocp-Apim-Subscription-Key": "@{parameters('EnvVar | PQC | GAEB API Subscription Key (hso_EnvVarPQCGAEBAPISubscriptionKey)')}"
                },
                "body": {
                  "DataverseCalculationId": "@{triggerBody()['text']}",
                  "FileDestinationPath": "@{outputs('SharePoint_Document_Relative_URL')}",
                  "DataverseProcessingLogId": "@{outputs('Create_Processing_Log')?['body/hso_processinglogid']}",
                  "ProcessingLogString": "@{variables('varLog')}",
                  "TargetFileName": "@{triggerBody()?['text_1']}"
                },
                "retryPolicy": {
                  "type": "none"
                }
              },
              "runAfter": {
                "Append_API_Endpoint_to_Log": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Switch_on_GAEB_API_Endpoint_Status_code": {
              "type": "Switch",
              "expression": "@outputs('Call_GAEB_API_Endpoint_to_process_Export')?['statusCode']",
              "default": {
                "actions": {
                  "GAEB_API_Endpoint_Status_code": {
                    "type": "Compose",
                    "inputs": "@outputs('Call_GAEB_API_Endpoint_to_process_Export')?['statusCode']"
                  },
                  "Respond_to_a_Power_App_with_Error": {
                    "type": "Response",
                    "kind": "PowerApp",
                    "inputs": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "title": "Result",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          }
                        },
                        "additionalProperties": {}
                      },
                      "statusCode": 200,
                      "body": {
                        "result": "Error"
                      }
                    },
                    "runAfter": {
                      "GAEB_API_Endpoint_Status_code": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c39948b6-decc-4d68-a065-6e9a60090006"
                    }
                  }
                }
              },
              "cases": {
                "Success": {
                  "actions": {
                    "Respond_to_Power_App_with_Success": {
                      "type": "Response",
                      "kind": "PowerApp",
                      "inputs": {
                        "schema": {
                          "type": "object",
                          "properties": {
                            "result": {
                              "title": "Result",
                              "x-ms-dynamically-added": true,
                              "type": "string"
                            }
                          },
                          "additionalProperties": {}
                        },
                        "statusCode": 200,
                        "body": {
                          "result": "Success"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "c39948b6-decc-4d68-a065-6e9a60090006"
                      }
                    }
                  },
                  "case": 200
                },
                "Timeout": {
                  "actions": {
                    "Respond_to_a_Power_App_with_Timeout": {
                      "type": "Response",
                      "kind": "PowerApp",
                      "inputs": {
                        "schema": {
                          "type": "object",
                          "properties": {
                            "result": {
                              "title": "Result",
                              "x-ms-dynamically-added": true,
                              "type": "string"
                            }
                          },
                          "additionalProperties": {}
                        },
                        "statusCode": 200,
                        "body": {
                          "result": "Timeout"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "c39948b6-decc-4d68-a065-6e9a60090006"
                      }
                    }
                  },
                  "case": 408
                }
              },
              "runAfter": {
                "Call_GAEB_API_Endpoint_to_process_Export": [
                  "Succeeded",
                  "TimedOut",
                  "Failed"
                ]
              }
            }
          },
          "runAfter": {
            "SharePoint_Document_Integration": [
              "Succeeded"
            ],
            "Processing_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fc22fe1e-481d-4672-9491-6295e919027a"
          }
        },
        "Processing_Log": {
          "type": "Scope",
          "actions": {
            "Convert_time_zone": {
              "type": "Expression",
              "kind": "ConvertTimeZone",
              "inputs": {
                "baseTime": "@utcNow()",
                "sourceTimeZone": "UTC",
                "destinationTimeZone": "W. Europe Standard Time",
                "formatString": "U"
              }
            },
            "Create_Processing_Log": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "GAEB-Angebotsabgabe exportieren - @{body('Convert_time_zone')}",
                  "item/hso_processingtask": 867520001,
                  "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['text_2']})",
                  "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])\r\n",
                  "item/hso_calculationid@odata.bind": "hso_calculations(@{triggerBody()?['text']})",
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_processingstatus": 100000001
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Convert_time_zone": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}