ETOCore/Workflows/PAAUTOTaskSetRolefromprojectteam-65E362BD-70B4-EE11-A569-000D3AB3C80C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_resource_assignment_is_created": {
          "metadata": {
            "operationMetadataId": "a54a38bd-499e-46ff-9267-b463b42383c2"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-2",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "msdyn_resourceassignment",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "_msdyn_projectteamid_value ne null"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_the_related_task": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ca13bb7b-4e99-4778-9be7-5cba69433766"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-2",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msdyn_projecttasks",
              "recordId": "@triggerOutputs()?['body/_msdyn_taskid_value']",
              "$select": "msdyn_ResourceCategoryPricingDimension"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Role_contains_data": {
          "actions": {
            "Get_project_team": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ae660200-b33e-4c1f-b372-9d89fc4a73ff"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-2",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msdyn_projectteams",
                  "recordId": "@triggerOutputs()?['body/_msdyn_projectteamid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_the_task": {
              "runAfter": {
                "Get_project_team": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1329a79c-5b9d-4612-8cd6-cd91c79b2fe6"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-2",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msdyn_projecttasks",
                  "recordId": "@triggerOutputs()?['body/_msdyn_taskid_value']",
                  "item/msdyn_ResourceCategoryPricingDimension@odata.bind": "bookableresourcecategories(@{outputs('Get_project_team')?['body/_msdyn_resourcecategory_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_the_related_task": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "dab5202b-1e18-4fd5-8c6b-def0476c7d64"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_the_related_task')?['body/_msdyn_resourcecategorypricingdimension_value']",
              "@null"
            ]
          },
          "metadata": {
            "operationMetadataId": "674f8ed0-091f-47c6-ba1b-ae9e23181370"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}