ETOCore/Workflows/PAAUTOArticleCreationUpdateOwnerofProductRequireme-11704E89-26CB-EE11-9079-000D3AB3C58C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_processor_has_changed": {
          "metadata": {
            "operationMetadataId": "c4ec6018-61ef-41b5-bcf9-77a03f8b87d8"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "hso_productrequirement",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "hso_requestprocessor_id"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Processor_is_no_empty": {
          "actions": {
            "Update_Ownership": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e863c4b9-7f0b-43c2-b036-05e98823863f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "hso_productrequirements",
                  "recordId": "@triggerOutputs()?['body/hso_productrequirementid']",
                  "item/ownerid@odata.bind": "systemusers(@{triggerOutputs()?['body/_hso_requestprocessor_id_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Reset_Ownership": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "e863c4b9-7f0b-43c2-b036-05e98823863f"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "hso_productrequirements",
                    "recordId": "@triggerOutputs()?['body/hso_productrequirementid']",
                    "item/ownerid@odata.bind": "systemusers(@{triggerOutputs()?['body/_createdby_value']})"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@empty(triggerOutputs()?['body/_hso_requestprocessor_id_value'])",
              false
            ]
          },
          "metadata": {
            "operationMetadataId": "bef3d74f-afdf-4715-a73c-9568cbd892cf"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}