ETOCore/Workflows/PAAUTOProjectCreationReleaseProductRequirementandC-B0AF8C13-F494-EE11-BE37-000D3AB3C80C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_Project_Quote_is_won": {
          "metadata": {
            "operationMetadataId": "c97572cf-ff95-4601-9a8e-b426cfe3ac82"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "quote",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statecode",
              "subscriptionRequest/filterexpression": "statecode eq 2 and hso_quotetype_opt eq 867520001",
              "subscriptionRequest/name": "b0af8c13-f494-ee11-be37-000d3ab3c80c"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "description": "Only Quotes of type 'Project Quote' initiate the FinOps Project creation process"
        }
      },
      "actions": {
        "Close_all_Draft_Calculations": {
          "actions": {
            "Apply_to_each_Draft-Calculation": {
              "foreach": "@outputs('List_all_Calculations_in_state_''Draft''')?['body/value']",
              "actions": {
                "Run_a_Child_Flow_to_lock_Calculations": {
                  "metadata": {
                    "operationMetadataId": "bfe088db-1daa-4c13-bd63-2aae2d616c74"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "46f27afe-3368-ee11-9ae6-000d3ab347d0"
                    },
                    "body": {
                      "text": "@{items('Apply_to_each_Draft-Calculation')?['hso_calculationid']}",
                      "text_1": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                      "boolean": false
                    }
                  }
                }
              },
              "runAfter": {
                "List_all_Calculations_in_state_'Draft'": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "91e4059c-8a1e-41b4-b849-b192a23fa5c0"
              },
              "type": "Foreach"
            },
            "Set_varProcessingStatus_to_Error_[lock_Calculation]": {
              "runAfter": {
                "Apply_to_each_Draft-Calculation": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "2316075f-1269-49d6-87ae-019624b8cab8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varProcessingStatus",
                "value": "Error"
              }
            },
            "Append_to_varError_[lock_Calculation]": {
              "runAfter": {
                "Set_varProcessingStatus_to_Error_[lock_Calculation]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6b2562c8-6b9e-49a3-91bd-063109ab1ffe"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varError",
                "value": "Lock Calculations  failed\n"
              }
            },
            "List_all_Calculations_in_state_'Draft'": {
              "metadata": {
                "operationMetadataId": "2e809a2b-b87e-4e10-aa03-607c2d82ced8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_calculations",
                  "$filter": "_hso_quoteid_value eq @{triggerOutputs()?['body/quoteid']} and statuscode eq 100000001"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              }
            }
          },
          "runAfter": {
            "Processing_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2790e2b0-d583-4abb-956b-c95b6715787e"
          },
          "type": "Scope"
        },
        "Release_Product_Requirement_for_Approval": {
          "actions": {
            "Run_Child_Flow_to_Check_Project_Products_with_Product_Requirements_on-Hold": {
              "metadata": {
                "operationMetadataId": "8cb50cea-cd03-4847-8ab5-3c8946512941"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "b10203b0-ed94-ee11-be37-000d3ab348a6"
                },
                "body": {
                  "text": "@triggerBody()?['_hso_activecalculation_id_value']",
                  "text_1": "@triggerBody()?['_modifiedby_value']",
                  "text_2": "Quote"
                }
              },
              "description": "Check Project Products for active Calculation"
            },
            "Set_varProcessingStatus_to_Error_[Release_Product_Requirement]": {
              "runAfter": {
                "Run_Child_Flow_to_Check_Project_Products_with_Product_Requirements_on-Hold": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "2316075f-1269-49d6-87ae-019624b8cab8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varProcessingStatus",
                "value": "Error"
              }
            },
            "Append_to_varError_[Release_Product_Requirement]": {
              "runAfter": {
                "Set_varProcessingStatus_to_Error_[Release_Product_Requirement]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6b2562c8-6b9e-49a3-91bd-063109ab1ffe"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varError",
                "value": "Check Release Product Requirement for Approval failed\n"
              }
            }
          },
          "runAfter": {
            "Processing_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4091cff5-75ba-4741-9ccc-3c2fc9cab3a6"
          },
          "type": "Scope"
        },
        "Processing_Log": {
          "actions": {
            "Convert_time_zone": {
              "metadata": {
                "operationMetadataId": "12e7af66-c1e7-4858-b919-e4bff6fa9195"
              },
              "type": "Expression",
              "kind": "ConvertTimeZone",
              "inputs": {
                "baseTime": "@{utcNow()}",
                "sourceTimeZone": "UTC",
                "destinationTimeZone": "W. Europe Standard Time",
                "formatString": "u"
              }
            },
            "Create_Processing_Log": {
              "runAfter": {
                "Convert_time_zone": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "46c5d90b-ba0c-4884-bde0-923e27a23f7b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "Parent Kalkulationsversion aktivieren - @{body('Convert_time_zone')}",
                  "item/hso_processingtask": 100000008,
                  "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_processingstatus": 100000001
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "76b03cd6-b3f2-4eda-9173-8c180d0d1296"
          },
          "type": "Scope"
        },
        "Summary": {
          "actions": {
            "Parse_JSON": {
              "metadata": {
                "operationMetadataId": "b769deed-a8c4-494a-a92f-2be1a1eb92c7"
              },
              "type": "ParseJson",
              "inputs": {
                "content": {
                  "link": {
                    "actions": [
                      {
                        "title": "Kalkulationsversion anzeigen",
                        "data": {
                          "url": "?pagetype=entityrecord&etn=quote&id=@{triggerOutputs()?['body/quoteid']}",
                          "navigationTarget": "inline"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "navigationTarget": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "title",
                              "data"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Everything_processed": {
              "actions": {
                "Update_Processing_Log_[Success]": {
                  "metadata": {
                    "operationMetadataId": "e25570b4-b57c-4c09-bb87-9092a962156b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_processinglogs",
                      "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                      "item/hso_end_datetime": "@utcNow()",
                      "item/hso_processingstatus": 100000002
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  }
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_Processing_Log_[Error]": {
                    "metadata": {
                      "operationMetadataId": "fc491115-1f73-4e24-ae30-a4fc5b704ab0"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                        "item/hso_end_datetime": "@utcNow()",
                        "item/hso_flowerror": "@variables('varError')",
                        "item/hso_processingstatus": 100000003
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "connectionName": "shared_commondataserviceforapps_1"
                      }
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('varProcessingStatus')",
                  "Pending"
                ]
              },
              "metadata": {
                "operationMetadataId": "ac49e4d5-1048-43b3-82fd-9533b90bbd86"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Close_all_Draft_Calculations": [
              "Succeeded"
            ],
            "Release_Product_Requirement_for_Approval": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4cc8ca4e-7837-4972-85f0-2424ed7626c9"
          },
          "type": "Scope"
        },
        "Initialize_varProcessingStatus": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d9778e51-3398-4861-8a53-96a310365863"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProcessingStatus",
                "type": "string",
                "value": "Pending"
              }
            ]
          }
        },
        "Initialize_varError": {
          "runAfter": {
            "Initialize_varProcessingStatus": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eed278cb-0b03-4e74-a461-5346e9267c39"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varError",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}