ETOCore/Workflows/PAAUTOCalculationCreationCreateCalculationfromTemp-5040979E-6008-EF11-9F89-000D3A65B4D6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_4": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_3": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_webcontents-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-d365-ETO-int-11.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance",
            "description": "The Dataverse Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "When_a_Calculation_is_created": {
          "metadata": {
            "operationMetadataId": "e3ccdb6f-6f46-4eeb-a9cb-e4e1596d6abb"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "hso_calculation",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "hso_iscopy eq false and _hso_templateid_value ne null",
              "subscriptionRequest/name": "5040979e-6008-ef11-9f89-000d3a65b4d6"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps_4"
            }
          }
        }
      },
      "actions": {
        "Initialize_varNumberOfCalculationProjectProducts_ToProcess": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "93d56043-8db8-4e83-a641-3ddbe3bff4a1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationProjectProducts_ToProcess",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varNumberOfCalculationProjectProducts_Processed": {
          "runAfter": {
            "Initialize_varNumberOfCalculationProjectProducts_ToProcess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9040ee1e-6fc8-4aed-99be-71d4bf234a25"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationProjectProducts_Processed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varNumberOfCalculationPositions_Processed": {
          "runAfter": {
            "Initialize_varNumberOfCalculationPositions_Updated": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "81342c63-fe67-45e1-9355-6fd748584155"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationPositions_Processed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varNumberOfCalculationPositions_ToProcess": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f8ed7f2f-dafb-4f65-a9ce-798db1fce67c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationPositions_ToProcess",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varError": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eed278cb-0b03-4e74-a461-5346e9267c39"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varError",
                "type": "array"
              }
            ]
          }
        },
        "Processing_Log": {
          "actions": {
            "Convert_time_zone": {
              "metadata": {
                "operationMetadataId": "7733e22e-032b-4233-b68b-6682ade75da5"
              },
              "type": "Expression",
              "kind": "ConvertTimeZone",
              "inputs": {
                "baseTime": "@{utcNow()}",
                "sourceTimeZone": "UTC",
                "destinationTimeZone": "W. Europe Standard Time",
                "formatString": "u"
              }
            },
            "Create_Processing_Log": {
              "runAfter": {
                "Convert_time_zone": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "16b3f6e6-ff7b-47b1-ad77-b25fa6a667a6"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "Kalkulationsversion erstellen (Vorlage) - @{body('Convert_time_zone')}",
                  "item/hso_processingtask": 100000001,
                  "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['_ownerid_value']})",
                  "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/hso_calculationid@odata.bind": "hso_calculations(@{triggerBody()?['hso_calculationid']})",
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_processingstatus": 100000001
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps_3"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_varNumberOfCalculationPositions_Processed": [
              "Succeeded"
            ],
            "Initialize_varNumberOfCalculationProjectProducts_Processed": [
              "Succeeded"
            ],
            "Initialize_varErrorState": [
              "Succeeded"
            ],
            "Initialize_varCalculationDetails_Payload": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "85dc26b6-e425-4bba-93b4-f07dcce5b378"
          },
          "type": "Scope"
        },
        "Initialize_varOdataType": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ad11249-1af4-4f07-8395-92e54d1e30b7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varOdataType",
                "type": "string",
                "value": "@{string('@')}odata.type"
              }
            ]
          }
        },
        "Initialize_varErrorMessage": {
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "90b9f6f5-0ca5-4799-b2bf-e27f66a2e6f2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_varTextblockProjectProducts": {
          "runAfter": {
            "Initialize_varOdataType": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6c326bed-ad18-4c3d-b48f-41e73078f350"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varTextblockProjectProducts",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_arrTemplateDetailsCorrected": {
          "runAfter": {
            "Processing_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ca07f503-5284-4da0-bda6-aceb7c48cc92"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "arrTemplateDetailsCorrected",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_intDefaultLanguage": {
          "runAfter": {
            "Processing_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6ddeab7e-6ddd-4323-a0a2-c64c150918ca"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "intDefaultLanguage",
                "type": "integer",
                "value": 192350004
              }
            ]
          }
        },
        "Summary": {
          "actions": {
            "Parse_JSON": {
              "metadata": {
                "operationMetadataId": "b769deed-a8c4-494a-a92f-2be1a1eb92c7"
              },
              "type": "ParseJson",
              "inputs": {
                "content": {
                  "link": {
                    "actions": [
                      {
                        "title": "Kalkulationsversion anzeigen",
                        "data": {
                          "url": "?pagetype=entityrecord&etn=hso_calculation&id=@{triggerOutputs()?['body/hso_calculationid']}",
                          "navigationTarget": "inline"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "navigationTarget": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "title",
                              "data"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Processing_successfully": {
              "actions": {
                "Finish_varLog_[Success]": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[SUC] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Flow run was successful. All required Parameters and Template Positions have been added to the Calculation."
                  }
                },
                "Update_Processing_Log_[Success]": {
                  "runAfter": {
                    "Finish_varLog_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e25570b4-b57c-4c09-bb87-9092a962156b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_processinglogs",
                      "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                      "item/hso_end_datetime": "@utcNow()",
                      "item/hso_calculationposition_actual": "@variables('varNumberOfCalculationPositions_Processed')",
                      "item/hso_calculationposition_target": "@variables('varNumberOfCalculationPositions_ToProcess')",
                      "item/hso_log": "@variables('varLog')",
                      "item/hso_processingstatus": 100000002
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps_3"
                    }
                  }
                },
                "Create_InApp_Notification_[Success]": {
                  "runAfter": {
                    "Update_Processing_Log_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0f108e92-6368-449e-9ad1-ff3e2748966f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "appnotifications",
                      "item/title": "Vorlage importiert",
                      "item/ttlinseconds": 200,
                      "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['_ownerid_value']})",
                      "item/data": "@body('Parse_JSON')?['link']",
                      "item/icontype": 100000001,
                      "item/priority": 200000000,
                      "item/body": "Eine neue Kalkulationsversion \"@{triggerOutputs()?['body/hso_name']}\" wurde erfolgreich aus der ausgewählten Vorlage erstellt."
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps_3"
                    }
                  }
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Apply_to_each_Error_Summary": {
                    "foreach": "@variables('varError')",
                    "actions": {
                      "Append_Error_Message": {
                        "metadata": {
                          "operationMetadataId": "ccf1dd37-d407-485c-b168-bf58041d83c2"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varErrorMessage",
                          "value": "[ERROR] - Action '@{items('Apply_to_each_Error_Summary')?['Action']}' failed with error message: @{items('Apply_to_each_Error_Summary')?['Message']} (Status: @{items('Apply_to_each_Error_Summary')?['Status']} / Status Code: @{items('Apply_to_each_Error_Summary')?['StatusCode']})"
                        }
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "198246eb-03ec-4e9e-8e47-be3b0c5d89f8"
                    },
                    "type": "Foreach",
                    "runtimeConfiguration": {
                      "concurrency": {
                        "repetitions": 20
                      }
                    }
                  },
                  "Finish_varLog_[Error]": {
                    "runAfter": {
                      "Apply_to_each_Error_Summary": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Flow run has failed. Parameters and Template Positions may have been partially added to Calculation. Check Log or Flow Run for further details."
                    }
                  },
                  "Update_Processing_Log_[Error]": {
                    "runAfter": {
                      "Finish_varLog_[Error]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "fc491115-1f73-4e24-ae30-a4fc5b704ab0"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                        "item/hso_end_datetime": "@utcNow()",
                        "item/hso_flowerror": "@variables('varErrorMessage')",
                        "item/hso_calculationposition_actual": "@variables('varNumberOfCalculationPositions_Processed')",
                        "item/hso_calculationposition_target": "@variables('varNumberOfCalculationPositions_ToProcess')",
                        "item/hso_log": "@variables('varLog')",
                        "item/hso_processingstatus": 100000003
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "connectionName": "shared_commondataserviceforapps_3"
                      }
                    }
                  },
                  "Create_InApp_Notification_[Error]": {
                    "runAfter": {
                      "Update_Processing_Log_[Error]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0f108e92-6368-449e-9ad1-ff3e2748966f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "appnotifications",
                        "item/title": "Vorlagenimport-Fehler",
                        "item/ttlinseconds": 200,
                        "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['_ownerid_value']})",
                        "item/data": "@body('Parse_JSON')?['link']",
                        "item/icontype": 100000002,
                        "item/priority": 200000001,
                        "item/body": "Beim Erstellen der Kalkulationsversion \"@{triggerOutputs()?['body/hso_name']}\"  aus der ausgewählten Vorlage ist ein Fehler aufgetreten!"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "connectionName": "shared_commondataserviceforapps_3"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('varErrorState')",
                      "@false"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Process_Calculation": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "00432f9b-401e-49e3-9393-ed1bf0bcbed5"
          },
          "type": "Scope"
        },
        "Process_Calculation": {
          "actions": {
            "Calculation_Surcharge_Groups": {
              "actions": {
                "Run_a_Child_Flow_to_copy_Surcharge_Groups": {
                  "metadata": {
                    "operationMetadataId": "4fcd3114-2d33-483f-8c8f-157fce549a03"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "3d9898d4-e2f1-ee11-904b-002248a1bffc"
                    },
                    "body": {
                      "text": "@triggerOutputs()?['body/hso_calculationid']",
                      "text_1": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                      "text_2": "@triggerOutputs()?['body/_hso_departmentid_value']",
                      "text_3": "@triggerOutputs()?['body/hso_name']",
                      "text_4": "@triggerOutputs()?['body/_ownerid_value']"
                    }
                  }
                },
                "Copy_Surcharge_Groups_failed": {
                  "actions": {
                    "Append_Error_Message_[Surcharge_Groups]": {
                      "metadata": {
                        "operationMetadataId": "559ac164-c99c-4cc0-b846-176921b3fde9"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varErrorMessage",
                        "value": "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['error_message']"
                      }
                    },
                    "Append_Surcharge_Groups_to_Log_[Error]": {
                      "runAfter": {
                        "Append_Error_Message_[Surcharge_Groups]": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varLog",
                        "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Creating Calculation Surcharge Groups failed. @{body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups processed']} of @{body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups to process']} Surcharge Groups added. @{decodeUriComponent('%0A')}"
                      }
                    }
                  },
                  "runAfter": {
                    "Run_a_Child_Flow_to_copy_Surcharge_Groups": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_Surcharge_Groups_to_Log_[Success]": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varLog",
                          "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups processed']} of @{body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups to process']} Calculation Surcharge Groups added. @{decodeUriComponent('%0A')}"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['outcome']",
                          "Error"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4c66fc3e-3f15-42f8-8018-7623795ecea5"
                  },
                  "type": "If"
                },
                "Append_Surcharge_Groups_to_Log_[Failure]": {
                  "runAfter": {
                    "Run_a_Child_Flow_to_copy_Surcharge_Groups": [
                      "TimedOut",
                      "Skipped",
                      "Failed"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Adding Calculation Surcharge Groups failed. @{decodeUriComponent('%0A')}"
                  }
                },
                "Set_varErrorState_[Surcharge_Groups]": {
                  "runAfter": {
                    "Append_Surcharge_Groups_to_Log_[Failure]": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varErrorState",
                    "value": true
                  }
                }
              },
              "runAfter": {
                "Get_Quote": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8d78e22d-682f-4d38-a81f-70d053508a3b"
              },
              "type": "Scope"
            },
            "Calculation_Metal_Prices": {
              "actions": {
                "Run_a_Child_Flow_to_copy_Metalprices": {
                  "metadata": {
                    "operationMetadataId": "76e94618-1563-4984-831d-0b234b569631"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "5037bda9-e4f1-ee11-904b-002248a1bffc"
                    },
                    "body": {
                      "text": "@triggerOutputs()?['body/hso_calculationid']",
                      "text_1": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                      "text_2": "@triggerOutputs()?['body/hso_name']",
                      "text_3": "@triggerOutputs()?['body/_ownerid_value']"
                    }
                  }
                },
                "Copy_Metalprices_failed": {
                  "actions": {
                    "Append_Error_Message_[Metalprices]": {
                      "metadata": {
                        "operationMetadataId": "a0e3d95b-2608-418d-acca-bcddc0dac44b"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varErrorMessage",
                        "value": "@body('Run_a_Child_Flow_to_copy_Metalprices')?['error_message']"
                      }
                    },
                    "Append_Metal_Prices_to_Log_[Error]": {
                      "runAfter": {
                        "Append_Error_Message_[Metalprices]": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varLog",
                        "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Creating Calculation Metail Prices failed. @{body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_processed']} of @{body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_to process']} Metal Prices added. @{decodeUriComponent('%0A')}"
                      }
                    }
                  },
                  "runAfter": {
                    "Run_a_Child_Flow_to_copy_Metalprices": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_Metal_Prices_to_Log_[Success]": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varLog",
                          "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_processed']} of @{body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_to process']} Calculation Metal Prices added. @{decodeUriComponent('%0A')}"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Run_a_Child_Flow_to_copy_Metalprices')?['outcome']",
                          "Error"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "60bf44a0-d194-4e46-83b1-e6a2bf6a1e64"
                  },
                  "type": "If"
                },
                "Append_Metal_Prices_Log_[Failure]": {
                  "runAfter": {
                    "Run_a_Child_Flow_to_copy_Metalprices": [
                      "TimedOut",
                      "Skipped",
                      "Failed"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Adding Calculation Metal Prices failed. @{decodeUriComponent('%0A')}"
                  }
                },
                "Set_Set_varErrorState_[Metal_Prices]": {
                  "runAfter": {
                    "Append_Metal_Prices_Log_[Failure]": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varErrorState",
                    "value": true
                  }
                }
              },
              "runAfter": {
                "Get_Quote": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e07e7e2e-f12a-4d6c-a104-751359c698f2"
              },
              "type": "Scope"
            },
            "Calculation_Payment_Terms": {
              "actions": {
                "Run_a_Child_Flow_to_copy_Default_Payment_Terms": {
                  "metadata": {
                    "operationMetadataId": "4a536340-115d-4170-b254-bdec1a308367"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "39b91952-e6f1-ee11-904b-002248a1bffc"
                    },
                    "body": {
                      "text": "@triggerOutputs()?['body/hso_calculationid']",
                      "text_1": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                      "text_2": "@triggerOutputs()?['body/_hso_quoteid_value']",
                      "text_3": "@triggerOutputs()?['body/hso_name']",
                      "text_4": "@triggerOutputs()?['body/_ownerid_value']",
                      "text_5": "@outputs('Get_Quote')?['body/_hso_paymentmethodid_value']"
                    }
                  }
                },
                "Copy_Payment_Terms_failed": {
                  "actions": {
                    "Append_Error_Message_[Payment_Terms]": {
                      "metadata": {
                        "operationMetadataId": "c0564a54-b047-42ae-96db-19b27b8a0237"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varErrorMessage",
                        "value": "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['error_message']"
                      }
                    },
                    "Append_Payment_Terms_to_Log_[Error]": {
                      "runAfter": {
                        "Append_Error_Message_[Payment_Terms]": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varLog",
                        "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Creating Calculation Payment Terms failed. @{body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms processed']} of @{body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms to process']} Payment Terms added. @{decodeUriComponent('%0A')}"
                      }
                    }
                  },
                  "runAfter": {
                    "Run_a_Child_Flow_to_copy_Default_Payment_Terms": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_Payment_Terms_to_Log_[Success]": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varLog",
                          "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms processed']} of @{body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms to process']} Calculation Payment Terms added. @{decodeUriComponent('%0A')}"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['outcome']",
                          "Error"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cb7d02e8-b283-4539-a16c-e0943689a287"
                  },
                  "type": "If"
                },
                "Append_Payment_Terms_to_Log_[Failure]": {
                  "runAfter": {
                    "Run_a_Child_Flow_to_copy_Default_Payment_Terms": [
                      "TimedOut",
                      "Skipped",
                      "Failed"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Adding Calculation Payment Terms failed. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Get_Quote": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "03175f14-c037-46e7-9c23-972e049700d6"
              },
              "type": "Scope"
            },
            "Calculation_Project_Products": {
              "actions": {
                "Get_Template_Project_Products": {
                  "metadata": {
                    "operationMetadataId": "6cedfbcf-9b1b-4067-bed7-42c91c102c62"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_projectproducts",
                      "$select": "hso_name,hso_description,hso_costprice,hso_salesprice,_hso_uomid_value,_hso_metallabelid_value,hso_metalbase,hso_metalnumber,_hso_metallabelid_2_value,hso_metalbase_2,hso_metalnumber_2,_hso_metallabelid_3_value,hso_metalbase_3,hso_metalnumber_3,hso_basepricewithoutmetalsurcharge,_hso_surchargegroup_baseid_value,_hso_manufacturer_id_value,hso_productnumber_manufacturer,hso_typenumber_manufacturer,hso_suppliercatalogreference,hso_productnumber_supplier,hso_manufacturer_name,hso_europeanarticlenumber,hso_isbillofmaterials,hso_projecttype",
                      "$filter": "_hso_templateid_value eq '@{triggerOutputs()?['body/_hso_templateid_value']}' ",
                      "$expand": "hso_textblock_hso_projectproduct($select=hso_name, hso_description, hso_projectproductid, _hso_projectproductid_value, hso_language;$expand=hso_projectproductid($select=hso_name)),\nhso_manufacturer_id($select=hso_name)"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps_4"
                    }
                  }
                },
                "Set_varNumberOfCalculationProjectProducts_ToProcess": {
                  "runAfter": {
                    "Get_Template_Project_Products": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "20708b1a-03f2-44f1-a6bd-4ab18c967b39"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varNumberOfCalculationProjectProducts_ToProcess",
                    "value": "@length(outputs('Get_Template_Project_Products')?['body/value'])"
                  }
                },
                "Project_Products_to_process": {
                  "actions": {
                    "Copy_Template_Project_Products": {
                      "actions": {
                        "Select_Template_Project_Products": {
                          "metadata": {
                            "operationMetadataId": "7ddff816-98b4-41e5-8e68-ab4e753c4c94"
                          },
                          "type": "Select",
                          "inputs": {
                            "from": "@outputs('Get_Template_Project_Products')?['body/value']",
                            "select": {
                              "hso_name": "@item()?['hso_name']",
                              "hso_calculationid@odata.bind": "/hso_calculations(@{triggerOutputs()?['body/hso_calculationid']})",
                              "hso_description": "@item()?['hso_description']",
                              "hso_costprice": "@item()?['hso_costprice']",
                              "hso_salesprice": "@item()?['hso_salesprice']",
                              "hso_uomid@odata.bind": "/uoms(@{item()?['_hso_uomid_value']})",
                              "hso_metallabelid@odata.bind": "@If(empty(item()?['_hso_metallabelid_value']), '', concat('hso_metallabels(', item()?['_hso_metallabelid_value'], ')'))",
                              "hso_metalbase": "@item()?['hso_metalbase']",
                              "hso_metalnumber": "@item()?['hso_metalnumber']",
                              "hso_metallabelid_2@odata.bind": "@If(empty(item()?['_hso_metallabelid_2_value']), '', concat('hso_metallabels(', item()?['_hso_metallabelid_2_value'], ')'))",
                              "hso_metalbase_2": "@item()?['hso_metalbase_2']",
                              "hso_metalnumber_2": "@item()?['hso_metalnumber_2']",
                              "hso_metallabelid_3@odata.bind": "@If(empty(item()?['_hso_metallabelid_3_value']), '', concat('hso_metallabels(', item()?['_hso_metallabelid_3_value'], ')'))",
                              "hso_metalbase_3": "@item()?['hso_metalbase_3']",
                              "hso_metalnumber_3": "@item()?['hso_metalnumber_3']",
                              "hso_basepricewithoutmetalsurcharge": "@item()?['hso_basepricewithoutmetalsurcharge']",
                              "hso_surchargegroup_baseid@odata.bind": "@If(empty(item()?['_hso_surchargegroup_baseid_value']), '', concat('hso_surchargegroup_bases(', item()?['_hso_surchargegroup_baseid_value'], ')'))",
                              "hso_manufacturer_id@odata.bind": "@If(empty(item()?['_hso_manufacturer_id_value']), '', concat('hso_manufacturers(', item()?['_hso_manufacturer_id_value'], ')'))",
                              "hso_productnumber_manufacturer": "@item()?['hso_productnumber_manufacturer']",
                              "hso_typenumber_manufacturer": "@item()?['hso_typenumber_manufacturer']",
                              "hso_suppliercatalogreference": "@item()?['hso_suppliercatalogreference']",
                              "hso_productnumber_supplier": "@item()?['hso_productnumber_supplier']",
                              "hso_isfromtemplate": "@true",
                              "hso_manufacturer_name": "@item()?['hso_manufacturer_name']",
                              "hso_europeanarticlenumber": "@item()?['hso_europeanarticlenumber']",
                              "@{variables('varOdataType')}": "#Microsoft.Dynamics.CRM.hso_projectproduct",
                              "hso_isbillofmaterials": "@item()?['hso_isbillofmaterials']",
                              "hso_projecttype": "@item()?['hso_projecttype']",
                              "hso_projectproductid": "@guid()",
                              "hso_projectproductid_old": "@item()?['hso_projectproductid']"
                            }
                          }
                        },
                        "Apply_to_each_Project_Product": {
                          "foreach": "@outputs('Get_Template_Project_Products')?['body/value']",
                          "actions": {
                            "Number_of_Textblocks_for_Project_Product": {
                              "metadata": {
                                "operationMetadataId": "de1f2bca-db12-4ecf-b362-996bdcb36e33"
                              },
                              "type": "Compose",
                              "inputs": "@length(items('Apply_to_each_Project_Product')?['hso_textblock_hso_projectproduct'])"
                            },
                            "Textblocks_to_process": {
                              "actions": {
                                "Apply_to_each_Project_Product_Textblock": {
                                  "foreach": "@items('Apply_to_each_Project_Product')?['hso_textblock_hso_projectproduct']",
                                  "actions": {
                                    "Append_to_varTextblockProjectProducts": {
                                      "metadata": {
                                        "operationMetadataId": "d2f4726d-5998-420f-9d45-55dfc80a9707"
                                      },
                                      "type": "AppendToArrayVariable",
                                      "inputs": {
                                        "name": "varTextblockProjectProducts",
                                        "value": {
                                          "@{variables('varOdataType')}": "#Microsoft.Dynamics.CRM.hso_textblock",
                                          "hso_name": "@{items('Apply_to_each_Project_Product_Textblock')?['hso_name']}",
                                          "hso_language": "@items('Apply_to_each_Project_Product_Textblock')?['hso_language']",
                                          "hso_description": "@{items('Apply_to_each_Project_Product_Textblock')?['hso_description']}",
                                          "hso_projectproductid@odata.bind": "/hso_projectproducts(_hso_calculationid_value=@{triggerOutputs()?['body/hso_calculationid']},hso_name='@{items('Apply_to_each_Project_Product')?['hso_name']}')"
                                        }
                                      }
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "7d1ce750-5dd9-446b-b69a-ad92f46e95f2"
                                  },
                                  "type": "Foreach",
                                  "runtimeConfiguration": {
                                    "concurrency": {
                                      "repetitions": 20
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Number_of_Textblocks_for_Project_Product": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {}
                              },
                              "expression": {
                                "and": [
                                  {
                                    "greater": [
                                      "@length(items('Apply_to_each_Project_Product')?['hso_textblock_hso_projectproduct'])",
                                      "@int('0')"
                                    ]
                                  }
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "05b86223-304f-46f8-b67d-74ebeb177189"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {
                            "Select_Template_Project_Products": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "018c6758-39d0-44d0-9870-10b2a8cb7cc2"
                          },
                          "type": "Foreach",
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 20
                            }
                          }
                        },
                        "Create_Calculation_Project_Products": {
                          "runAfter": {
                            "Remove_old_Project_Product_GUID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "99710fd7-97b9-4f40-9460-b097d4f7cda9"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "request/method": "POST",
                              "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectproducts/Microsoft.Dynamics.CRM.CreateMultiple",
                              "request/headers": {
                                "OData-MaxVersion": "4.0",
                                "OData-Version": "4.0",
                                "If-None-Match": "null",
                                "Accept": "application/json",
                                "Content-Type": "application/json; charset=utf-8"
                              },
                              "request/body": "{\n \"Targets\": @{body('Remove_old_Project_Product_GUID')}\n}"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                              "operationId": "InvokeHttp",
                              "connectionName": "shared_webcontents-1"
                            }
                          }
                        },
                        "Set_varNumberOfCalculationProjectProducts_Processed": {
                          "runAfter": {
                            "Create_Calculation_Project_Products": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "4524b6bf-7f2a-4e8c-b1fd-97433dd1f746"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varNumberOfCalculationProjectProducts_Processed",
                            "value": "@length(body('Create_Calculation_Project_Products')?['Ids'])"
                          }
                        },
                        "Append_Project_Products_to_Log_[Success]": {
                          "runAfter": {
                            "Set_varNumberOfCalculationProjectProducts_Processed": [
                              "Succeeded"
                            ]
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "varLog",
                            "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{variables('varNumberOfCalculationProjectProducts_Processed')} of @{variables('varNumberOfCalculationProjectProducts_ToProcess')} Calculation Project Products added. @{decodeUriComponent('%0A')}"
                          }
                        },
                        "Remove_old_Project_Product_GUID": {
                          "runAfter": {
                            "Select_Template_Project_Products": [
                              "Succeeded"
                            ]
                          },
                          "type": "Select",
                          "inputs": {
                            "from": "@body('Select_Template_Project_Products')",
                            "select": "@removeProperty(\r\n item(),\r\n 'hso_projectproductid_old'\r\n)"
                          }
                        },
                        "Select_Project_Product_GUID_Mapping": {
                          "runAfter": {
                            "Select_Template_Project_Products": [
                              "Succeeded"
                            ]
                          },
                          "type": "Select",
                          "inputs": {
                            "from": "@body('Select_Template_Project_Products')",
                            "select": {
                              "GUIDold": "@item()?['hso_projectproductid_old']",
                              "GUIDnew": "@item()?['hso_projectproductid']"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "fd4ca742-908c-4737-bab8-ac2b3da796ed"
                      },
                      "type": "Scope"
                    },
                    "Copy_Template_Project_Products_-_Error": {
                      "actions": {
                        "Filter_Results_for_failed_actions_[Template_Project_Products]": {
                          "runAfter": {
                            "Set_Set_varErrorState_[Project_Products]": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "7a637642-2173-44ad-8e93-b76c70bdfa9c"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@result('Copy_Template_Project_Products')",
                            "where": "@equals(item()?['status'],'Failed')"
                          }
                        },
                        "Select_Error_Summary_[Template_Project_Products]": {
                          "runAfter": {
                            "Filter_Results_for_failed_actions_[Template_Project_Products]": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "8fc62be0-f98b-4179-b539-3b7375d6dccd"
                          },
                          "type": "Select",
                          "inputs": {
                            "from": "@body('Filter_Results_for_failed_actions_[Template_Project_Products]')",
                            "select": {
                              "Action": "@item()?['name']",
                              "Code": "@item()?['code']",
                              "Status": "@item()?['status']",
                              "StatusCode": "@item()?['outputs']?['statusCode']",
                              "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')"
                            }
                          }
                        },
                        "Apply_to_each_Error_Summary_[Template_Project_Products]": {
                          "foreach": "@body('Select_Error_Summary_[Template_Project_Products]')",
                          "actions": {
                            "Append_Error_Summary_[Template_Project_Products]": {
                              "metadata": {
                                "operationMetadataId": "4a724ad4-7fb2-45e5-b87b-f92a71cdd2d3"
                              },
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "varError",
                                "value": "@items('Apply_to_each_Error_Summary_[Template_Project_Products]')"
                              }
                            }
                          },
                          "runAfter": {
                            "Select_Error_Summary_[Template_Project_Products]": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ca72eeda-d6b0-43eb-9359-1c265467bce3"
                          },
                          "type": "Foreach"
                        },
                        "Append_Project_Products_to_Log_[Error]": {
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "varLog",
                            "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Creating Calculation Project Products failed. 0 of @{variables('varNumberOfCalculationProjectProducts_ToProcess')} Project Products added. @{decodeUriComponent('%0A')}"
                          }
                        },
                        "Set_Set_varErrorState_[Project_Products]": {
                          "runAfter": {
                            "Append_Project_Products_to_Log_[Error]": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varErrorState",
                            "value": true
                          }
                        }
                      },
                      "runAfter": {
                        "Copy_Template_Project_Products": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1316224f-31d4-42e5-b222-6ca0a7e83021"
                      },
                      "type": "Scope"
                    }
                  },
                  "runAfter": {
                    "Set_varNumberOfCalculationProjectProducts_ToProcess": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_No_Project_Products_to_Log": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varLog",
                          "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - No Project Products to process. @{decodeUriComponent('%0A')}"
                        }
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@variables('varNumberOfCalculationProjectProducts_ToProcess')",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3cac4c43-bb01-451e-80b0-dac669a9645c"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Quote": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bedf7c2b-d1f6-4f76-ba0e-cdd83e12de75"
              },
              "type": "Scope"
            },
            "Calculation_Sales_Prices": {
              "actions": {
                "Placeholder": {
                  "metadata": {
                    "operationMetadataId": "25252693-d233-43df-b4f9-7bd1cbc7f4f1"
                  },
                  "type": "Compose",
                  "inputs": "abc"
                },
                "Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices": {
                  "runAfter": {
                    "Placeholder": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "daf1f33d-b440-4449-91c7-c27596c5e1fd"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "cde3d61d-80d5-ee11-904d-000d3ab3c58c"
                    },
                    "body": {
                      "text": "@triggerOutputs()?['body/hso_calculationid']",
                      "text_1": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                      "text_2": "@triggerOutputs()?['body/_hso_quoteid_value']",
                      "text_3": "@triggerOutputs()?['body/hso_name']",
                      "text_4": "@triggerOutputs()?['body/_ownerid_value']",
                      "text_5": "@outputs('Get_Quote')?['body/_customerid_value']",
                      "text_6": "@outputs('Get_Quote')?['body/_msdyn_company_value']",
                      "text_7": "@outputs('Get_Quote')?['body/customerid_account/name']",
                      "text_8": "@outputs('Get_Quote')?['body/customerid_account/accountnumber']"
                    }
                  }
                },
                "Copy_Project_Category_Sales_Prices_failed": {
                  "actions": {
                    "Append_Error_Message_[Category_Sales_Prices]": {
                      "metadata": {
                        "operationMetadataId": "a279e2db-10d8-43ae-a2f9-d69acd578657"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varErrorMessage",
                        "value": "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['error_message']"
                      }
                    },
                    "Append_Category_Sales_Prices_to_Log_[Error]": {
                      "runAfter": {
                        "Append_Error_Message_[Category_Sales_Prices]": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varLog",
                        "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Creating Calculation Project Category Sales Prices failed. @{body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category_sales_prices_processed']} of @{body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['Project_Category_Sales_Prices_to_process']} Project Category Sales Prices added. @{decodeUriComponent('%0A')}"
                      }
                    }
                  },
                  "runAfter": {
                    "Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_Category_Sales_Prices_to_Log_[Success]": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varLog",
                          "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category_sales_prices_processed']} of @{body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['Project_Category_Sales_Prices_to_process']} Calculation Project Category Sales Prices added. @{decodeUriComponent('%0A')}"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['outcome']",
                          "Error"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a2f08f82-a050-4941-9dd6-1b5cc668e912"
                  },
                  "type": "If"
                },
                "Run_a_Child_Flow_to_fetch_FinOps_Trade_Agreements": {
                  "runAfter": {
                    "Placeholder": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6005fa46-0c42-4ea7-9d0e-1799b1dea543"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "e59a72a1-e8f1-ee11-904b-002248a1bffc"
                    },
                    "body": {
                      "text": "@triggerOutputs()?['body/hso_calculationid']",
                      "text_1": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                      "text_2": "@triggerOutputs()?['body/_hso_quoteid_value']",
                      "text_3": "@triggerOutputs()?['body/hso_name']",
                      "text_4": "@triggerOutputs()?['body/_ownerid_value']",
                      "text_5": "@outputs('Get_Quote')?['body/_customerid_value']",
                      "text_6": "@outputs('Get_Quote')?['body/msdyn_company/cdm_companycode']",
                      "text_7": "@outputs('Get_Quote')?['body/customerid_account/name']",
                      "text_8": "@outputs('Get_Quote')?['body/customerid_account/accountnumber']"
                    }
                  }
                },
                "Fetch_Trade_Agreements_failed": {
                  "actions": {
                    "Append_Error_Message_[Trade_Agreements]": {
                      "metadata": {
                        "operationMetadataId": "2ec4a79a-3c6f-4537-9ea5-f14e85209790"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varErrorMessage",
                        "value": "@body('Run_a_Child_Flow_to_fetch_FinOps_Trade_Agreements')?['error_message']"
                      }
                    },
                    "Append_Trade_Agreements_to_Log_[Error]": {
                      "runAfter": {
                        "Append_Error_Message_[Trade_Agreements]": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varLog",
                        "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Creating Calculation Product Sales Prices failed. @{body('Run_a_Child_Flow_to_fetch_FinOps_Trade_Agreements')?['trade_agreements_processed']} of @{body('Run_a_Child_Flow_to_fetch_FinOps_Trade_Agreements')?['trade_agreements_to_process']} FinOps Trade Agreements added. @{decodeUriComponent('%0A')}"
                      }
                    }
                  },
                  "runAfter": {
                    "Run_a_Child_Flow_to_fetch_FinOps_Trade_Agreements": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_Trade_Agreements_to_Log_[Success]": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varLog",
                          "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{body('Run_a_Child_Flow_to_fetch_FinOps_Trade_Agreements')?['trade_agreements_processed']} of @{body('Run_a_Child_Flow_to_fetch_FinOps_Trade_Agreements')?['trade_agreements_to_process']} FinOps Trade Agreements added. @{decodeUriComponent('%0A')}"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Run_a_Child_Flow_to_fetch_FinOps_Trade_Agreements')?['outcome']",
                          "Error"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1887e9fb-f2cd-441b-8d18-5fd94a637d19"
                  },
                  "type": "If"
                },
                "Append_Category_Sales_Prices_to_Log_[Failure]": {
                  "runAfter": {
                    "Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices": [
                      "TimedOut",
                      "Skipped",
                      "Failed"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Adding Calculation Project Category Sales Prices failed. @{decodeUriComponent('%0A')}"
                  }
                },
                "Append_Trade_Agreements_to_Log_[Failure]": {
                  "runAfter": {
                    "Run_a_Child_Flow_to_fetch_FinOps_Trade_Agreements": [
                      "Failed",
                      "Skipped",
                      "TimedOut"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Adding FinOps Trade Agreements as Calculation Sales Prices failed. @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Get_Quote": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8cea1d72-bada-41ec-949f-e4bb0cf99342"
              },
              "type": "Scope"
            },
            "Calculation_Project_Product_Textblocks": {
              "actions": {
                "Project_Product_Textblocks_to_process": {
                  "actions": {
                    "Copy_Project_Product_Textblocks": {
                      "actions": {
                        "Create_Project_Product_Textblocks": {
                          "metadata": {
                            "operationMetadataId": "32eedb98-e353-4181-9e96-0920e54f3286"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "request/method": "POST",
                              "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_textblocks/Microsoft.Dynamics.CRM.CreateMultiple",
                              "request/headers": {
                                "OData-MaxVersion": "4.0",
                                "OData-Version": "4.0",
                                "If-None-Match": "null",
                                "Accept": "application/json",
                                "Content-Type": "application/json; charset=utf-8"
                              },
                              "request/body": "{\n \"Targets\": @{variables('varTextblockProjectProducts')}\n}"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                              "operationId": "InvokeHttp",
                              "connectionName": "shared_webcontents-1"
                            }
                          }
                        },
                        "Append_Project_Product_Textblocks_to_Log_[Success]": {
                          "runAfter": {
                            "Create_Project_Product_Textblocks": [
                              "Succeeded"
                            ]
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "varLog",
                            "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{length(variables('varTextblockProjectProducts'))} Calculation Project Product Textblocks added. @{decodeUriComponent('%0A')}"
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "087a1f56-27ac-4aea-8de4-dd44245ec169"
                      },
                      "type": "Scope"
                    },
                    "Copy_Project_Product_Textblocks_-_Error": {
                      "actions": {
                        "Filter_Results_for_failed_actions_[Template_Project_Product_Textblocks]": {
                          "runAfter": {
                            "Append_Project_Product_Textblocks_to_Log_[Error]": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "851ef075-101b-4c6a-ae60-6a80f116ba2a"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@result('Copy_Project_Product_Textblocks')",
                            "where": "@equals(item()?['status'],'Failed')"
                          }
                        },
                        "Select_Error_Summary_[Template_Project_Product_Textblocks]": {
                          "runAfter": {
                            "Filter_Results_for_failed_actions_[Template_Project_Product_Textblocks]": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "1bc1b545-1eac-4ec9-925c-5eb379fe190c"
                          },
                          "type": "Select",
                          "inputs": {
                            "from": "@body('Filter_Results_for_failed_actions_[Template_Project_Product_Textblocks]')",
                            "select": {
                              "Action": "@item()?['name']",
                              "Code": "@item()?['code']",
                              "Status": "@item()?['status']",
                              "StatusCode": "@item()?['outputs']?['statusCode']",
                              "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')"
                            }
                          }
                        },
                        "Apply_to_each_Error_Summary_[Template_Project_Product_Textblocks]": {
                          "foreach": "@body('Select_Error_Summary_[Template_Project_Product_Textblocks]')",
                          "actions": {
                            "Append_Error_Summary_[Template_Project_Product_Textblocks]": {
                              "metadata": {
                                "operationMetadataId": "97daf7a4-d58d-4265-9296-f820fa46ccd5"
                              },
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "varError",
                                "value": "@items('Apply_to_each_Error_Summary_[Template_Project_Product_Textblocks]')"
                              }
                            }
                          },
                          "runAfter": {
                            "Select_Error_Summary_[Template_Project_Product_Textblocks]": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "7be98d3b-43cf-4798-91e0-b9b927308ebe"
                          },
                          "type": "Foreach"
                        },
                        "Append_Project_Product_Textblocks_to_Log_[Error]": {
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "varLog",
                            "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - 0 of @{length(variables('varTextblockProjectProducts'))} Calculation Project Product Textblocks added. @{decodeUriComponent('%0A')}"
                          }
                        }
                      },
                      "runAfter": {
                        "Copy_Project_Product_Textblocks": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c2fdabca-3f50-4903-8fac-e10409338673"
                      },
                      "type": "Scope"
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "greater": [
                      "@length(variables('varTextblockProjectProducts'))",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d2d65e14-aba3-4697-9ea4-daeca0f4c318"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Calculation_Project_Products": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bd48c745-464e-425b-a9f2-decad252dee4"
              },
              "type": "Scope"
            },
            "Update_Processing_Log": {
              "runAfter": {
                "Calculation_Metal_Prices": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ],
                "Calculation_Surcharge_Groups": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ],
                "Calculation_Project_Product_Textblocks": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ],
                "Calculation_Sales_Prices": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ],
                "Calculation_Payment_Terms": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "84f2d88c-4c20-45ea-a87a-75c65ba3b1b1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "recordId": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                  "item/hso_calculationmetalprice_actual": "@body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_processed']",
                  "item/hso_calculationmetalprice_target": "@body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_to process']",
                  "item/hso_calculationprojectproduct_actual": "@variables('varNumberOfCalculationProjectProducts_Processed')",
                  "item/hso_calculationprojectproduct_target": "@variables('varNumberOfCalculationProjectProducts_ToProcess')",
                  "item/hso_calculationsalesprice_product_actual": "@body('Run_a_Child_Flow_to_fetch_FinOps_Trade_Agreements')?['trade_agreements processed']",
                  "item/hso_calculationsalesprice_product_target": "@body('Run_a_Child_Flow_to_fetch_FinOps_Trade_Agreements')?['trade_agreements to process']",
                  "item/hso_calculationsalesprice_category_actual": "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category sales prices processed']",
                  "item/hso_calculationsalesprice_category_target": "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category sales prices to process']",
                  "item/hso_calculationpaymentterm_actual": "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms processed']",
                  "item/hso_calculationpaymentterm_target": "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms to process']",
                  "item/hso_calculationsurchargegroup_actual": "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups processed']",
                  "item/hso_calculationsurchargegroup_target": "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups to process']",
                  "item/hso_log": "@variables('varLog')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps_3"
                }
              },
              "description": "Update Processing Log with processed Surcharge Groups, Metal Prices, Payment Terms, Sales Prices and Calculation Project Products"
            },
            "Get_Quote": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "quotes",
                  "recordId": "@triggerOutputs()?['body/_hso_quoteid_value']",
                  "$select": "name,hso_recordid_str,_msdyn_company_value,_customerid_value,_hso_paymentmethodid_value",
                  "$expand": "msdyn_Company($select=cdm_companycode),\ncustomerid_account($select=name,accountnumber)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps_4"
                }
              }
            },
            "Required_Parameter_successfully_added": {
              "actions": {
                "Calculation_Positions": {
                  "actions": {
                    "Set_varNumberOfCalculationPositions_ToProcess": {
                      "runAfter": {
                        "Textblock_processing": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "344df575-8122-46ac-9692-f5835a3e56e6"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varNumberOfCalculationPositions_ToProcess",
                        "value": "@length(outputs('Get_Template_Details')?['body/value'])"
                      }
                    },
                    "Get_created_Calculation_Details": {
                      "runAfter": {
                        "Accelerate_DOP_to_create_new_Positions": [
                          "Succeeded",
                          "TimedOut",
                          "Failed"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1d09c917-47c2-43d3-ada7-94cf03bd31f1"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "hso_calculationdetails",
                          "$select": "hso_parent_linenumber_import,hso_level,hso_sortinglinenumber",
                          "$filter": "_hso_calculationid_value eq @{triggerOutputs()?['body/hso_calculationid']}"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "connectionName": "shared_commondataserviceforapps_3"
                        }
                      }
                    },
                    "Filter_created_Calculation_Positions_to_set_Default_Values": {
                      "runAfter": {
                        "Accelerate_DOP_to_establish_Parent-Child-Relationship": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "10efeb49-9079-4eda-afe9-26d0c9570c58"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@outputs('Get_created_Calculation_Details')?['body/value']",
                        "where": "@equals(item()?['hso_level'],1)"
                      },
                      "description": "Only the Top-Level-Nodes need to be updated with \"Set Default Values\" - the Plug-In will process all subordinent positions accordingly"
                    },
                    "Select_Calculation_Positions_to_set_Default_Values": {
                      "runAfter": {
                        "Filter_created_Calculation_Positions_to_set_Default_Values": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f0f16927-e693-4e45-ac90-9d6afa4a09c8"
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Filter_created_Calculation_Positions_to_set_Default_Values')",
                        "select": {
                          "@{variables('varOdataType')}": "#Microsoft.Dynamics.CRM.hso_calculationdetail",
                          "hso_calculationdetailid": "@item()?['hso_calculationdetailid']",
                          "hso_setdefaultvalues": "@true"
                        }
                      }
                    },
                    "Textblock_processing": {
                      "actions": {
                        "Parallel_loading": {
                          "metadata": {
                            "operationMetadataId": "44521dff-7766-4dbb-9537-90266c0fc414"
                          },
                          "type": "Compose",
                          "inputs": "Parallel"
                        },
                        "Get_Template_Details": {
                          "runAfter": {
                            "Parallel_loading": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "70f01847-ae24-46d7-bb88-33e9d334b4a3"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "hso_templatedetails",
                              "$filter": "_hso_templateid_value eq @{triggerOutputs()?['body/_hso_templateid_value']}",
                              "$expand": "hso_productid($select=currentcost,hso_basepricewithoutmetalsurcharge, hso_metalnumber,hso_metalnumber_2,hso_metalnumber_3,\nhso_metalbase,hso_metalbase_2,hso_metalbase_3,\n_hso_metallabelid_value, _hso_metallabelid_2_value,\n_hso_metallabelid_3_value),\nhso_projectproductid($select=hso_name),\nhso_projectexpenseid($select=hso_currentcost), \nhso_projecthourid($select=hso_currentcost), \nhso_externalserviceid($select=hso_currentcost), \nhso_productionhourid($select=hso_currentcost),\nhso_metalpriceid($select=_hso_metallabelid_value),\nhso_metalpriceid_2($select=_hso_metallabelid_value),\nhso_metalpriceid_3($select=_hso_metallabelid_value),\nhso_surchargegroupid($select=_hso_surchargegroup_baseid_value),\nhso_templatedetail_Annotations($filter=isdocument eq true;$select=annotationid,filename),\nhso_billofmaterial_projectproductid($select=hso_name)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "connectionName": "shared_commondataserviceforapps_4"
                            }
                          }
                        },
                        "Get_Template_Details_related_textblocks": {
                          "runAfter": {
                            "Parallel_loading": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "70f01847-ae24-46d7-bb88-33e9d334b4a3"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "hso_templatedetails",
                              "fetchXml": "<fetch distinct=\"true\">\n  <entity name=\"hso_templatedetail\">\n    <attribute name=\"hso_templatedetailid\" />\n    <attribute name=\"hso_positionelementtype\" />\n    <filter>\n      <condition attribute=\"hso_templateid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_hso_templateid_value']}\" />\n    </filter>\n    <order attribute=\"hso_sortinglinenumber\" />\n    <link-entity name=\"product\" from=\"productid\" to=\"hso_productid\" link-type=\"outer\" alias=\"AliasProduct\">\n      <attribute name=\"hso_globalproductid\" />\n      <attribute name=\"msdyn_productnumber\" />\n      <link-entity name=\"msdyn_globalproduct\" from=\"msdyn_globalproductid\" to=\"hso_globalproductid\" link-type=\"outer\" alias=\"AGlobalProduct\">\n        <link-entity name=\"hso_textblock\" from=\"hso_globalproductid\" to=\"msdyn_globalproductid\" link-type=\"outer\" alias=\"AGlobalProductTextblock\">\n          <attribute name=\"hso_description\" />\n          <attribute name=\"hso_language\" />\n          <attribute name=\"hso_name\" />\n          <filter type=\"or\">\n            <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{triggerOutputs()?['body/hso_language']}\" />\n            <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{variables('intDefaultLanguage')}\" />\n          </filter>\n          <order attribute=\"hso_language\" @{variables('strTextblockOrder')} />\n        </link-entity>\n      </link-entity>\n    </link-entity>\n    <link-entity name=\"hso_projectproduct\" from=\"hso_projectproductid\" to=\"hso_projectproductid\" link-type=\"outer\" alias=\"AliasProjectproduct\">\n      <attribute name=\"hso_name\" />\n      <link-entity name=\"hso_textblock\" from=\"hso_projectproductid\" to=\"hso_projectproductid\" link-type=\"outer\" alias=\"AProjectproductTextblock\">\n        <attribute name=\"hso_description\" />\n        <attribute name=\"hso_language\" />\n        <attribute name=\"hso_name\" />\n        <filter type=\"or\">\n          <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{triggerOutputs()?['body/hso_language']}\" />\n          <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{variables('intDefaultLanguage')}\" />\n        </filter>\n        <order attribute=\"hso_language\" @{variables('strTextblockOrder')} />\n      </link-entity>\n    </link-entity>\n    <link-entity name=\"hso_projectexpense\" from=\"hso_projectexpenseid\" to=\"hso_projectexpenseid\" link-type=\"outer\" alias=\"AliasProjectexpense\">\n      <attribute name=\"hso_name\" />\n      <link-entity name=\"hso_textblock\" from=\"hso_projectexpenseid\" to=\"hso_projectexpenseid\" link-type=\"outer\" alias=\"AProjectexpenseTextblock\">\n        <attribute name=\"hso_description\" />\n        <attribute name=\"hso_language\" />\n        <attribute name=\"hso_name\" />\n        <filter type=\"or\">\n          <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{triggerOutputs()?['body/hso_language']}\" />\n          <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{variables('intDefaultLanguage')}\" />\n        </filter>\n        <order attribute=\"hso_language\" @{variables('strTextblockOrder')} />\n      </link-entity>\n    </link-entity>\n    <link-entity name=\"hso_projecthour\" from=\"hso_projecthourid\" to=\"hso_projecthourid\" link-type=\"outer\" alias=\"AliasProjecthour\">\n      <link-entity name=\"hso_textblock\" from=\"hso_projecthourid\" to=\"hso_projecthourid\" link-type=\"outer\" alias=\"AProjecthourTextblock\">\n        <attribute name=\"hso_language\" />\n        <attribute name=\"hso_name\" />\n        <attribute name=\"hso_description\" />\n        <filter type=\"or\">\n          <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{triggerOutputs()?['body/hso_language']}\" />\n          <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{variables('intDefaultLanguage')}\" />\n        </filter>\n        <order attribute=\"hso_language\" @{variables('strTextblockOrder')} />\n      </link-entity>\n    </link-entity>\n    <link-entity name=\"hso_externalservice\" from=\"hso_externalserviceid\" to=\"hso_externalserviceid\" link-type=\"outer\" alias=\"AliasExternalservice\">\n      <attribute name=\"hso_currentcost\" />\n      <link-entity name=\"hso_textblock\" from=\"hso_externalserviceid\" to=\"hso_externalserviceid\" link-type=\"outer\" alias=\"AExternalserviceTextblock\">\n        <attribute name=\"hso_description\" />\n        <attribute name=\"hso_language\" />\n        <attribute name=\"hso_name\" />\n        <filter type=\"or\">\n          <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{triggerOutputs()?['body/hso_language']}\" />\n          <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{variables('intDefaultLanguage')}\" />\n        </filter>\n        <order attribute=\"hso_language\" @{variables('strTextblockOrder')} />\n      </link-entity>\n    </link-entity>\n    <link-entity name=\"hso_productionhour\" from=\"hso_productionhourid\" to=\"hso_productionhourid\" link-type=\"outer\" alias=\"AliasProductionhour\">\n      <link-entity name=\"hso_textblock\" from=\"hso_productionhourid\" to=\"hso_productionhourid\" link-type=\"outer\" alias=\"AProductionhourTextblock\">\n        <attribute name=\"hso_language\" />\n        <attribute name=\"hso_name\" />\n        <attribute name=\"hso_description\" />\n        <filter type=\"or\">\n          <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{triggerOutputs()?['body/hso_language']}\" />\n          <condition attribute=\"hso_language\" operator=\"eq\" value=\"@{variables('intDefaultLanguage')}\" />\n        </filter>\n        <order attribute=\"hso_language\" @{variables('strTextblockOrder')} />\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "connectionName": "shared_commondataserviceforapps_4"
                            }
                          }
                        },
                        "Apply_to_each_Template_Detail_Correction": {
                          "foreach": "@outputs('Get_Template_Details')?['body/value']",
                          "actions": {
                            "Filter_textblocks": {
                              "metadata": {
                                "operationMetadataId": "b7dd65ab-3508-4711-b8fa-d9213b23249b"
                              },
                              "type": "Query",
                              "inputs": {
                                "from": "@outputs('Get_Template_Details_related_textblocks')?['body/value']",
                                "where": "@equals(item()?['hso_templatedetailid'],items('Apply_to_each_Template_Detail_Correction')?['hso_templatedetailid'])"
                              }
                            },
                            "With_textblock_name_calc": {
                              "runAfter": {
                                "Filter_textblocks": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "fdb383ca-651f-4859-8674-3095ead8d531"
                              },
                              "type": "Compose",
                              "inputs": "@addProperty(items('Apply_to_each_Template_Detail_Correction'),'hso_textblock_name_calc',     \n    coalesce(\n        if(\n            equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000006),\n            items('Apply_to_each_Template_Detail_Correction')?['hso_textblock_name'],\n            if(\n                equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000009),\n                items('Apply_to_each_Template_Detail_Correction')?['hso_textblock_name'],\n                if(\n                    equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000000),\n                    body('Filter_textblocks')[0]?['AGlobalProductTextblock.hso_name'],\n                    if(\n                        equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000002),\n                        body('Filter_textblocks')[0]?['AProjectproductTextblock.hso_name'],\n                        if(\n                            equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000004),\n                            body('Filter_textblocks')[0]?['AProjecthourTextblock.hso_name'],\n                            if(\n                                equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000003),\n                                body('Filter_textblocks')[0]?['AProductionhourTextblock.hso_name'],\n                                if(\n                                    equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000007),\n                                    body('Filter_textblocks')[0]?['AProjectexpenseTextblock.hso_name'],\n                                    if(\n                                        equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000008),\n                                        body('Filter_textblocks')[0]?['AExternalserviceTextblock.hso_name'],\n                                        items('Apply_to_each_Template_Detail_Correction')?['hso_name']\n                                    )\n                                )\n                            )\n                        )\n                    )\n                )\n            )\n        ),\n    items('Apply_to_each_Template_Detail_Correction')?['hso_name'], ''\n    )\n)"
                            },
                            "With_textblock_description_calc": {
                              "runAfter": {
                                "With_textblock_name_calc": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "e58df905-7e47-4ba0-a99c-92b2121bdc8f"
                              },
                              "type": "Compose",
                              "inputs": "@addProperty(outputs('With_textblock_name_calc'),'hso_textblock_description_calc',   \r\n    coalesce(\r\n        if(\r\n            equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000006),\r\n            items('Apply_to_each_Template_Detail_Correction')?['hso_textblock_description_max'],\r\n            if(\r\n                equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000009),\r\n                items('Apply_to_each_Template_Detail_Correction')?['hso_textblock_description_max'],\r\n                if(\r\n                    equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000000),\r\n                    body('Filter_textblocks')[0]?['AGlobalProductTextblock.hso_description'],\r\n                    if(\r\n                        equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000002),\r\n                        body('Filter_textblocks')[0]?['AProjectproductTextblock.hso_description'],\r\n                        if(\r\n                            equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000004),\r\n                            body('Filter_textblocks')[0]?['AProjecthourTextblock.hso_description'],\r\n                            if(\r\n                                equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000003),\r\n                                body('Filter_textblocks')[0]?['AProductionhourTextblock.hso_description'],\r\n                                if(\r\n                                    equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000007),\r\n                                    body('Filter_textblocks')[0]?['AProjectexpenseTextblock.hso_description'],\r\n                                    if(\r\n                                        equals(body('Filter_textblocks')[0]?['hso_positionelementtype'],100000008),\r\n                                        body('Filter_textblocks')[0]?['AExternalserviceTextblock.hso_description'],\r\n                                        items('Apply_to_each_Template_Detail_Correction')?['hso_name']\r\n                                    )\r\n                                )\r\n                            )\r\n                        )\r\n                    )\r\n                )\r\n            )\r\n        ), \r\n        items('Apply_to_each_Template_Detail_Correction')?['hso_name'], ''\r\n    )\r\n)"
                            },
                            "Push_to_arrTemplateDetailsCorrected": {
                              "runAfter": {
                                "With_textblock_description_calc": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "fbae70ab-f810-4210-8e61-766420a034d7"
                              },
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "arrTemplateDetailsCorrected",
                                "value": "@outputs('With_textblock_description_calc')"
                              }
                            }
                          },
                          "runAfter": {
                            "Get_Template_Details": [
                              "Succeeded"
                            ],
                            "Get_Template_Details_related_textblocks": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "77763acc-dd01-4238-b6ed-69a1e4cb95b5"
                          },
                          "type": "Foreach",
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "a8520b3f-2276-49d7-a1f6-3fe44aac6a1f"
                      },
                      "type": "Scope"
                    },
                    "Degree_of_parallelization_(DOP)": {
                      "actions": {
                        "Recommended_DOP": {
                          "runAfter": {
                            "Get_recommended_degree_of_parallelization_(DOP)": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ec5b615d-d6f6-44d4-ab46-3ed093212d79"
                          },
                          "type": "Compose",
                          "inputs": "@outputs('Get_recommended_degree_of_parallelization_(DOP)')['headers']['x-ms-dop-hint']"
                        },
                        "Get_recommended_degree_of_parallelization_(DOP)": {
                          "metadata": {
                            "operationMetadataId": "ea2bcabf-de61-4cc4-a081-e260ad356b07"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "request/method": "GET",
                              "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/WhoAmI"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                              "operationId": "InvokeHttp",
                              "connectionName": "shared_webcontents"
                            }
                          }
                        },
                        "Use_maximum_DOP": {
                          "actions": {
                            "Set_varNumberOfItemsPerBulkOperationMessage": {
                              "runAfter": {
                                "Number_of_Items_per_Bulk_Operation_Message": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "8d46115a-6a85-464e-9070-c1617a41543b"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "varNumberOfItemsPerBulkOperationMessage",
                                "value": "@add(div(variables('varNumberOfCalculationPositions_ToProcess'), int(outputs('Recommended_DOP'))), sub(1, mod(div(variables('varNumberOfCalculationPositions_ToProcess'), int(outputs('Recommended_DOP'))), 1)))"
                              },
                              "description": "Always round up to the next whole number"
                            },
                            "Number_of_Items_per_Bulk_Operation_Message": {
                              "metadata": {
                                "operationMetadataId": "7d467af2-aa51-4752-9cf1-41ac29f1a6cb"
                              },
                              "type": "Compose",
                              "inputs": "@div(variables('varNumberOfCalculationPositions_ToProcess'), int(outputs('Recommended_DOP')))"
                            },
                            "Number_of_Bulk_Operation_Messages": {
                              "runAfter": {
                                "Set_varNumberOfItemsPerBulkOperationMessage": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "df525fa8-c3b2-4982-b1d3-343ee2c59f7a"
                              },
                              "type": "Compose",
                              "inputs": "@div(variables('varNumberOfCalculationPositions_ToProcess'), variables('varNumberOfItemsPerBulkOperationMessage'))"
                            },
                            "Number_of_Bulk_Operation_Messages_less_than_recommended_DOP": {
                              "actions": {
                                "Set_varParallelBulkOperationMessages_to_calculated_Number": {
                                  "metadata": {
                                    "operationMetadataId": "a2799583-b3ab-4ff6-a79d-2347e2e2a9e6"
                                  },
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "varParallelBulkOperationMessages",
                                    "value": "@range(0, add(outputs('Number_of_Bulk_Operation_Messages'), sub(1, mod(outputs('Number_of_Bulk_Operation_Messages'), 1))))"
                                  }
                                }
                              },
                              "runAfter": {
                                "Number_of_Bulk_Operation_Messages": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {
                                  "Set_varParallelBulkOperationMessages_to_maximum_DOP": {
                                    "metadata": {
                                      "operationMetadataId": "13b453fd-25fb-40c7-8e88-70dd1324e244"
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                      "name": "varParallelBulkOperationMessages",
                                      "value": "@range(0, int(outputs('Recommended_DOP')))"
                                    }
                                  }
                                }
                              },
                              "expression": {
                                "and": [
                                  {
                                    "less": [
                                      "@outputs('Number_of_Bulk_Operation_Messages')",
                                      "@int(outputs('Recommended_DOP'))"
                                    ]
                                  }
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "a3340d66-d999-4fbd-a31e-1cf835c0e100"
                              },
                              "type": "If"
                            },
                            "Append_Calculation_Positions_with_maximum_DOP_to_Log": {
                              "runAfter": {
                                "Number_of_Bulk_Operation_Messages_less_than_recommended_DOP": [
                                  "Succeeded"
                                ]
                              },
                              "type": "AppendToStringVariable",
                              "inputs": {
                                "name": "varLog",
                                "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Accelerate maximum DOP to process Calculation Positions. @{decodeUriComponent('%0A')}"
                              }
                            }
                          },
                          "runAfter": {
                            "Recommended_DOP": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Set_varParallelBulkOperationMessages_to_Number_Of_Positions": {
                                "metadata": {
                                  "operationMetadataId": "27e672d9-6afb-4af1-b972-ef29fc1d4280"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "varParallelBulkOperationMessages",
                                  "value": "@range(0, variables('varNumberOfCalculationPositions_ToProcess'))"
                                }
                              },
                              "Set_varNumberOfItemsPerBulkOperationMessage_to_1": {
                                "runAfter": {
                                  "Set_varParallelBulkOperationMessages_to_Number_Of_Positions": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "d9d75791-e1b3-4e0d-ba6d-69dda8afeff8"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "varNumberOfItemsPerBulkOperationMessage",
                                  "value": 1
                                }
                              },
                              "Append_Calculation_Positions_with_DOP_to_Log": {
                                "runAfter": {
                                  "Set_varNumberOfItemsPerBulkOperationMessage_to_1": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "AppendToStringVariable",
                                "inputs": {
                                  "name": "varLog",
                                  "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Accelerate individual DOP to process Calculation Positions. @{decodeUriComponent('%0A')}"
                                }
                              }
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "greaterOrEquals": [
                                  "@variables('varNumberOfCalculationPositions_ToProcess')",
                                  "@int(outputs('Recommended_DOP'))"
                                ]
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "d0de5ba5-c875-41ed-aeff-2edfb3efad16"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Set_varNumberOfCalculationPositions_ToProcess": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f7747aee-7f60-4c45-ade1-369a17158980"
                      },
                      "type": "Scope"
                    },
                    "Accelerate_DOP_to_create_new_Positions": {
                      "actions": {
                        "Apply_to_each_Parallel_Bulk_Operation_Message": {
                          "foreach": "@variables('varParallelBulkOperationMessages')",
                          "actions": {
                            "Positions_to_create": {
                              "actions": {
                                "Create_Calculation_Details_by_DOP-Index": {
                                  "metadata": {
                                    "operationMetadataId": "c646fe13-5084-4829-b5b9-58c9397bbed5"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "parameters": {
                                      "request/method": "POST",
                                      "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationdetails/Microsoft.Dynamics.CRM.CreateMultiple",
                                      "request/headers": {
                                        "OData-MaxVersion": "4.0",
                                        "OData-Version": "4.0",
                                        "If-None-Match": "null",
                                        "Accept": "application/json",
                                        "Content-Type": "application/json; charset=utf-8",
                                        "MSCRM.BypassCustomPluginExecution": "true",
                                        "MSCRM.BypassBusinessLogicExecution": "CustomSync,CustomAsync"
                                      },
                                      "request/body": "{\n \"Targets\": @{outputs('Select_Part_of_Calculation_Positions_by_DOP-Index')}\n}"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                      "operationId": "InvokeHttp",
                                      "connectionName": "shared_webcontents"
                                    }
                                  }
                                },
                                "Increment_varNumberOfCalculationPositions_Created": {
                                  "runAfter": {
                                    "Create_Calculation_Details_by_DOP-Index": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "IncrementVariable",
                                  "inputs": {
                                    "name": "varNumberOfCalculationPositions_Created",
                                    "value": "@length(body('Select_Calculation_Details'))"
                                  }
                                }
                              },
                              "runAfter": {
                                "Select_Part_of_Calculation_Positions_by_DOP-Index": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {}
                              },
                              "expression": {
                                "and": [
                                  {
                                    "greater": [
                                      "@length(\r\n outputs('Select_Part_of_Calculation_Positions_by_DOP-Index')\r\n)",
                                      0
                                    ]
                                  }
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "5c1eb5a3-74d6-406a-a6ae-58be5ceb5cd9"
                              },
                              "type": "If"
                            },
                            "Select_Part_of_Calculation_Positions_by_DOP-Index": {
                              "type": "Compose",
                              "inputs": "@take(\r\n\tskip(\r\n\t\tbody('Select_Calculation_Details'), \r\n\t\tmul(\r\n\t\t\titems('Apply_to_each_Parallel_Bulk_Operation_Message'), \r\n\t\t\tvariables('varNumberOfItemsPerBulkOperationMessage')\r\n\t\t)\r\n\t), \r\n\tvariables('varNumberOfItemsPerBulkOperationMessage')\r\n)"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "b140f43c-73b8-48e4-81b7-23020a393273"
                          },
                          "type": "Foreach",
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          }
                        },
                        "Append_Calculation_Positions_with_DOP_to_Log_[Success]": {
                          "runAfter": {
                            "Apply_to_each_Parallel_Bulk_Operation_Message": [
                              "Succeeded"
                            ]
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "varLog",
                            "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{variables('varNumberOfCalculationPositions_Created')} of @{variables('varNumberOfCalculationPositions_ToProcess')} Calculation Positions added. @{decodeUriComponent('%0A')}"
                          }
                        },
                        "Append_Calculation_Positions_with_DOP_to_Log_[Error]": {
                          "runAfter": {
                            "Apply_to_each_Parallel_Bulk_Operation_Message": [
                              "TimedOut",
                              "Skipped",
                              "Failed"
                            ]
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "varLog",
                            "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Creating Calculation Positions failed. @{variables('varNumberOfCalculationPositions_Created')} of @{variables('varNumberOfCalculationPositions_ToProcess')} Calculation Positions added. @{decodeUriComponent('%0A')}"
                          }
                        },
                        "Set_varErrorState_[Calculation_Positions_with_DOP]": {
                          "runAfter": {
                            "Append_Calculation_Positions_with_DOP_to_Log_[Error]": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varErrorState",
                            "value": true
                          }
                        }
                      },
                      "runAfter": {
                        "Degree_of_parallelization_(DOP)": [
                          "Succeeded"
                        ],
                        "Compose_Calculation_Positions_Payload": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Create_Calculation_Details": {
                            "metadata": {
                              "operationMetadataId": "26166a51-071a-4a86-a341-8c4b772893ff"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "request/method": "POST",
                                "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationdetails/Microsoft.Dynamics.CRM.CreateMultiple",
                                "request/headers": {
                                  "OData-MaxVersion": "4.0",
                                  "OData-Version": "4.0",
                                  "If-None-Match": "null",
                                  "Accept": "application/json",
                                  "Content-Type": "application/json; charset=utf-8",
                                  "MSCRM.BypassCustomPluginExecution": "true"
                                },
                                "request/body": "{\n \"Targets\": @{body('Select_Calculation_Details')}\n}"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                "operationId": "InvokeHttp",
                                "connectionName": "shared_webcontents-1"
                              }
                            }
                          },
                          "Append_Calculation_Positions_without_DOP_to_Log_[Success]": {
                            "runAfter": {
                              "Create_Calculation_Details": [
                                "Succeeded"
                              ]
                            },
                            "type": "AppendToStringVariable",
                            "inputs": {
                              "name": "varLog",
                              "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{length(body('Select_Calculation_Details'))} of @{variables('varNumberOfCalculationPositions_ToProcess')} Calculation Positions added. @{decodeUriComponent('%0A')}"
                            }
                          },
                          "Append_Calculation_Positions_without_DOP_to_Log_[Error]": {
                            "runAfter": {
                              "Create_Calculation_Details": [
                                "Failed",
                                "Skipped",
                                "TimedOut"
                              ]
                            },
                            "type": "AppendToStringVariable",
                            "inputs": {
                              "name": "varLog",
                              "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Creating Calculation Positions failed. 0 of @{variables('varNumberOfCalculationPositions_ToProcess')} Calculation Positions added. @{decodeUriComponent('%0A')}"
                            }
                          },
                          "Set_varErrorState_[Calculation_Positions_without_DOP]": {
                            "runAfter": {
                              "Append_Calculation_Positions_without_DOP_to_Log_[Error]": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "varErrorState",
                              "value": true
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          1,
                          1
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d1a8b67c-bb1a-4f10-baa1-af3d04dd487f"
                      },
                      "type": "If"
                    },
                    "Accelerate_DOP_to_establish_Parent-Child-Relationship": {
                      "actions": {
                        "Apply_to_each_Parallel_Bulk_Operation_Message_to_update_Positions": {
                          "foreach": "@variables('varParallelBulkOperationMessages')",
                          "actions": {
                            "Select_Calculation_Details_Parent-Child-Assignments_by_DOP-Index": {
                              "metadata": {
                                "operationMetadataId": "3c1be8e2-c7cd-4f8f-beab-6629627951c2"
                              },
                              "type": "Select",
                              "inputs": {
                                "from": "@take(\r\n\tskip(\r\n\t\tbody('Exclude_Level-1-Nodes_from_Calculation_Details'), \r\n\t\tmul(\r\n\t\t\titems('Apply_to_each_Parallel_Bulk_Operation_Message_to_update_Positions'), \r\n\t\t\tvariables('varNumberOfItemsPerBulkOperationMessage')\r\n\t\t)\r\n\t), \r\n\tvariables('varNumberOfItemsPerBulkOperationMessage')\r\n)",
                                "select": {
                                  "@variables('varOdataType')": "#Microsoft.Dynamics.CRM.hso_calculationdetail",
                                  "hso_calculationdetailid": "@item()?['hso_calculationdetailid']",
                                  "hso_calculationdetail_parentid@odata.bind": "hso_calculationdetails(_hso_calculationid_value=@{triggerOutputs()?['body/hso_calculationid']},hso_linenumber='@{item()?['hso_parent_linenumber_import']}')"
                                }
                              }
                            },
                            "Positions_to_update": {
                              "actions": {
                                "Update_Calculation_Details_with_Parent-Child-Relationships_by_DOP-Index": {
                                  "metadata": {
                                    "operationMetadataId": "8a43fc9a-5fb1-4f65-ac7f-80f280acb71b"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "parameters": {
                                      "request/method": "POST",
                                      "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationdetails/Microsoft.Dynamics.CRM.UpdateMultiple",
                                      "request/headers": {
                                        "OData-MaxVersion": "4.0",
                                        "OData-Version": "4.0",
                                        "If-None-Match": "null",
                                        "Accept": "application/json",
                                        "Content-Type": "application/json; charset=utf-8",
                                        "MSCRM.BypassCustomPluginExecution": "true",
                                        "MSCRM.BypassBusinessLogicExecution": "CustomSync,CustomAsync"
                                      },
                                      "request/body": "{\n \"Targets\": @{body('Select_Calculation_Details_Parent-Child-Assignments_by_DOP-Index')}\n}"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                      "operationId": "InvokeHttp",
                                      "connectionName": "shared_webcontents"
                                    }
                                  }
                                },
                                "Increment_varNumberOfCalculationPositions_Updated": {
                                  "runAfter": {
                                    "Update_Calculation_Details_with_Parent-Child-Relationships_by_DOP-Index": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "IncrementVariable",
                                  "inputs": {
                                    "name": "varNumberOfCalculationPositions_Updated",
                                    "value": "@length(body('Select_Calculation_Details_Parent-Child-Assignments_by_DOP-Index'))"
                                  }
                                }
                              },
                              "runAfter": {
                                "Select_Calculation_Details_Parent-Child-Assignments_by_DOP-Index": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {}
                              },
                              "expression": {
                                "and": [
                                  {
                                    "greater": [
                                      "@length(body('Select_Calculation_Details_Parent-Child-Assignments_by_DOP-Index'))",
                                      0
                                    ]
                                  }
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b83bb901-5356-4295-b4d6-6de7493cdebd"
                              },
                              "type": "If"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "957a17af-03d3-42c9-9805-07c0b346829b"
                          },
                          "type": "Foreach",
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          }
                        },
                        "Append_Parent-Child-Relationships_with_DOP_to_Log_[Success]": {
                          "runAfter": {
                            "Apply_to_each_Parallel_Bulk_Operation_Message_to_update_Positions": [
                              "Succeeded"
                            ]
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "varLog",
                            "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{variables('varNumberOfCalculationPositions_Updated')} of @{length(body('Exclude_Level-1-Nodes_from_Calculation_Details'))} Parent-Child-Relationships assigned. @{decodeUriComponent('%0A')}"
                          }
                        },
                        "Append_Parent-Child-Relationships_with_DOP_to_Log_[Error]": {
                          "runAfter": {
                            "Apply_to_each_Parallel_Bulk_Operation_Message_to_update_Positions": [
                              "TimedOut",
                              "Skipped",
                              "Failed"
                            ]
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "varLog",
                            "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Assigning Parent-Child-Relationships failed. @{variables('varNumberOfCalculationPositions_Updated')} of @{length(body('Exclude_Level-1-Nodes_from_Calculation_Details'))} Parent-Child-Relationships assigned. @{decodeUriComponent('%0A')}"
                          }
                        },
                        "Set_varErrorState_[Parent-Child-Relationship_with_DOP]": {
                          "runAfter": {
                            "Append_Parent-Child-Relationships_with_DOP_to_Log_[Error]": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varErrorState",
                            "value": true
                          }
                        }
                      },
                      "runAfter": {
                        "Exclude_Level-1-Nodes_from_Calculation_Details": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Select_Calculation_Details_Parent-Child-Assignments": {
                            "metadata": {
                              "operationMetadataId": "42e54710-34fd-4132-b534-579fd009550d"
                            },
                            "type": "Select",
                            "inputs": {
                              "from": "@body('Exclude_Level-1-Nodes_from_Calculation_Details')",
                              "select": {
                                "@{variables('varOdataType')}": "#Microsoft.Dynamics.CRM.hso_calculationdetail",
                                "hso_calculationdetailid": "@item()?['hso_calculationdetailid']",
                                "hso_calculationdetail_parentid@odata.bind": "hso_calculationdetails(_hso_calculationid_value=@{triggerOutputs()?['body/hso_calculationid']},hso_linenumber='@{item()?['hso_parent_linenumber_import']}')"
                              }
                            }
                          },
                          "Update_Calculation_Details_with_Parent-Child-Relationships": {
                            "runAfter": {
                              "Select_Calculation_Details_Parent-Child-Assignments": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "11f32933-1e86-41c7-af53-36d7d02572e6"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "request/method": "POST",
                                "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationdetails/Microsoft.Dynamics.CRM.UpdateMultiple",
                                "request/headers": {
                                  "OData-MaxVersion": "4.0",
                                  "OData-Version": "4.0",
                                  "If-None-Match": "null",
                                  "Accept": "application/json",
                                  "Content-Type": "application/json; charset=utf-8",
                                  "MSCRM.BypassCustomPluginExecution": "true"
                                },
                                "request/body": "{\n \"Targets\": @{body('Select_Calculation_Details_Parent-Child-Assignments')}\n}"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                "operationId": "InvokeHttp",
                                "connectionName": "shared_webcontents-1"
                              }
                            }
                          },
                          "Append_Parent-Child-Relationships_without_DOP_to_Log_[Success]": {
                            "runAfter": {
                              "Update_Calculation_Details_with_Parent-Child-Relationships": [
                                "Succeeded"
                              ]
                            },
                            "type": "AppendToStringVariable",
                            "inputs": {
                              "name": "varLog",
                              "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{length(body('Select_Calculation_Details_Parent-Child-Assignments'))} of @{length(body('Exclude_Level-1-Nodes_from_Calculation_Details'))} Parent-Child-Relationships assigned. @{decodeUriComponent('%0A')}"
                            }
                          },
                          "Append_Parent-Child-Relationships_without_DOP_to_Log_[Error]": {
                            "runAfter": {
                              "Update_Calculation_Details_with_Parent-Child-Relationships": [
                                "Failed",
                                "Skipped",
                                "TimedOut"
                              ]
                            },
                            "type": "AppendToStringVariable",
                            "inputs": {
                              "name": "varLog",
                              "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Assigning Parent-Child-Relationships failed. 0 of @{length(body('Exclude_Level-1-Nodes_from_Calculation_Details'))} Parent-Child-Relationships assigned. @{decodeUriComponent('%0A')}"
                            }
                          },
                          "Set_varErrorState_[Parent-Child-Relationship_without_DOP]": {
                            "runAfter": {
                              "Append_Parent-Child-Relationships_without_DOP_to_Log_[Error]": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "varErrorState",
                              "value": true
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          1,
                          1
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0ab1d12a-4ccf-41b7-886f-60c5d1bcc29c"
                      },
                      "type": "If"
                    },
                    "Exclude_Level-1-Nodes_from_Calculation_Details": {
                      "runAfter": {
                        "Get_created_Calculation_Details": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "de7e9b4b-d8f9-4235-b0e6-90f4ee69e85b"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@outputs('Get_created_Calculation_Details')?['body/value']",
                        "where": "@not(equals(item()?['hso_level'], 1))"
                      }
                    },
                    "Set_varNumberOfCalculationPositions_Processed": {
                      "runAfter": {
                        "Calculation_Detail_Notes": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5a0958dd-eb74-48e5-bdbf-c5668aabf311"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varNumberOfCalculationPositions_Processed",
                        "value": "@length(outputs('Get_created_Calculation_Details')?['body/value'])"
                      }
                    },
                    "Calculation_Detail_Notes": {
                      "actions": {
                        "Apply_to_each_Template_Detail": {
                          "foreach": "@outputs('Get_Template_Details')?['body/value']",
                          "actions": {
                            "Apply_to_each_Note": {
                              "foreach": "@items('Apply_to_each_Template_Detail')?['hso_templatedetail_Annotations']",
                              "actions": {
                                "Run_a_Child_Flow_to_copy_Note": {
                                  "metadata": {
                                    "operationMetadataId": "2076f4a4-ae30-44a0-b072-637b2d9893d5"
                                  },
                                  "type": "Workflow",
                                  "inputs": {
                                    "host": {
                                      "workflowReferenceName": "e1a6c89b-5ed1-ee11-9079-000d3ab3c58c"
                                    },
                                    "body": {
                                      "text": "@items('Apply_to_each_Note')?['annotationid']",
                                      "text_1": "Calculation Position",
                                      "text_2": "@items('Apply_to_each_Template_Detail')?['hso_templatedetailid']",
                                      "text_3": "@triggerOutputs()?['body/hso_calculationid']",
                                      "text_4": "@items('Apply_to_each_Template_Detail')?['hso_linenumber']"
                                    }
                                  }
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "f15fe441-ee42-42dd-9545-52ae2c161649"
                              },
                              "type": "Foreach",
                              "runtimeConfiguration": {
                                "concurrency": {
                                  "repetitions": 20
                                }
                              }
                            },
                            "Apply_to_each_Note_-_Error": {
                              "actions": {
                                "Filter_Results_for_failed_actions_[Calculation_Position_Notes]": {
                                  "metadata": {
                                    "operationMetadataId": "d5436785-e050-4e72-8001-7b2b980745c7"
                                  },
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@result('Apply_to_each_Note')?['outputs']",
                                    "where": "@equals(item()?['status'],'Failed')"
                                  }
                                },
                                "Select_Error_Summary_[Calculation_Position_Notes]": {
                                  "runAfter": {
                                    "Filter_Results_for_failed_actions_[Calculation_Position_Notes]": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "a42f1c0b-fbca-42c7-9be9-483c3e6b50d8"
                                  },
                                  "type": "Select",
                                  "inputs": {
                                    "from": "@body('Filter_Results_for_failed_actions_[Calculation_Position_Notes]')",
                                    "select": {
                                      "Action": "@item()?['name']",
                                      "Code": "@item()?['code']",
                                      "Status": "@item()?['status']",
                                      "StatusCode": "@item()?['outputs']?['statusCode']",
                                      "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')"
                                    }
                                  }
                                },
                                "Apply_to_each_Error_Summary_[Calculation_Position_Notes]": {
                                  "foreach": "@body('Select_Error_Summary_[Calculation_Position_Notes]')",
                                  "actions": {
                                    "Append_Error_Summary_[Calculation_Position_Notes]": {
                                      "metadata": {
                                        "operationMetadataId": "0af93783-efc0-4f9b-8038-0a37a77e3ec4"
                                      },
                                      "type": "AppendToArrayVariable",
                                      "inputs": {
                                        "name": "varError",
                                        "value": "@items('Apply_to_each_Error_Summary_[Calculation_Position_Notes]')"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Select_Error_Summary_[Calculation_Position_Notes]": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "885c409c-57e4-435d-a322-70fd6eb491d9"
                                  },
                                  "type": "Foreach"
                                }
                              },
                              "runAfter": {
                                "Apply_to_each_Note": [
                                  "Failed",
                                  "TimedOut"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "28bdf4c6-2256-477e-9038-3531d38297ac"
                              },
                              "type": "Scope"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "310a71c7-339f-4c8e-a94c-751bd0b1eb38"
                          },
                          "type": "Foreach",
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Append_Set_Default_Values_to_Log_[Success]": [
                          "Succeeded"
                        ],
                        "Set_varErrorState_[Set_Default_Values]": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "73247c4a-037f-4d5e-aa73-f5ce6da06d23"
                      },
                      "type": "Scope"
                    },
                    "Update_Calculation_Details_to_set_Default_Values_by_Level": {
                      "runAfter": {
                        "Select_Calculation_Positions_to_set_Default_Values": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f36c7257-b2c4-4581-943e-f73ea981eee3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "request/method": "POST",
                          "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationdetails/Microsoft.Dynamics.CRM.UpdateMultiple",
                          "request/headers": {
                            "OData-MaxVersion": "4.0",
                            "OData-Version": "4.0",
                            "If-None-Match": "null",
                            "Accept": "application/json",
                            "Content-Type": "application/json; charset=utf-8",
                            "MSCRM.BypassCustomPluginExecution": "true",
                            "MSCRM.BypassBusinessLogicExecution": "CustomSync"
                          },
                          "request/body": "{\n \"Targets\": @{body('Select_Calculation_Positions_to_set_Default_Values')}\n}"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                          "operationId": "InvokeHttp",
                          "connectionName": "shared_webcontents-1"
                        }
                      }
                    },
                    "Append_Set_Default_Values_to_Log_[Success]": {
                      "runAfter": {
                        "Update_Calculation_Details_to_set_Default_Values_by_Level": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varLog",
                        "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - @{length(body('Select_Calculation_Positions_to_set_Default_Values'))} of @{length(body('Select_Calculation_Positions_to_set_Default_Values'))} Level-1-Nodes updated to set default values. @{decodeUriComponent('%0A')}"
                      }
                    },
                    "Append_Set_Default_Values_to_Log_[Error]": {
                      "runAfter": {
                        "Update_Calculation_Details_to_set_Default_Values_by_Level": [
                          "TimedOut",
                          "Skipped",
                          "Failed"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varLog",
                        "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] -Set Default Values for created Calculation Positions failed. 0 of @{length(body('Select_Calculation_Positions_to_set_Default_Values'))} Level-1-Nodes updated to set default values. @{decodeUriComponent('%0A')}"
                      }
                    },
                    "Set_varErrorState_[Set_Default_Values]": {
                      "runAfter": {
                        "Append_Set_Default_Values_to_Log_[Error]": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varErrorState",
                        "value": true
                      }
                    },
                    "Compose_Calculation_Positions_Payload": {
                      "actions": {
                        "Select_Calculation_Details": {
                          "runAfter": {
                            "Project_Products_used": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5ae573ce-230a-48ae-9198-34cc3516dab1"
                          },
                          "type": "Select",
                          "inputs": {
                            "from": "@variables('varCalculationDetails_Payload')",
                            "select": {
                              "@{variables('varOdataType')}": "#Microsoft.Dynamics.CRM.hso_calculationdetail",
                              "hso_calculationtype": 100000000,
                              "hso_positionelementtype": "@item()?['hso_positionelementtype']",
                              "hso_calculationid@odata.bind": "/hso_calculations(@{triggerOutputs()?['body/hso_calculationid']})",
                              "hso_quantity": "@item()?['hso_quantity']",
                              "hso_name": "@item()?['hso_name']",
                              "hso_quoteid@odata.bind": "/quotes(@{triggerOutputs()?['body/_hso_quoteid_value']})",
                              "hso_productid@odata.bind": "@If(empty(item()?['_hso_productid_value']), '', concat('products(', item()?['_hso_productid_value'], ')'))",
                              "hso_surchargegroup_baseid@odata.bind": "@If(empty(item()?['_hso_surchargegroup_baseid_value']), '', concat('hso_surchargegroup_bases(', item()?['_hso_surchargegroup_baseid_value'], ')'))",
                              "hso_externalserviceid@odata.bind": "@If(empty(item()?['_hso_externalserviceid_value']), '', concat('hso_externalservices(', item()?['_hso_externalserviceid_value'], ')'))",
                              "hso_textblock_description_max": "@item()?['hso_textblock_description_calc']",
                              "hso_textblock_name": "@item()?['hso_textblock_name_calc']",
                              "hso_level": "@item()?['hso_level']",
                              "hso_positiondetails": "@item()?['hso_positiondetails']",
                              "hso_positionquantity": "@item()?['hso_positionquantity']",
                              "hso_productionhourid@odata.bind": "@If(empty(item()?['_hso_productionhourid_value']), '', concat('hso_productionhours(', item()?['_hso_productionhourid_value'], ')'))",
                              "hso_projectproductid@odata.bind": "@If(\r\n empty(item()?['_hso_projectproductid_value']), \r\n '', \r\n concat(\r\n  'hso_projectproducts(',\r\n  item()?['_hso_projectproductid_value'],\r\n  ')'\r\n )\r\n)",
                              "hso_projecttype": "@item()?['hso_projecttype']",
                              "hso_projectexpenseid@odata.bind": "@If(empty(item()?['_hso_projectexpenseid_value']), '', concat('hso_projectexpenses(', item()?['_hso_projectexpenseid_value'], ')'))",
                              "hso_projecthourid@odata.bind": "@If(empty(item()?['_hso_projecthourid_value']), '', concat('hso_projecthours(', item()?['_hso_projecthourid_value'], ')'))",
                              "hso_language": "@triggerOutputs()?['body/hso_language']",
                              "hso_uomid@odata.bind": "@If(empty(item()?['_hso_uomid_value']), '', concat('uoms(', item()?['_hso_uomid_value'], ')'))\r\n",
                              "hso_subproject": "@item()?['hso_subproject']",
                              "hso_calculationdetail_parentid_sortinglinenum": "@item()?['hso_calculationdetail_parentid_sortinglinenum']",
                              "hso_companyid@odata.bind": "/cdm_companies(@{triggerOutputs()?['body/_hso_companyid_value']})",
                              "hso_linenumber": "@item()?['hso_linenumber']",
                              "hso_linenumber_level": "@item()?['hso_linenumber_level']",
                              "hso_processingstatus": "@false",
                              "hso_manufacturer": "@item()?['hso_manufacturer']",
                              "hso_manufacturer_itemnumber": "@item()?['hso_manufacturer_itemnumber']",
                              "hso_manufacturer_typenumber": "@item()?['hso_manufacturer_typenumber']",
                              "hso_istemplate": "@false",
                              "hso_parent_linenumber_import": "@item()?['hso_templatedetail_parentid_linenumber']",
                              "hso_isbillofmaterial": "@item()?['hso_isbillofmaterial']",
                              "hso_billofmaterial_projectproductid@odata.bind": "@If(\r\n empty(item()?['_hso_billofmaterial_projectproductid_value']), \r\n '', \r\n concat(\r\n  'hso_projectproducts(',\r\n  item()?['_hso_billofmaterial_projectproductid_value'],\r\n  ')'\r\n )\r\n)"
                            }
                          }
                        },
                        "Project_Products_used": {
                          "actions": {
                            "Remove_Project_Products_from_Template_Details": {
                              "runAfter": {
                                "Apply_to_each_created_Project_Product": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Query",
                              "inputs": {
                                "from": "@variables('arrTemplateDetailsCorrected')",
                                "where": "@not(equals(item()?['hso_positionelementtype'],100000002))"
                              },
                              "description": "Remove all Positions of Type 'Project Product' - these Positions are already added to the Payload in the previous step"
                            },
                            "Remove_BOM_Project_Products_from_Template_Details": {
                              "runAfter": {
                                "Remove_Project_Products_from_Template_Details": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Query",
                              "inputs": {
                                "from": "@body('Remove_Project_Products_from_Template_Details')",
                                "where": "@equals(empty(\r\n item()?['_hso_billofmaterial_projectproductid_value']\r\n),true)"
                              },
                              "description": "Remove all Positions where a BOM Project Product is assigned - these Positions are already added to the Payload in the previous step"
                            },
                            "Template_Details_without_Project_Products": {
                              "runAfter": {
                                "Remove_BOM_Project_Products_from_Template_Details": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Compose",
                              "inputs": "@union(\r\n variables('varCalculationDetails_Payload'),\r\n body('Remove_BOM_Project_Products_from_Template_Details')\r\n)"
                            },
                            "Apply_to_each_created_Project_Product": {
                              "foreach": "@body('Select_Project_Product_GUID_Mapping')",
                              "actions": {
                                "Filter_Template_Positions_by_Project_Product_[without_BOM]": {
                                  "runAfter": {
                                    "Mapping_old_and_new_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@variables('arrTemplateDetailsCorrected')",
                                    "where": "@And(equals(item()?['_hso_projectproductid_value'],items('Apply_to_each_created_Project_Product')?['GUIDold']),not(equals(item()?['hso_isbillofmaterial'],true)))"
                                  },
                                  "description": "Get all Template Positions of Type 'Project Product' where no BOM is assigned. Project Product Positions with BOM are processed separately because both the Project Product GUID and the BOM Project Product GUID must be replaced. "
                                },
                                "Filter_Template_Positions_by_BOM_Project_Product": {
                                  "runAfter": {
                                    "Mapping_old_and_new_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@variables('arrTemplateDetailsCorrected')",
                                    "where": "@And(equals(item()?['_hso_billofmaterial_projectproductid_value'],items('Apply_to_each_created_Project_Product')?['GUIDold']),not(equals(item()?['hso_positionelementtype'],100000002)))"
                                  },
                                  "description": "Get all Template Positions where a BOM Project Product is assigned. Exclude Positions from Type 'Project Product' - these Positions are processed separately because both the Project Product GUID and the BOM Project Product GUID must be replaced. "
                                },
                                "Template_Positions_with_Project_Products_found": {
                                  "actions": {
                                    "Replace_Project_Product_GUID": {
                                      "type": "Select",
                                      "inputs": {
                                        "from": "@body('Filter_Template_Positions_by_Project_Product_[without_BOM]')",
                                        "select": "@setProperty(\r\n item(),\r\n '_hso_projectproductid_value',\r\n items('Apply_to_each_created_Project_Product')?['GUIDnew']\r\n)"
                                      }
                                    },
                                    "Template_Details_with_replaced_Project_Product_GUIDs": {
                                      "runAfter": {
                                        "Replace_Project_Product_GUID": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "Compose",
                                      "inputs": "@union(\r\n variables('varCalculationDetails_Payload'),\r\n body('Replace_Project_Product_GUID')\r\n)"
                                    },
                                    "Add_Template_Positions_with_replaced_Project_Products_to_Payload": {
                                      "runAfter": {
                                        "Template_Details_with_replaced_Project_Product_GUIDs": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "SetVariable",
                                      "inputs": {
                                        "name": "varCalculationDetails_Payload",
                                        "value": "@outputs('Template_Details_with_replaced_Project_Product_GUIDs')"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Filter_Template_Positions_by_Project_Product_[without_BOM]": [
                                      "Succeeded"
                                    ]
                                  },
                                  "else": {
                                    "actions": {}
                                  },
                                  "expression": {
                                    "and": [
                                      {
                                        "greater": [
                                          "@length(body('Filter_Template_Positions_by_Project_Product_[without_BOM]'))",
                                          0
                                        ]
                                      }
                                    ]
                                  },
                                  "type": "If"
                                },
                                "Template_Positions_with_BOM_Project_Products_found": {
                                  "actions": {
                                    "Replace_BOM_Project_Product_GUID": {
                                      "type": "Select",
                                      "inputs": {
                                        "from": "@body('Filter_Template_Positions_by_BOM_Project_Product')",
                                        "select": "@setProperty(\r\n item(),\r\n '_hso_billofmaterial_projectproductid_value',\r\n items('Apply_to_each_created_Project_Product')?['GUIDnew']\r\n)"
                                      }
                                    },
                                    "Template_Details_with_replaced_BOM_Project_Product_GUIDs": {
                                      "runAfter": {
                                        "Replace_BOM_Project_Product_GUID": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "Compose",
                                      "inputs": "@union(\r\n variables('varCalculationDetails_Payload'),\r\n body('Replace_BOM_Project_Product_GUID')\r\n)"
                                    },
                                    "Add_Template_Positions_with_replaced_BOM_Project_Products_to_Payload": {
                                      "runAfter": {
                                        "Template_Details_with_replaced_BOM_Project_Product_GUIDs": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "SetVariable",
                                      "inputs": {
                                        "name": "varCalculationDetails_Payload",
                                        "value": "@outputs('Template_Details_with_replaced_BOM_Project_Product_GUIDs')"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Filter_Template_Positions_by_BOM_Project_Product": [
                                      "Succeeded"
                                    ]
                                  },
                                  "else": {
                                    "actions": {}
                                  },
                                  "expression": {
                                    "and": [
                                      {
                                        "greater": [
                                          "@length(body('Filter_Template_Positions_by_BOM_Project_Product'))",
                                          0
                                        ]
                                      }
                                    ]
                                  },
                                  "type": "If"
                                },
                                "Mapping_old_and_new_Project_Product_GUID": {
                                  "type": "Compose",
                                  "inputs": "@items('Apply_to_each_created_Project_Product')"
                                },
                                "Filter_Template_Positions_by_Project_Product_[with_BOM]": {
                                  "runAfter": {
                                    "Mapping_old_and_new_Project_Product_GUID": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@variables('arrTemplateDetailsCorrected')",
                                    "where": "@And(equals(item()?['_hso_projectproductid_value'],items('Apply_to_each_created_Project_Product')?['GUIDold']),equals(item()?['hso_isbillofmaterial'],true))"
                                  },
                                  "description": "Get all Template Positions of Type 'Project Product' where a BOM Project Product is assigned. Both the Project Product GUID and the BOM Project Product GUID must be replaced."
                                },
                                "Template_Positions_with_Project_Products_found_[with_BOM]": {
                                  "actions": {
                                    "Apply_to_each_Project_Product_Template_Position_with_BOM": {
                                      "foreach": "@body('Filter_Template_Positions_by_Project_Product_[with_BOM]')",
                                      "actions": {
                                        "Filter_Mapping_List_by_BOM_Project_Product_GUID": {
                                          "type": "Query",
                                          "inputs": {
                                            "from": "@body('Select_Project_Product_GUID_Mapping')",
                                            "where": "@equals(item()?['GUIDold'],items('Apply_to_each_Project_Product_Template_Position_with_BOM')?['_hso_billofmaterial_projectproductid_value'])"
                                          }
                                        },
                                        "New_BOM_Project_Product_GUID": {
                                          "runAfter": {
                                            "Filter_Mapping_List_by_BOM_Project_Product_GUID": [
                                              "Succeeded"
                                            ]
                                          },
                                          "type": "Compose",
                                          "inputs": "@first(body('Filter_Mapping_List_by_BOM_Project_Product_GUID'))?['GUIDnew']"
                                        },
                                        "Replace_Project_Product_and_BOM_Project_Product_GUID_for_current_Item": {
                                          "runAfter": {
                                            "New_BOM_Project_Product_GUID": [
                                              "Succeeded"
                                            ]
                                          },
                                          "type": "Compose",
                                          "inputs": "@setProperty(\r\n setProperty(\r\n  items('Apply_to_each_Project_Product_Template_Position_with_BOM'),\r\n  '_hso_projectproductid_value',\r\n  items('Apply_to_each_created_Project_Product')?['GUIDnew']\r\n ),\r\n '_hso_billofmaterial_projectproductid_value',\r\n first(body('Filter_Mapping_List_by_BOM_Project_Product_GUID'))?['GUIDnew']\r\n)"
                                        },
                                        "Add_Template_Position_with_replaced_(BOM)_Project_Product(s)_to_Payload": {
                                          "runAfter": {
                                            "Replace_Project_Product_and_BOM_Project_Product_GUID_for_current_Item": [
                                              "Succeeded"
                                            ]
                                          },
                                          "type": "AppendToArrayVariable",
                                          "inputs": {
                                            "name": "varCalculationDetails_Payload",
                                            "value": "@outputs('Replace_Project_Product_and_BOM_Project_Product_GUID_for_current_Item')"
                                          }
                                        }
                                      },
                                      "type": "Foreach"
                                    }
                                  },
                                  "runAfter": {
                                    "Filter_Template_Positions_by_Project_Product_[with_BOM]": [
                                      "Succeeded"
                                    ]
                                  },
                                  "else": {
                                    "actions": {}
                                  },
                                  "expression": {
                                    "and": [
                                      {
                                        "greater": [
                                          "@length(body('Filter_Template_Positions_by_Project_Product_[with_BOM]'))",
                                          0
                                        ]
                                      }
                                    ]
                                  },
                                  "type": "If"
                                }
                              },
                              "type": "Foreach"
                            },
                            "Add_all_other_Template_Positions_to_Payload": {
                              "runAfter": {
                                "Template_Details_without_Project_Products": [
                                  "Succeeded"
                                ]
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "varCalculationDetails_Payload",
                                "value": "@outputs('Template_Details_without_Project_Products')"
                              }
                            }
                          },
                          "else": {
                            "actions": {
                              "Set_varCalculationDetails_Payload": {
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "varCalculationDetails_Payload",
                                  "value": "@variables('arrTemplateDetailsCorrected')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@variables('varNumberOfCalculationProjectProducts_Processed')",
                                  0
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Set_varNumberOfCalculationPositions_ToProcess": [
                          "Succeeded"
                        ]
                      },
                      "type": "Scope"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "899b89d8-a367-4471-be20-9b550c44f389"
                  },
                  "type": "Scope"
                },
                "Calculation_Positions_-_Error": {
                  "actions": {
                    "Filter_Results_for_failed_actions_[Calculation_Positions]": {
                      "metadata": {
                        "operationMetadataId": "c41d1c47-2bc9-4667-835c-d89a24763677"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@result('Calculation_Positions')",
                        "where": "@equals(item()?['status'],'Failed')"
                      }
                    },
                    "Select_Error_Summary_[Calculation_Positions]": {
                      "runAfter": {
                        "Filter_Results_for_failed_actions_[Calculation_Positions]": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5df42770-f7f5-4890-a602-809e3868b3d2"
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Filter_Results_for_failed_actions_[Calculation_Positions]')",
                        "select": {
                          "Action": "@item()?['name']",
                          "Code": "@item()?['code']",
                          "Status": "@item()?['status']",
                          "StatusCode": "@item()?['outputs']?['statusCode']",
                          "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')"
                        }
                      }
                    },
                    "Apply_to_each_Error_Summary_[Calculation_Positions]": {
                      "foreach": "@body('Select_Error_Summary_[Calculation_Positions]')",
                      "actions": {
                        "Append_Error_Summary_[Calculation_Positions]": {
                          "metadata": {
                            "operationMetadataId": "a5aa290e-330e-4b35-82aa-e5717b0b02e3"
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "varError",
                            "value": "@items('Apply_to_each_Error_Summary_[Calculation_Positions]')"
                          }
                        }
                      },
                      "runAfter": {
                        "Select_Error_Summary_[Calculation_Positions]": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f95c085c-3962-45b3-9d70-28ba0e5b8149"
                      },
                      "type": "Foreach"
                    }
                  },
                  "runAfter": {
                    "Calculation_Positions": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9094c4fc-ed1d-4827-a8f9-f8d6d6c49ef8"
                  },
                  "type": "Scope"
                }
              },
              "runAfter": {
                "Update_Processing_Log": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Append_Skip_Calculation_Positions_to_Log_[Failure]": {
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Adding Calculation Positions is skipped because required Parameters are missing. @{decodeUriComponent('%0A')}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('varErrorState')",
                      "@false"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_varNumberOfItemsPerBulkOperationMessage": [
              "Succeeded"
            ],
            "Initialize_varIterationLevel": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5532841d-ab11-41fe-9bae-62a68541ed79"
          },
          "type": "Scope"
        },
        "Initialize_strTextblockOrder": {
          "runAfter": {
            "Initialize_intDefaultLanguage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "633816ed-2cbb-4410-8e1b-d786382cac0d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strTextblockOrder",
                "type": "string",
                "value": "@{if(greaterOrEquals(triggerOutputs()?['body/hso_language'],variables('intDefaultLanguage')),'descending=\"true\"','')}"
              }
            ]
          }
        },
        "Initialize_varParallelBulkOperationMessages": {
          "runAfter": {
            "Initialize_arrTemplateDetailsCorrected": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c3aa8861-e569-4e20-b407-55f9644ba022"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varParallelBulkOperationMessages",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varNumberOfItemsPerBulkOperationMessage": {
          "runAfter": {
            "Initialize_varParallelBulkOperationMessages": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c14eadfb-e1c3-457c-b42e-ba0edaf0b02c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfItemsPerBulkOperationMessage",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_varIterationLevel": {
          "runAfter": {
            "Initialize_strTextblockOrder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "49a744b0-3521-493a-b161-6b2515c9e595"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varIterationLevel",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Initialize_varLog": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLog",
                "type": "string",
                "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Initializing Flow Run. @{decodeUriComponent('%0A')}"
              }
            ]
          }
        },
        "Initialize_varNumberOfCalculationPositions_Created": {
          "runAfter": {
            "Initialize_varNumberOfCalculationPositions_ToProcess": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationPositions_Created",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varNumberOfCalculationPositions_Updated": {
          "runAfter": {
            "Initialize_varNumberOfCalculationPositions_Created": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationPositions_Updated",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varErrorState": {
          "runAfter": {
            "Initialize_varErrorMessage": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorState",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Initialize_varCalculationDetails_Payload": {
          "runAfter": {
            "Initialize_varTextblockProjectProducts": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varCalculationDetails_Payload",
                "type": "array"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}