ETOCore/Workflows/PAAUTOCalculationCreationPARENT-CopyParametersforn-955937D3-EBF1-EE11-904C-000D3AB1B3E1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_Calculation_is_created": {
          "metadata": {
            "operationMetadataId": "064adc43-cf77-4f44-86f9-58d6edec6cad"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "hso_calculation",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "hso_iscopy eq false and _hso_templateid_value eq null",
              "subscriptionRequest/name": "955937d3-ebf1-ee11-904c-000d3ab1b3e1"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Processing_Log": {
          "actions": {
            "Convert_time_zone": {
              "metadata": {
                "operationMetadataId": "c2f001a2-f7ba-41e8-8675-3a971e2ac227"
              },
              "type": "Expression",
              "kind": "ConvertTimeZone",
              "inputs": {
                "baseTime": "@{utcNow()}",
                "sourceTimeZone": "UTC",
                "destinationTimeZone": "W. Europe Standard Time",
                "formatString": "u"
              }
            },
            "Create_Processing_Log": {
              "runAfter": {
                "Convert_time_zone": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a659c3c2-7ce3-4e72-9a51-cced8536fd85"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "Kalkulations-Parameter erstellen - @{body('Convert_time_zone')}",
                  "item/hso_processingtask": 100000010,
                  "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['_ownerid_value']})",
                  "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])\r\n",
                  "item/hso_calculationid@odata.bind": "hso_calculations(@{triggerOutputs()?['body/hso_calculationid']})",
                  "item/hso_log": "@variables('varLog')",
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_processingstatus": 100000001
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_varErrorMessage": [
              "Succeeded"
            ],
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3e872de7-2d6c-4986-9f18-b22a6cefd342"
          },
          "type": "Scope"
        },
        "Surcharge_Groups": {
          "actions": {
            "Run_a_Child_Flow_to_copy_Surcharge_Groups": {
              "metadata": {
                "operationMetadataId": "d167ba2b-fd01-4277-b09d-18f9a86bd708"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "3d9898d4-e2f1-ee11-904b-002248a1bffc"
                },
                "body": {
                  "text": "@triggerOutputs()?['body/hso_calculationid']",
                  "text_1": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                  "text_2": "@triggerOutputs()?['body/_hso_departmentid_value']",
                  "text_3": "@triggerBody()?['hso_name']",
                  "text_4": "@triggerBody()?['_ownerid_value']"
                }
              }
            },
            "Copy_Surcharge_Groups_failed": {
              "actions": {
                "Append_Error_Message_[Surcharge_Groups]": {
                  "runAfter": {
                    "Append_Surcharge_Groups_Result_to_varLog_[Error]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f73d74b4-53ef-41af-bd5b-4b324b329333"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varErrorMessage",
                    "value": "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['error_message']"
                  }
                },
                "Append_Surcharge_Groups_Result_to_varLog_[Error]": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups processed']} of @{body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups to process']} Surcharge Groups added to Calculation\n[ERR] - [@{utcNow()}] - Error: @{body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['error_message']} @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Run_a_Child_Flow_to_copy_Surcharge_Groups": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Append_Surcharge_Groups_Result_to_varLog_[Success]": {
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{utcNow()}] - @{body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups processed']} Surcharge Groups successfully added to Calculation @{decodeUriComponent('%0A')}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['outcome']",
                      "Error"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "c2d2df12-a333-4a5b-b79c-226043cc87d7"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Append_Start_Child_Flows_to_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "66b741d1-68f1-4985-a630-2f5641dc9f30"
          },
          "type": "Scope"
        },
        "Metalprices": {
          "actions": {
            "Run_a_Child_Flow_to_copy_Metalprices": {
              "metadata": {
                "operationMetadataId": "39a22acd-cce1-4e97-abc5-77a508dbc75b"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "5037bda9-e4f1-ee11-904b-002248a1bffc"
                },
                "body": {
                  "text": "@triggerBody()?['hso_calculationid']",
                  "text_1": "@body('Create_Processing_Log')?['hso_processinglogid']",
                  "text_2": "@triggerBody()?['hso_name']",
                  "text_3": "@triggerBody()?['_ownerid_value']"
                }
              }
            },
            "Copy_Metalprices_failed": {
              "actions": {
                "Append_Error_Message_[Metalprices]": {
                  "runAfter": {
                    "Append_Metalprices_Result_to_varLog_[Error]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dd11d5e2-ef55-4e72-b8af-28df9a0bb2ca"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varErrorMessage",
                    "value": "@body('Run_a_Child_Flow_to_copy_Metalprices')?['error_message']"
                  }
                },
                "Append_Metalprices_Result_to_varLog_[Error]": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_processed']} of @{body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_to process']} Metalprices added to Calculation\n[ERR] - [@{utcNow()}] - Error: @{body('Run_a_Child_Flow_to_copy_Metalprices')?['error_message']} @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Run_a_Child_Flow_to_copy_Metalprices": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Append_Metalprices_Result_to_varLog_[Success]": {
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{utcNow()}] - @{body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_processed']} Metalprices successfully added to Calculation @{decodeUriComponent('%0A')}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Run_a_Child_Flow_to_copy_Metalprices')?['outcome']",
                      "Error"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "f5e5f0b1-6ed0-46ab-ac8f-3c27dae1ea0c"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Append_Start_Child_Flows_to_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b977e228-bbfe-4d44-825f-aa6de331721d"
          },
          "type": "Scope"
        },
        "Payment_Terms": {
          "actions": {
            "Run_a_Child_Flow_to_copy_Default_Payment_Terms": {
              "metadata": {
                "operationMetadataId": "7fc36037-cda9-49ca-b123-beeae5c514b3"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "39b91952-e6f1-ee11-904b-002248a1bffc"
                },
                "body": {
                  "text": "@triggerOutputs()?['body/hso_calculationid']",
                  "text_1": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                  "text_2": "@triggerOutputs()?['body/_hso_quoteid_value']",
                  "text_3": "@triggerBody()?['hso_name']",
                  "text_4": "@triggerBody()?['_ownerid_value']",
                  "text_5": "@outputs('Get_Quote')?['body/_hso_paymentmethodid_value']"
                }
              }
            },
            "Copy_Default_Payment_Terms_failed": {
              "actions": {
                "Append_Error_Message_[Payment_Terms]": {
                  "runAfter": {
                    "Append_Payment_Terms_Result_to_varLog_[Error]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2aaffacd-5f5c-43f7-af34-7b7dd70b1bf6"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varErrorMessage",
                    "value": "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['error_message']"
                  }
                },
                "Append_Payment_Terms_Result_to_varLog_[Error]": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms_processed']} of @{body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['Payment_Terms_to_process']} Payment Terms added to Calculation\n[ERR] - [@{utcNow()}] - Error: @{body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['error_message']} @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Run_a_Child_Flow_to_copy_Default_Payment_Terms": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Append_Payment_Terms_Result_to_varLog_[Success]": {
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{utcNow()}] - @{body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms_processed']} Payment Terms successfully added to Calculation @{decodeUriComponent('%0A')}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['outcome']",
                      "Error"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "19e04421-6dab-4842-9552-129a5eb27453"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Append_Start_Child_Flows_to_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a7a7e4c2-c0e3-4a36-8cb3-1bc767137ece"
          },
          "type": "Scope"
        },
        "Project_Category_Sales_Prices": {
          "actions": {
            "Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices": {
              "metadata": {
                "operationMetadataId": "85858f63-87f6-4a00-bc5e-9452a902c9d1"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "cde3d61d-80d5-ee11-904d-000d3ab3c58c"
                },
                "body": {
                  "text": "@triggerBody()?['hso_calculationid']",
                  "text_1": "@body('Create_Processing_Log')?['hso_processinglogid']",
                  "text_2": "@triggerBody()?['_hso_quoteid_value']",
                  "text_3": "@triggerBody()?['hso_name']",
                  "text_4": "@triggerBody()?['_ownerid_value']",
                  "text_5": "@outputs('Get_Quote')?['body/_customerid_value']",
                  "text_6": "@outputs('Get_Quote')?['body/_msdyn_company_value']",
                  "text_7": "@outputs('Get_Quote')?['body/customerid_account/name']",
                  "text_8": "@outputs('Get_Quote')?['body/customerid_account/accountnumber']"
                }
              }
            },
            "Copy_Project_Category_Sales_Prices_failed": {
              "actions": {
                "Append_Error_Message_[Project_Category_Sales_Prices]": {
                  "runAfter": {
                    "Append_Project_Category_Sales_Prices_Result_to_varLog_[Error]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "353bc382-d3dd-4872-a849-7349f7aedbc2"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varErrorMessage",
                    "value": "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['error_message']"
                  }
                },
                "Append_Project_Category_Sales_Prices_Result_to_varLog_[Error]": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category_sales_prices_processed']} of @{body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['Project_Category_Sales_Prices_to_process']} Project Category Sales Prices added to Calculation\n[ERR] - [@{utcNow()}] - Error: @{body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['error_message']} @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Append_Project_Category_Sales_Prices_Result_to_varLog_[Success]": {
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{utcNow()}] - @{body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category_sales_prices_processed']} Project Category Sales Prices successfully added to Calculation @{decodeUriComponent('%0A')}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['outcome']",
                      "Error"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "2ddc863d-c311-4206-bc14-c3a7050739ea"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Append_Start_Child_Flows_to_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3182632-e36a-49bb-9833-54f77b2b8900"
          },
          "type": "Scope"
        },
        "Trade_Agreement_Sales_Prices": {
          "actions": {
            "Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps": {
              "metadata": {
                "operationMetadataId": "f906265e-1931-453f-a89c-bc37734758db"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "e59a72a1-e8f1-ee11-904b-002248a1bffc"
                },
                "body": {
                  "text": "@triggerOutputs()?['body/hso_calculationid']",
                  "text_1": "@outputs('Create_Processing_Log')?['body/hso_processinglogid']",
                  "text_2": "@triggerOutputs()?['body/_hso_quoteid_value']",
                  "text_3": "@triggerOutputs()?['body/hso_name']",
                  "text_4": "@triggerBody()?['_ownerid_value']",
                  "text_5": "@outputs('Get_Quote')?['body/_customerid_value']",
                  "text_6": "@outputs('Get_Quote')?['body/msdyn_company/cdm_companycode']",
                  "text_7": "@outputs('Get_Quote')?['body/customerid_account/name']",
                  "text_8": "@outputs('Get_Quote')?['body/customerid_account/accountnumber']"
                }
              }
            },
            "Fetch_Trade_Agreements_failed": {
              "actions": {
                "Append_Error_Message_[Trade_Agreements]": {
                  "runAfter": {
                    "Append_Trade_Agreement_Sales_Prices_Result_to_varLog_[Error]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8e00f938-7ac7-4844-af2b-fd6f045fcb7f"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varErrorMessage",
                    "value": "@body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['error_message']"
                  }
                },
                "Append_Trade_Agreement_Sales_Prices_Result_to_varLog_[Error]": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['trade_agreements_processed']} of @{body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['trade_agreements_to_process']} Trade Agreement Sales Prices added to Calculation\n[ERR] - [@{utcNow()}] - Error: @{body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['error_message']} @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Append_Trade_Agreement_Sales_Prices_Result_to_varLog_[Success]": {
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{utcNow()}] - @{body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['trade_agreements_processed']} Trade Agreement Sales Prices successfully added to Calculation @{decodeUriComponent('%0A')}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['error']",
                      "Error"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "ab15c4d6-e97c-47d0-b762-bf69ea3ec5fe"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Append_Start_Child_Flows_to_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "79cbd195-f778-4bb1-a035-15206c179890"
          },
          "type": "Scope"
        },
        "Summary": {
          "actions": {
            "Processing_successful": {
              "actions": {
                "Update_Processing_Log_[Success]": {
                  "runAfter": {
                    "Finish_varLog_with_Success": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4dfe351f-8d1d-4345-9e43-a0b77da34c9c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_processinglogs",
                      "recordId": "@body('Create_Processing_Log')?['hso_processinglogid']",
                      "item/hso_end_datetime": "@{utcNow()}",
                      "item/hso_calculationmetalprice_actual": "@body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_processed']",
                      "item/hso_calculationmetalprice_target": "@body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_to process']",
                      "item/hso_calculationsalesprice_product_actual": "@body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['trade_agreements processed']",
                      "item/hso_calculationsalesprice_product_target": "@body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['trade_agreements to process']",
                      "item/hso_calculationsalesprice_category_actual": "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category sales prices processed']",
                      "item/hso_calculationsalesprice_category_target": "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category sales prices to process']",
                      "item/hso_calculationpaymentterm_actual": "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms processed']",
                      "item/hso_calculationpaymentterm_target": "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms to process']",
                      "item/hso_calculationsurchargegroup_actual": "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups processed']",
                      "item/hso_calculationsurchargegroup_target": "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups to process']",
                      "item/hso_log": "@variables('varLog')",
                      "item/hso_processingstatus": 100000002
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "Finish_varLog_with_Success": {
                  "runAfter": {
                    "Create_inApp_Notification_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[SUC] - [@{utcNow()}] - Flow run was successful. All required Parameters have been added to the Calculation."
                  }
                },
                "Create_inApp_Notification_[Success]": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "appnotifications",
                      "item/title": "Kalkulations-Parameter erstellt",
                      "item/ttlinseconds": 200,
                      "item/ownerid@odata.bind": "systemusers(@{triggerOutputs()?['body/_ownerid_value']})",
                      "item/data": "@body('Parse_JSON')?['link']",
                      "item/icontype": 100000001,
                      "item/priority": 200000000,
                      "item/body": "Die Kalkulations-Parameter für Kalkulationsversion \"@{triggerOutputs()?['body/hso_name']}\" wurden erfolgreicht erstellt."
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_Processing_Log_[Error]": {
                    "runAfter": {
                      "Finish_varLog_with_Error": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "b2c36b2f-0ddc-42fd-aa9e-f14409081529"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "recordId": "@body('Create_Processing_Log')?['hso_processinglogid']",
                        "item/hso_end_datetime": "@{utcNow()}",
                        "item/hso_flowerror": "@variables('varErrorMessage')",
                        "item/hso_calculationmetalprice_actual": "@body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_processed']",
                        "item/hso_calculationmetalprice_target": "@body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_to process']",
                        "item/hso_calculationsalesprice_product_actual": "@body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['trade_agreements processed']",
                        "item/hso_calculationsalesprice_product_target": "@body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['trade_agreements to process']",
                        "item/hso_calculationsalesprice_category_actual": "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category sales prices processed']",
                        "item/hso_calculationsalesprice_category_target": "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category sales prices to process']",
                        "item/hso_calculationpaymentterm_actual": "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms processed']",
                        "item/hso_calculationpaymentterm_target": "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms to process']",
                        "item/hso_calculationsurchargegroup_actual": "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups processed']",
                        "item/hso_calculationsurchargegroup_target": "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups to process']",
                        "item/hso_log": "@variables('varLog')",
                        "item/hso_processingstatus": 100000003
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  },
                  "Finish_varLog_with_Error": {
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{utcNow()}] - Flow run has failed. Parameters may have been partially added to Calculation. Check Log for further details."
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups to process']",
                      "@body('Run_a_Child_Flow_to_copy_Surcharge_Groups')?['surcharge_groups processed']"
                    ]
                  },
                  {
                    "equals": [
                      "@body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_to process']",
                      "@body('Run_a_Child_Flow_to_copy_Metalprices')?['metalprices_processed']"
                    ]
                  },
                  {
                    "equals": [
                      "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms to process']",
                      "@body('Run_a_Child_Flow_to_copy_Default_Payment_Terms')?['payment_terms processed']"
                    ]
                  },
                  {
                    "equals": [
                      "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category sales prices to process']",
                      "@body('Run_a_Child_Flow_to_copy_Project_Category_Sales_Prices')?['project_category sales prices processed']"
                    ]
                  },
                  {
                    "equals": [
                      "@body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['trade_agreements to process']",
                      "@body('Run_a_Child_Flow_to_fetch_Trade_Agreements_from_FinOps')?['trade_agreements processed']"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "4af19ab1-ddf6-44fe-ad08-743c17563154"
              },
              "type": "If"
            },
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": {
                  "link": {
                    "actions": [
                      {
                        "title": "Kalkulationsversion anzeigen",
                        "data": {
                          "url": "?pagetype=entityrecord&etn=hso_calculation&id=@{triggerOutputs()?['body/hso_calculationid']}",
                          "navigationTarget": "inline"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "navigationTarget": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "title",
                              "data"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Surcharge_Groups": [
              "Succeeded"
            ],
            "Metalprices": [
              "Succeeded"
            ],
            "Payment_Terms": [
              "Succeeded"
            ],
            "Project_Category_Sales_Prices": [
              "Succeeded"
            ],
            "Trade_Agreement_Sales_Prices": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2d95d47b-e60f-4b3d-ab42-42f81a5f5524"
          },
          "type": "Scope"
        },
        "Initialize_varErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2cc57082-c49b-40ff-abb3-96a784443fae"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Get_Quote": {
          "runAfter": {
            "Processing_Log": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "quotes",
              "recordId": "@triggerOutputs()?['body/_hso_quoteid_value']",
              "$select": "name,hso_recordid_str,_msdyn_company_value,_customerid_value,_hso_paymentmethodid_value",
              "$expand": "msdyn_Company($select=cdm_companycode),\ncustomerid_account($select=name,accountnumber)"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Initialize_varLog": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLog",
                "type": "string",
                "value": "[INF] - [@{utcNow()}] - Initializing Flow Run @{decodeUriComponent('%0A')}"
              }
            ]
          }
        },
        "Append_Start_Child_Flows_to_varLog": {
          "runAfter": {
            "Get_Quote": [
              "Succeeded"
            ]
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "varLog",
            "value": "[INF] - [@{utcNow()}] - Start Child Flows to add Surcharge Groups, Metalprices, Payment Terms and Sales Prices to Calculation  @{decodeUriComponent('%0A')}"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}