ETOCore/Workflows/PAAUTOProductUpdateProductNamewhenProductLifecycle-9C3411E3-35DD-EE11-904C-000D3AB1B3E1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-d365-ETO-int-11.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance",
            "description": "The Dataverse Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "When_a_Products_Productlifecycle_is_updated": {
          "metadata": {
            "operationMetadataId": "17d7ae96-9999-47ca-b3f8-3fb67fb985d7"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "product",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "name,_hso_productlifecyclestateid_value"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "conditions": []
        }
      },
      "actions": {
        "Switch_on_Product_Lifecycle_State": {
          "runAfter": {
            "Initialize_varProductName_New": [
              "Succeeded"
            ]
          },
          "cases": {
            "Abverkauf": {
              "case": "Abverkauf",
              "actions": {
                "Set_varProductName_New_[Abverkauf]": {
                  "metadata": {
                    "operationMetadataId": "336e47e0-b863-4d0e-8e69-dfbb1979272a"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varProductName_New",
                    "value": "@{if(contains(triggerOutputs()?['body/name'],'⚠️ '),triggerOutputs()?['body/name'],concat('⚠️ ',triggerOutputs()?['body/name']))}"
                  }
                }
              }
            },
            "Ausläufer": {
              "case": "Ausläufer",
              "actions": {
                "Set_varProductName_New_[Ausläufer]": {
                  "metadata": {
                    "operationMetadataId": "ad2c0ea9-028c-4e2e-968f-8a8fb2f38d64"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varProductName_New",
                    "value": "@{if(contains(triggerOutputs()?['body/name'],'⚠️ '),triggerOutputs()?['body/name'],concat('⚠️ ',triggerOutputs()?['body/name']))}"
                  }
                }
              }
            },
            "Abverkauf_Tresen": {
              "case": "Abverkauf Tresen",
              "actions": {
                "Set_varProductName_New_[Abverkauf_Tresen]": {
                  "metadata": {
                    "operationMetadataId": "fc44b94a-21c4-49b7-8def-69cb42179528"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varProductName_New",
                    "value": "@{if(contains(triggerOutputs()?['body/name'],'⚠️ '),triggerOutputs()?['body/name'],concat('⚠️ ',triggerOutputs()?['body/name']))}"
                  }
                }
              }
            },
            "End_of_Life": {
              "case": "End of Life",
              "actions": {
                "Set_varProductName_New_[End_of_Life]": {
                  "metadata": {
                    "operationMetadataId": "5da06981-cb28-43a2-be7a-0d1e9aa4806d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varProductName_New",
                    "value": "@{if(contains(triggerOutputs()?['body/name'],'⚠️ '),triggerOutputs()?['body/name'],concat('⚠️ ',triggerOutputs()?['body/name']))}"
                  }
                }
              }
            },
            "Aktiv": {
              "case": "Aktiv",
              "actions": {
                "Set_varProductName_New_[Aktiv]": {
                  "metadata": {
                    "operationMetadataId": "72b815bd-6fc5-4d88-b63b-66960a8b4189"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varProductName_New",
                    "value": "@{replace(triggerOutputs()?['body/name'],'⚠️ ','')}"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@triggerOutputs()?['body/hso_productlifecyclestate_calc']",
          "metadata": {
            "operationMetadataId": "f7a9d722-4401-46f3-bc26-16b5ef511ed4"
          },
          "type": "Switch"
        },
        "Initialize_varProductName_New": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c5c78c90-bb94-4994-afe0-9af04e5dab6e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProductName_New",
                "type": "string",
                "value": "@triggerOutputs()?['body/name']"
              }
            ]
          }
        },
        "Product_Name_changed": {
          "actions": {
            "Update_Product:_Name": {
              "metadata": {
                "operationMetadataId": "3a6454b2-b7a7-4588-8022-ade1d5b36313"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "products",
                  "recordId": "@triggerOutputs()?['body/productid']",
                  "item/name": "@variables('varProductName_New')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "Switch_on_Product_Lifecycle_State": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/name']",
                "@variables('varProductName_New')"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "4d3c8141-1cd9-4737-afae-c910dd866143"
          },
          "type": "If"
        },
        "Related_Calculation_Positions": {
          "actions": {
            "List_related_Calculation_Positions": {
              "metadata": {
                "operationMetadataId": "3d61e921-f2bc-4e8f-8436-4de895e15307"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_calculationdetails",
                  "$select": "hso_calculationdetailid,hso_name",
                  "$filter": "_hso_productid_value eq @{triggerBody()?['productid']} and hso_name ne '@{variables('varProductName_New')}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Calculation_Positions_to_update": {
              "actions": {
                "Select_required_fields_from_Calculation_Positions": {
                  "metadata": {
                    "operationMetadataId": "89752565-31dc-4990-b760-2d170c7a99eb"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('List_related_Calculation_Positions')?['body/value']",
                    "select": {
                      "@{string('@')}odata.type": "#Microsoft.Dynamics.CRM.hso_calculationdetail",
                      "hso_calculationdetailid": "@item()?['hso_calculationdetailid']",
                      "hso_name": "@variables('varProductName_New')"
                    }
                  }
                },
                "Update_Calculation_Positions": {
                  "runAfter": {
                    "Select_required_fields_from_Calculation_Positions": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f455d799-231d-4a6e-9c6d-2c700831ce02"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "request/method": "POST",
                      "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationdetails/Microsoft.Dynamics.CRM.UpdateMultiple",
                      "request/headers": {
                        "OData-MaxVersion": "4.0",
                        "OData-Version": "4.0",
                        "If-None-Match": "null",
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8"
                      },
                      "request/body": "{\n \"Targets\": @{body('Select_required_fields_from_Calculation_Positions')}\n}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                      "operationId": "InvokeHttp",
                      "connectionName": "shared_webcontents"
                    }
                  }
                }
              },
              "runAfter": {
                "List_related_Calculation_Positions": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(outputs('List_related_Calculation_Positions')?['body/value'])",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "b1eeb386-7200-4bd8-a7b8-5cee7c3d53fa"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Product_Name_changed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a0d81b4b-dacc-40dd-a8cd-0f12b1a34d3b"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}