ETOCore/Workflows/PAAutomatedRoundedTimeEntriesUpdateNormaltypeiftot-64CDB37E-8D92-EE11-BE37-000D3AB3C80C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "7576655d-f0c3-4006-9011-08289606ef34"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "hso_roundedtimeentries",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "hso_duration",
              "subscriptionRequest/name": "64cdb37e-8d92-ee11-be37-000d3ab3c80c"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Check_if_the_type_is_\"Work\"": {
          "actions": {
            "Get_the_Work_Subtype_that_is_linked_to_the_modified_item": {
              "metadata": {
                "operationMetadataId": "465f9abe-55f5-470e-a41c-280d41d4c213"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_roundedtimeentryworksubtypeses",
                  "$filter": "_hso_roundedtimeentry_value eq '@{triggerOutputs()?['body/hso_roundedtimeentriesid']}' and hso_name eq '\tArbeit Normal'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Update_the_Work_Subtype_item_with_the_same_value": {
              "runAfter": {
                "Show_GUID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c1b963dc-f9b5-4553-a06d-cf02bcf62f8d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_roundedtimeentryworksubtypeses",
                  "recordId": "@outputs('Show_GUID')",
                  "item/hso_timevalue": "@triggerOutputs()?['body/hso_duration']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Show_GUID": {
              "runAfter": {
                "Get_the_Work_Subtype_that_is_linked_to_the_modified_item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cd8b2a3c-1735-45c6-ba78-5dd458cebb2c"
              },
              "type": "Compose",
              "inputs": "@first(outputs('Get_the_Work_Subtype_that_is_linked_to_the_modified_item')?['body/value'])?['hso_roundedtimeentryworksubtypesid']"
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Output_if_the_type_is_not_Work": {
                "metadata": {
                  "operationMetadataId": "ead8118b-5545-46e1-babe-b1d7ca15e3a8"
                },
                "type": "Compose",
                "inputs": "No action required"
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/hso_type']",
                  "Arbeit (unbearbeitet)"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "19a1864b-262b-4c04-b857-741622458216"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}