ETOCore/Workflows/PAAUTOSalesHubProjectAssignmentSale-1DDA096D-A178-EE11-8179-000D3AB347D0.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataversewithPSA"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_dynamicsax": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_CRFinOps"
        },
        "api": {
          "name": "shared_dynamicsax"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)": {
          "defaultValue": "hso-d365-devtest.sandbox.operations.eu.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarUnifiedOperationsInstance",
            "description": "The Unified Operations Instance to connect to within a Flow when using Web API Calls"
          }
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-hso-d365-devtest.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance",
            "description": "The Dataverse Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "When_a_Cost_Center_is_assigned_to_an_Opportunity_": {
          "metadata": {
            "operationMetadataId": "6f471d0b-af56-41b9-bb98-ab84ef25bf3b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "opportunity",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "hso_organisationunit_id"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@not(equals(triggerOutputs()?['body/_hso_organisationunit_id_value'], null))"
            },
            {
              "expression": "@equals(triggerOutputs()?['body/hso_opportunitytype_opt'], 867520001)"
            }
          ]
        }
      },
      "actions": {
        "Initialize_varLog": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ef6d8ef6-c66f-46ac-a1d7-b3b119a6e005"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLog",
                "type": "string",
                "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Initializing Flow Run. @{decodeUriComponent('%0A')}"
              }
            ]
          }
        },
        "GET_Project_Assignment_Sales": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ],
            "Initialize_varErrorState": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2491426e-eb36-4120-b7b9-936d045e8cde"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "GET",
              "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_projectassignmentssaleses(_hso_company_value=@{triggerOutputs()?['body/_msdyn_company_value']},_hso_organizationalunit_value=@{triggerOutputs()?['body/_hso_organisationunit_id_value']})?$expand=hso_company($select=cdm_companycode),\nhso_project($select=msdyn_subject,hso_projectnumber)",
              "request/headers": {
                "Accept": "application/json"
              }
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Append_Project_Assignment_Sales_to_Log": {
          "runAfter": {
            "Initialize_varParameter": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5a263d7c-4537-447f-b926-7cc6668922e3"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "varLog",
            "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Project Assignment Sales successfully retrieved. @{decodeUriComponent('%0A')}"
          }
        },
        "Initialize_varParameter": {
          "runAfter": {
            "GET_Project_Assignment_Sales": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c333bed1-93b8-4321-84c9-79d57ae99136"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varParameter",
                "type": "object",
                "value": {
                  "CompanyGUID": "@triggerOutputs()?['body/_msdyn_company_value']",
                  "CompanyName": "@outputs('GET_Project_Assignment_Sales')?['body/hso_company/cdm_companycode']",
                  "OpportunityGUID": "@triggerOutputs()?['body/opportunityid']",
                  "ProjectAssignmentSalesGUID": "@outputs('GET_Project_Assignment_Sales')?['body/hso_projectassignmentssalesid']",
                  "ProjectGUID": "@outputs('GET_Project_Assignment_Sales')?['body/_hso_project_value']",
                  "ProjectNumber": "@outputs('GET_Project_Assignment_Sales')?['body/hso_project/hso_projectnumber']",
                  "OrganizationalUnitGUID": "@triggerOutputs()?['body/_hso_organisationunit_id_value']",
                  "BookableResourceCategoryGUID": "@outputs('GET_Project_Assignment_Sales')?['body/_hso_role_value']",
                  "ProjectCategoryGUID": "@outputs('GET_Project_Assignment_Sales')?['body/_hso_projectcategory_value']",
                  "ProjectBucketGUID": "@guid()",
                  "ProjectTaskGUID": "@guid()",
                  "ProjectTaskStartDate": "@convertFromUtc(utcNow(),'W. Europe Standard Time')",
                  "ProcessingStartDateTime": "@utcNow()"
                }
              }
            ]
          }
        },
        "Append_Project_Assignment_Sales_to_Log_[Failure]": {
          "runAfter": {
            "GET_Project_Assignment_Sales": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "92b22647-59ff-4365-8ea1-0768080765de"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "varLog",
            "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Retrieving Project Assignment Sales failed. No further processing possible. Required parameters are missing. Contact a system administrator if additional help is required. @{decodeUriComponent('%0A')}"
          }
        },
        "GET_Task_Assignment_Sales": {
          "runAfter": {
            "Append_Project_Assignment_Sales_to_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8573cf53-61a9-4a01-b285-c66bb15c9819"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "GET",
              "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_taskassignmentssaleses(_hso_opportunity_value =@{triggerOutputs()?['body/opportunityid']},_hso_projectassignmentssale_value=@{variables('varParameter')?['ProjectAssignmentSalesGUID']})",
              "request/headers": {
                "Accept": "application/json"
              }
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Task_Assignment_Sales_already_existing": {
          "actions": {
            "Update_Opportunity_with_already_existing_Project_Task": {
              "actions": {
                "Update_Opportunity_with_existing_Project_Task": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "61bfbcf2-9561-4c3e-8c1a-563e52b0296f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "opportunities",
                      "recordId": "@triggerOutputs()?['body/opportunityid']",
                      "item/hso_projectTaskSale@odata.bind": "msdyn_projecttasks(@{variables('varParameter')?['ProjectTaskGUID']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Append_Opportunity_updated_with_existing_Project_Task_to_Log_[Success]": {
                  "runAfter": {
                    "Update_Opportunity_with_existing_Project_Task": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "11f27eea-ab6a-4871-8e38-bdfbba2d9c19"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Opportunity successfully updated with existing Project Task. @{decodeUriComponent('%0A')}"
                  }
                },
                "Append_Opportunity_updated_with_existing_Project_Task_to_Log_[Failure]": {
                  "runAfter": {
                    "Update_Opportunity_with_existing_Project_Task": [
                      "TimedOut",
                      "Skipped",
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d8977ffa-84f3-429b-b47e-1c70ff73f37a"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Updating Opportunity with existing Project Task failed. @{decodeUriComponent('%0A')}"
                  }
                },
                "Set_varErrorState_for_Opportunity_with_existing_Project_Task": {
                  "runAfter": {
                    "Append_Opportunity_updated_with_existing_Project_Task_to_Log_[Failure]": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e5d67070-52a9-45d6-864e-f46617fad9a4"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varErrorState",
                    "value": true
                  }
                }
              },
              "runAfter": {
                "Append_already_existing_Task_Assignment_Sales_to_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "38356789-0efa-4a66-9b22-2e6f1a4b7691"
              },
              "type": "Scope"
            },
            "Update_ProjectTaskGUID_in_varParameter": {
              "runAfter": {
                "Existing_Project_Task": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8c39a777-0d08-4b1b-9974-0fcc9c637487"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varParameter",
                "value": "@outputs('Existing_Project_Task')"
              }
            },
            "Append_already_existing_Task_Assignment_Sales_to_Log": {
              "runAfter": {
                "Update_ProjectTaskGUID_in_varParameter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ff03928b-0fe9-4fc7-b478-61f7d39ad85c"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Task Assignment Sales successfully retrieved. Update Opportunity with already existing Project Task. @{decodeUriComponent('%0A')}"
              }
            },
            "Existing_Project_Task": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6721cc2d-4678-4807-b428-8b08d56542d9"
              },
              "type": "Compose",
              "inputs": "@setProperty(\r\n variables('varParameter'), \r\n 'ProjectTaskGUID', \r\n outputs('GET_Task_Assignment_Sales')?['body/_hso_projecttask_value']\r\n)"
            }
          },
          "runAfter": {
            "GET_Task_Assignment_Sales": [
              "Succeeded",
              "Failed"
            ]
          },
          "else": {
            "actions": {
              "Create_a_new_Project_Task": {
                "actions": {
                  "Create_Operation_Set": {
                    "runAfter": {
                      "OData.Type": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "36bdd5c2-a353-40ce-9a24-cf8f863f04f7"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "PerformUnboundAction",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "actionName": "msdyn_CreateOperationSetV1",
                        "item/ProjectId": "@variables('varParameter')?['ProjectGUID']",
                        "item/Description": "Project Assignment Sales - Add new Project Task to existing Project"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "List_Project_Buckets": {
                    "runAfter": {
                      "Create_Operation_Set": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0a29cbd8-cb7b-4b32-9c13-60257fed4e62"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "msdyn_projectbuckets",
                        "$select": "msdyn_projectbucketid,msdyn_name",
                        "$filter": "_msdyn_project_value eq @{variables('varParameter')?['ProjectGUID']}",
                        "$orderby": "modifiedon desc"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Project_Bucket_found": {
                    "actions": {
                      "Existing_Project_Bucket": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "64888e59-1a31-4bf7-9dbc-18687b307dc5"
                        },
                        "type": "Compose",
                        "inputs": "@setProperty(\r\n variables('varParameter'), \r\n 'ProjectBucketGUID', \r\n first(\r\n  outputs('List_Project_Buckets')?['body/value']\r\n )?['msdyn_projectbucketid']\r\n)"
                      },
                      "Update_ProjectBucketGUID_in_varParameter": {
                        "runAfter": {
                          "Existing_Project_Bucket": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "a6ad5038-6e9c-4802-94c7-583b448e3199"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "varParameter",
                          "value": "@outputs('Existing_Project_Bucket')"
                        }
                      },
                      "Append_already_existing_Project_Bucket_to_Log": {
                        "runAfter": {
                          "Update_ProjectBucketGUID_in_varParameter": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "76aef1f7-84c2-4a8c-b5fa-2ae0cb12f38c"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varLog",
                          "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Use already existing Project Bucket '@{first(\r\n  outputs('List_Project_Buckets')?['body/value']\r\n )?['msdyn_name']}' to assign new Project Task. @{decodeUriComponent('%0A')}"
                        }
                      }
                    },
                    "runAfter": {
                      "List_Project_Buckets": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Create_new_Project_Bucket": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "ee5fbef0-8e25-4ac9-9ebe-6a0d16873d91"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "PerformUnboundAction",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "actionName": "msdyn_PssCreateV1",
                              "item/Entity": {
                                "@{outputs('OData.Type')}": "Microsoft.Dynamics.CRM.msdyn_projectbucket",
                                "msdyn_projectbucketid": "@{variables('varParameter')?['ProjectBucketGUID']}",
                                "msdyn_name": "Verkaufschance",
                                "msdyn_project@odata.bind": "/msdyn_projects(@{variables('varParameter')?['ProjectGUID']})"
                              },
                              "item/OperationSetId": "@outputs('Create_Operation_Set')?['body/OperationSetId']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Append_new_Project_Bucket_to_Log": {
                          "runAfter": {
                            "Create_new_Project_Bucket": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c36ce9e2-a75e-4d05-abb4-41540c15a0c5"
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "varLog",
                            "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - New Project Bucket 'Verkaufschance' added to Project to assign new Project Task. @{decodeUriComponent('%0A')}"
                          }
                        }
                      }
                    },
                    "expression": {
                      "and": [
                        {
                          "not": {
                            "equals": [
                              "@empty(outputs('List_Project_Buckets')?['body/value'])",
                              "@true"
                            ]
                          }
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d4c40fc8-6878-4123-8efd-0a318294e376"
                    },
                    "type": "If"
                  },
                  "OData.Type": {
                    "runAfter": {
                      "Check_Operation_Sets": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "9f2fbb59-50c9-4900-8430-885db242f4bd"
                    },
                    "type": "Compose",
                    "inputs": "@{string('@')}odata.type"
                  },
                  "Create_new_Project_Task": {
                    "runAfter": {
                      "Project_Bucket_found": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "23d97e6e-288b-4e27-816c-076371e06c20"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "PerformUnboundAction",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "actionName": "msdyn_PssCreateV1",
                        "item/Entity": {
                          "msdyn_LinkStatus": 192350000,
                          "msdyn_subject": "@{triggerOutputs()?['body/name']}",
                          "@{outputs('OData.Type')}": "Microsoft.Dynamics.CRM.msdyn_projecttask",
                          "msdyn_projecttaskid": "@{variables('varParameter')?['ProjectTaskGUID']}",
                          "msdyn_project@odata.bind": "msdyn_projects(@{variables('varParameter')?['ProjectGUID']})",
                          "msdyn_projectbucket@odata.bind": "msdyn_projectbuckets(@{variables('varParameter')?['ProjectBucketGUID']})",
                          "msdyn_effort": 8,
                          "msdyn_duration": 8,
                          "msdyn_OrganizationalUnitPricingDimension@odata.bind": "businessunits(@{variables('varParameter')?['OrganizationalUnitGUID']})",
                          "msdyn_ResourceCategoryPricingDimension@odata.bind": "bookableresourcecategories(@{variables('varParameter')?['BookableResourceCategoryGUID']})",
                          "hso_projectcategoryid@odata.bind": "hso_projectcategories(@{variables('varParameter')?['ProjectCategoryGUID']})",
                          "msdyn_start": "@{variables('varParameter')?['ProjectTaskStartDate']}"
                        },
                        "item/OperationSetId": "@outputs('Create_Operation_Set')?['body/OperationSetId']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Execute_Operation_Set": {
                    "runAfter": {
                      "Append_new_Project_Task_to_Log": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f484e07e-3658-4ce8-8d32-e397ea2f23c3"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "PerformUnboundAction",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "actionName": "msdyn_ExecuteOperationSetV1",
                        "item/OperationSetId": "@outputs('Create_Operation_Set')?['body/OperationSetId']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Append_new_Project_Task_to_Log": {
                    "runAfter": {
                      "Create_new_Project_Task": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a52ef078-4a2f-4b1b-abf6-98e5b7641e5a"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - New Project Task '' added to Project. @{decodeUriComponent('%0A')}"
                    }
                  },
                  "Append_Execute_Operation_Set_to_Log_[Success]": {
                    "runAfter": {
                      "Execute_Operation_Set": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "5ba83557-f922-4bec-bc2e-5a425c3c0049"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Operation Set successfully executed. @{decodeUriComponent('%0A')}"
                    }
                  },
                  "Append_Execute_Operation_Set_to_Log_[Failure]": {
                    "runAfter": {
                      "Execute_Operation_Set": [
                        "TimedOut",
                        "Failed",
                        "Skipped"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "cd7b6ad6-61cc-47fb-b2a7-b235210bf335"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Executing Operation Set failed. @{decodeUriComponent('%0A')}"
                    }
                  },
                  "Set_varErrorState_for_Operation_Set": {
                    "runAfter": {
                      "Append_Execute_Operation_Set_to_Log_[Failure]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ae2616f5-d976-41ef-b828-929c6281508c"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "varErrorState",
                      "value": true
                    }
                  },
                  "Check_Operation_Sets": {
                    "actions": {
                      "List_unfinished_Operation_Sets": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "46de4d11-f5f6-4464-ac3d-1bf6d3914f3b"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_2",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "msdyn_operationsets",
                            "$filter": "msdyn_status eq 192350000 and msdyn_description eq 'Project Assignment Sales - Add new Project Task to existing Project'"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_unfinished_Operation_Set": {
                        "foreach": "@outputs('List_unfinished_Operation_Sets')?['body/value']",
                        "actions": {
                          "Abandon_unfinished_Operation_Set": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "9b6436a1-9101-4add-a770-0a493a54e5ce"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_2",
                                "operationId": "PerformUnboundAction",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "actionName": "msdyn_AbandonOperationSetV1",
                                "item/OperationSetId": "@item()?['msdyn_operationsetid']"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "List_unfinished_Operation_Sets": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "62a64806-b741-4ead-b935-2df91f5187db"
                        },
                        "type": "Foreach",
                        "runtimeConfiguration": {
                          "concurrency": {
                            "repetitions": 20
                          }
                        }
                      }
                    },
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "fdc55ea8-5f3c-4804-b3ad-c90d2c187db0"
                    },
                    "type": "Scope"
                  }
                },
                "runAfter": {
                  "Append_missing_Task_Assignment_Sales_to_Log": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "b3ceaea6-a8bd-43f6-8292-fc246d262795"
                },
                "type": "Scope"
              },
              "Update_Opportunity_with_created_Project_Task": {
                "actions": {
                  "Update_Opportunity_with_new_Project_Task": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "2d0796ca-133e-4369-bf1e-5559bb51e816"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "opportunities",
                        "recordId": "@triggerOutputs()?['body/opportunityid']",
                        "item/hso_projectTaskSale@odata.bind": "msdyn_projecttasks(@{variables('varParameter')?['ProjectTaskGUID']})"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Append_Update_Opportunity_with_new_Project_Task_to_Log_[Success]": {
                    "runAfter": {
                      "Update_Opportunity_with_new_Project_Task": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "117e8770-83e6-4d10-b595-9234ef0f287e"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Opportunity successfully updated with new Project Task. @{decodeUriComponent('%0A')}"
                    }
                  },
                  "Append_Update_Opportunity_with_new_Project_Task_to_Log_[Failure]": {
                    "runAfter": {
                      "Update_Opportunity_with_new_Project_Task": [
                        "TimedOut",
                        "Skipped",
                        "Failed"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "44ac1141-07f3-4d35-9eca-7047c0382e52"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Updating Opportunity with new Project Task failed. @{decodeUriComponent('%0A')}"
                    }
                  },
                  "Set_varErrorState_for_Opportunity_with_new_Project_Task": {
                    "runAfter": {
                      "Append_Update_Opportunity_with_new_Project_Task_to_Log_[Failure]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "653ac5c4-48e4-4196-8eeb-243a73bb3d81"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "varErrorState",
                      "value": true
                    }
                  }
                },
                "runAfter": {
                  "Create_new_Task_Assignment_Sales": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "c3011113-52a1-4faa-a838-86126ee046cd"
                },
                "type": "Scope"
              },
              "Append_missing_Task_Assignment_Sales_to_Log": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "629a466d-74a5-4396-8bbc-6e2551204dbe"
                },
                "type": "AppendToStringVariable",
                "inputs": {
                  "name": "varLog",
                  "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - No Task Assignment Sales found for combination of Opportunity and Cost Center. Proceed by creating a new Project Task. @{decodeUriComponent('%0A')}"
                }
              },
              "Create_new_Task_Assignment_Sales": {
                "actions": {
                  "Create_Task_Assignment_Sales": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "253b9225-e95a-4053-8bf7-a94a1d93ea3e"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "hso_taskassignmentssaleses",
                        "item/hso_name": "@triggerOutputs()?['body/name']",
                        "item/hso_projectAssignmentsSale@odata.bind": "hso_taskassignmentssaleses(@{variables('varParameter')?['ProjectAssignmentSalesGUID']})",
                        "item/hso_projectTask@odata.bind": "msdyn_projecttasks(@{variables('varParameter')?['ProjectTaskGUID']})",
                        "item/hso_opportunity@odata.bind": "opportunities(@{triggerOutputs()?['body/opportunityid']})"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Append_Create_Task_Assignment_Sales_to_Log_[Success]": {
                    "runAfter": {
                      "Create_Task_Assignment_Sales": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "74fb2187-79f4-407d-a5f7-6bf1586adbac"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Task Assignment Sales successfully created. @{decodeUriComponent('%0A')}"
                    }
                  },
                  "Append_Create_Task_Assignment_Sales_to_Log_[Failure]": {
                    "runAfter": {
                      "Create_Task_Assignment_Sales": [
                        "TimedOut",
                        "Failed",
                        "Skipped"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "23ae8047-21c2-495f-a4bb-bd3142e28acc"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Creating new Task Assignment Sales failed. @{decodeUriComponent('%0A')}"
                    }
                  },
                  "Set_varErrorState_for_Task_Assignment_Sales": {
                    "runAfter": {
                      "Append_Create_Task_Assignment_Sales_to_Log_[Failure]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f3c5cec3-8de0-4b20-85ba-cbf4eee6932c"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "varErrorState",
                      "value": true
                    }
                  }
                },
                "runAfter": {
                  "Delay_for_1_Minute": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "8327445c-711c-423a-95b3-63f90a61faf9"
                },
                "type": "Scope"
              },
              "Transfer_UO_Project_WBS": {
                "actions": {
                  "Execute_Action_to_Transfer_WBS_to_Project": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "c6853ee4-ba81-483b-adca-f51824a1fb2e"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_dynamicsax",
                        "operationId": "ExecuteProcedure",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_dynamicsax"
                      },
                      "parameters": {
                        "dataset": "@parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')",
                        "procedure": "CEProjectTasks/Microsoft.Dynamics.DataEntities.transferWbsToProject",
                        "parameters/_projId": "@variables('varParameter')?['ProjectNumber']",
                        "parameters/_dataAreaId": "@toLower(\r\n variables('varParameter')?['CompanyName']\r\n)"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Condition": {
                    "actions": {
                      "Append_Transfer_WBS_to_Project_to_Log_[Success]": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "77224801-c3ca-40e6-9bd2-31a6b4ed4e34"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varLog",
                          "value": "[INF] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - CE Project Tasks successfully transferred to FinOps Project WBS. @{decodeUriComponent('%0A')}"
                        }
                      }
                    },
                    "runAfter": {
                      "Execute_Action_to_Transfer_WBS_to_Project": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Append_Transfer_WBS_to_Project_to_Log_[Failure]": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "2bd7338b-bf07-44a2-889d-34fb6c3433a6"
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "varLog",
                            "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Transferring CE Project Tasks to FinOps Project WBS failed. @{decodeUriComponent('%0A')}"
                          }
                        },
                        "Set_varErrorState_for_Transfer_WBS_to_Project": {
                          "runAfter": {
                            "Append_Transfer_WBS_to_Project_to_Log_[Failure]": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "27d5e2ea-4c17-41f0-a717-0a64cf5bae3c"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varErrorState",
                            "value": true
                          }
                        }
                      }
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@outputs('Execute_Action_to_Transfer_WBS_to_Project')?['body/OutputParameters/value']",
                            "OK"
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "55615f35-a7d3-4187-946b-16652c19f06e"
                    },
                    "type": "If"
                  },
                  "Append_Transfer_WBS_to_Project_Timeout_to_Log_[Failure]": {
                    "runAfter": {
                      "Execute_Action_to_Transfer_WBS_to_Project": [
                        "TimedOut",
                        "Skipped",
                        "Failed"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1dd359d2-e962-4534-999f-2462a219ae48"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{formatDateTime(utcNow(), 'HH:mm:ss')}] - Transferring CE Project Tasks to FinOps Project WBS timed out. @{decodeUriComponent('%0A')}"
                    }
                  },
                  "Set_varErrorState_for_Transfer_WBS_to_Project_Timeout": {
                    "runAfter": {
                      "Append_Transfer_WBS_to_Project_Timeout_to_Log_[Failure]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ac1693a6-40b8-4bae-8a81-f5fe2ba55497"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "varErrorState",
                      "value": true
                    }
                  }
                },
                "runAfter": {
                  "Delay_for_1_Minute": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ee812d2b-18fb-48d8-beb1-1de051d561d5"
                },
                "type": "Scope"
              },
              "Delay_for_1_Minute": {
                "runAfter": {
                  "Create_a_new_Project_Task": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "f4ea19dc-1396-4e42-838e-2cb7bad29efc"
                },
                "type": "Wait",
                "inputs": {
                  "interval": {
                    "count": 1,
                    "unit": "Minute"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@empty(outputs('GET_Task_Assignment_Sales')?['body/_hso_projecttask_value'])",
                    "@true"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "61d324f7-d2a8-4199-92e1-6c1faa8f3886"
          },
          "type": "If"
        },
        "Summary": {
          "actions": {
            "Processing_successfully": {
              "actions": {
                "Create_Processing_Log_[Success]": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d5908b9f-0c56-4b3d-baa4-7e459a0863d4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "hso_processinglogs",
                      "item/hso_name": "Projektzuweisung Vertrieb",
                      "item/hso_end_datetime": "@utcNow()",
                      "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                      "item/hso_log": "@variables('varLog')",
                      "item/ownerid@odata.bind": "systemusers(@{triggerOutputs()?['body/_modifiedby_value']})",
                      "item/hso_processingstatus": 100000002,
                      "item/hso_start_datetime": "@variables('varParameter')?['ProcessingStartDateTime']",
                      "item/hso_processingtask": 867520002
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Create_Processing_Log_[Failure]": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "d6317494-5f9d-4f8f-a9ed-e821b0528ea2"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "item/hso_name": "Projektzuweisung Vertrieb",
                        "item/hso_end_datetime": "@utcNow()",
                        "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                        "item/hso_log": "@variables('varLog')",
                        "item/ownerid@odata.bind": "systemusers(@{triggerOutputs()?['body/_modifiedby_value']})",
                        "item/hso_processingstatus": 100000003,
                        "item/hso_start_datetime": "@variables('varParameter')?['ProcessingStartDateTime']",
                        "item/hso_processingtask": 867520002
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('varErrorState')",
                      "@false"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "961c3e8c-8dcd-4cc5-ab60-df90632532c7"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Task_Assignment_Sales_already_existing": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ],
            "Set_varErrorState_for_Project_Assignment_Sales": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "1edd19a6-a5b7-4f27-a447-8f3b74776d3c"
          },
          "type": "Scope"
        },
        "Initialize_varErrorState": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0bbd40d3-515f-46b9-bf88-6f2be5b9bbea"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorState",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Set_varErrorState_for_Project_Assignment_Sales": {
          "runAfter": {
            "Append_Project_Assignment_Sales_to_Log_[Failure]": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "052e64ad-3e00-45c0-b134-24b9e0e890a6"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "varErrorState",
            "value": true
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}