ETOCore/Workflows/PAAUTOBookableResourceResourceRoles-E999879B-DCD7-EE11-904D-000D3AB3C80C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "timeZone": "W. Europe Standard Time",
            "startTime": "2024-03-03T01:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "f6d15ce1-3bb7-4fca-80e9-63af9a414f81"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_varProjectResourceRoles": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "75a0167e-889d-4dbd-b9c2-6b7d30a959f4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProjectResourceRoles",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varBukableResource": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2306f9f4-d822-44b1-88a4-b526546eb0bd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varBukableResources",
                "type": "array"
              }
            ]
          }
        },
        "Update_Roles_CE": {
          "actions": {
            "Get_Projectresource_Roles": {
              "runAfter": {
                "Placeholder": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b400299f-0176-45e2-93fa-7a0200fffabc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mserp_resresourcecategorysetupdataentities",
                  "$select": "mserp_resourceid,mserp_roleid"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Bookable_Resource": {
              "runAfter": {
                "Placeholder": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0766f9b9-36cd-4e36-a7ee-5cbee5f17f70"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bookableresources",
                  "$select": "name, hso_personnelnumber_str, bookableresourceid"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Placeholder": {
              "actions": {},
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5098df1e-5a32-48ce-81ea-6c36897cbb25"
              },
              "type": "Scope"
            },
            "Get_Resource_Category": {
              "runAfter": {
                "Placeholder": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4158b1aa-63c0-40ed-b0c5-0fc6721fbc2d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bookableresourcecategories",
                  "$select": "name,hso_kategorieid,bookableresourcecategoryid"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Bookable_Resource_Category": {
              "runAfter": {
                "Placeholder": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7fcedb29-fda8-4600-8eee-59afaa796806"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bookableresourcecategoryassns",
                  "$expand": "\n\n"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_Bookable_Resource_Category": {
              "foreach": "@outputs('Get_Bookable_Resource_Category')?['body/value']",
              "actions": {
                "Append_to_varBookableResourceCategory": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5e04d05d-e87a-472d-ab7f-7e4fe737719d"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varBookableResourceCategory",
                    "value": {
                      "name": "@items('Apply_to_each_Bookable_Resource_Category')?['name']",
                      "resource": "@items('Apply_to_each_Bookable_Resource_Category')?['_resource_value']",
                      "resourcecategory": "@items('Apply_to_each_Bookable_Resource_Category')?['_resourcecategory_value']",
                      "resourcecategory_name": "@items('Apply_to_each_Bookable_Resource_Category')?['hso_resourcecategory_name_calc']",
                      "BookableResourceCategoryAssnId": "@items('Apply_to_each_Bookable_Resource_Category')?['bookableresourcecategoryassnid']",
                      "isdefault": "@items('Apply_to_each_Bookable_Resource_Category')?['msdyn_isdefault']"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Bookable_Resource_Category": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "be9da6c4-da8d-4497-888b-70e7c1cf6888"
              },
              "type": "Foreach"
            },
            "Apply_to_each_Resource_Category": {
              "foreach": "@outputs('Get_Resource_Category')?['body/value']",
              "actions": {
                "Append_to_varResourceCategory": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "438ccbef-56d2-4ec9-8fe1-c0b1c8cd0443"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varResourceCategory",
                    "value": {
                      "name": "@items('Apply_to_each_Resource_Category')?['name']",
                      "categoryid": "@items('Apply_to_each_Resource_Category')?['hso_kategorieid']",
                      "resourcecategoryid": "@items('Apply_to_each_Resource_Category')?['bookableresourcecategoryid']"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Resource_Category": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f8637f38-093e-44d8-afc9-c8424f97b088"
              },
              "type": "Foreach"
            },
            "Apply_to_each_Bookable_Resource": {
              "foreach": "@outputs('Get_Bookable_Resource')?['body/value']",
              "actions": {
                "Append_to_varBookableResource": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "31c471f8-d207-4a40-be4b-6c7addeda50e"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varBukableResources",
                    "value": {
                      "name": "@items('Apply_to_each_Bookable_Resource')?['name']",
                      "personalnummer": "@items('Apply_to_each_Bookable_Resource')?['hso_personnelnumber_str']",
                      "bookableresourceid": "@items('Apply_to_each_Bookable_Resource')?['bookableresourceid']"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Bookable_Resource": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1ef2858b-e39e-497d-ad65-72ca28ed5202"
              },
              "type": "Foreach"
            },
            "Apply_to_each_Bookable_Resource_[CE_Update]": {
              "foreach": "@outputs('Get_Bookable_Resource')?['body/value']",
              "actions": {
                "Placeholder_(filter_Roles)": {
                  "actions": {},
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f282fbe1-0256-4044-b76e-94e8c27df44f"
                  },
                  "type": "Scope"
                },
                "Filter_Projectresource_Roles_(from_FO)_": {
                  "runAfter": {
                    "Placeholder_(filter_Roles)": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a4873115-1719-4944-9beb-cfdbd2672eac"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('varProjectResourceRoles')",
                    "where": "@equals(item()['personnelnumber'], items('Apply_to_each_Bookable_Resource_[CE_Update]')?['hso_personnelnumber_str'])"
                  }
                },
                "Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_Yes)": {
                  "runAfter": {
                    "Placeholder_(filter_Roles)": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "974e15cb-8812-4ded-9caf-9fbad07b0ac9"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('varBookableResourceCategory')",
                    "where": "@and(\nequals(item()['resource'], items('Apply_to_each_Bookable_Resource_[CE_Update]')?['bookableresourceid']),\nequals(item()['isdefault'],true)\n)"
                  }
                },
                "Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_No)": {
                  "runAfter": {
                    "Placeholder_(filter_Roles)": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "974e15cb-8812-4ded-9caf-9fbad07b0ac9"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('varBookableResourceCategory')",
                    "where": "@and(\nequals(item()['resource'], items('Apply_to_each_Bookable_Resource_[CE_Update]')?['bookableresourceid']),\nequals(item()['isdefault'],false)\n)"
                  }
                },
                "Filter_Bokable_Resource_Category_(FO_and_CE)": {
                  "runAfter": {
                    "Is_Role_FO_Null": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "974e15cb-8812-4ded-9caf-9fbad07b0ac9"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('varBookableResourceCategory')",
                    "where": "@and(\nequals(item()['resource'], items('Apply_to_each_Bookable_Resource_[CE_Update]')?['bookableresourceid']),\nequals(item()['resourcecategory_name'], variables('varRoleFO'))\n)"
                  }
                },
                "Is_varRoleFo_not_equals_varRoleCE": {
                  "actions": {},
                  "runAfter": {
                    "Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_No)": [
                      "Succeeded"
                    ],
                    "Filter_Bokable_Resource_Category_(FO_and_CE)": [
                      "Succeeded"
                    ],
                    "Is_Role_CE_Null": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Is_varRole_FO_(Null)": {
                        "actions": {
                          "VarRoleCE_IS_NOT_Null_and_varRoleFO_IS_Null": {
                            "actions": {
                              "Delete_Bookable_Resource_Category": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "bd8230f8-b1af-4de6-9c93-b01ca91f4e4e"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps-1",
                                    "operationId": "DeleteRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "bookableresourcecategoryassns",
                                    "recordId": "@body('Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_Yes)')[0]['BookableResourceCategoryAssnId']"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Is_Bokable_Resource_Category_(CE_-_IsDefault_-_No)_Not_Null": {
                                "actions": {
                                  "Apply_to_each_Bookable_Resource_Category_[Old_Roles]": {
                                    "foreach": "@body('Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_No)')",
                                    "actions": {
                                      "Delete_Bookable_Resource_Category_[Old_Role]": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "ff93885b-069f-4d1c-a35c-051c7edf0610"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps-1",
                                            "operationId": "DeleteRecord",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "bookableresourcecategoryassns",
                                            "recordId": "@items('Apply_to_each_Bookable_Resource_Category_[Old_Roles]')[0]['BookableResourceCategoryAssnId']"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      }
                                    },
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "8e47d4b6-f703-4b89-b14d-8e50a4cbe986"
                                    },
                                    "type": "Foreach"
                                  }
                                },
                                "runAfter": {
                                  "Delete_Bookable_Resource_Category": [
                                    "Succeeded"
                                  ]
                                },
                                "expression": {
                                  "greater": [
                                    "@length(body('Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_No)'))",
                                    0
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "018ce8c5-d1de-44fb-a710-bdf7b65bdae5"
                                },
                                "type": "If"
                              }
                            },
                            "runAfter": {},
                            "expression": {
                              "not": {
                                "equals": [
                                  "@length(variables('varRoleCE'))",
                                  0
                                ]
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "2373ecd6-cf42-4d53-89ed-c2c74d949438"
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {},
                        "else": {
                          "actions": {
                            "Is_varRoleCE_(Null)": {
                              "actions": {
                                "Resource_Category": {
                                  "actions": {
                                    "Create_Bookable_Resource_Category_(Is_Default_-_Yes)": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "9bd5e4f7-1f12-477b-aa5c-10df7efba062"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps-1",
                                          "operationId": "CreateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "bookableresourcecategoryassns",
                                          "item/msdyn_isdefault": true,
                                          "item/Resource@odata.bind": "bookableresources(@{items('Apply_to_each_Bookable_Resource_[CE_Update]')?['bookableresourceid']})",
                                          "item/ResourceCategory@odata.bind": "bookableresourcecategories(@{body('Filter_Resource_Category_(CE)')[0]['resourcecategoryid']})"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Filter_Resource_Category_(CE)": [
                                      "Succeeded"
                                    ]
                                  },
                                  "expression": {
                                    "greater": [
                                      "@length(body('Filter_Resource_Category_(CE)'))",
                                      0
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "b47d27f0-f76d-456b-8412-3e1bc9d554c9"
                                  },
                                  "type": "If"
                                },
                                "Filter_Resource_Category_(CE)": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "03e478ef-38e7-4cf6-84f7-9009d97d157a"
                                  },
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@variables('varResourceCategory')",
                                    "where": "@equals(item()['categoryid'], variables('varRoleFO'))"
                                  }
                                }
                              },
                              "runAfter": {},
                              "else": {
                                "actions": {
                                  "Delete_Bookable_Resource_Category_[CE]": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "0d2ec05e-f42a-4b08-bfa4-286fc0fa8de8"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps-1",
                                        "operationId": "DeleteRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "bookableresourcecategoryassns",
                                        "recordId": "@body('Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_Yes)')[0]['BookableResourceCategoryAssnId']"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Filter_Resource_Category_(CE)_2": {
                                    "runAfter": {
                                      "Is_Old_Roles_not_Null_[Update]": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "03e478ef-38e7-4cf6-84f7-9009d97d157a"
                                    },
                                    "type": "Query",
                                    "inputs": {
                                      "from": "@variables('varResourceCategory')",
                                      "where": "@equals(item()['categoryid'], variables('varRoleFO'))"
                                    }
                                  },
                                  "Is_Old_Roles_not_Null_[Update]": {
                                    "actions": {
                                      "Apply_to_each_Bookable_Resource_Category_[CE_Old_Roles]": {
                                        "foreach": "@body('Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_No)')",
                                        "actions": {
                                          "Delete_Bookable_Resource_Category_[CE_Old_Role]": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "ac23fd37-02b2-48fd-b5c5-cd5eed9bbf29"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_commondataserviceforapps-1",
                                                "operationId": "DeleteRecord",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                              },
                                              "parameters": {
                                                "entityName": "bookableresourcecategoryassns",
                                                "recordId": "@items('Apply_to_each_Bookable_Resource_Category_[CE_Old_Roles]')[0]['BookableResourceCategoryAssnId']"
                                              },
                                              "authentication": "@parameters('$authentication')"
                                            }
                                          }
                                        },
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "f9d1d892-fdbb-4014-8c44-09edf400f2ba"
                                        },
                                        "type": "Foreach"
                                      }
                                    },
                                    "runAfter": {
                                      "Delete_Bookable_Resource_Category_[CE]": [
                                        "Succeeded"
                                      ]
                                    },
                                    "expression": {
                                      "greater": [
                                        "@length(body('Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_No)'))",
                                        0
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "878f9062-ae3d-40eb-bb82-c6a9a23e33c4"
                                    },
                                    "type": "If"
                                  }
                                }
                              },
                              "expression": {
                                "equals": [
                                  "@length(variables('varRoleCE'))",
                                  0
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "f311f1c5-55ff-4a72-95ec-78869400c552"
                              },
                              "type": "If"
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                            "@length(variables('varRoleFO'))",
                            0
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "2a22c252-9dfb-4539-8796-18970c9a7894"
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('varRoleFO')",
                      "@variables('varRoleCE')"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "87d0bfcc-0de9-4241-a560-9c43bdfbc090"
                  },
                  "type": "If"
                },
                "Is_Role_CE_Null": {
                  "actions": {
                    "Set_varRoleCE_(Null)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "73accd3d-aa88-431c-9853-2718c3680cf2"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varRoleCE",
                        "value": "@{null}"
                      }
                    }
                  },
                  "runAfter": {
                    "Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_Yes)": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Set_varRoleCE_(Value)": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "f8a94b1e-64f0-4118-8757-de1ce55fd5e7"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "varRoleCE",
                          "value": "@{body('Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_Yes)')[0]['resourcecategory_name']}"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@length(body('Filter_Bokable_Resource_Category_(CE_-_IsDefault_-_Yes)'))",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "886eb635-4e29-4177-9eb3-7db2df2b2f38"
                  },
                  "type": "If"
                },
                "Is_Role_FO_Null": {
                  "actions": {
                    "Set_varRoleFO_(Null)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3825736a-b3c3-4ef3-a51b-93ff14a4d7e9"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varRoleFO",
                        "value": "@{null}"
                      }
                    }
                  },
                  "runAfter": {
                    "Filter_Projectresource_Roles_(from_FO)_": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Set_varRoleFO_(Value)": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "37cd4d0b-d206-4cb2-9c11-82dfa8fd7f8a"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "varRoleFO",
                          "value": "@{body('Filter_Projectresource_Roles_(from_FO)_')[0]['role']}"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@length(body('Filter_Projectresource_Roles_(from_FO)_'))",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "03c055c0-ae25-4dd7-b55c-624e150e8210"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Apply_to_each_Bookable_Resource": [
                  "Succeeded"
                ],
                "Apply_to_each_Bookable_Resource_Category": [
                  "Succeeded"
                ],
                "Apply_to_each_Resource_Category": [
                  "Succeeded"
                ],
                "Apply_to_each_Projectresource_Roles_[FO]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f4526976-415a-46ac-ba2f-3a904f560c39"
              },
              "type": "Foreach"
            },
            "Apply_to_each_Projectresource_Roles_[FO]": {
              "foreach": "@outputs('Get_Projectresource_Roles')?['body/value']",
              "actions": {
                "Append_to_varProjectResourceRoles": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "31c471f8-d207-4a40-be4b-6c7addeda50e"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varProjectResourceRoles",
                    "value": {
                      "personnelnumber": "@items('Apply_to_each_Projectresource_Roles_[FO]')?['mserp_resourceid']",
                      "role": "@items('Apply_to_each_Projectresource_Roles_[FO]')?['mserp_roleid']"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Projectresource_Roles": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8bbd2c97-6851-4cfd-8756-493e47b0f710"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_varRoleFO": [
              "Succeeded"
            ],
            "Initialize_varRoleCE": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f0c53148-bbda-425c-a484-99104f36b860"
          },
          "type": "Scope"
        },
        "Initialize_varBookableResourceCategory": {
          "runAfter": {
            "Initialize_varBukableResource": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0b0be332-56f7-4114-972e-40b3fb26be9b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varBookableResourceCategory",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varResourceCategory": {
          "runAfter": {
            "Initialize_varProjectResourceRoles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1a11c8b7-eb66-4fa0-96f2-f362cab54c74"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varResourceCategory",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varRoleFO": {
          "runAfter": {
            "Initialize_varResourceCategory": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "75018a16-fe83-475a-9e62-4aeefbb0ffd6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varRoleFO",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_varRoleCE": {
          "runAfter": {
            "Initialize_varBookableResourceCategory": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6ff0c7b9-0ff6-4782-a1d5-02ac10f70091"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varRoleCE",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}