ETOCore/Workflows/PAAUTOCalculationCreationCHILD-CopyMetalpricesforn-5037BDA9-E4F1-EE11-904B-002248A1BFFC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-d365-ETO-int-11.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance",
            "description": "The Dataverse Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "The GUID of the Calculation that has been created",
                  "title": "Calculation",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "The GUID of the Processing Log for the Parent Flow",
                  "title": "Processing Log",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "The Name of the Calculation",
                  "title": "Calculation Name",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "The User that initiated the process",
                  "title": "Process Owner",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_varNumberOfCalculationMetalprice_ToProcess": {
          "runAfter": {
            "Initialize_varMetalPrices": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "99dd8e6c-e9f0-49b7-a0f4-f76515b6ff6d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationMetalprice_ToProcess",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varNumberOfCalculationMetalprice_Processed": {
          "runAfter": {
            "Initialize_varNumberOfCalculationMetalprice_ToProcess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "658ed88f-d779-4efa-839f-73c4a5a98782"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfCalculationMetalprice_Processed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varErrorMessage": {
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b4ebf231-4b62-467b-9a38-a2e6c3aabb02"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_varProcessingStatus": {
          "runAfter": {
            "Initialize_varErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d9778e51-3398-4861-8a53-96a310365863"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProcessingStatus",
                "type": "string",
                "value": "Pending"
              }
            ]
          }
        },
        "Initialize_varMetalPrices": {
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "77ef9b1e-6e14-470b-b84a-f9030fda2bab"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varMetalPrices",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varOdataType": {
          "runAfter": {
            "Initialize_varNumberOfCalculationMetalprice_Processed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b55f9086-5bc2-42d3-b045-19fb1ca43941"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varOdataType",
                "type": "string",
                "value": "@{string('@')}odata.type"
              }
            ]
          }
        },
        "Processing_Log": {
          "actions": {
            "Convert_time_zone": {
              "metadata": {
                "operationMetadataId": "1d7e37f7-559a-4f50-bc57-01f763122a7d"
              },
              "type": "Expression",
              "kind": "ConvertTimeZone",
              "inputs": {
                "baseTime": "@{utcNow()}",
                "sourceTimeZone": "UTC",
                "destinationTimeZone": "W. Europe Standard Time",
                "formatString": "u"
              }
            },
            "Create_ProcessingLog": {
              "runAfter": {
                "Convert_time_zone": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "583bb732-af43-4291-8f90-eca0300b6094"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "Kalkulation Metallpreise erstellen - @{body('Convert_time_zone')}",
                  "item/hso_processingtask": 100000010,
                  "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['text_3']})",
                  "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])\n",
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_parentprocessinglogid@odata.bind": "hso_processinglogs(@{triggerBody()?['text_1']})",
                  "item/hso_processingstatus": 100000001
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps_2"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_varProcessingStatus": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "409d2758-64c3-4936-9496-aa8eaf19b944"
          },
          "type": "Scope"
        },
        "Fetch_Information": {
          "actions": {
            "GET_Metalprices": {
              "runAfter": {
                "Append_Fetch_Metalprices_to_varLog": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "request/method": "GET",
                  "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_metalprices?$filter=hso_validfrom le @{formatDateTime(utcNow(), 'yyyy-MM-dd')} and hso_validto ge 2154-12-31&$select=hso_currentcost,hso_metallabelid,hso_metalpriceid,hso_name,hso_quantity,_hso_metallabelid_value,_hso_uomid_value,hso_validfrom,hso_validto&$expand=hso_metallabelid($select=hso_name,hso_metallabelid,hso_purchasecostpercentage)",
                  "request/headers": {
                    "OData-MaxVersion": "4.0",
                    "OData-Version": "4.0",
                    "Accept": "application/json"
                  }
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                  "operationId": "InvokeHttp",
                  "connectionName": "shared_webcontents"
                }
              }
            },
            "Parse_JSON_from_Metalprices_Response": {
              "runAfter": {
                "GET_Metalprices": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('GET_Metalprices')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "@@odata.etag": {
                            "type": "string"
                          },
                          "hso_currentcost": {
                            "type": "number"
                          },
                          "hso_metalpriceid": {
                            "type": "string"
                          },
                          "hso_name": {
                            "type": "string"
                          },
                          "hso_quantity": {
                            "type": "integer"
                          },
                          "_hso_metallabelid_value": {
                            "type": "string"
                          },
                          "_hso_uomid_value": {
                            "type": "string"
                          },
                          "hso_validfrom": {
                            "type": "string"
                          },
                          "hso_validto": {
                            "type": "string"
                          },
                          "_transactioncurrencyid_value": {
                            "type": "string"
                          },
                          "hso_metallabelid": {
                            "type": "object",
                            "properties": {
                              "hso_name": {
                                "type": "string"
                              },
                              "hso_metallabelid": {
                                "type": "string"
                              },
                              "hso_purchasecostpercentage": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "required": [
                          "@@odata.etag",
                          "hso_currentcost",
                          "hso_metalpriceid",
                          "hso_name",
                          "hso_quantity",
                          "_hso_metallabelid_value",
                          "_hso_uomid_value",
                          "hso_validfrom",
                          "hso_validto",
                          "_transactioncurrencyid_value",
                          "hso_metallabelid"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Select_required_fields_to_create_Calculation_Metalprices": {
              "runAfter": {
                "Parse_JSON_from_Metalprices_Response": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Parse_JSON_from_Metalprices_Response')?['value']",
                "select": {
                  "@{variables('varOdataType')}": "#Microsoft.Dynamics.CRM.hso_calculationmetalprice",
                  "hso_name": "@item()?['hso_name']",
                  "hso_calculationid@odata.bind": "/hso_calculations(@{triggerBody()?['text']})",
                  "hso_purchasecostpercentage": "@item()?['hso_metallabelid']?['hso_purchasecostpercentage']",
                  "hso_quantity": "@item()?['hso_quantity']",
                  "hso_metallabelid@odata.bind": "/hso_metallabels(@{item()?['_hso_metallabelid_value']})",
                  "hso_currentcost": "@item()?['hso_currentcost']",
                  "hso_metalpriceid@odata.bind": "/hso_metalprices(@{item()?['hso_metalpriceid']})",
                  "hso_uomid@odata.bind": "/uoms(@{item()?['_hso_uomid_value']})"
                }
              }
            },
            "Set_Metalprices_To_Process": {
              "runAfter": {
                "Select_required_fields_to_create_Calculation_Metalprices": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varNumberOfCalculationMetalprice_ToProcess",
                "value": "@length(body('Parse_JSON_from_Metalprices_Response')?['value'])"
              }
            },
            "Append_Fetch_Metalprices_to_varLog": {
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - Fetch current Metalprices (now valid) @{decodeUriComponent('%0A')}"
              }
            },
            "Append_retrieved_Metalprices_to_varLog": {
              "runAfter": {
                "Select_required_fields_to_create_Calculation_Metalprices": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - @{length(body('Parse_JSON_from_Metalprices_Response')?['value'])} Metalprices retrieved \n[INF] - [@{utcNow()}] - Start adding the Metalprices to Calculation @{decodeUriComponent('%0A')}"
              }
            }
          },
          "runAfter": {
            "Initialize_varOdataType": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eb4a84e1-5454-4659-b5a9-b46d4debbcb0"
          },
          "type": "Scope"
        },
        "Create_Metalprices": {
          "actions": {
            "Set_varNumberOfCalculationMetalprice_Processed_[Succes]": {
              "runAfter": {
                "Create_Calculation_Metalprices": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "45224d07-8896-4df3-9ddf-74707077f0c7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varNumberOfCalculationMetalprice_Processed",
                "value": "@length(body('Create_Calculation_Metalprices')?['Ids'])"
              }
            },
            "Create_Calculation_Metalprices": {
              "metadata": {
                "operationMetadataId": "4438185f-03c8-4577-adbe-8605de27e523"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "request/method": "POST",
                  "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationmetalprices/Microsoft.Dynamics.CRM.CreateMultiple",
                  "request/headers": {
                    "OData-MaxVersion": "4.0",
                    "OData-Version": "4.0",
                    "If-None-Match": "null",
                    "Accept": "application/json",
                    "Content-Type": "application/json; charset=utf-8"
                  },
                  "request/body": "{\n \"Targets\": @{body('Select_required_fields_to_create_Calculation_Metalprices')}\n}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                  "operationId": "InvokeHttp",
                  "connectionName": "shared_webcontents"
                }
              }
            },
            "Append_Create_Calculation_Metalprices_to_varLog_[Success]": {
              "runAfter": {
                "Create_Calculation_Metalprices": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - @{length(body('Create_Calculation_Metalprices')?['Ids'])} Metalprices successfully added to Calculation @{decodeUriComponent('%0A')}"
              }
            }
          },
          "runAfter": {
            "Fetch_Information": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cf5e2b12-3bba-49ca-9fd0-ab186bae6859"
          },
          "type": "Scope"
        },
        "Create_Calculation_Metalprices_-_Error": {
          "actions": {
            "Filter_Results_for_failed_actions": {
              "metadata": {
                "operationMetadataId": "0ab2afbf-64ea-418d-bd9d-65a6863a7bc8"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Create_Metalprices')",
                "where": "@equals(item()['status'], 'Failed')"
              }
            },
            "Select_Error_Summary": {
              "runAfter": {
                "Filter_Results_for_failed_actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2822f992-45ab-4420-9e3d-d0fa0fd973eb"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_Results_for_failed_actions')",
                "select": {
                  "Action": "@item()?['name']",
                  "Code": "@item()?['code']",
                  "Status": "@item()?['status']",
                  "StatusCode": "@item()?['outputs']?['statusCode']",
                  "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')"
                }
              }
            },
            "Apply_to_each_Error_Summary_[Calculation_Metalprices]": {
              "foreach": "@body('Select_Error_Summary')",
              "actions": {
                "Append_Error_Summary": {
                  "metadata": {
                    "operationMetadataId": "3469f5c1-3721-49c6-9282-101e18f85d47"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varError",
                    "value": "@items('Apply_to_each_Error_Summary_[Calculation_Metalprices]')"
                  }
                }
              },
              "runAfter": {
                "Select_Error_Summary": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "11651d04-deed-4450-9f4d-c1cc2e8adda5"
              },
              "type": "Foreach"
            },
            "Set_varNumberOfCalculationMetalprice_Processed_[Error]": {
              "runAfter": {
                "List_Created_Calculation_Metalprices": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6661bcfe-590a-40c6-869f-461541b60aad"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varNumberOfCalculationMetalprice_Processed",
                "value": "@length(outputs('List_Created_Calculation_Metalprices')?['body/value'])"
              }
            },
            "List_Created_Calculation_Metalprices": {
              "runAfter": {
                "Apply_to_each_Error_Summary_[Calculation_Metalprices]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "07b0aa44-5f09-42a2-b6ac-ecd1089a9389"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_calculationmetalprices",
                  "$filter": "_hso_calculationid_value eq @{triggerOutputs()?['body/hso_calculationid']}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Append_Create_Calculation_Metalprices_to_varLog_[Error]": {
              "runAfter": {
                "List_Created_Calculation_Metalprices": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - Error when creating the Calculation Metalprices. @{length(outputs('List_Created_Calculation_Metalprices')?['body/value'])} of @{variables('varNumberOfCalculationMetalprice_ToProcess')} Metalprices created. \n[ERR] - [@{utcNow()}] - Error: @{variables('varErrorMessage')} @{decodeUriComponent('%0A')}"
              }
            }
          },
          "runAfter": {
            "Create_Metalprices": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "98bd011c-c174-4fa8-87c3-b7edaecadcae"
          },
          "type": "Scope"
        },
        "Summary": {
          "actions": {
            "Parse_JSON_[NEU]": {
              "metadata": {
                "operationMetadataId": "b769deed-a8c4-494a-a92f-2be1a1eb92c7"
              },
              "type": "ParseJson",
              "inputs": {
                "content": {
                  "link": {
                    "actions": [
                      {
                        "title": "Kalkulationsversion anzeigen",
                        "data": {
                          "url": "?pagetype=entityrecord&etn=hso_calculation&id=@{triggerBody()?['text']}",
                          "navigationTarget": "inline"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "navigationTarget": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "title",
                              "data"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "All_Metalprice_created_for_Calculation": {
              "actions": {
                "Update_Processing_Log_[Success]": {
                  "runAfter": {
                    "Finish_varLog_with_Success": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dfa8137d-a012-4ba8-97ee-11968a11a8be"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_processinglogs",
                      "recordId": "@outputs('Create_ProcessingLog')?['body/hso_processinglogid']",
                      "item/hso_end_datetime": "@utcNow()",
                      "item/hso_calculationmetalprice_actual": "@variables('varNumberOfCalculationMetalprice_Processed')",
                      "item/hso_calculationmetalprice_target": "@variables('varNumberOfCalculationMetalprice_ToProcess')",
                      "item/hso_log": "@variables('varLog')",
                      "item/hso_processingstatus": 100000002
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "Respond_to_Parent_Flow_[Success]": {
                  "type": "Response",
                  "kind": "PowerApp",
                  "inputs": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "outcome": {
                          "title": "Outcome",
                          "type": "string",
                          "x-ms-content-hint": "TEXT",
                          "x-ms-dynamically-added": true
                        },
                        "metalprices_to process": {
                          "title": "Metalprices To Process",
                          "type": "number",
                          "x-ms-content-hint": "NUMBER",
                          "x-ms-dynamically-added": true
                        },
                        "metalprices_processed": {
                          "title": "Metalprices Processed",
                          "type": "number",
                          "x-ms-content-hint": "NUMBER",
                          "x-ms-dynamically-added": true
                        },
                        "error_message": {
                          "title": "Error Message",
                          "type": "string",
                          "x-ms-content-hint": "TEXT",
                          "x-ms-dynamically-added": true
                        }
                      },
                      "additionalProperties": {}
                    },
                    "statusCode": 200,
                    "body": {
                      "outcome": "Success",
                      "metalprices_to process": "@variables('varNumberOfCalculationMetalprice_ToProcess')",
                      "metalprices_processed": "@variables('varNumberOfCalculationMetalprice_Processed')",
                      "error_message": "@null"
                    }
                  }
                },
                "Send_inApp_Notification_[Success]": {
                  "actions": {
                    "Create_inApp_Notification_[Succes]": {
                      "metadata": {
                        "operationMetadataId": "d3c66f90-c2c7-4215-9a89-1c1f6cb872c5"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "appnotifications",
                          "item/title": "Metallpreise erstellt",
                          "item/ttlinseconds": 200,
                          "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['text_3']})",
                          "item/data": "@body('Parse_JSON_[NEU]')?['link']",
                          "item/icontype": 100000001,
                          "item/priority": 200000000,
                          "item/body": "Die Kalkulations-Metallpreise für die Kalkulationsversion \"@{triggerBody()?['text_2']}\" wurden erfolgreich erstellt."
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Update_Processing_Log_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          1,
                          2
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Finish_varLog_with_Success": {
                  "runAfter": {
                    "Respond_to_Parent_Flow_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[SUC] - [@{utcNow()}] - Flow run was successful. All required Calculation Metalprices have been added to the Calculation."
                  }
                }
              },
              "runAfter": {
                "Parse_JSON_[NEU]": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Create_inApp_Notification_[Error]": {
                    "runAfter": {
                      "Update_Processing_Log_[Error]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a019b54a-34ea-48d7-9064-9eb2f842948a"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "appnotifications",
                        "item/title": "Metallpreise-Fehler",
                        "item/ttlinseconds": 200,
                        "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['text_3']})",
                        "item/data": "@body('Parse_JSON_[NEU]')?['link']",
                        "item/icontype": 100000002,
                        "item/priority": 200000001,
                        "item/body": "Beim Erstellen der Kalkulations-Metallpreise für die Kalkulationsversion \"@{triggerBody()?['text_2']}\" ist ein Fehler aufgetreten."
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  },
                  "Apply_to_each_Error_Summary": {
                    "foreach": "@variables('varError')",
                    "actions": {
                      "Append_Error_Message": {
                        "metadata": {
                          "operationMetadataId": "a7a17c59-dd66-4433-8461-2e1dca2400c9"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varErrorMessage",
                          "value": "[ERROR] - Action '@{items('Apply_to_each_Error_Summary')?['Action']}' failed with error message: @{items('Apply_to_each_Error_Summary')?['Message']} (Status: @{items('Apply_to_each_Error_Summary')?['Status']} / Status Code: @{items('Apply_to_each_Error_Summary')?['StatusCode']})"
                        }
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "6a29090f-1834-448f-826f-f33d425b3dcf"
                    },
                    "type": "Foreach"
                  },
                  "Update_Processing_Log_[Error]": {
                    "runAfter": {
                      "Finish_varLog_with_Error": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "dfa8137d-a012-4ba8-97ee-11968a11a8be"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "recordId": "@outputs('Create_ProcessingLog')?['body/hso_processinglogid']",
                        "item/hso_end_datetime": "@utcNow()",
                        "item/hso_flowerror": "@variables('varErrorMessage')",
                        "item/hso_calculationmetalprice_actual": "@variables('varNumberOfCalculationMetalprice_Processed')",
                        "item/hso_calculationmetalprice_target": "@variables('varNumberOfCalculationMetalprice_ToProcess')",
                        "item/hso_log": "@variables('varLog')",
                        "item/hso_processingstatus": 100000003
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  },
                  "Respond_to_Parent_Flow_[Error]": {
                    "runAfter": {
                      "Apply_to_each_Error_Summary": [
                        "Succeeded"
                      ]
                    },
                    "type": "Response",
                    "kind": "PowerApp",
                    "inputs": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "outcome": {
                            "title": "Outcome",
                            "type": "string",
                            "x-ms-content-hint": "TEXT",
                            "x-ms-dynamically-added": true
                          },
                          "metalprices_to process": {
                            "title": "Metalprices To Process",
                            "type": "number",
                            "x-ms-content-hint": "NUMBER",
                            "x-ms-dynamically-added": true
                          },
                          "metalprices_processed": {
                            "title": "Metalprices Processed",
                            "type": "number",
                            "x-ms-content-hint": "NUMBER",
                            "x-ms-dynamically-added": true
                          },
                          "error_message": {
                            "title": "Error Message",
                            "type": "string",
                            "x-ms-content-hint": "TEXT",
                            "x-ms-dynamically-added": true
                          }
                        },
                        "additionalProperties": {}
                      },
                      "statusCode": 200,
                      "body": {
                        "outcome": "Error",
                        "metalprices_to process": "@variables('varNumberOfCalculationMetalprice_ToProcess')",
                        "metalprices_processed": "@variables('varNumberOfCalculationMetalprice_Processed')",
                        "error_message": "@variables('varErrorMessage')"
                      }
                    }
                  },
                  "Finish_varLog_with_Error": {
                    "runAfter": {
                      "Respond_to_Parent_Flow_[Error]": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{utcNow()}] - Flow run has failed. Metalprices may have been partially added to Calculation. Check Log for further details."
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('varNumberOfCalculationMetalprice_ToProcess')",
                  "@variables('varNumberOfCalculationMetalprice_Processed')"
                ]
              },
              "metadata": {
                "operationMetadataId": "7fc60bbf-70d9-45e8-96c5-cbaf99886ee6"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Create_Calculation_Metalprices_-_Error": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ],
            "Processing_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d2a0fb20-560d-439b-ac07-5ba3d6b0e7c8"
          },
          "type": "Scope"
        },
        "Initialize_varError": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eed278cb-0b03-4e74-a461-5346e9267c39"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varError",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varLog": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLog",
                "type": "string",
                "value": "[INF] - [@{utcNow()}] - Initializing Flow Run @{decodeUriComponent('%0A')}"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}