ETOCore/Workflows/PAAUTOResourceRequirementSetprojecttaskprojectcate-2ACE9E4C-AEC6-EE11-9079-000D3AB3C58C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_resource_requirement_has_been_created": {
          "metadata": {
            "operationMetadataId": "aeea0296-a46a-4d3f-95db-b628281b3ee0"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-2",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "msdyn_resourcerequirement",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_if_Project_is_filled": {
          "actions": {
            "Get_Project": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b8ffdf30-b49b-4982-8091-0050d05559a0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-2",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msdyn_projects",
                  "recordId": "@triggerOutputs()?['body/_msdyn_projectid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Project_Team_Members": {
              "runAfter": {
                "Get_Project": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "416833c1-e932-4a9a-b3ad-6d71f52f3cb1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msdyn_projectteams",
                  "$filter": "_msdyn_resourcerequirementid_value eq '@{triggerOutputs()?['body/msdyn_resourcerequirementid']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_Team_Member": {
              "foreach": "@outputs('Get_Project_Team_Members')?['body/value']",
              "actions": {
                "Get_resource_assignments": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ba5eb513-ebab-487a-835c-7573a5a83bfb"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps-2",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msdyn_resourceassignments",
                      "$filter": "_msdyn_projectteamid_value eq @{items('Apply_to_Team_Member')?['msdyn_projectteamid']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_resource_assignment": {
                  "foreach": "@outputs('Get_resource_assignments')?['body/value']",
                  "actions": {
                    "Get_project_task": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "fc6f34bf-f6a3-49f9-979f-02b8797c4308"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps-2",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "msdyn_projecttasks",
                          "recordId": "@items('Apply_to_resource_assignment')?['_msdyn_taskid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Update_ressource_requirement": {
                      "runAfter": {
                        "Get_project_task": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "197bd4c7-264d-49e4-a1f3-3a2a11189cd5"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps-2",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "msdyn_resourcerequirements",
                          "recordId": "@triggerOutputs()?['body/msdyn_resourcerequirementid']",
                          "item/hso_organizationalunit_ref@odata.bind": "msdyn_organizationalunits(@{outputs('Get_Project')?['body/_msdyn_contractorganizationalunitid_value']})",
                          "item/hso_projecttask_ref@odata.bind": "msdyn_projecttasks(@{outputs('Get_project_task')?['body/msdyn_projecttaskid']}@{outputs('Get_project_task')?['body/msdyn_msprojectclientid']})",
                          "item/hso_projectcategorie_id@odata.bind": "hso_projectcategories(@{outputs('Get_project_task')?['body/_hso_projectcategoryid_value']})"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_resource_assignments": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "765c0dfe-96fb-424b-b1ef-49d9d749b70e"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_Project_Team_Members": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7369cc29-cacf-44c9-9c67-3a554d4cadc1"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "a6f277e2-ace6-4d9a-88bd-675a5eff875a"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_msdyn_projectid_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b84d2018-337b-4a6c-b389-74be25b0e081"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}