ETOCore/Workflows/PAAUTOCalculationCreationCHILD-CopyProjectCategory-CDE3D61D-80D5-EE11-904D-000D3AB3C58C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-d365-ETO-int-11.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance",
            "description": "The Dataverse Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "816048df-db34-4fd5-a6b1-04d1b9823ca6"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your inThe GUID of the Calculation that has been createdput",
                  "title": "Calculation",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "The GUID of the Processing Log for the Parent Flow",
                  "title": "Processing Log",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "The GUID of the Quote of the Calculation",
                  "title": "Quote",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "The Name of the Calculation",
                  "title": "Calculation Name",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "The User that initiated the process",
                  "title": "Process Owner",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_5": {
                  "description": "The GUID of the Customer set for the Quote",
                  "title": "Customer",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_6": {
                  "description": "The GUID of the Company set for the Quote",
                  "title": "Company",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_7": {
                  "description": "The Name of the Customer set for the Quote",
                  "title": "Customer Name",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_8": {
                  "description": "The Accountnumber of the Customer set for the Quote",
                  "title": "Customer Accountnumber",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4",
                "text_5",
                "text_6",
                "text_7",
                "text_8"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_varNumberOfProjectCategorySalesPrice_Processed": {
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "658ed88f-d779-4efa-839f-73c4a5a98782"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfProjectCategorySalesPrice_Processed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varNumberOfProjectCategorySalesPrice_ToProcess": {
          "runAfter": {
            "Initialize_varNumberOfProjectCategorySalesPrice_Processed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "99dd8e6c-e9f0-49b7-a0f4-f76515b6ff6d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfProjectCategorySalesPrice_ToProcess",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Summary": {
          "actions": {
            "Parse_JSON": {
              "metadata": {
                "operationMetadataId": "b769deed-a8c4-494a-a92f-2be1a1eb92c7"
              },
              "type": "ParseJson",
              "inputs": {
                "content": {
                  "link": {
                    "actions": [
                      {
                        "title": "Kalkulationsversion anzeigen",
                        "data": {
                          "url": "?pagetype=entityrecord&etn=hso_calculation&id=@{triggerBody()?['text']}",
                          "navigationTarget": "inline"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "navigationTarget": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "title",
                              "data"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "All_Project_Category_Sales_Price_created_for_Calculation": {
              "actions": {
                "Update_Processing_Log_[Success]": {
                  "runAfter": {
                    "Finish_varLog_with_Success": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dfa8137d-a012-4ba8-97ee-11968a11a8be"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_processinglogs",
                      "recordId": "@outputs('Create_ProcessingLog')?['body/hso_processinglogid']",
                      "item/hso_end_datetime": "@utcNow()",
                      "item/hso_calculationsalesprice_category_actual": "@variables('varNumberOfProjectCategorySalesPrice_Processed')",
                      "item/hso_calculationsalesprice_category_target": "@variables('varNumberOfProjectCategorySalesPrice_ToProcess')",
                      "item/hso_log": "@variables('varLog')",
                      "item/hso_processingstatus": 100000002
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "Respond_to_Parent_Flow_[Success]": {
                  "metadata": {
                    "operationMetadataId": "8a9ddb0e-7890-4363-b3d9-22f257a746ee"
                  },
                  "type": "Response",
                  "kind": "PowerApp",
                  "inputs": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "outcome": {
                          "title": "Outcome",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        },
                        "Project_Category_Sales_Prices_to_process": {
                          "title": "Project Category Sales Prices To Process",
                          "x-ms-dynamically-added": true,
                          "type": "number"
                        },
                        "project_category_sales_prices_processed": {
                          "title": "Project Category Sales Prices Processed",
                          "x-ms-dynamically-added": true,
                          "type": "number"
                        },
                        "error_message": {
                          "title": "Error Message",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    },
                    "statusCode": 200,
                    "body": {
                      "outcome": "Success",
                      "Project_Category_Sales_Prices_to_process": "@variables('varNumberOfProjectCategorySalesPrice_ToProcess')",
                      "project_category_sales_prices_processed": "@variables('varNumberOfProjectCategorySalesPrice_Processed')",
                      "error_message": "@null"
                    }
                  }
                },
                "Send_inApp_Notification_[Success]": {
                  "actions": {
                    "Create_inApp_Notification_[Succes]": {
                      "metadata": {
                        "operationMetadataId": "d3c66f90-c2c7-4215-9a89-1c1f6cb872c5"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "appnotifications",
                          "item/title": "Kategorieverkaufspreise erstellt",
                          "item/ttlinseconds": 200,
                          "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['text_4']})",
                          "item/data": "@body('Parse_JSON')?['link']",
                          "item/icontype": 100000001,
                          "item/priority": 200000000,
                          "item/body": "Die kundenspezifischen Verkaufspreise für Projektkategorien wurden erfolgreich aus den FinOps Handelsvereinbarungen für die Kalkulationsversion \"@{triggerBody()?['text_3']}\" erstellt."
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Update_Processing_Log_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          1,
                          2
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Finish_varLog_with_Success": {
                  "runAfter": {
                    "Respond_to_Parent_Flow_[Success]": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[SUC] - [@{utcNow()}] - Flow run was successful. All required Project Category Sales Prices have been added to the Calculation."
                  }
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Create_inApp_Notification_[Error]": {
                    "runAfter": {
                      "Update_Processing_Log_[Error]": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a019b54a-34ea-48d7-9064-9eb2f842948a"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "appnotifications",
                        "item/title": "Kategorieverkaufspreise-Fehler",
                        "item/ttlinseconds": 200,
                        "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['text_4']})",
                        "item/data": "@body('Parse_JSON')?['link']",
                        "item/icontype": 100000002,
                        "item/priority": 200000001,
                        "item/body": "Beim Erstellen der Kalkulations-Verkaufspreise (Kategorie) für die Kalkulationsversion \"@{triggerBody()?['text_3']}\" ist ein Fehler aufgetreten."
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  },
                  "Apply_to_each_Error_Summary": {
                    "foreach": "@variables('varError')",
                    "actions": {
                      "Append_Error_Message": {
                        "metadata": {
                          "operationMetadataId": "a7a17c59-dd66-4433-8461-2e1dca2400c9"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "varErrorMessage",
                          "value": "[ERROR] - Action '@{items('Apply_to_each_Error_Summary')?['Action']}' failed with error message: @{items('Apply_to_each_Error_Summary')?['Message']} (Status: @{items('Apply_to_each_Error_Summary')?['Status']} / Status Code: @{items('Apply_to_each_Error_Summary')?['StatusCode']})"
                        }
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "6a29090f-1834-448f-826f-f33d425b3dcf"
                    },
                    "type": "Foreach"
                  },
                  "Update_Processing_Log_[Error]": {
                    "runAfter": {
                      "Finish_varLog_with_Error": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "dfa8137d-a012-4ba8-97ee-11968a11a8be"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "hso_processinglogs",
                        "recordId": "@outputs('Create_ProcessingLog')?['body/hso_processinglogid']",
                        "item/hso_end_datetime": "@utcNow()",
                        "item/hso_flowerror": "@variables('varErrorMessage')",
                        "item/hso_calculationsalesprice_category_actual": "@variables('varNumberOfProjectCategorySalesPrice_Processed')",
                        "item/hso_calculationsalesprice_category_target": "@variables('varNumberOfProjectCategorySalesPrice_ToProcess')",
                        "item/hso_log": "@variables('varLog')",
                        "item/hso_processingstatus": 100000003
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  },
                  "Respond_to_Parent_Flow_[Error]": {
                    "runAfter": {
                      "Apply_to_each_Error_Summary": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "713f0d7c-8fca-4dfa-98ef-34a48707be0f"
                    },
                    "type": "Response",
                    "kind": "PowerApp",
                    "inputs": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "outcome": {
                            "title": "Outcome",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          },
                          "Project_Category_Sales_Prices_to_process": {
                            "title": "Project Category Sales Prices To Process",
                            "x-ms-dynamically-added": true,
                            "type": "number"
                          },
                          "project_category_sales_prices_processed": {
                            "title": "Project Category Sales Prices Processed",
                            "x-ms-dynamically-added": true,
                            "type": "number"
                          },
                          "error_message": {
                            "title": "Error Message",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          }
                        },
                        "additionalProperties": {}
                      },
                      "statusCode": 200,
                      "body": {
                        "outcome": "Error",
                        "Project_Category_Sales_Prices_to_process": "@variables('varNumberOfProjectCategorySalesPrice_ToProcess')",
                        "project_category_sales_prices_processed": "@variables('varNumberOfProjectCategorySalesPrice_Processed')",
                        "error_message": "@variables('varErrorMessage')"
                      }
                    }
                  },
                  "Finish_varLog_with_Error": {
                    "runAfter": {
                      "Respond_to_Parent_Flow_[Error]": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "varLog",
                      "value": "[ERR] - [@{utcNow()}] - Flow run has failed. Project Category Sales Prices may have been partially added to Calculation. Check Log for further details."
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('varNumberOfProjectCategorySalesPrice_ToProcess')",
                  "@variables('varNumberOfProjectCategorySalesPrice_Processed')"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce0402a1-4829-434a-b967-5d65ac4b45ee"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Create_Project_Category_Sales_Price_-_Error": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ],
            "Processing_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1ab9f814-65ef-443c-872e-fa4dee2572a5"
          },
          "type": "Scope"
        },
        "Create_Project_Category_Sales_Price": {
          "actions": {
            "Select_required_fields_from_Project_Category_Sales_Prices": {
              "metadata": {
                "operationMetadataId": "b729b1c5-0b01-4946-a43d-8b85a11c90b9"
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('List_Project_Category_Sales_Prices_for_Customer')?['body/value']",
                "select": {
                  "@{string('@')}odata.type": "#Microsoft.Dynamics.CRM.hso_calculationsalesprice",
                  "hso_name": "@{triggerBody()?['text_3']} - @{item()?['hso_categoryid/hso_category']}",
                  "hso_calculationid@odata.bind": "/hso_calculations(@{triggerBody()?['text']})",
                  "hso_priceorigin": 100000000,
                  "hso_pricetype": 100000001,
                  "hso_salesprice": "@item()?['hso_salesprice']",
                  "hso_categoryid@odata.bind": "/hso_projectcategories(@{item()?['_hso_categoryid_value']})"
                }
              }
            },
            "Project_Category_Sales_Prices_to_process": {
              "actions": {
                "Create_Calculation_Sales_Prices_for_Project_Category_Sales_Prices": {
                  "metadata": {
                    "operationMetadataId": "4438185f-03c8-4577-adbe-8605de27e523"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "request/method": "POST",
                      "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationsalesprices/Microsoft.Dynamics.CRM.CreateMultiple",
                      "request/headers": {
                        "OData-MaxVersion": "4.0",
                        "OData-Version": "4.0",
                        "If-None-Match": "null",
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                        "MSCRM.SuppressDuplicateDetection": "true",
                        "MSCRM.BypassBusinessLogicExecution": "CustomSync,CustomAsync"
                      },
                      "request/body": "{\n \"Targets\": @{body('Select_required_fields_from_Project_Category_Sales_Prices')}\n}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                      "operationId": "InvokeHttp",
                      "connectionName": "shared_webcontents"
                    }
                  }
                },
                "Set_varNumberOfProjectCategorySalesPrice_Processed_[Success]": {
                  "runAfter": {
                    "Create_Calculation_Sales_Prices_for_Project_Category_Sales_Prices": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cfca7967-aa82-4cdb-9771-27c8d6656c58"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varNumberOfProjectCategorySalesPrice_Processed",
                    "value": "@length(body('Create_Calculation_Sales_Prices_for_Project_Category_Sales_Prices')?['Ids'])"
                  }
                },
                "Append_Create_Calculation_Sales_Prices_to_varLog_[Success]": {
                  "runAfter": {
                    "Create_Calculation_Sales_Prices_for_Project_Category_Sales_Prices": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varLog",
                    "value": "[INF] - [@{utcNow()}] - @{length(body('Create_Calculation_Sales_Prices_for_Project_Category_Sales_Prices')?['Ids'])} Sales Prices successfully added to Calculation @{decodeUriComponent('%0A')}"
                  }
                }
              },
              "runAfter": {
                "Select_required_fields_from_Project_Category_Sales_Prices": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Select_required_fields_from_Project_Category_Sales_Prices'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "34412c14-272d-4b6f-b0ae-415482f5f42b"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Fetch_Information": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "02558eed-a5f1-4d75-9a47-42e2a6f08241"
          },
          "type": "Scope"
        },
        "Initialize_varProcessingStatus": {
          "runAfter": {
            "Initialize_varErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d9778e51-3398-4861-8a53-96a310365863"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProcessingStatus",
                "type": "string",
                "value": "Pending"
              }
            ]
          }
        },
        "Create_Project_Category_Sales_Price_-_Error": {
          "actions": {
            "Filter_Results_for_failed_actions": {
              "metadata": {
                "operationMetadataId": "0ab2afbf-64ea-418d-bd9d-65a6863a7bc8"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Create_Project_Category_Sales_Price')",
                "where": "@equals(item()['status'], 'Failed')"
              }
            },
            "Select_Error_Summary": {
              "runAfter": {
                "Filter_Results_for_failed_actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2822f992-45ab-4420-9e3d-d0fa0fd973eb"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_Results_for_failed_actions')",
                "select": {
                  "Action": "@item()?['name']",
                  "Code": "@item()?['code']",
                  "Status": "@item()?['status']",
                  "StatusCode": "@item()?['outputs']?['statusCode']",
                  "Message": "@coalesce(item()?['outputs']?['body']?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['error']?['message'], 'No Message found. Please check Flow-Run.')"
                }
              }
            },
            "Apply_to_each_Error_Summary_[Create_Project_Category_Sales_Price]": {
              "foreach": "@body('Select_Error_Summary')",
              "actions": {
                "Append_Error_Summary": {
                  "metadata": {
                    "operationMetadataId": "3469f5c1-3721-49c6-9282-101e18f85d47"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varError",
                    "value": "@items('Apply_to_each_Error_Summary_[Create_Project_Category_Sales_Price]')"
                  }
                }
              },
              "runAfter": {
                "Select_Error_Summary": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "11651d04-deed-4450-9f4d-c1cc2e8adda5"
              },
              "type": "Foreach"
            },
            "Set_varNumberOfProjectCategorySalesPrice_Processed_[Error]": {
              "runAfter": {
                "List_Created_Calculation_Sales_Price_for_Project_Category": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6661bcfe-590a-40c6-869f-461541b60aad"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varNumberOfProjectCategorySalesPrice_Processed",
                "value": "@length(outputs('List_Created_Calculation_Sales_Price_for_Project_Category')?['body/value'])"
              }
            },
            "List_Created_Calculation_Sales_Price_for_Project_Category": {
              "runAfter": {
                "Apply_to_each_Error_Summary_[Create_Project_Category_Sales_Price]": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "07b0aa44-5f09-42a2-b6ac-ecd1089a9389"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_calculationsalesprices",
                  "$filter": "_hso_calculationid_value eq @{triggerBody()?['text']} and hso_pricetype eq 100000001"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Append_Create_Project_Category_Sales_Prices_to_varLog_[Error]": {
              "runAfter": {
                "List_Created_Calculation_Sales_Price_for_Project_Category": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - Error when creating the Calculation Sales Prices. @{length(outputs('List_Created_Calculation_Sales_Price_for_Project_Category')?['body/value'])} of @{variables('varNumberOfProjectCategorySalesPrice_ToProcess')} Sales Prices created.\n[ERR] - [@{utcNow()}] - Error: @{variables('varError')} @{decodeUriComponent('%0A')}"
              }
            }
          },
          "runAfter": {
            "Create_Project_Category_Sales_Price": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "98bd011c-c174-4fa8-87c3-b7edaecadcae"
          },
          "type": "Scope"
        },
        "Initialize_varErrorMessage": {
          "runAfter": {
            "Initialize_varError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b4ebf231-4b62-467b-9a38-a2e6c3aabb02"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Processing_Log": {
          "actions": {
            "Convert_time_zone": {
              "metadata": {
                "operationMetadataId": "1d7e37f7-559a-4f50-bc57-01f763122a7d"
              },
              "type": "Expression",
              "kind": "ConvertTimeZone",
              "inputs": {
                "baseTime": "@{utcNow()}",
                "sourceTimeZone": "UTC",
                "destinationTimeZone": "W. Europe Standard Time",
                "formatString": "u"
              }
            },
            "Create_ProcessingLog": {
              "runAfter": {
                "Convert_time_zone": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "76df5a48-c020-4c4e-94d4-3d7e3e26163b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_processinglogs",
                  "item/hso_name": "Kalkulations-Verkaufspreise (Kategorie) erstellen - @{body('Convert_time_zone')}",
                  "item/hso_processingtask": 100000010,
                  "item/ownerid@odata.bind": "systemusers(@{triggerBody()?['text_4']})",
                  "item/hso_flowrunurl": "@concat('https://emea.flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])\n",
                  "item/hso_start_datetime": "@utcNow()",
                  "item/hso_parentprocessinglogid@odata.bind": "hso_processinglogs(@{triggerBody()?['text_1']})",
                  "item/hso_processingstatus": 100000001
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_varProcessingStatus": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e911c1c3-e3c3-4e93-b024-05f79a680c00"
          },
          "type": "Scope"
        },
        "Fetch_Information": {
          "actions": {
            "List_Project_Category_Sales_Prices_for_Customer": {
              "runAfter": {
                "Append_Fetch_Project_Category_Sales_Prices_to_varLog": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b18b65e4-7561-41ad-b3a9-da6b958ccbaa"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_projectcategorysalesprices",
                  "$select": "hso_name,hso_categoryid,_hso_categoryid_value,hso_salesprice,hso_validfrom,hso_validto",
                  "$filter": "_hso_customerid_value eq '@{triggerBody()?['text_5']}' and hso_validfrom le @{utcNow()} and hso_validto ge @{utcNow()} and _hso_companyid_value eq '@{triggerBody()?['text_6']}'",
                  "$orderby": "hso_name,_hso_categoryid_value,hso_salesprice,hso_validfrom,hso_validto",
                  "$expand": "hso_categoryid($select=hso_category)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Set_varNumberOfProjectCategorySalesPrice_ToProcess": {
              "runAfter": {
                "List_Project_Category_Sales_Prices_for_Customer": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9fdb2f9a-1f4c-4558-a7a1-2c06964bd054"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varNumberOfProjectCategorySalesPrice_ToProcess",
                "value": "@length(outputs('List_Project_Category_Sales_Prices_for_Customer')?['body/value'])"
              }
            },
            "Append_Fetch_Project_Category_Sales_Prices_to_varLog": {
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - Fetch currently valid Project Category Sales Prices for selected Customer \"@{triggerBody()?['text_7']}\" (@{triggerBody()?['text_8']}) @{decodeUriComponent('%0A')}"
              }
            },
            "Append_retrieved_Project_Category_Sales_Prices_to_varLog": {
              "runAfter": {
                "List_Project_Category_Sales_Prices_for_Customer": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLog",
                "value": "[INF] - [@{utcNow()}] - @{length(outputs('List_Project_Category_Sales_Prices_for_Customer')?['body/value'])} Project Category Sales Prices retrieved. \n[INF] - [@{utcNow()}] - Start adding the Sales Prices to Calculation @{decodeUriComponent('%0A')}"
              }
            }
          },
          "runAfter": {
            "Initialize_varNumberOfProjectCategorySalesPrice_ToProcess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cf0fd3ea-84a7-4e80-86cd-ff0b786fb475"
          },
          "type": "Scope"
        },
        "Initialize_varError": {
          "runAfter": {
            "Initialize_varLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eed278cb-0b03-4e74-a461-5346e9267c39"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varError",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varLog": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLog",
                "type": "string",
                "value": "[INF] - [@{utcNow()}] - Initializing Flow Run @{decodeUriComponent('%0A')}"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}