ETOCore/Workflows/PAMANUALArticleCreationCHILD-ProcessTradeAgreement-86389B0A-A0C9-EE11-9079-000D3AB1B3E1.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)": {
          "defaultValue": "d365-ETO-int-11b9dbaf056743afd3devaos.axcloud.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarUnifiedOperationsInstance",
            "description": "The Unified Operations Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "4ab9d322-deaf-4a9a-9696-11b25e13257d"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "arrReleasingCompanies",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Array of CompanyCodes (example: [\"HSV\", \"HB\"])",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "strRequestId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "RequestID as a text value (example: \"PR-1240\")",
                  "x-ms-content-hint": "TEXT"
                },
                "boolean": {
                  "title": "boolResponse",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Control if flow will send response. \"Yes\", if response should be send.",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "text_2": {
                  "title": "strItemNumber",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Itemnumber for creaion of trade agreement journal line.",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "strTenant",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Tenant ID",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "strClient",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Client ID",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "strSecret",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Secret",
                  "x-ms-content-hint": "TEXT"
                },
                "number": {
                  "title": "intPurchasePriceQuantity",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "PurchasePriceQuantity",
                  "x-ms-content-hint": "NUMBER"
                },
                "number_1": {
                  "title": "intPrice",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "Price",
                  "x-ms-content-hint": "NUMBER"
                },
                "text_6": {
                  "title": "strVendorAccountNumber",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "VendorAccountNumber",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "boolean",
                "text_2",
                "text_3",
                "text_4",
                "text_5",
                "number",
                "number_1",
                "text_6"
              ]
            }
          }
        }
      },
      "actions": {
        "Check_and_Process_Trade_Agreement_Journal_Header": {
          "runAfter": {
            "Init_strInlineFinOpsURL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2dc620e5-28fe-4cac-8769-a2051ef2ef82"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "681864cf-62c7-ee11-9079-000d3ab1b3e1"
            },
            "body": {
              "text": "@triggerBody()['text']",
              "text_1": "@triggerBody()['text_1']",
              "boolean": true
            }
          }
        },
        "BatchGUID": {
          "runAfter": {
            "Init_arrReleasingCompanies": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "05c49f43-b00e-4e60-bf96-0207b7932ce8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BatchGUID_txt",
                "type": "string",
                "value": "@{guid()}"
              }
            ]
          }
        },
        "ChangesetGUID": {
          "runAfter": {
            "BatchGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d15060e1-d059-4486-8920-3c1c5592bffa"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ChangesetGUID_txt",
                "type": "string",
                "value": "@{guid()}"
              }
            ]
          }
        },
        "BatchDocumentJSON": {
          "runAfter": {
            "ChangesetGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c6f0d948-ee47-4b8f-ad2b-5ff1f213c3c2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BatchDocumentJSON_str",
                "type": "string",
                "value": "--batch_@{variables('BatchGUID_txt')}\nContent-Type: multipart/mixed; boundary=changeset_@{variables('ChangesetGUID_txt')}\n@{decodeUriComponent('%0A')}"
              }
            ]
          }
        },
        "Trade_Agreement_Journal_Line": {
          "actions": {
            "Trade_Agreement_Journal_Header_success": {
              "actions": {
                "Apply_to_each_Releasing_Company": {
                  "foreach": "@variables('arrReleasingCompanies')",
                  "actions": {
                    "Increment_BatchContentID": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "0a382560-09e1-4e9a-804f-bdc5214f9c3a"
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "BatchContentID_int",
                        "value": 1
                      }
                    },
                    "Append_to_BatchDocumentJSON": {
                      "runAfter": {
                        "Increment_BatchContentID": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7d1c177f-da53-459c-853a-56cc8a2217f8"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "BatchDocumentJSON_str",
                        "value": "--changeset_@{variables('ChangesetGUID_txt')}\nContent-Type: application/http\nContent-Transfer-Encoding: binary\nContent-ID: @{variables('BatchContentID_int')}\n\nPOST OpenPurchasePriceJournalLinesV2?cross-company=true HTTP/1.1\nContent-Type: application/json\n\n{\n  \"dataAreaId\":\"@{items('Apply_to_each_Releasing_Company')?['dataAreaId']}\",\n  \"TradeAgreementJournalNumber\":\"@{items('Apply_to_each_Releasing_Company')?['JournalNumber']}\",\n  \"WillSearchContinue\":\"No\",\n  \"ItemNumber\":\"@{triggerBody()['text_2']}\",\n  \"ToQuantity\":0,\n  \"PurchasePriceQuantity\":@{triggerBody()['number']},\n  \"Price\":@{triggerBody()['number_1']},\n  \"VendorAccountNumber\":\"@{triggerBody()['text_6']}\"\n}\n@{decodeUriComponent('%0A')}"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "fc052424-2331-43d8-a2d8-5349d34a1fd2"
                  },
                  "type": "Foreach"
                },
                "Close_BatchDocumentJSON": {
                  "runAfter": {
                    "Apply_to_each_Releasing_Company": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "367aa7f8-b3bd-4412-b034-f90ae97ea88f"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "BatchDocumentJSON_str",
                    "value": "--changeset_@{variables('ChangesetGUID_txt')}--\n--batch_@{variables('BatchGUID_txt')}--"
                  }
                },
                "Batch_create_Trade_Agreement_Journal_Lines": {
                  "runAfter": {
                    "Close_BatchDocumentJSON": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a8d27b91-6904-4b31-9131-7054ef964ee7"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/$batch",
                    "headers": {
                      "OData-MaxVersion": "4.0",
                      "OData-Version": "4.0",
                      "Accept": "application/json",
                      "Content-Type": "multipart/mixed;boundary=batch_@{variables('BatchGUID_txt')}"
                    },
                    "body": "@variables('BatchDocumentJSON_str')",
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "@triggerBody()['text_3']",
                      "audience": "@variables('strInlineFinOpsURL')",
                      "clientId": "@triggerBody()['text_4']",
                      "secret": "@triggerBody()['text_5']"
                    }
                  }
                },
                "statusCode": {
                  "runAfter": {
                    "Batch_create_Trade_Agreement_Journal_Lines": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0521db24-cb9d-4e85-a6ec-fbb6dc4635f5"
                  },
                  "type": "Compose",
                  "inputs": "@Coalesce(body('Batch_create_Trade_Agreement_Journal_Lines')?['$multipart']?[0]?['body']?['$multipart']?[0]?['body']?['$applicationHttp']?['statusCode'], 200)"
                },
                "Inline_error": {
                  "actions": {
                    "innererror_message": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "f6000069-6221-4325-9e60-532999739e44"
                      },
                      "type": "Compose",
                      "inputs": "@Coalesce(body('Batch_create_Trade_Agreement_Journal_Lines')?['$multipart']?[0]?['body']?['$multipart']?[0]?['body']?['$applicationHttp']?['body']?['error']?['innererror']?['message'], '')"
                    },
                    "Error_inline_error": {
                      "runAfter": {
                        "ResponseMsg_journal_line_inline_error": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "41b070da-ec0b-4ae9-98a0-cdafc1aa7cea"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Error_bool",
                        "value": true
                      }
                    },
                    "ResponseMsg_journal_line_inline_error": {
                      "runAfter": {
                        "innererror_message": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d58124d6-dda8-44cc-b845-ce4e0eb3c2ac"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "strResponseMsg",
                        "value": "@{Coalesce(body('Batch_create_Trade_Agreement_Journal_Lines')?['$multipart']?[0]?['body']?['$multipart']?[0]?['body']?['$applicationHttp']?['body']?['error']?['innererror']?['message'], '')}"
                      }
                    },
                    "Respond_to_a_PowerApp_or_flow_on_inline_error": {
                      "runAfter": {
                        "Error_inline_error": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1411d0d8-5fc4-44bf-a970-d35cddd5a4e9"
                      },
                      "type": "Response",
                      "kind": "PowerApp",
                      "inputs": {
                        "statusCode": 200,
                        "body": {
                          "strstatus": "400",
                          "responsemsg": "@variables('strResponseMsg')",
                          "journalnumbers": "@{string(variables('arrReleasingCompanies'))}"
                        },
                        "schema": {
                          "type": "object",
                          "properties": {
                            "strstatus": {
                              "title": "strStatus",
                              "x-ms-dynamically-added": true,
                              "type": "string"
                            },
                            "responsemsg": {
                              "title": "ResponseMsg",
                              "x-ms-dynamically-added": true,
                              "type": "string"
                            },
                            "journalnumbers": {
                              "title": "JournalNumbers",
                              "x-ms-dynamically-added": true,
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "statusCode": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@outputs('statusCode')",
                            200
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@outputs('statusCode')",
                            201
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@outputs('statusCode')",
                            204
                          ]
                        }
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0b5be4bc-da9b-4a87-a4dc-8e7bbcee42a0"
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "ResponseMsg_journal_header": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "6c8c3b16-1fa7-48a9-8ea7-e7aeb3396778"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "strResponseMsg",
                      "value": "Error during creation of trade agreement journal headers."
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@body('Check_and_Process_Trade_Agreement_Journal_Header')?['status']",
                  "200"
                ]
              },
              "metadata": {
                "operationMetadataId": "042b218f-e07a-4246-9ecb-5da64ee3be19"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Init_strResponseMsg": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f661246a-ab2f-4ec8-9f05-2587e8641de6"
          },
          "type": "Scope"
        },
        "Trade_Agreement_Journal_Line_[CATCH]": {
          "actions": {
            "Terminate__in_FinOps_External_Item_Descriptions": {
              "runAfter": {
                "Respond_to_a_PowerApp_or_flow_on_error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "391cf5a6-e000-4977-95b7-67fb84095ee4"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Error_bool_to_true": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "41b070da-ec0b-4ae9-98a0-cdafc1aa7cea"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Error_bool",
                "value": true
              }
            },
            "Filter_array_scope_to_be_catched": {
              "runAfter": {
                "Error_bool_to_true": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9420e9bd-9d2b-439b-b441-7c77cccc620b"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Trade_Agreement_Journal_Line')",
                "where": "@equals(item()?['status'], 'Failed')"
              }
            },
            "Respond_to_a_PowerApp_or_flow_on_error": {
              "runAfter": {
                "Filter_array_scope_to_be_catched": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1411d0d8-5fc4-44bf-a970-d35cddd5a4e9"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "strstatus": "400",
                  "responsemsg": "@variables('strResponseMsg')",
                  "journalnumbers": "@{string(variables('arrReleasingCompanies'))}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "strstatus": {
                      "title": "strStatus",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "responsemsg": {
                      "title": "ResponseMsg",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "journalnumbers": {
                      "title": "JournalNumbers",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Trade_Agreement_Journal_Line": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "dcc89b3c-3cbb-40c8-9818-b103539870e6"
          },
          "type": "Scope"
        },
        "BatchContentID": {
          "runAfter": {
            "BatchDocumentJSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6932902f-1bb6-49be-ae77-e43b28fa66fe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BatchContentID_int",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Init_strInlineFinOpsURL": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "284e1ceb-899d-4f12-9a59-ad34242f1f2b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strInlineFinOpsURL",
                "type": "string",
                "value": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}"
              }
            ]
          }
        },
        "Init_Error_bool": {
          "runAfter": {
            "BatchContentID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8cb12a39-d076-4d10-920a-b1bc9c716c29"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error_bool",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Trade_Agreement_Journal_Line_[CATCH]": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "1411d0d8-5fc4-44bf-a970-d35cddd5a4e9"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "strstatus": "200",
              "responsemsg": "@variables('strResponseMsg')",
              "journalnumbers": "@{string(variables('arrReleasingCompanies'))}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "strstatus": {
                  "title": "strStatus",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "responsemsg": {
                  "title": "ResponseMsg",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "journalnumbers": {
                  "title": "JournalNumbers",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Compose": {
          "runAfter": {
            "Check_and_Process_Trade_Agreement_Journal_Header": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "62a158cc-184e-4093-bcc6-7747a5abc391"
          },
          "type": "Compose",
          "inputs": "@replace(outputs('Check_and_Process_Trade_Agreement_Journal_Header')?['Body']?['journalnumbers'], '\\', '')"
        },
        "Parse_arrReleasingCompanies": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "00ce9d66-c8c1-41be-b2f8-08b4fe79df0b"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@replace(outputs('Check_and_Process_Trade_Agreement_Journal_Header')?['Body']?['journalnumbers'], '\\', '')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "dataAreaId": {
                    "type": "string"
                  },
                  "JournalNumber": {
                    "type": "string"
                  }
                },
                "required": [
                  "dataAreaId",
                  "JournalNumber"
                ]
              }
            }
          }
        },
        "Init_arrReleasingCompanies": {
          "runAfter": {
            "Parse_arrReleasingCompanies": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "516e2db8-552f-4b80-9682-76abbe906c77"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "arrReleasingCompanies",
                "type": "array",
                "value": "@body('Parse_arrReleasingCompanies')"
              }
            ]
          }
        },
        "Init_strResponseMsg": {
          "runAfter": {
            "Init_Error_bool": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "13505fef-dc98-4121-a092-2f1cf5c09362"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strResponseMsg",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}