ETOCore/Workflows/PAMANUALProjectexpenseInitialCheckandCreateTextblo-3BA3384D-0803-EF11-9F89-000D3A65B4D6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-d365-ETO-int-11.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance",
            "description": "The Dataverse Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "85c5fac3-8e4e-4806-88e1-2bec25400d72"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Processing_[Pre]": {
          "actions": {
            "Parellel_loading": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "80dd1e5a-1a74-4823-8c25-1d15a6396d92"
              },
              "type": "Compose",
              "inputs": "Parellel loading"
            },
            "List_project_expenses": {
              "runAfter": {
                "Parellel_loading": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e496d110-7c53-4494-aaea-7499bf52db19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "entityName": "hso_projectexpenses",
                  "$filter": "statecode eq 0 and hso_name ne ''"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_textblocks": {
              "runAfter": {
                "Parellel_loading": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0d30b06d-e30b-44b1-bd33-8c7d56b61531"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "entityName": "hso_textblocks",
                  "$filter": "statecode eq 0 and hso_language eq 192350004 and _hso_projectexpenseid_value ne null"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Select_textblock_mapid": {
              "runAfter": {
                "List_textblocks": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2a4ce376-02f1-4881-9eb7-54bfe011a1fb"
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('List_textblocks')?['body/value']",
                "select": "@item()?['_hso_projectexpenseid_value']"
              }
            },
            "Filter_not_existing_textblocks": {
              "runAfter": {
                "List_project_expenses": [
                  "Succeeded"
                ],
                "Select_textblock_mapid": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cd9ce002-784f-4c41-9e0b-5ceb6a74775b"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('List_project_expenses')?['body/value']",
                "where": "@not(contains(body('Select_textblock_mapid'), item()?['hso_projectexpenseid']))"
              }
            },
            "Set_intTextblocksToProcess": {
              "runAfter": {
                "Filter_not_existing_textblocks": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "96785b7f-29ad-45ec-86a3-5c05d23229d9"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "intTextblocksToProcess",
                "value": "@length(body('Filter_not_existing_textblocks'))"
              }
            }
          },
          "runAfter": {
            "strStatus": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "47745112-996e-490b-8716-9714a6cb0c16"
          },
          "type": "Scope"
        },
        "Processing_[Main]": {
          "actions": {
            "Select_required_fields_from_filter_textblocks": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b729b1c5-0b01-4946-a43d-8b85a11c90b9"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_not_existing_textblocks')",
                "select": {
                  "hso_name": "@item()?['hso_name']",
                  "hso_projectexpenseid@odata.bind": "/hso_projectexpenses(@{item()?['hso_projectexpenseid']})",
                  "@@odata.type": "#Microsoft.Dynamics.CRM.hso_textblock",
                  "hso_language": "192350004"
                }
              }
            },
            "Textblocks_to_process": {
              "actions": {
                "Create_textblocks": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4438185f-03c8-4577-adbe-8605de27e523"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                      "connectionName": "shared_webcontents",
                      "operationId": "InvokeHttp"
                    },
                    "parameters": {
                      "request/method": "POST",
                      "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_textblocks/Microsoft.Dynamics.CRM.CreateMultiple",
                      "request/headers": {
                        "OData-MaxVersion": "4.0",
                        "OData-Version": "4.0",
                        "If-None-Match": "null",
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8"
                      },
                      "request/body": "{\n \"Targets\": @{body('Select_required_fields_from_filter_textblocks')}\n}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_intTextblocksProcessed_[Success]": {
                  "runAfter": {
                    "Create_textblocks": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cfca7967-aa82-4cdb-9771-27c8d6656c58"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "intTextblocksProcessed",
                    "value": "@length(body('Create_textblocks')?['Ids'])"
                  }
                }
              },
              "runAfter": {
                "Select_required_fields_from_filter_textblocks": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Select_required_fields_from_filter_textblocks'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "bb189005-87ed-4fb6-9dd3-b51a8a516c74"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Processing_[Pre]": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "17901f96-32e1-4268-87c5-9657bdacf380"
          },
          "type": "Scope"
        },
        "Processing_[Log]": {
          "actions": {
            "Check_for_errors": {
              "actions": {
                "strStatus_Success": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1763da67-a8d1-48c3-90b5-c4714f299b7d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "strStatus",
                    "value": "Success"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "strStatus_Failed": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "20efe7e5-3c61-47b2-ac86-ebeb0ef3e628"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "strStatus",
                      "value": "Failed"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('intTextblocksProcessed')",
                  "@length(body('Filter_not_existing_textblocks'))"
                ]
              },
              "metadata": {
                "operationMetadataId": "4cf1c66b-dfa9-4fc5-bb33-425ef339d87a"
              },
              "type": "If"
            },
            "Respond_to_a_Power_App_or_flow": {
              "runAfter": {
                "Check_for_errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f46f8a79-05f4-47bc-9b48-756807923668"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "status": "@variables('strStatus')",
                  "processed": "@{variables('intTextblocksProcessed')}",
                  "toprocess": "@{variables('intTextblocksToProcess')}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "title": "Status",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "processed": {
                      "title": "Processed",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "toprocess": {
                      "title": "ToProcess",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Processing_[Main]": [
              "Failed",
              "TimedOut",
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a1a15050-82d0-45ad-8bae-504003b75e4e"
          },
          "type": "Scope"
        },
        "intTextblocksProcessed": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fe6530a3-d1bb-4990-b885-cbd9847fed10"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "intTextblocksProcessed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "strStatus": {
          "runAfter": {
            "intTextblocksToProcess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "04c76946-09c9-4b21-aff9-1fc2b2aa3d98"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strStatus",
                "type": "string"
              }
            ]
          }
        },
        "intTextblocksToProcess": {
          "runAfter": {
            "intTextblocksProcessed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "83cc3bd5-1fc0-445a-aace-849e1a065e3a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "intTextblocksToProcess",
                "type": "integer"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}