ETOCore/Workflows/PAMANUALArticleCreationCHILD-RelateTradeAgreementJ-D6EC3CFC-E47F-EF11-AC21-000D3ABAD6B5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "5bc70b68-7dcc-4b75-9006-4292ae896deb"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "strRequirementGUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "GUID of related articlerequirement header.",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "strJournals",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "JSON of used journal for each company.",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "For_each_journal": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "19508dbe-1207-4bec-a8d2-d2583f5fa008"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {}
          }
        },
        "Parse_strJournals": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6ed2e288-3a4c-4afc-86cc-ef37aa64af01"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()?['text_1']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "dataAreaId": {
                    "type": "string"
                  },
                  "JournalNumber": {
                    "type": "string"
                  }
                },
                "required": [
                  "dataAreaId",
                  "JournalNumber"
                ]
              }
            }
          }
        },
        "For_each_journal": {
          "foreach": "@outputs('Parse_strJournals')['body']",
          "actions": {
            "Record_not_existing": {
              "actions": {
                "Add_a_journal_entry": {
                  "metadata": {
                    "operationMetadataId": "51e7ffe0-b721-4bf3-847b-4562521da75a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "hso_articlerequirement_tajournals",
                      "item/hso_articlerequirement_id@odata.bind": "/hso_productrequirements(@{triggerBody()?['text']})",
                      "item/hso_journal": "@items('For_each_journal')['JournalNumber']",
                      "item/hso_status_opt": 1,
                      "item/hso_company_id@odata.bind": "/cdm_companies(cdm_companycode='@{items('For_each_journal')['dataAreaId']}')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  }
                }
              },
              "runAfter": {
                "Filter_exisiting_journal_records": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Compose": {
                    "metadata": {
                      "operationMetadataId": "b6e43fd4-1a85-47f4-bcd1-60d2013afb0b"
                    },
                    "type": "Compose",
                    "inputs": "Already exisiting.\n@{items('For_each_journal')}"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(body('Filter_exisiting_journal_records'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "d0c0dda2-1773-4e97-bb73-b9cb9eaa8f08"
              },
              "type": "If"
            },
            "Filter_exisiting_journal_records": {
              "metadata": {
                "operationMetadataId": "4340eeab-97b7-488c-894d-22b2577a83d7"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Select_columns_from_related_journal_records')",
                "where": "@and(equals(item()['journal'], items('For_each_journal')['JournalNumber']),equals(toLower(item()['companycode']), toLower(items('For_each_journal')['dataAreaId'])))"
              }
            }
          },
          "runAfter": {
            "Select_columns_from_related_journal_records": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8fb32b0a-73d4-4751-b482-e1c323600216"
          },
          "type": "Foreach"
        },
        "List_related_journal_records": {
          "runAfter": {
            "Parse_strJournals": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b39798b-9724-486e-9506-faafba326424"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "hso_articlerequirement_tajournals",
              "$select": "_hso_company_id_value, hso_journal",
              "$filter": "_hso_articlerequirement_id_value eq '@{triggerBody()['text']}'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          }
        },
        "Select_columns_from_related_journal_records": {
          "runAfter": {
            "List_related_journal_records": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4d7799a4-9d88-4e46-bd78-ffbcf6767a52"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('List_related_journal_records')?['body/value']",
            "select": {
              "journal": "@item()?['hso_journal']",
              "companycode": "@item()?['_hso_company_id_value@OData.Community.Display.V1.FormattedValue']"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}