ETOCore/Workflows/PAMANUALAccountAdresslocationidmanualsync-A5FF392F-7288-EE11-8179-000D3AB3C80C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_dynamicsax": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "hso_CRFinOps"
        },
        "api": {
          "name": "shared_dynamicsax"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)": {
          "defaultValue": "d365-ETO-int-11b9dbaf056743afd3devaos.axcloud.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarUnifiedOperationsInstance",
            "description": "Respective Unified Operations Instance to connect to within a Flow"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "83e3c568-4a15-4dbf-b702-baa08def299a"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Listenzeilen": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e2b45ddf-746a-4ed3-a43c-2af6288b6d8b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "$select": "accountid,accountnumber,hso_adresse2_locationid,hso_adresse1_locationid",
              "$filter": "hso_adresse2_locationid eq null or hso_adresse1_locationid eq null"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 40000
            }
          }
        },
        "Auf_alle_anwenden": {
          "foreach": "@outputs('Listenzeilen')?['body/value']",
          "actions": {
            "Datensatz_abrufen": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6cca83e3-2e85-400d-b17a-1f83c1fa5a01"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_dynamicsax",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_dynamicsax"
                },
                "parameters": {
                  "dataset": "@parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')",
                  "table": "SSTCDSParties",
                  "id": "@items('Auf_alle_anwenden')?['accountnumber']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Zeile_aktualisieren": {
              "runAfter": {
                "Datensatz_abrufen": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a7219fdc-c07c-4a5c-989e-267869d67bdb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@items('Auf_alle_anwenden')?['accountid']",
                  "item/hso_adresse1_locationid": "@outputs('Datensatz_abrufen')?['body/DeliveryAddressLocationId']",
                  "item/hso_adresse2_locationid": "@outputs('Datensatz_abrufen')?['body/InvoiceAddressLocationId']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Listenzeilen": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "52ba8b98-258e-4a27-9bd8-4fcc151394c0"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 25
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}