ETOCore/Workflows/PAMANUALDataImportCheckStatusforCatalogImport-D845C925-51E0-EE11-904C-002248A1BFFC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-d365-ETO-int-11.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance",
            "description": "The Dataverse Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "3d933c16-1263-4206-b400-8a59f15cca91"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "hso_runid": {
                  "type": "string"
                },
                "hso_countimported": {
                  "type": "integer"
                },
                "hso_counttotal": {
                  "type": "integer"
                },
                "hso_status": {
                  "type": "string"
                },
                "hso_suppliername": {
                  "type": "string"
                },
                "hso_message": {
                  "type": "string"
                }
              }
            },
            "method": "POST",
            "relativePath": "/ImportStatus/{SecurityToken}",
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Processing": {
          "actions": {
            "Check_authorizaton": {
              "actions": {
                "Check_and_proceed": {
                  "actions": {
                    "Request_contains_supplier_name": {
                      "actions": {
                        "Fetch_filtered_mappings": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "38ae9bac-b9c2-4e85-9179-e6e714af6af2"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "hso_sqlvendormappings",
                              "$filter": "hso_vendormap eq '@{triggerBody()?['hso_suppliername']}'"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Mappings_exists": {
                          "actions": {
                            "Health_Input_-_healthy": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "79f15606-5b6c-42cb-88b9-df8455bdafdb"
                              },
                              "type": "Compose",
                              "inputs": "✅ Mapping vorhanden."
                            },
                            "Upsert_Import_Job_-_healthy": {
                              "runAfter": {
                                "Health_Input_-_healthy": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "f06b598a-728a-4dbb-89a4-335a2d54260d"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_webcontents",
                                  "operationId": "InvokeHttp",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                                },
                                "parameters": {
                                  "request/method": "PATCH",
                                  "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_catalogueimports(hso_runid='@{triggerBody()?['hso_runid']}')",
                                  "request/headers": {
                                    "OData-MaxVersion": "4.0",
                                    "OData-Version": "4.0",
                                    "If-None-Match": "null",
                                    "Accept": "application/json",
                                    "Content-Type": "application/json"
                                  },
                                  "request/body": "@addProperty(triggerBody(),'hso_health', outputs('Health_Input_-_healthy'))"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Fetch_filtered_mappings": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Health_Input_-_missing": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "468d3636-ea19-48aa-a471-a38643d4279d"
                                },
                                "type": "Compose",
                                "inputs": "⚠️ Mapping fehlt. Bitte Mapping für \"@{triggerBody()?['hso_suppliername']}\" anlegen."
                              },
                              "Upsert_Import_Job_-_missing": {
                                "runAfter": {
                                  "Health_Input_-_missing": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "f06b598a-728a-4dbb-89a4-335a2d54260d"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_webcontents",
                                    "operationId": "InvokeHttp",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                                  },
                                  "parameters": {
                                    "request/method": "PATCH",
                                    "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_catalogueimports(hso_runid='@{triggerBody()?['hso_runid']}')",
                                    "request/headers": {
                                      "OData-MaxVersion": "4.0",
                                      "OData-Version": "4.0",
                                      "If-None-Match": "null",
                                      "Accept": "application/json",
                                      "Content-Type": "application/json"
                                    },
                                    "request/body": "@addProperty(triggerBody(),'hso_health', outputs('Health_Input_-_missing'))"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(outputs('Fetch_filtered_mappings')?['body/value'])",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "d5818455-de84-4a98-8a78-f8611095a01d"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Health_Input_-_no_supplier": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "a9cfafd9-49d9-4048-848a-d160ae178667"
                            },
                            "type": "Compose",
                            "inputs": "Warte auf Import-Lieferanten..."
                          },
                          "Invoke_an_HTTP_request": {
                            "runAfter": {
                              "Health_Input_-_no_supplier": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "55a5a7f4-a86b-4900-bd6a-af4b25362993"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_webcontents",
                                "operationId": "InvokeHttp",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                              },
                              "parameters": {
                                "request/method": "PATCH",
                                "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_catalogueimports(hso_runid='@{triggerBody()?['hso_runid']}')",
                                "request/headers": {
                                  "OData-MaxVersion": "4.0",
                                  "OData-Version": "4.0",
                                  "If-None-Match": "null",
                                  "Accept": "application/json",
                                  "Content-Type": "application/json"
                                },
                                "request/body": "@addProperty(triggerBody(),'hso_health', outputs('Health_Input_-_no_supplier'))"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        }
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@empty(triggerBody()?['hso_suppliername'])",
                            "@true"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "936acec2-a2cc-443e-91fb-5382044c32b3"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4f36f827-dc84-4fea-bc6d-7a7960c99b37"
                  },
                  "type": "Scope"
                },
                "Response_success": {
                  "runAfter": {
                    "Check_and_proceed": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e86ce975-1b1a-4ce3-928f-f61fb2aabaa7"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "Message": "Patch was successful."
                    }
                  }
                },
                "Response_error": {
                  "runAfter": {
                    "Check_and_proceed": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e86ce975-1b1a-4ce3-928f-f61fb2aabaa7"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 400,
                    "body": {
                      "Message": "There was an error while processing. Check Flowrun for details."
                    }
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Response_non_authorized": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "44b8edf3-eee5-47aa-933f-e1856a5a61a6"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 401,
                      "body": {
                        "Message": "Unauthorized call. Check you secret."
                      }
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()['relativePathParameters']['SecurityToken']",
                  "@variables('strSecurityToken')"
                ]
              },
              "metadata": {
                "operationMetadataId": "68515a4b-9b90-40e0-8c34-181226b75c3b"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "strSecurityToken": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1de76935-fca9-4df8-b44c-603533e6a9bd"
          },
          "type": "Scope"
        },
        "strSecurityToken": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5dd8f08a-3d66-48b2-8c75-6266b2174064"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strSecurityToken",
                "type": "string",
                "value": "cBRrGrWn})}`sOl"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}