ETOCore/Workflows/PAMANUALDataImportCheckStatusforPriceListImport-37DBFBB7-D2BE-EF11-B8E8-0022489ECCB4.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-d365-ETO-int-11.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance",
            "description": "The Dataverse Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "3d933c16-1263-4206-b400-8a59f15cca91"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "hso_runid": {
                  "type": "string"
                },
                "hso_status": {
                  "type": "string"
                },
                "hso_message": {
                  "type": "string"
                },
                "hso_filename": {
                  "type": "string"
                }
              }
            },
            "method": "POST",
            "relativePath": "/ImportStatus/{SecurityToken}",
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Processing": {
          "actions": {
            "Check_authorizaton": {
              "actions": {
                "Check_and_proceed": {
                  "actions": {
                    "Invoke_an_HTTP_request": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "55a5a7f4-a86b-4900-bd6a-af4b25362993"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_webcontents",
                          "operationId": "InvokeHttp",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                        },
                        "parameters": {
                          "request/method": "PATCH",
                          "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_pricegroupimports(hso_runid='@{triggerBody()?['hso_runid']}')",
                          "request/headers": {
                            "OData-MaxVersion": "4.0",
                            "OData-Version": "4.0",
                            "If-None-Match": "null",
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                          },
                          "request/body": "@triggerBody()"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4f36f827-dc84-4fea-bc6d-7a7960c99b37"
                  },
                  "type": "Scope"
                },
                "Response_success": {
                  "runAfter": {
                    "Check_and_proceed": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e86ce975-1b1a-4ce3-928f-f61fb2aabaa7"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "Message": "Patch was successful."
                    }
                  }
                },
                "Response_error": {
                  "runAfter": {
                    "Check_and_proceed": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e86ce975-1b1a-4ce3-928f-f61fb2aabaa7"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 400,
                    "body": {
                      "Message": "There was an error while processing. Check Flowrun for details."
                    }
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Response_non_authorized": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "44b8edf3-eee5-47aa-933f-e1856a5a61a6"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 401,
                      "body": {
                        "Message": "Unauthorized call. Check your secret."
                      }
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()['relativePathParameters']['SecurityToken']",
                  "@variables('strSecurityToken')"
                ]
              },
              "metadata": {
                "operationMetadataId": "68515a4b-9b90-40e0-8c34-181226b75c3b"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "strSecurityToken": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1de76935-fca9-4df8-b44c-603533e6a9bd"
          },
          "type": "Scope"
        },
        "strSecurityToken": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5dd8f08a-3d66-48b2-8c75-6266b2174064"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strSecurityToken",
                "type": "string",
                "value": "cBRrGrWn})}`sOl"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}