ETOCore/Workflows/PAMANUALArticleCreationCHILD-UpdateMetalPriceforRe-D1C854CD-2DFB-EE11-A1FE-002248A1BFFC.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)": {
          "defaultValue": "d365-ETO-int-11b9dbaf056743afd3devaos.axcloud.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarUnifiedOperationsInstance",
            "description": "The Unified Operations Instance to connect to within a Flow when using Web API Calls"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "c1a67479-f193-44f2-989f-7b99424f8fd0"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "strTenant",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Tenant for authentication.",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "strClient",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Client for authentication.",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "strSecret",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Secret for authentication.",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "strItemNumber",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "ItemNumber to be recalculated.",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fea555a9-a17e-4fa9-8236-f7d66750bb7e"
          },
          "type": "Compose",
          "inputs": 123
        },
        "Update_metal_prices": {
          "actions": {
            "List_CDS_Released_Products_[crosscompany]": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c0bdceec-565c-4291-a72a-484af6b68a4b"
              },
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/CDSReleasedDistinctProducts?$filter=(ItemNumber eq '@{triggerBody()['text_3']}')&$select=dataAreaId&cross-company=true",
                "headers": {
                  "Content-Type": "application/json"
                },
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "tenant": "@triggerBody()['text']",
                  "audience": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/",
                  "clientId": "@triggerBody()['text_1']",
                  "secret": "@triggerBody()['text_2']"
                }
              }
            },
            "ItemNumber_found": {
              "actions": {
                "Apply_to_each_company": {
                  "foreach": "@body('List_CDS_Released_Products_[crosscompany]')?['value']",
                  "actions": {
                    "Compose_3": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "7ecfacc2-cdfe-42ff-a049-b089c1ca3115"
                      },
                      "type": "Compose",
                      "inputs": "@items('Apply_to_each_company')?['dataAreaId']"
                    },
                    "Update_prices": {
                      "runAfter": {
                        "Compose_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c0bdceec-565c-4291-a72a-484af6b68a4b"
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/data/MetalSurcharges/Microsoft.Dynamics.DataEntities.updateMetalSurcharges",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "_itemId": "@{triggerBody()['text_3']}",
                          "_dataAreaId": "@{items('Apply_to_each_company')?['dataAreaId']}"
                        },
                        "authentication": {
                          "type": "ActiveDirectoryOAuth",
                          "tenant": "@triggerBody()['text']",
                          "audience": "https://@{parameters('EnvVar | Unified Operations Instance (hso_EnvVarUnifiedOperationsInstance)')}/",
                          "clientId": "@triggerBody()['text_1']",
                          "secret": "@triggerBody()['text_2']"
                        }
                      }
                    },
                    "Append_to_arrNewPrices": {
                      "runAfter": {
                        "Update_prices": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "413941d6-35c1-4448-a1c6-569a77f690b1"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "arrNewPrices",
                        "value": "@body('Update_prices')"
                      }
                    },
                    "Append_to_ResponseMessage": {
                      "runAfter": {
                        "Update_prices": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1ed15260-809c-467b-96b5-e355b502539a"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "strResponseMsg",
                        "value": "@{coalesce(body('Update_prices')?['error']?['innererror']?['message'], 'Something went wrong...')}\n"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "11e9ff07-55e5-4d30-b2a5-dbdc25c976d8"
                  },
                  "type": "Foreach"
                },
                "Set_strResponseMsg_on_success": {
                  "runAfter": {
                    "Apply_to_each_company": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1e4808a7-40c6-4ba8-9020-83417a66b7d0"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "strResponseMsg",
                    "value": "Prices updated."
                  }
                }
              },
              "runAfter": {
                "List_CDS_Released_Products_[crosscompany]": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_strResponseMsg_not_found": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "1e4808a7-40c6-4ba8-9020-83417a66b7d0"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "strResponseMsg",
                      "value": "No product found."
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(body('List_CDS_Released_Products_[crosscompany]')?['value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "832dd361-d97a-4929-a264-712088659268"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Init_strStatus": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "49ff1c3f-90fc-4c18-b01c-39972dbb9acc"
          },
          "type": "Scope"
        },
        "Update_metal_prices_[CATCH]": {
          "actions": {
            "Terminate": {
              "runAfter": {
                "Respond_to_a_PowerApp_or_flow_on_error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c82897fe-af62-4208-808b-755177a3eef2"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "400",
                  "message": "@variables('strResponseMsg')"
                }
              }
            },
            "Set_strStatus": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c65b93d8-9d9a-48c2-8fb9-e39ac1bd7856"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "strStatus",
                "value": "400"
              }
            },
            "Respond_to_a_PowerApp_or_flow_on_error": {
              "runAfter": {
                "Set_strStatus": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0ce4a7dc-9241-4a8b-b264-df19d8b37c03"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "strstatus": "@variables('strStatus')",
                  "responsemsg": "@variables('strResponseMsg')",
                  "newprices": "@{string(variables('arrNewPrices'))}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "strstatus": {
                      "title": "strStatus",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "responsemsg": {
                      "title": "ResponseMsg",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "newprices": {
                      "title": "NewPrices",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Update_metal_prices": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "49ff1c3f-90fc-4c18-b01c-39972dbb9acc"
          },
          "type": "Scope"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Update_metal_prices_[CATCH]": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "cec81570-dfe3-4b64-8d1c-7864e6a258ab"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "strstatus": "@variables('strStatus')",
              "responsemsg": "@variables('strResponseMsg')",
              "newprices": "@{string(variables('arrNewPrices'))}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "strstatus": {
                  "title": "strStatus",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "responsemsg": {
                  "title": "ResponseMsg",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "newprices": {
                  "title": "NewPrices",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Init_strResponseMsg": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "13505fef-dc98-4121-a092-2f1cf5c09362"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strResponseMsg",
                "type": "string"
              }
            ]
          }
        },
        "arrNewPrices": {
          "runAfter": {
            "Init_strResponseMsg": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a653de3b-6692-49c7-b173-057ac1091b3a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "arrNewPrices",
                "type": "array"
              }
            ]
          }
        },
        "Init_strStatus": {
          "runAfter": {
            "arrNewPrices": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "12fdfa48-45e6-45ad-94a8-14771b1f3393"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strStatus",
                "type": "string",
                "value": "200"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}