ETOCore/Workflows/PAPROJECTSetlatandlongforgivenaddress-C55A771E-4756-EE11-BE6F-000D3AB347D0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EV | Azure Map | Subscription Key (hso_azuremapkey)": {
            "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "hso_azuremapkey"
          }
        }
      },
      "triggers": {
        "When_a_project_address_has_been_changed": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "msdyn_project",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "hso_city_txt,hso_postalcode_txt,hso_deliverystreet_txt"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "metadata": {
            "operationMetadataId": "85587ede-c726-4564-8368-7610f754e69b"
          }
        }
      },
      "actions": {
        "If_country_is_set": {
          "type": "If",
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_hso_country_id_value']",
                "@null"
              ]
            }
          },
          "actions": {
            "Get_the_country": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "hso_countries",
                  "recordId": "@triggerOutputs()?['body/_hso_country_id_value']",
                  "$select": "hso_name_txt"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "metadata": {
                "operationMetadataId": "b684a14d-c514-4383-85b3-a1414ad3663a"
              }
            },
            "Update_long_and_lat_on_project": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "msdyn_projects",
                  "recordId": "@triggerOutputs()?['body/msdyn_projectid']",
                  "item/hso_latitude_flt": "@first(body('Get_location_by_Azure_Map_Search')['results'])['position']['lat']",
                  "item/hso_longitude_flt": "@first(body('Get_location_by_Azure_Map_Search')['results'])['position']['lon']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "runAfter": {
                "Display_Long_and_Lat_with_highest_scoring": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "75b3962c-7146-4425-8cb9-2937e30be100"
              }
            },
            "Get_location_by_Azure_Map_Search": {
              "type": "Http",
              "inputs": {
                "uri": "https://atlas.microsoft.com/search/address/json?&subscription-key=@{parameters('EV | Azure Map | Subscription Key (hso_azuremapkey)')}&api-version=1.0&language=en-US&query=@{encodeUriComponent(outputs('Search_query'))}\n\n",
                "method": "GET"
              },
              "runAfter": {
                "Search_query": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                },
                "secureData": {
                  "properties": [
                    "inputs"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "6ac8044a-d6d5-40df-9f04-4d1d5c57e2e0"
              }
            },
            "Search_query": {
              "type": "Compose",
              "inputs": "@{triggerOutputs()?['body/hso_deliverystreet_txt']}, @{triggerOutputs()?['body/hso_city_txt']}, @{triggerOutputs()?['body/hso_postalcode_txt']}, @{outputs('Get_the_country')?['body/hso_name_txt']}",
              "runAfter": {
                "Get_the_country": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "164994c7-33ad-4e8c-a816-89c760e05239"
              }
            },
            "Display_Long_and_Lat_with_highest_scoring": {
              "type": "Compose",
              "inputs": "Query: @{outputs('Search_query')}\nLong: @{first(body('Get_location_by_Azure_Map_Search')['results'])['position']['lon']}\nLat: @{first(body('Get_location_by_Azure_Map_Search')['results'])['position']['lat']}",
              "runAfter": {
                "Get_location_by_Azure_Map_Search": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c85144d8-979b-43f0-b9ad-dde8cbabcc49"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "86477256-e8b4-42a5-a08b-7e13e883f067"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}