ETOCore/Workflows/PASCHEDULEDCalculationPositionCheckParentSortingLi-6C8639EA-8AF5-EE11-A1FE-000D3AB1B3E1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_webcontents": {
        "api": {
          "name": "shared_webcontents"
        },
        "connection": {
          "connectionReferenceLogicalName": "hso_ConnRefProjectQuoteCalculationDataverseHTTPwithAzureAD"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)": {
          "defaultValue": "operations-d365-ETO-int-11.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "hso_EnvVarDataverseInstance"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2024-04-08T20:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "eb43f967-aba1-402f-92ee-ae62d46a0090"
          }
        }
      },
      "actions": {
        "List_Calculation_Positions": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "hso_calculationdetails",
              "$select": "hso_calculationdetailid,hso_linenumber,hso_linenumber_level,hso_sortinglinenumber,hso_calculationdetail_parentid_linenumber,hso_calculationdetail_parentid_sortinglinenum,hso_parent_linenumber_check,_hso_calculationdetail_parentid_value",
              "$filter": "hso_level gt 1 and hso_sortinglinenum_check eq false"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {
            "Initialize_varOdataType": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "422d6eb8-0a51-453e-9a3f-b3c1e2257dab"
          }
        },
        "Select_Calculation_Positions": {
          "type": "Select",
          "inputs": {
            "from": "@outputs('List_Calculation_Positions')?['body/value']",
            "select": {
              "@variables('varOdataType')": "#Microsoft.Dynamics.CRM.hso_calculationdetail",
              "hso_calculationdetailid": "@item()?['hso_calculationdetailid']",
              "hso_calculationdetail_parentid_sortinglinenum": "@item()?['hso_parent_linenumber_check']"
            }
          },
          "runAfter": {
            "List_Calculation_Positions": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a3e492be-7963-4fa8-8e42-b8491d8c2cc9"
          }
        },
        "Initialize_varOdataType": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varOdataType",
                "type": "string",
                "value": "@{string('@')}odata.type"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "242a4e68-6290-4f01-be5b-88fe383c3aca"
          }
        },
        "Calculation_Positions_to_update": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(body('Select_Calculation_Positions'))",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Update_Calculation_Details": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "request/method": "POST",
                  "request/url": "https://@{parameters('EnvVar | Dataverse Instance (hso_EnvVarDataverseInstance)')}/api/data/v9.2/hso_calculationdetails/Microsoft.Dynamics.CRM.UpdateMultiple",
                  "request/headers": {
                    "OData-MaxVersion": "4.0",
                    "OData-Version": "4.0",
                    "If-None-Match": "null",
                    "Accept": "application/json",
                    "Content-Type": "application/json; charset=utf-8"
                  },
                  "request/body": "{\n \"Targets\": @{body('Select_Calculation_Positions')}\n}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                  "operationId": "InvokeHttp",
                  "connectionName": "shared_webcontents"
                }
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Select_Calculation_Positions": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}