ETOCore/Workflows/PAWorkOrderTransferWorkOrderProductstofollowupWO-385D0F4C-D7D7-EF11-A72F-000D3ADBCDE9.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "hso_CRDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_Work_Order_Product_is_Set_to_be_moved_": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "msdyn_workorderproduct",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "hso_transferproduct_bol eq true"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "metadata": {
            "operationMetadataId": "0e4da2d2-4edc-421a-a1b7-99572bb8f2cb"
          }
        }
      },
      "actions": {
        "Get_OLD_Work_Order": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "msdyn_workorders",
              "recordId": "@triggerOutputs()?['body/_msdyn_workorder_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a5b654a5-dcdb-48f3-bdeb-db441bb55c7e"
          }
        },
        "If_Work_Order_has_a_Target_Work_Order": {
          "type": "If",
          "expression": {
            "not": {
              "equals": [
                "@outputs('Get_OLD_Work_Order')?['body/_hso_targetworkorder_id_value']",
                "@null"
              ]
            }
          },
          "actions": {
            "Get_TARGET_Work_Order": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "msdyn_workorders",
                  "recordId": "@outputs('Get_OLD_Work_Order')?['body/_hso_targetworkorder_id_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "metadata": {
                "operationMetadataId": "4b22e1b3-0022-490a-8257-f56781fef6e7"
              }
            },
            "If_remaining_Quantity_greater_than_0": {
              "type": "If",
              "expression": {
                "greater": [
                  "@variables('Remaining Product Quantity')",
                  0
                ]
              },
              "actions": {
                "Set_Calculated_Quantity_to_Actual_Quantity_on_OLD_WO-Product": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "msdyn_workorderproducts",
                      "recordId": "@triggerOutputs()?['body/msdyn_workorderproductid']",
                      "item/msdyn_estimatequantity": "@triggerOutputs()?['body/msdyn_quantity']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "d87f2d4c-a10d-4b21-bf7d-bd9a1b90452d"
                  }
                },
                "Do_until": {
                  "type": "Until",
                  "expression": "@equals(variables('Product Created'), true)",
                  "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                  },
                  "actions": {
                    "Add_NEW_WO-Product_to_TRAGET_Work_Order": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "msdyn_workorderproducts",
                          "item/msdyn_linestatus": 690970000,
                          "item/msdyn_name": "@outputs('Set_Calculated_Quantity_to_Actual_Quantity_on_OLD_WO-Product')?['body/msdyn_name']",
                          "item/msdyn_pricelist@odata.bind": "/pricelevels(@{triggerOutputs()?['body/_msdyn_pricelist_value']})",
                          "item/msdyn_product@odata.bind": "/products(@{triggerOutputs()?['body/_msdyn_product_value']})",
                          "item/msdyn_qtytobill": 0,
                          "item/msdyn_warehouse@odata.bind": "/msdyn_warehouses(@{outputs('Set_Calculated_Quantity_to_Actual_Quantity_on_OLD_WO-Product')?['body/_msdyn_warehouse_value']})",
                          "item/msdyn_subtotal": 0,
                          "item/msdyn_taxable": true,
                          "item/msdyn_totalamount": 0,
                          "item/msdyn_totalcost": 0,
                          "item/msdyn_unit@odata.bind": "/uoms(@{triggerOutputs()?['body/_msdyn_unit_value']})",
                          "item/msdyn_unitamount": 0,
                          "item/msdyn_unitcost": 0,
                          "item/msdyn_workorder@odata.bind": "/msdyn_workorders(@{outputs('Get_TARGET_Work_Order')?['body/msdyn_workorderid']})",
                          "item/msdyn_estimatequantity": "@variables('Remaining Product Quantity')",
                          "item/msdyn_quantity": 0,
                          "item/hso_approved_bol": true
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "connectionName": "shared_commondataserviceforapps-1"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "8e7072a8-c26a-49df-acf5-ea461ed9b57b"
                      }
                    },
                    "If_Error": {
                      "type": "Scope",
                      "actions": {
                        "Set_Check_for_Error_=_True": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Check For Error",
                            "value": "@true"
                          },
                          "metadata": {
                            "operationMetadataId": "6fd91f58-8018-4f43-acd3-56d2145d1f91"
                          }
                        },
                        "Delay": {
                          "type": "Wait",
                          "inputs": {
                            "interval": {
                              "count": 2,
                              "unit": "Second"
                            }
                          },
                          "runAfter": {
                            "Set_Check_for_Error_=_True": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f556493c-aa42-43a4-9e76-056569391a19"
                          }
                        }
                      },
                      "runAfter": {
                        "Add_NEW_WO-Product_to_TRAGET_Work_Order": [
                          "Failed"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "60025927-bc7e-4813-b989-b096762aa2c4"
                      }
                    },
                    "If_Sucessfull": {
                      "type": "Scope",
                      "actions": {
                        "Set_Product_Created_=_True": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Product Created",
                            "value": "@true"
                          },
                          "metadata": {
                            "operationMetadataId": "31f34fe9-3cba-46ec-bad2-08185021dd5e"
                          }
                        }
                      },
                      "runAfter": {
                        "Add_NEW_WO-Product_to_TRAGET_Work_Order": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "df82d4bc-b8c8-4f98-b189-a0862c608477"
                      }
                    }
                  },
                  "runAfter": {
                    "Set_Calculated_Quantity_to_Actual_Quantity_on_OLD_WO-Product": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0609c103-be67-45d1-8346-173c94b052bb"
                  }
                },
                "If_Used_Quantity_=_Null_or_Zero_(Used_Quantity_=_Actual_Quantity_=_null)": {
                  "type": "If",
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@triggerOutputs()?['body/msdyn_quantity']",
                          "@null"
                        ]
                      },
                      {
                        "equals": [
                          "@triggerOutputs()?['body/msdyn_quantity']",
                          "@0"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Delete_OLD_Work_Order_Product_Line_With_Quantity_=_null_or_zero_": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "msdyn_workorderproducts",
                          "recordId": "@triggerOutputs()?['body/msdyn_workorderproductid']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "DeleteRecord",
                          "connectionName": "shared_commondataserviceforapps-1"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "c427f737-27aa-4331-a165-911f2185e0c0"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Do_until": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "79de1d49-8653-49c5-8ef2-a0df54fa7de7"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "If_Actual_Quantity_=_0": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1c934f05-8efa-44cd-a3be-dbea4c7ede01"
              }
            },
            "If_Actual_Quantity_=_0": {
              "type": "If",
              "expression": {
                "equals": [
                  "@triggerOutputs()?['body/msdyn_quantity']",
                  "@Null"
                ]
              },
              "actions": {
                "Set_Remaining_Product_Quantity_to_estimated_Quantity": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Remaining Product Quantity",
                    "value": "@triggerOutputs()?['body/msdyn_estimatequantity']"
                  },
                  "metadata": {
                    "operationMetadataId": "22792567-f230-4f23-94d2-1e93ad227033"
                  }
                }
              },
              "else": {
                "actions": {
                  "Set_Quantity_to_Estimated_Quantity_-_Actual_Quantity": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Remaining Product Quantity",
                      "value": "@sub(triggerOutputs()?['body/msdyn_estimatequantity'],triggerOutputs()?['body/msdyn_quantity'])"
                    },
                    "metadata": {
                      "operationMetadataId": "5192077a-ede7-4462-bf8d-01b401dca626"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_TARGET_Work_Order": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "740d01d2-89f5-49e9-8863-d9c09309dd8b"
              }
            }
          },
          "else": {
            "actions": {
              "Set_\"Transfer_Product\"_to_no": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "msdyn_workorderproducts",
                    "recordId": "@triggerOutputs()?['body/msdyn_workorderproductid']",
                    "item/hso_transferproduct_bol": false
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "connectionName": "shared_commondataserviceforapps-1"
                  }
                },
                "metadata": {
                  "operationMetadataId": "0567848e-7521-441a-847f-e2130e1fcf6e"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable_Error_Check": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8e759b55-ca37-4deb-a805-4d79c42681c3"
          }
        },
        "Variable_initialisieren": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Remaining Product Quantity",
                "type": "float"
              }
            ]
          },
          "runAfter": {
            "Get_OLD_Work_Order": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7549cdd3-5f2b-4477-841c-79360bb53d4c"
          }
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Product Created",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {
            "Variable_initialisieren": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9c3d7415-8354-4642-9f6b-efd7ceb15ae7"
          }
        },
        "Initialize_variable_Error_Check": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Check For Error",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cbaecb22-b8da-4275-a220-3caf67d8050e"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}